<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">标签详情</h4>
      </div>
      <div class="modal-body">
          <div class="panel panel-success">
              <div class="panel-heading">
                  <h3 class="panel-title">标签基本信息</h3>
              </div>
              <div class="panel-body">  
                <table class="table noborder">
                  <tbody>
                    <tr>
                      <td width="50%">
                        <span class="titleStyle1">标签名称</span> 
                        <span class="blue">月收入高</span>
                      </td>
                      <td>
                        <span class="titleStyle1">标签描述</span>
                        <span class="blue">月收入高于1万</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="titleStyle1">标签首拼</span> 
                        <span class="blue">ysrg</span>
                      </td>
                      <td>
                        <span class="titleStyle1">标签代码</span>
                        <span class="blue">0001</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="titleStyle1">失效时间</span> 
                        <span class="blue">2015-05-01</span>
                      </td>
                      <td>
                        <span class="titleStyle1">更新周期</span>
                        <span class="blue">1个月</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="titleStyle1">审批状态</span> 
                        <label class="label label-success">已通过</label>
                      </td>
                      <td>
                        <span class="titleStyle1">标签状态</span>
                        <span class="green">已发布</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="titleStyle1">创建人</span> 
                        <span class="blue">cici</span>
                      </td>
                      <td>
                        <span class="titleStyle1">所属部门</span>
                        <span class="blue">销售部</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="titleStyle1">创建时间</span> 
                        <span class="blue">2015-02-01</span>
                      </td>
                      <td>
                        <span class="titleStyle1">标签责任人</span>
                        <span class="blue">kiki</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>     
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title">标签组合</h3>
              </div>
              <div class="panel-body">
                <label class="label label-default">标签一</label> + <label class="label label-default">标签二</label> + <label class="label label-default">标签三</label>
              </div>
          </div>                    

      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

