<!-- 操作栏 -->
<div class="row">
    <div class="col-md-12">    
        <div class="ls-gallery-filter-wrap">
            <div class="form-inline clearfix">
                <button class="btn btn-info btn-sm" type="button">
                    <i class="fa fa-plus"></i> 新建标签 
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    批量操作 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                    <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-up"></i> 发布</button></li> 
                    <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                    <li><button class="btn btn-sm btn-link"><i class="fa fa-lock"></i> 冷冻</button></li> 
                  </ul>
                </div>          
                <div class="form-group pull-right">
                      <select id="tag_list_tag_select" class="form-control" style="width:200px">
                            <option value="">请输入关键字快速搜索</option>
                            <option value="1">Item 1</option>
                            <option value="2">Item 2</option>
                            <option value="3">Item 3</option>
                            <option value="4">Item 4</option>
                            <option value="5">Item 5</option>
                            <option value="6">Item 6</option>
                          </optgroup>
                      </select>
                    <button class="btn btn-sm btn-link">高级搜索</button>
                </div>
            </div>
        </div> 
    </div>
</div>   

<!-- 列表 -->
<div class="row">
    <div class="col-md-12">
        <div class="tabButton2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tag_list_tabs_default" data-toggle="tab"><i class="fa fa-tag"></i> 默认标签</a></li>
                <li><a href="#tag_list_tabs_attention" data-toggle="tab"><i class="fa fa-sun-o"></i> 我关注的</a></li>
            </ul>
            <div class="tab-content tabs_container">
                <div id="tag_list_tabs_default" class="tab-pane active">
                    <!--Table Wrapper Start-->
                    <div class="table-responsive ls-table">
                        <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th><input type="checkbox"></th>
                                <th>标签名称</th>
                                <th>标签首拼</th>
                                <th>标签代码</th>
                                <th>标签描述</th>
                                <th>标签组合</th>
                                <th>失效时间</th>
                                <th>更新周期</th>
                                <th>是否关注</th>
                                <th>审批状态</th>
                                <th>标签状态</th>
                                <th>创建人</th>
                                <th>所属部门</th>
                                <th>创建时间</th>
                                <th>标签责任人</th>
                                <th class="text-center">操作</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/tag/tag_show.html')">月收入高</a></td>
                                <td>ysrg</td>
                                <td>0001</td>
                                <td>月收入高于1万</td>
                                <td>无</td>
                                <td>2015-05-01</td>
                                <td>1个月</td>
                                <td><input type="checkbox" class="tag_list_switch" checked="checked" /></td>
                                <td><label class="label label-success">已通过</label></td>
                                <td><span class="green">已发布</span></td>
                                <td>cici</td>
                                <td>销售部</td>
                                <td>2015-02-01</td>
                                <td>kiki</td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/tag/tag_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-up"></i> 发布</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-lock"></i> 冷冻</button></li>  
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                      </ul>
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/tag/tag_show.html')">月收入高</a></td>
                                <td>ysrg</td>
                                <td>0001</td>
                                <td>月收入高于1万</td>
                                <td><label class="label label-default">标签一</label> <label class="label label-default">标签二</label> <label class="label label-default">标签三</label></td>
                                <td>2015-05-01</td>
                                <td>1个月</td>
                                <td><input type="checkbox" class="tag_list_switch" /></td>
                                <td><label class="label label-warning">待审批</label></td>
                                <td><span class="gray">待发布</span></td>
                                <td>cici</td>
                                <td>销售部</td>
                                <td>2015-02-01</td>
                                <td>kiki</td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/tag/tag_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-up"></i> 发布</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-lock"></i> 冷冻</button></li>  
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                      </ul>
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/tag/tag_show.html')">月收入高</a></td>
                                <td>ysrg</td>
                                <td>0001</td>
                                <td>月收入高于1万</td>
                                <td>无</td>
                                <td>2015-05-01</td>
                                <td>1个月</td>
                                <td><input type="checkbox" class="tag_list_switch" /></td>
                                <td><label class="label label-danger">未通过</label></td>
                                <td><span class="red">已冻结</span></td>
                                <td>cici</td>
                                <td>销售部</td>
                                <td>2015-02-01</td>
                                <td>kiki</td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/tag/tag_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-up"></i> 发布</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-lock"></i> 冷冻</button></li>  
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                      </ul>
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/tag/tag_show.html')">月收入高</a></td>
                                <td>ysrg</td>
                                <td>0001</td>
                                <td>月收入高于1万</td>
                                <td>无</td>
                                <td>2015-05-01</td>
                                <td>1个月</td>
                                <td><input type="checkbox" class="tag_list_switch" /></td>
                                <td><label class="label label-danger">未通过</label></td>
                                <td><span class="gray">已下线</span></td>
                                <td>cici</td>
                                <td>销售部</td>
                                <td>2015-02-01</td>
                                <td>kiki</td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/tag/tag_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-up"></i> 发布</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-lock"></i> 冷冻</button></li>  
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                      </ul>
                                    </div>
                                </td>
                              </tr>

                            </tbody>
                          </table>
                    </div>
                    <!--Table Wrapper Finish-->
                    <div class="text-right">
                        <div class="ls-button-group demo-btn ls-table-pagination">
                            <ul class="pagination ls-pagination">
                                <li><a href="#"><i class="fa fa-arrow-left"></i> </a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>
                <div id="tag_list_tabs_attention" class="tab-pane">
                    <!--Table Wrapper Start-->
                    <div class="table-responsive ls-table">
                        <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th><input type="checkbox"></th>
                                <th>标签名称</th>
                                <th>标签首拼</th>
                                <th>标签代码</th>
                                <th>标签描述</th>
                                <th>标签组合</th>
                                <th>失效时间</th>
                                <th>更新周期</th>
                                <th>是否关注</th>
                                <th>审批状态</th>
                                <th>标签状态</th>
                                <th>创建人</th>
                                <th>所属部门</th>
                                <th>创建时间</th>
                                <th>标签责任人</th>
                                <th class="text-center">操作</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/tag/tag_show.html')">月收入高</a></td>
                                <td>ysrg</td>
                                <td>0001</td>
                                <td>月收入高于1万</td>
                                <td>无</td>
                                <td>2015-05-01</td>
                                <td>1个月</td>
                                <td><input type="checkbox" class="tag_list_switch" checked="checked" /></td>
                                <td><label class="label label-success">已通过</label></td>
                                <td><span class="green">已发布</span></td>
                                <td>cici</td>
                                <td>销售部</td>
                                <td>2015-02-01</td>
                                <td>kiki</td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/tag/tag_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-up"></i> 发布</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-lock"></i> 冷冻</button></li>  
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                      </ul>
                                    </div>
                                </td>
                              </tr>

                            </tbody>
                          </table>
                    </div>
                    <!--Table Wrapper Finish-->
                    <div class="text-right">
                        <div class="ls-button-group demo-btn ls-table-pagination">
                            <ul class="pagination ls-pagination">
                                <li><a href="#"><i class="fa fa-arrow-left"></i> </a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>


            </div>
        </div>
    </div>        
            
</div>

<script type="text/javascript">
// Switch
// if-else statement used only for fixing <IE9 issues
if (Array.prototype.forEach) {
    var elems = Array.prototype.slice.call(document.querySelectorAll('.tag_list_switch'));

elems.forEach(function(html) {
    var switchery = new Switchery(html, { size: 'small' });
});
} else {
    var elems = document.querySelectorAll('.tag_list_switch');

    for (var i = 0; i < elems.length; i++) {
      var switchery = new Switchery(elems[i], { size: 'small' });
    }
}

// selectize下拉框初始化
$('#tag_list_tag_select').selectize({
    sortField: {
        field: 'text',
    }
});
</script>