<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  ">

  <!-- column -->
  <div class="col">
    <div class="vbox">
      <div class="wrapper bg-light lt b-b">
        <a href class="btn btn-sm btn-info pull-right" onClick="window.print();">提交订单</a>
        <span class="text-muted">购物车:</span> <span>{{ product.date  | date:'MMM-dd-yyyy H:mm' }}</span>
        <div class="m-l inline dropdown" uib-dropdown>
          <a class="v-middle pos-rlt inline bg-{{product.color}}" uib-dropdown-toggle style="width:16px;height:16px;top:-2px"></a>
          <div class="dropdown-menu animated fadeInUp w wrapper">
            <a ng-repeat="color in colors" class="inline m-xs bg-{{color}}" style="width:18px;height:18px" ng-click=" product.color = color "></a>
          </div>
        </div>

      </div>
      <div class="wrapper-md">

        <table class="table table-striped bg-white b-a">
          <thead>
            <tr>
              <th style="width: 60px">QTY</th>
              <th>DESCRIPTION</th>
              <th style="width: 140px">UNIT PRICE</th>
              <th style="width: 90px">TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>iPhone 5 32GB White & Silver (GSM) Unlocked</td>
              <td>$749.00</td>
              <td>$749.00</td>
            </tr>
            <tr>
              <td>2</td>
              <td>iPad mini with Wi-Fi 32GB - White & Silver</td>
              <td>$429.00</td>
              <td>$858.00</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right"><strong>Subtotal</strong></td>
              <td>$1607.00</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right no-border"><strong>Shipping</strong></td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right no-border"><strong>VAT Included in Total</strong></td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right no-border"><strong>Total</strong></td>
              <td><strong>$1607.00</strong></td>
            </tr>
          </tbody>
        </table>   

      </div>

    </div>
  </div>
  <!-- /column -->


  <!-- column -->
  <div class="col w-lg lt b-r">
    <div class="vbox">
      <div class="wrapper">
    
        <div class="panel b-a">
          <div class="panel-heading text-center bg-info no-border">
            <h4 class="text-u-c m-b-none">Start</h4>
            <h2 class="m-t-none">
              <sup class="pos-rlt" style="top:-22px">$</sup>
              <span class="text-2x text-lt">99</span>
              <span class="text-xs">/ mo</span>
            </h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Email preview on air
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Spam testing and blocking
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> 100 GB Space
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> 200 user accounts
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Free support for two years
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Free upgrade for one year
            </li>
          </ul>
          <div class="panel-footer text-center">
            <a href class="btn btn-primary font-bold m">修改属性</a>
          </div>
        </div>
    
      </div>
    </div>
  </div>
  <!-- /column -->

</div>
<!-- /hbox layout -->
