<!-- list -->
<div menus="menuItems" type="tree"></div>
<ul class="nav" ng-repeat="(tag, tagMenus) in (menuItems | groupBy: 'tag')">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>{{tag}}</span>
  </li>
  <li ng-repeat="menu in tagMenus" ng-class="{active:$state.includes('{{menu.state.name}}')}" ng-if="!menu.hidden">
    <a ui-sref="{{menu.state.name}}" ng-if="menu.children.length==0">
      <i class="glyphicon {{menu.icon}} icon"></i>
      <span>{{menu.name}}</span>
    </a>  
    <a href class="auto" ng-if="menu.children.length>0">
      <span class="pull-right text-muted" ng-if="menu.children.length>0">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon {{menu.icon}} icon"></i>
      <span>{{menu.name}}</span>
    </a>
    <ul class="nav nav-sub dk" ng-if="menu.children.length>0">
      <li class="nav-sub-header">
        <a href>
          <span>{{menu.name}}</span>
        </a>
      </li>
      <li ui-sref-active="active" ng-repeat="submenu in menu.children" ng-if="!submenu.hidden">
        <a ui-sref="{{submenu.state.name}}">
          <b class="label bg-info pull-right" ng-if="submenu.isNew">N</b>
          <span>{{submenu.name}}</span>
        </a>
      </li>
    </ul>
  </li>
  <li class="line dk hidden-folded"></li>
</ul>

<ul class="nav">

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span translate="aside.nav.your_stuff.YOUR_STUFF">Your Stuff</span>
  </li>  
  <li>
    <a ui-sref="app.page.profile">
      <i class="icon-user icon text-success-lter"></i>
      <b class="badge bg-success pull-right">30%</b>
      <span translate="aside.nav.your_stuff.PROFILE">Profile</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.docs">
      <i class="icon-question icon"></i>
      <span translate="aside.nav.your_stuff.DOCUMENTS">Documents</span>
    </a>
  </li>
</ul>
<!-- / list -->
