<div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div>
    <div class="center sliding">X86资源池1</div>      
</div>
<div data-page="pool-host-list" class="page">
  <div class="navbar" ng-if="isMaterial">
    <div ng-class="{'navbar-inner':isMaterial}">
      <div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div>
      <div class="center sliding">X86资源池1</div>            
    </div>
  </div>
  <div class="page-content">  
      <div class="list-block">
        <ul>
          <li>
              <label class="label-radio item-content">
                <input type="radio" name="vm-radio" value="winserver-1"/>
                <div class="item-media" ng-if="isMaterial"><i class="icon icon-form-radio"></i></div>
                <div class="item-inner">
                  <div class="item-title">winserver-1</div>
                </div>
              </label>
          </li>        
          <li>
              <label class="label-radio item-content">
                <input type="radio" name="vm-radio" value="winserver-2"/>
                <div class="item-media" ng-if="isMaterial"><i class="icon icon-form-radio"></i></div>
                <div class="item-inner">
                  <div class="item-title">winserver-2</div>
                </div>
              </label>
          </li>        
          <li>
              <label class="label-radio item-content">
                <input type="radio" name="vm-radio" value="winserver-3"/>
                <div class="item-media" ng-if="isMaterial"><i class="icon icon-form-radio"></i></div>
                <div class="item-inner">
                  <div class="item-title">winserver-3</div>
                </div>
              </label>
          </li>        
          <li>
              <label class="label-radio item-content">
                <input type="radio" name="vm-radio" value="winserver-4"/>
                <div class="item-media" ng-if="isMaterial"><i class="icon icon-form-radio"></i></div>
                <div class="item-inner">
                  <div class="item-title">winserver-4</div>
                </div>
              </label>
          </li>        
        </ul>
      </div>
  </div>
</div>  