<div class="container-fluid">
	<!-- 面包屑 -->
<!--     <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-dashboard"></i></a>
                </li>
                <li class="active">概况</li>
            </ol>
        </div>
    </div>  -->   
    <div class="row" style="margin-top:15px">
    	<!-- 左边 -->
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">系统功能导航图</h3>                     
              </div>
              <div class="panel-body text-center">
                    <img src="assets/images/flow.png" usemap="#Map" alt="系统功能导航图" />
                    <map name="Map" id="Map"> 
                        <area shape="rect" coords="13,43,115,76" href="#" alt="自助提数"/> 
                        <area shape="rect" coords="124,44,224,77" href="#" alt="客户分群" /> 
                        <area shape="rect" coords="14,164,154,196" href="#" alt="客户标签" /> 
                        <area shape="rect" coords="332,165,472,195" href="#" alt="标签体系管理" /> 
                        <area shape="rect" coords="262,46,363,77" href="#" alt="数据分析工具" /> 
                        <area shape="rect" coords="373,47,472,75" href="#" alt="业务模型管理" />
                        <area shape="rect" coords="173,164,313,196" href="#" alt="标签配置" />
                        <area shape="rect" coords="505,7,542,214" href="#" alt="系统管理" />
                    </map>                                 
              </div>
            </div>

		    <div class="row">
		        <div class="col-md-6 col-sm-12">
		            <div class="ls-widget-box label-blue white">
		                <i class="fa fa-database"></i>
		                <div class="chart-box-content">
		                    <h1>总数</h1>
		                    <p>73,208,445</p>
		                </div>
		            </div>
		        </div>

		        <div class="col-md-6 col-sm-12">
		            <div class="ls-widget-box label-gray-purple white">
		                <i class="fa fa-database"></i>
		                <div class="chart-box-content">
		                    <h1>今日数<span class="fa fa-arrow-down green">12.36%</span></h1>
		                    <p>8,844,717</p>
		                </div>
		            </div>
		        </div>

		    </div>
            <hr/> 	
            <!-- 系统数据量 -->
            <div class="ls-widget-box label-light" style="height:200px">
				<div id="systemDataNumber" style="height:200px"></div>
            </div>       
            <hr/>
		    <div class="row">

		        <div class="col-md-6 col-sm-12">
		        	<div class="pie-widget">
		        		<div id="perCapitaARPUChart" style="height:150px"></div>
		        		<div class="label-gray">
			        		<p>人均ARPU</p>
			        		<h3 class="red">108</h3>
			        	</div>
		        	</div>
		        </div>        	
		        <div class="col-md-6 col-sm-12">
		        	<div class="pie-widget">
		        		<div id="marketingActivitiesAmountChart" style="height:150px"></div>
		        		<div class="label-gray">
			        		<p>营销活动收入</p>
			        		<h3 class="red">799,800</h3>
			        	</div>
		        	</div>
		        </div>        	
        	</div>
            <hr/> 	
            <!-- 总收入 -->
            <div class="ls-widget-box label-light" style="height:300px">
				<div id="revenueTrendChart" style="height:300px"></div>
            </div>       

        </div>
        <!-- 右边 -->
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="pie-widget">
                        <div id="todayFileDataChart" style="height:150px"></div>
                        <div class="label-gray">
                            <p>今日已处理数据量</p>
                            <h3 class="red">240</h3>
                        </div>
                    </div>
                    <hr/>     
                    <div class="pie-widget">
                        <div id="memberCoverageChart" style="height:150px"></div>
                        <div class="label-gray">
                            <p>群组用户覆盖率</p>
                            <h3 class="red">60%</h3>
                        </div>
                    </div>                           
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">待办事项</h3>                     
                      </div>
                      <div class="panel-body">
                        <ul class="ls-feed">
                            <li>
                                <span class="fa fa-users phast fa-3x span"></span>
                                <span class="badge badge-red">88</span>
                                <b>客户分群</b>
                                <a href="#">任务任务任务任务</a>
                                <span class="date">
                                    1秒钟前
                                </span>
                            </li>
                            <li>
                                <span class="fa fa-dollar phast fa-3x span"></span>
                                <span class="badge badge-red">88</span>
                                <b>营销管理</b>
                                <a href="#">任务任务任务任务</a>
                                <span class="date">
                                    1秒钟前
                                </span>
                            </li>
                            <li>
                                <span class="fa fa-tags phast fa-3x span"></span>
                                <span class="badge badge-red">88</span>
                                <b>标签管理</b>
                                <a href="#">任务任务任务任务</a>
                                <span class="date">
                                    1秒钟前
                                </span>
                            </li>
                            <li>
                                <span class="fa fa-cube phast fa-3x span"></span>
                                <span class="badge badge-red">88</span>
                                <b>模型管理</b>
                                <a href="#">任务任务任务任务</a>
                                <span class="date">
                                    1秒钟前
                                </span>
                            </li>
                            <li>
                                <span class="fa fa-magic phast fa-3x span"></span>
                                <span class="badge badge-red">88</span>
                                <b>渠道管理</b>
                                <a href="#">任务任务任务任务</a>
                                <span class="date">
                                    1秒钟前
                                </span>
                            </li>
                            <li>
                                <span class="fa fa-database phast fa-3x span"></span>
                                <span class="badge badge-red">88</span>
                                <b>数据管理</b>
                                <a href="#">任务任务任务任务</a>
                                <span class="date">
                                    1秒钟前
                                </span>
                            </li>

                        </ul>                             
                      </div>
                    </div>
                </div>
            </div>
        	<div class="pie-widget">
        		<div id="userValueChart" style="height:180px"></div>
        		<div class="label-gray">
	        		<p>会员用户总数</p>
	        		<h3 class="red">1345</h3>
	        	</div>
        	</div>	
        	<hr/>
            <!-- 销售渠道购买用户数 -->
            <div class="ls-widget-box label-light" style="height:200px">
				<div id="marketingChannelChart" style="height:200px"></div>
            </div>         	
        	<hr/>	          	
		    <div class="row">

		        <div class="col-md-6 col-sm-12">
		            <!-- 营销活动转化率 -->
		            <div class="ls-widget-box label-gray" style="height:150px">
						<div id="MarketedConversionRateChart" style="height:150px"></div>
		            </div> 
		        </div>        	
		        <div class="col-md-6 col-sm-12">
		        	<div class="ls-widget-box label-gray maxProductPortfolio" style="height:150px">
		        		<h3>最强营销购买组合</h3>
		        		<h2 class="red">火龙果+猕猴桃</h2>
		        	</div>	
		        </div>      

        	</div>
    	</div>

    </div>
</div>


<!-- 图表初始化 -->
<script type="text/javascript" src="assets/js/pages/dashboard.js"></script>
<!-- 流程图 -->
<script type="text/javascript" src="assets/js/plugins/jsPlumb/demo.js"></script>
