<div class="content-header">
    <ol class="breadcrumb">
        <li><a href="#" ng-click="showNodeManage(); changeBgColor(4)" ui-sref="mainManager.nodeManager">硬件管理</a></li>
        <li class="active">IP地址管理</li>
    </ol>
    <p class="muted">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字，说明文字说明文字说明文字说明文字。</p>
</div>
<div class="content" ng-init="initPage()">
    <div class="title">
        <span>iSCSI服务IP地址</span>
    </div> 
    <div class="box">
         <div class="box-body no-padding">   
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:20%" ng-show="isOmBizNetAndBizNetSharedNics">节点主机名称</th>
                        <th style="width:20%" ng-show="isOmBizNetAndBizNetSharedNics">IP地址</th>
                        <th style="width:20%" ng-show="isOmBizNetAndBizNetSharedNics">子网掩码</th>
                        <th style="width:20%" ng-show="isOmBizNetAndBizNetSharedNics">网关地址</th>
                        <th style="width:20%" ng-show="isOmBizNetAndBizNetSharedNics">操作</th>
                        <th style="width:25%" ng-show="!isOmBizNetAndBizNetSharedNics">节点主机名称</th>
                        <th style="width:25%" ng-show="!isOmBizNetAndBizNetSharedNics">IP地址</th>
                        <th style="width:25%" ng-show="!isOmBizNetAndBizNetSharedNics">子网掩码</th>
                        <th style="width:25%" ng-show="!isOmBizNetAndBizNetSharedNics">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="server in servers">
                        <td>{{server.hostid}}</td>
                        <td>
                            <div ng-show="!server.$edit">{{server.bussinessNetwork.ipaddr}}</div>
                            <div ng-show="server.$edit" class="node-input">
                                <input type="text" ng-model="server.edit.ipaddr" maxlength="15">
                            </div>
                        </td>
                        <td>
                            <div ng-show="!server.$edit">{{server.bussinessNetwork.netmask}}</div>
                            <div class="node-input" ng-show="server.$edit">
                                <input type="text" ng-model="server.edit.netmask" maxlength="15">
                            </div>
                        </td>
                        <td ng-show="isOmBizNetAndBizNetSharedNics">
                            <div ng-show="!server.$edit">{{server.bussinessNetwork.gateway}}</div>
                            <div ng-show="server.$edit" class="node-input">
                                <input type="text" ng-model="server.edit.gateway" maxlength="15">
                            </div>
                        </td>
                        <td>
                            <span class="text-primary" style="cursor:pointer;" ng-click="!systemMode.isNormal || showEdit(server)" ng-show="!server.$edit">修改</span>
                            <span class="text-primary" style="margin-right:10px;cursor:pointer;" ng-click="saveEdit(server)" ng-show="server.$edit">确定</span>
                            <span class="text-danger" style="cursor:pointer;" ng-click="hideEdit(server)" ng-show="server.$edit">取消</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="title">
        <span>管理系统IP地址</span>
    </div> 
    <div class="box">
         <div class="box-body no-padding">        
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:40%" ng-show="isOmBizNetAndBizNetSharedNics">IP地址</th>
                        <th style="width:40%" ng-show="isOmBizNetAndBizNetSharedNics">子网掩码</th>
                        <th style="width:20%" ng-show="isOmBizNetAndBizNetSharedNics">操作</th>
                        <th style="width:25%" ng-show="!isOmBizNetAndBizNetSharedNics">IP地址</th>
                        <th style="width:25%" ng-show="!isOmBizNetAndBizNetSharedNics">子网掩码</th>
                        <th style="width:25%" ng-show="!isOmBizNetAndBizNetSharedNics">网关地址</th>
                        <th style="width:25%" ng-show="!isOmBizNetAndBizNetSharedNics">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div ng-show="!omServer.$edit">{{omServer.bussinessNetwork.ipaddr}}</div>
                            <div ng-show="omServer.$edit" class="node-input">
                                <input type="text" ng-model="omServer.edit.ipaddr" maxlength="15">
                            </div>
                        </td>
                        <td>
                            <div ng-show="!omServer.$edit">{{omServer.bussinessNetwork.netmask}}</div>
                            <div class="node-input" ng-show="omServer.$edit">
                                <input type="text" ng-model="omServer.edit.netmask" maxlength="15">
                            </div>
                        </td>
                        <td ng-show="!isOmBizNetAndBizNetSharedNics">
                            <div ng-show="!omServer.$edit">{{omServer.bussinessNetwork.gateway}}</div>
                            <div class="node-input" ng-show="omServer.$edit">
                                <input type="text" ng-model="omServer.edit.gateway" maxlength="15">
                            </div>
                        </td>
                        <td>
                            <span class="text-primary" style="cursor:pointer;" ng-click="!systemMode.isNormal || showEdit(omServer)" ng-show="!omServer.$edit">修改</span>
                            <span class="text-primary" style="margin-right:10px;cursor:pointer;" ng-click="saveEdit(omServer)" ng-show="omServer.$edit">确定</span>
                            <span class="text-danger" style="cursor:pointer;" ng-click="hideEdit(omServer)" ng-show="omServer.$edit">取消</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
