<div  class="div-radius" style="margin:20px 20px 20px 0;" ng-init="init()">
    <div style="color: white;height:30px;padding-top:10px;font-size:16px;">
        &nbsp;&nbsp;&nbsp;&nbsp;概况
        <img src="images/main/pic_line_text1.png"style="height:1px;border:1px;width:100%">
    </div>
    <div class="row-fluid">
        <div class="span8" style="background-color:#3D4D62;">
            <div style="color: white;height:30px;padding-top:10px;font-size:16px;">
                &nbsp;&nbsp;&nbsp;&nbsp;系统硬件详细信息
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span7" style="margin:20px;">
                            <div style="width:100%;height:140px">
                                <div style="height:20px"></div>
                                <!--div style="background: url('images/main/pic_line_text2.png') no-repeat left bottom;">
                                    <div style="float:left">块</div>
                                    <div style="float:right;color:green">1</div>
                                    <br/>
                                </div>
                                -->
                                <div style="background: url('images/main/pic_line_text2.png') no-repeat left bottom;">
                                    <div style="float:left">节点总数</div>
                                    <div style="float:right;color:green">{{nodeStatus.nodeCount}}</div>
                                    <br/>
                                </div>
                                <div style="background: url('images/main/pic_line_text2.png') no-repeat left bottom;">
                                    <div style="float:left">内存总大小</div>
                                    <div style="float:right;color:green">{{nodeStatus.totalMem}}GB</div>
                                    <br/>
                                </div>
                                <div style="background: url('images/main/pic_line_text2.png') no-repeat left bottom;">
                                    <div style="float:left" >磁盘总数</div>
                                    <div style="float:right;color:green">HDD:{{nodeStatus.hddCount}}/SSD:{{nodeStatus.ssdCount}}</div>
                                    <br/>
                                </div>
                                <div style="background: url('images/main/pic_line_text2.png') no-repeat left bottom;">
                                    <div style="float:left">CPU总核数</div>
                                    <div style="float:right;color:green">{{nodeStatus.totalCPU}}个</div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width:100%">
                        <div style="height:40px;line-height:40px;">
                            <div class="fontSize12" style="float:left;padding-left:15px">系统内存使用</div>
                            <div class="fontSize12"style="float:right;padding-right:20px;color:#04CA4F">16.6%/95.66GHz</div>
                        </div>
                        <div id="nodeMemory" style="width:100%;height:140px;float:left;"></div>
                    </div>
                </div>
                <div class="span6">
                    <div style="width:100%">
                        <div style="height:40px;line-height:40px;">
                            <div class="fontSize12" style="float:left;padding-left:15px">系统CPU使用</div>
                            <div class="fontSize12"style="float:right;padding-right:20px;color:#04CA4F">16.6%/95.66GHz</div>
                        </div>
                        <div id="nodeCpu" style="width:100%;height:140px;float:left;"></div>
                    </div>
                    <div style="width:100%">
                        <div style="height:40px;line-height:40px;">
                            <div class="fontSize12" style="float:left;padding-left:15px">系统磁盘容量</div>
                            <div class="fontSize12"style="float:right;padding-right:20px;color:#04CA4F">16.6%/90GHz</div>
                        </div>
                        <div id="nodeDisk" style="width:100%;height:140px;float:left;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4" style="background-color:#323F54;">
            <p style="color: white">&nbsp;</p>
            <div style="width:100%">
                <div style="height:40px;line-height:40px;">
                    <div class="fontSize12" style="float:left;padding-left:15px">系统IOPS</div>
                    <div class="fontSize12"style="float:right;padding-right:20px;color:#04CA4F">0IOPS</div>
                </div>
                <div id="nodeIops" style="width:100%;height:140px;float:left;"></div>
            </div>
            <div style="width:100%">
                <div style="height:40px;line-height:40px;">
                    <div class="fontSize12" style="float:left;padding-left:15px">系统IO带宽</div>
                    <div class="fontSize12"style="float:right;padding-right:20px;color:#04CA4F">0KBps</div>
                </div>
                <div id="nodeMbps" style="width:100%;height:140px;float:left;"></div>
            </div>
        </div>
    </div>
</div>
