<div class="content-header">
    <ol class="breadcrumb">
        <li class="active">硬件管理</li>
    </ol>
    <p class="muted">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字，说明文字说明文字说明文字说明文字。</p>
</div>
<div class="content">
	<div class="row-fluid" ng-init="initPage()">
		<div class="span4">
            <div class="small-box bg-green-gradient">
                <div class="inner">
                  <h3>系统节点概况</h3>
                  <p>未用节点： 0 个</p>
                  <p>节点型号： {{system.liveNode.type}}</p>
                </div>
                <div class="chart2">
                  <span class="value">{{system.liveNode.total}}</span>
                  <span class="name">总节点数</span>
                </div>
            </div>
		</div>
		<div class="span4">
            <div class="small-box bg-purple-gradient">
                <div class="inner">
                  <h3>在用节点状态</h3>
                  <p>正常运行节点数：{{system.nodes.ok}}</p>
                  <p>故障数：{{system.nodes.down}}</p>
                </div>
                <div class="chart2">
                  <span class="value">{{system.nodes.total}}</span>
                  <span class="name">在用总数</span>
                </div>
            </div>
		</div>
		<div class="span4">
            <div class="small-box bg-red-gradient">
                <div class="inner">
                  <h3>磁盘状态</h3>
                  <p>固态硬盘：{{system.hard.ssdCount}}</p>
                  <p>机械硬盘：{{system.hard.hddCount}}</p>
                </div>
                <div class="chart2">
                  <span class="value">{{system.hard.ssdCount + system.hard.hddCount}}</span>
                  <span class="name">磁盘总数</span>
                </div>
            </div>
		</div>
	</div>
	<div class="title">
		<span>TOP3 节点</span>
	</div>
	<div class="row-fluid">
		<div class="span3">
			<div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">IOPS</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
					<table class="table table-striped">
						<tbody>
							<tr ng-repeat="node in iopsTop3">
								<td>
									<div class="pull-left">{{node.nodeIp}}</div>
									<div class="pull-right"><b>{{node.iops | unit:'iops'}}</b></div>
								</td>
							</tr>
						</tbody>
					</table>                    
                </div>
                <!-- /.box-body -->
            </div>			
		</div>
		<div class="span3">
			<div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">吞吐量</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
					<table class="table table-striped">
						<tbody>
							<tr ng-repeat="node in mbpsTop3">
								<td>
									<div class="pull-left">{{node.nodeIp}}</div>
									<div class="pull-right"><b>{{node.mbps | unit:'mbps'}}</b></div>
								</td>
							</tr>
						</tbody>
					</table>                    
                </div>
                <!-- /.box-body -->
            </div>			
		</div>
		<div class="span3">
			<div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">CPU使用率</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
					<table class="table table-striped">
						<tbody>
							<tr ng-repeat="node in cpuTop3">
								<td>
									<div class="pull-left">{{node.nodeIp}}</div>
									<div class="pull-right"><b>{{node.cpu | unit:'cpu'}}</b></div>
								</td>
							</tr>
						</tbody>
					</table>                    
                </div>
                <!-- /.box-body -->
            </div>			
		</div>
		<div class="span3">
			<div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">内存使用率</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
					<table class="table table-striped">
						<tbody>
							<tr ng-repeat="node in memTop3">
								<td>
									<div class="pull-left">{{node.nodeIp}}</div>
									<div class="pull-right"><b>{{node.mem | unit:'mem'}}</b></div>
								</td>
							</tr>
						</tbody>
					</table>                    
                </div>
                <!-- /.box-body -->
            </div>			
		</div>
	</div>
</div>
