<div class="content-header">
    <ol class="breadcrumb">
        <li class="active">监控管理</li>
    </ol>
    <p class="muted">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字，说明文字说明文字说明文字说明文字。</p>
</div>
<div class="content">
    <div class="title">
        <span>硬盘和节点</span>
    </div> 
    <div class="row-fluid">
        <div class="span8 node-block">
            <div class="item">硬件当前状态：</div>
            <div class="item">
                <div class="piece bg-dark-gray"></div>
                <span class="txt">没有使用</span>
            </div>
            <div class="item">
                <div class="piece bg-dark"></div>
                <span class="txt">没有插盘</span>
            </div>
            <div class="item">
                <div class="piece bg-info"></div>
                <span class="txt">正在恢复</span>
            </div>
            <div class="item">
                <div class="piece bg-danger"></div>
                <span class="txt">紧急告警</span>
            </div>
            <div class="item">
                <div class="piece bg-warning"></div>
                <span class="txt">告警</span>
            </div>
            <div class="item">
                <div class="piece bg-success"></div>
                <span class="txt">健康</span>
            </div>
        </div>      
    </div>
    <!-- 硬件节点展示DIV 局部视图-->
    <div ng-show="partOfNode">
        <div class="row-fluid" ng-repeat="arr in nodeArray">
            <div ng-repeat="nodeDetail in arr" class="span3">
                <!-- 单个node节点DIV-->
                <div id="{{$parent.$index}}_{{$index}}" style="cursor: pointer;" class="clearfix node-block" ng-class="{ok:'node-ok',warn:'node-warn',down:'node-down',recovery:'node-recovery'}[nodeDetail.nodeStatus]" ng-click="nodeSelect($event,nodeDetail)" ng-mouseenter="nodeMouseenter($parent.$index,$index)" ng-mouseleave="nodeMouseleave($parent.$index,$index)">
                    <!-- 节点信息加IP地址 -->
                    <p>
                        <strong>节点IP：{{nodeDetail.nodeIp}}</strong>
                    </p>
                    <!-- 磁盘展示 -->
                    <div ng-repeat="diskDetail in nodeDetail.disks | subNodes:defaultNodes" style="float:left;width: 12.5%;min-width: 25px;height: 50px;margin: 0px 5px 10px 0px;">
                        <div ng-class="{ok:'ok',warn:'warn',down:'down',recovery:'recovery',unused:'unused',empty:'empty'}[diskDetail.status]" style="width: 71%;height: 86%;margin-left: auto;margin-right: auto;border-radius: 3px; ">
                            <div style="margin-right: auto;margin-left: auto;height: 38px;text-align: center;position: relative;" class="tips">
                                <img src="images/node/pic_hdd_base.png" ng-show="diskDetail.type == 'HDD'" style="margin-left: auto;margin-right: auto;margin-top: auto">
                                <img src="images/node/pic_ssd_base.png" ng-show="diskDetail.type == 'SSD' || diskDetail.type == 'NVME'" style="margin-left: auto;margin-right: auto;margin-top: auto">
                                <span style="min-width:180px">
                                    硬盘类型：{{diskDetail.type}}<br/>
                                    硬盘容量：{{diskDetail.capacity}}<br/>
                                    硬盘厂商：{{diskDetail.vendor}}<br/>
                                    设备名称：{{diskDetail.device_name}}<br/>
                                    WWID:{{diskDetail.wwid}}<br/>
                                </span>
                            </div>
                        </div>
                        <div class="tips" style="margin-top: -2px;cursor: pointer;">
                            <img src="images/node/switch_on.gif" ng-show="diskDetail.lightStatus == 'on'" style="width: 71%; height: 12px; margin-left: 6px; margi-right: auto; margin-top: 0px" ng-click="diskLight($event,nodeDetail,diskDetail)">
                            <img src="images/node/switch_off.gif" ng-show="diskDetail.lightStatus == 'off'" style="width: 71%; height: 12px; margin-left: 6px; margi-right: auto; margin-top: 0px" ng-click="diskLight($event,nodeDetail,diskDetail)">
                            <span>单击操作硬盘定位灯，可用于换盘时对硬盘定位 </span>
                        </div>
                    </div>
                    <div style="float:left;width: 12.5%;min-width: 25px;height: 50px;margin: 0px 0px 10px 0px;" ng-show="disk.replaceModeSet != 'auto'">
                        <div class="ok" style="width: 71%;height: 86%;margin-left: auto;margin-right: auto;border-radius: 3px; ">
                            <div class="tips">
                                <img src="images/node/swap_disk.png" style="margin-top:6px;cursor: pointer; " ng-click="swapDiskShow(nodeDetail)">
                                <span>选择替换硬盘 </span>
                            </div>
                        </div>
                    </div>
                    <!-- 分隔线 -->
                    <div style="width: 100%;float: left;height: 1px;"></div>
                    <!-- 网卡展示 -->
                    <div ng-repeat="nicDetail in nodeDetail.nics" style="float: left;width: 12.5%;min-width: 25px;height: 20px;margin:3px 5px 10px 0px;" ng-class="{ok:'nic-ok',warn:'nic-warn',down:'nic-down',recovery:'nic-recovery'}[nicDetail.status]" class="tips">
                        <span>网卡槽号：{{nicDetail.lanNum}}</span>
                    </div>
                </div>
                
                <!-- 鼠标浮动效果 -->
                <div id="{{$parent.$index}}_{{$index}}_whole" style="display:none;cursor: pointer;" class="clearfix node-block node-hover" ng-click="nodeSelect($event,nodeDetail)" ng-mouseleave="wholeNodeMouseleave($parent.$index,$index)">
                    <!-- 节点信息加IP地址 -->
                    <p>
                        <strong>节点IP：{{nodeDetail.nodeIp}}</strong>
                    </p>
                    <!-- 磁盘展示 -->
                    <div ng-repeat="diskDetail in nodeDetail.disks | subNodes:defaultNodes" style="float:left;width: 12.5%;min-width: 25px;height: 50px;margin: 0px 5px 10px 0px;">
                        <div ng-class="{ok:'ok',warn:'warn',down:'down',recovery:'recovery',unused:'unused',empty:'empty'}[diskDetail.status]" style="width: 71%;height: 86%;margin-left: auto;margin-right: auto;border-radius: 3px; ">
                            <div style="margin-right: auto;margin-left: auto;height: 38px;text-align: center;position: relative;" class="tips">
                                <img src="images/node/pic_hdd_base.png" ng-show="diskDetail.type == 'HDD'" style="margin-left: auto;margin-right: auto;margin-top: auto">
                                <img src="images/node/pic_ssd_base.png" ng-show="diskDetail.type == 'SSD' || diskDetail.type == 'NVME'" style="margin-left: auto;margin-right: auto;margin-top: auto">
                                <span style="min-width:180px">
                                    硬盘类型：{{diskDetail.type}}<br/>
                                    硬盘容量：{{diskDetail.capacity}}<br/>
                                    硬盘厂商：{{diskDetail.vendor}}<br/>
                                    设备名称：{{diskDetail.device_name}}<br/>
                                    WWID:{{diskDetail.wwid}}<br/>
                                </span>
                            </div>
                        </div>
                        <div class="tips" style="margin-top: -2px;cursor: pointer;">
                            <img src="images/node/switch_on.gif" ng-show="diskDetail.lightStatus == 'on'" style="width: 71%; height: 12px; margin-left: 6px; margi-right: auto; margin-top: 0px" ng-click="diskLight($event,nodeDetail,diskDetail)">
                            <img src="images/node/switch_off.gif" ng-show="diskDetail.lightStatus == 'off'" style="width: 71%; height: 12px; margin-left: 6px; margi-right: auto; margin-top: 0px" ng-click="diskLight($event,nodeDetail,diskDetail)">
                            <span>单击操作硬盘定位灯，可用于换盘时对硬盘定位</span>
                        </div>
                    </div>
                    <div style="float:left;width: 12.5%;min-width: 25px;height: 50px;margin: 0px 0px 10px 0px;" ng-show="disk.replaceModeSet != 'auto'">
                        <div class="ok" style="width: 71%;height: 86%;margin-left: auto;margin-right: auto;border-radius: 3px; ">
                            <div class="tips">
                                <img src="images/node/swap_disk.png" style="margin-top:6px;cursor: pointer; " ng-click="swapDiskShow(nodeDetail)">
                                <span>选择替换硬盘 </span>
                            </div>
                        </div>
                    </div>
                    <!-- 分隔线 -->
                    <div style="width: 100%;float: left;height: 1px;"></div>
                    <!-- 网卡展示 -->
                    <div ng-repeat="nicDetail in nodeDetail.nics" style="float: left;width: 12.5%;min-width: 25px;height: 20px;margin:3px 5px 10px 0px;" ng-class="{ok:'nic-ok',warn:'nic-warn',down:'nic-down',recovery:'nic-recovery'}[nicDetail.status]" class="tips">
                        <span>网卡槽号：{{nicDetail.lanNum}}</span>
                    </div>
                </div>

            </div>
            <!-- div分隔 -->
            <div ng-if="$index < (nodeArray.length -1)" style="width: 100%;float: left;height: 10px;"></div>
        </div>
    </div>

    <!--Summary系统硬件详细信息-->
    <div class="title">
        <span>概况</span>
    </div>     
    <div class="row-fluid" ng-init="init()">
        <div class="span4">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-navicon text-info"></i>
                    <h5 class="box-title fontSize14">系统硬件详细信息</h5>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>节点总个数</th>
                                <td class="text-primary">{{nodeStatus.nodeCount}}&nbsp;个</td>
                            </tr>
                            <tr>
                                <th>内存总大小</th>
                                <td class="text-primary">{{nodeStatus.totalMem}}&nbsp;GB</td>
                            </tr>
                            <tr>
                                <th>磁盘总数</th>
                                <td class="text-primary">HDD:&nbsp;{{nodeStatus.hddCount}}&nbsp;个&nbsp;SSD:&nbsp;{{nodeStatus.ssdCount}}&nbsp;个</td>
                            </tr>
                            <tr>
                                <th>CPU总核数</th>
                                <td class="text-primary">{{nodeStatus.totalCPU}}&nbsp;个</td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="span4">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-area-chart text-success"></i>
                    <h5 class="box-title fontSize14">CPU使用率</h5>
                    <div class="box-tools pull-right"><b>{{nodeStatus.selectedNodeIp}}</b></div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="nodeCpu" style="height:150px;"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="span4">
            <div class="box box-warning">
                <div class="box-header">
                    <i class="fa fa-area-chart text-warning"></i>
                    <h5 class="box-title fontSize14">系统IOPS</h5>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="nodeIops" style="height:150px;"></div>
                </div>
                <!-- /.box-body -->
            </div>            
        </div>
    </div>
    <p></p>
    <div class="row-fluid">
        <div class="span4">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-area-chart text-info"></i>
                    <h5 class="box-title fontSize14">内存使用率</h5>
                    <div class="box-tools pull-right"><b>{{nodeStatus.selectedNodeIp}}</b></div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="nodeMemory" style="height:150px;"></div>
                </div>
                <!-- /.box-body -->
            </div>            
        </div>

        <div class="span4">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-area-chart text-success"></i>
                    <h5 class="box-title fontSize14">磁盘容量使用率</h5>
                    <div class="box-tools pull-right"><b>{{nodeStatus.selectedNodeIp}}</b></div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="nodeDisk" style="height:150px;"></div>
                </div>
                <!-- /.box-body -->
            </div>            
        </div>

        <div class="span4">
            <div class="box box-warning">
                <div class="box-header">
                    <i class="fa fa-area-chart text-warning"></i>
                    <h5 class="box-title fontSize14">系统IO带宽</h5>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="nodeMbps" style="height:150px;"></div>
                </div>
                <!-- /.box-body -->
            </div>            
        </div>
    </div>
    <p></p>
</div>

<div id="SwapDisk" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h4 id="myModalLabel">
            替换硬盘？
        </h4>
    </div>
    <div class="modal-body" ng-show="diskOp=='swap'">
        <form style="margin-bottom:5px;">
            <label class="text-warning">选择需要替换掉的旧盘 :</label>
            <select class="diskDetail" ng-model="adisk.lostDisk" ng-options="(disk.vendor + ' -- ' + (disk.capacity/(1024*1024)).toFixed(0) + 'GB -- ' + 'wwid: ' + disk.wwid  ) for disk in lostDiskList" ng-disabled="!diskDiscoverDone">
                <option value="">-选择被拔出替换的磁盘-</option>
            </select>
            <br>
            <div class="discover" name="discover" ng-show="!diskDiscoverDone"></div>
            <label class="rediscover" ng-show="diskDiscoverDone" ng-click="rediscoverDisk()">重新扫描</label>
            <br/>
            <label class="text-warning">选择用于替换的新盘 :</label>
            <select class="diskDetail" ng-model="adisk.newDisk" ng-options="(disk.vendor + ' -- ' + (disk.capacity/(1024*1024*1024)).toFixed(0) + 'GB -- ' + 'wwid: ' + disk.wwid  ) for disk in newDiskList" ng-disabled="!diskDiscoverDone">
                <option value="">-选择新盘替换-</option>
            </select>
            <div class="discover" name="discover" ng-show="!diskDiscoverDone"></div>
            <label class="rediscover" ng-show="diskDiscoverDone" ng-click="rediscoverDisk()">重新扫描</label>
        </form>
        <p>
            </br>
        </p>
        <div class="fontSize16 text-danger">{{errMsg}}</div>
    </div>
    <div class="modal-body" ng-show="diskOp=='add'">
        <form style="margin-bottom:5px;">
            <label class="text-warning">选择新插入的盘进行存储容量扩充</label>
            <br/>
            <select class="diskDetail" ng-model="disk.newDisk" ng-options="disk.diskWwid as disk.diskWwid for disk in newDiskList">
                <option value="">-选择新插入的盘进行扩容-</option>
            </select>
        </form>
        <p>
            </br>
        </p>
        <div class="fontSize16 text-danger">{{errMsg}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-flat" ng-click="swapDisk()" ng-show="diskOp=='swap'">
            替换硬盘
        </button>
        <button class="btn btn-info btn-flat" ng-click="addDisk()" ng-show="diskOp=='add'">
            磁盘扩容
        </button>
        <button class="btn btn-default btn-flat" data-dismiss="modal" aria-hidden="true">
            取消
        </button>
    </div>
</div>
