<div class="content-header">
    <ol class="breadcrumb">
        <li><a href="#" ng-click="showNodeManage(); changeBgColor(4)" ui-sref="mainManager.nodeManager">硬件管理</a></li>
        <li class="active">服务器管理</li>
    </ol>
    <p class="muted">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字，说明文字说明文字说明文字说明文字。</p>
</div>
<div class="content" ng-init="initPage()">
    <div class="table-top clearfix">
        <button id="addServerBtn" style="margin-right: 10px" class="btn btn-success btn-flat pull-right"
                type="button" ng-click="showModal('addServer')" role="button" data-toggle="modal">
            <i class="fa fa-plus"></i> 添加服务器
        </button>
    </div>
    <div class="box">
         <div class="span12" style="padding:20px;">
            <table class="table table-bordered" id="no-radius-table">
                <thead>
                    <tr>
                        <th style="width:50%">IP地址</th>
                        <!--<th style="width:25%">操作</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="server in servers">
                        <td>{{server.ipaddr}}</td>
                        <!--<td>-->
                            <!--<span style="color:#92caff;cursor:pointer;" ng-click="rmServer(server.ipaddr);">删除</span>-->
                        <!--</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="serverModal" class="modal hide fade" style="background-color: #4f97dc;" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" style="color:#fff;padding-top:20px;">{{modal.message}}</h3>
    </div>
    <div class="modal-body" style="background-color:#fff;padding:20px 50px 10px 50px;color:#97acc1;">
        <form style="margin-bottom: 5px">
            <div ng-show="modal.to=='addServer'">
                <div id="errMsgDiv" class="fontSize16" style="color:red;">{{errMsg}}</div>
                <div>服务器IP：<input name="serverIp" placeholder="请输入服务器IP"/>
                    <button class="btn btn-success" onclick="addIpRow();" ng-disabled="isAdd">+</button>
                </div>
                <div id="sshDiv">SSH用户名：<input id="sshName" name="sshName" value="root" disabled="disabled"/></div>
            </div>
            <span id="tips">注：安装服务器时，请提前配置好免密码登录的服务器。</span>
        </form>
        <!-- 加载中 -->
        <div class="spin"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="modal.sure()" ng-disabled="isAdd">确定</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" ng-disabled="isAdd">取消</button>
    </div>
</div>
<script type="text/javascript">
    function addIpRow() {
        $("#sshDiv").before('<div>服务器IP：<input name="serverIp" placeholder="请输入服务器IP"/><button class="btn btn-success" onclick="addIpRow();">+</button></div>');
    }
</script>


