<div class="content-header">
    <ol class="breadcrumb">
        <li><a href="#" ng-click="showNodeManage(); changeBgColor(4)" ui-sref="mainManager.nodeManager">硬件管理</a></li>
        <li class="active">服务器管理</li>
    </ol>
    <p class="muted">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字，说明文字说明文字说明文字说明文字。</p>
</div>
<div class="content" ng-init="initPage()">
    <div class="table-top clearfix">
        <button id="addServerBtn" class="btn btn-primary btn-flat pull-right"
                type="button" ng-click="showModal('addServer')" role="button" data-toggle="modal">
            <i class="fa fa-plus"></i> 添加服务器
        </button>
    </div>
    <div class="box box-solid">
        <table class="table">
            <thead>
                <tr>
                    <th>IP地址</th>
                    <!--<th>操作</th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="server in servers">
                    <td>{{server.ipaddr}}</td>
                    <!--<td>-->
                        <!--<span class="text-primary" style="cursor:pointer;" ng-click="rmServer(server.ipaddr);">删除</span>-->
                    <!--</td>-->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="serverModal" class="modal hide fade" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">{{modal.message}}</h4>
    </div>
    <div class="modal-body">
        <form>
            <div ng-show="modal.to=='addServer'">
                <div id="errMsgDiv" class="fontSize16 text-danger">{{errMsg}}</div>
                <label>服务器IP</label>
                <div class="input-append">
                  <input class="form-control" type="text" name="serverIp" placeholder="请输入服务器IP">
                  <button class="btn btn-primary btn-flat" type="button" onclick="addIpRow();" ng-disabled="isAdd"><i class="fa fa-plus"></i></button>
                </div>   
                <div id="sshDiv">             
                    <label>SSH用户名</label>
                    <input type="text" class="form-control" id="sshName" name="sshName" value="root" disabled="disabled"/>
                </div>
            </div>
            <span id="tips" class="text-primary">注：安装服务器时，请提前配置好免密码登录的服务器。</span>
        </form>
        <!-- 加载中 -->
        <div class="spin"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-flat" ng-click="modal.sure()" ng-disabled="isAdd">确定</button>
        <button class="btn btn-default btn-flat" data-dismiss="modal" aria-hidden="true" ng-disabled="isAdd">取消</button>
    </div>
</div>
<script type="text/javascript">
    function addIpRow() {
        $("#sshDiv").before('<label>服务器IP</label><div class="input-append"><input class="form-control" type="text" name="serverIp" placeholder="请输入服务器IP"><button class="btn btn-primary btn-flat" type="button" onclick="addIpRow();"><i class="fa fa-plus"></i></button></div>');
    }
</script>


