<div class="row">
    <div class="col-lg-3 col-sm-5">
    	<div class="portrait_Box">
			<img src="assets/images/woman.png" usemap="#portraitMap" border="0" />
			<map name="portraitMap" id="portraitMap">
			  <area shape="rect" coords="69,26,245,69" alt="消费价值" class="portrait_Area portrait_Area1" />
			  <area shape="rect" coords="8,216,98,257" alt="产品类型" class="portrait_Area portrait_Area2" />
			  <area shape="rect" coords="203,219,321,258" alt="业务特征" class="portrait_Area portrait_Area3" />
			  <area shape="rect" coords="32,323,153,362" alt="互联网偏好" class="portrait_Area portrait_Area4" />
			  <area shape="rect" coords="161,326,267,359" alt="终端偏好" class="portrait_Area portrait_Area5" />
			  <area shape="rect" coords="14,379,147,415" alt="营销活动偏好" class="portrait_Area portrait_Area6" />
			  <area shape="rect" coords="173,380,264,412" alt="服务偏好" class="portrait_Area portrait_Area7" />
			  <area shape="rect" coords="174,441,263,473" alt="渠道偏好" class="portrait_Area portrait_Area8" />
			  <area shape="rect" coords="74,144,240,187" alt="基础属性" class="portrait_Area portrait_Area9" />
			</map>

			<div class="portrait_con portrait_con1">
				<ul>
					<li><a href="#"><label class="label label-info">消费价值标签一</label></a></li>
					<li><a href="#"><label class="label label-info">消费价值标签一</label></a></li>
					<li><a href="#"><label class="label label-info">消费价值标签一</label></a></li>
					<li><a href="#"><label class="label label-info">消费价值标签一</label></a></li>
					<li><a href="#"><label class="label label-info">消费价值标签一</label></a></li>
					<li><a href="#"><label class="label label-info">消费价值标签一</label></a></li>
					<li><a href="#"><label class="label label-info">消费价值标签一</label></a></li>
					<li><a href="#"><label class="label label-info">消费价值标签一</label></a></li>
					<li><a href="#"><label class="label label-info">消费价值标签一</label></a></li>
				</ul>
			</div>
			<div class="portrait_con portrait_con2">
				<ul>
					<li><a href="#"><label class="label label-info">产品类型标签一</label></a></li>
					<li><a href="#"><label class="label label-info">产品类型标签一</label></a></li>
					<li><a href="#"><label class="label label-info">产品类型标签一</label></a></li>
					<li><a href="#"><label class="label label-info">产品类型标签一</label></a></li>
					<li><a href="#"><label class="label label-info">产品类型标签一</label></a></li>
				</ul>
			</div>
			<div class="portrait_con portrait_con3">
				<ul>
					<li><a href="#"><label class="label label-info">业务特征标签一</label></a></li>
					<li><a href="#"><label class="label label-info">业务特征标签一</label></a></li>
					<li><a href="#"><label class="label label-info">业务特征标签一</label></a></li>
					<li><a href="#"><label class="label label-info">业务特征标签一</label></a></li>
					<li><a href="#"><label class="label label-info">业务特征标签一</label></a></li>
				</ul>
			</div>
			<div class="portrait_con portrait_con4">
				<ul>
					<li><a href="#"><label class="label label-info">互联网偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">互联网偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">互联网偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">互联网偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">互联网偏好标签一</label></a></li>
				</ul>
			</div>
			<div class="portrait_con portrait_con5">
				<ul>
					<li><a href="#"><label class="label label-info">终端偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">终端偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">终端偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">终端偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">终端偏好标签一</label></a></li>
				</ul>
			</div>
			<div class="portrait_con portrait_con6">
				<ul>
					<li><a href="#"><label class="label label-info">营销活动偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">营销活动偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">营销活动偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">营销活动偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">营销活动偏好标签一</label></a></li>
				</ul>
			</div>
			<div class="portrait_con portrait_con7">
				<ul>
					<li><a href="#"><label class="label label-info">服务偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">服务偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">服务偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">服务偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">服务偏好标签一</label></a></li>
				</ul>
			</div>
			<div class="portrait_con portrait_con8">
				<ul>
					<li><a href="#"><label class="label label-info">渠道偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">渠道偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">渠道偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">渠道偏好标签一</label></a></li>
					<li><a href="#"><label class="label label-info">渠道偏好标签一</label></a></li>
				</ul>
			</div>
			<div class="portrait_con portrait_con9">
				<ul>
					<li><a href="#"><label class="label label-info">基础属性标签一</label></a></li>
					<li><a href="#"><label class="label label-info">基础属性标签一</label></a></li>
					<li><a href="#"><label class="label label-info">基础属性标签一</label></a></li>
					<li><a href="#"><label class="label label-info">基础属性标签一</label></a></li>
					<li><a href="#"><label class="label label-info">基础属性标签一</label></a></li>
				</ul>
			</div>
    	</div>
    </div>
    <div class="col-lg-9 col-sm-7">

        <div class="tabButton2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#360portrait0" data-toggle="tab"><i class="fa fa-tag"></i> 基础属性</a></li>
                <li><a href="#360portrait1" data-toggle="tab"><i class="fa fa-cube"></i> 已使用产品</a></li>
                <li><a href="#360portrait2" data-toggle="tab"><i class="fa fa-asterisk"></i> 已参加营销活动</a></li>
            </ul>
            <div class="tab-content tabs_container">
                <div id="360portrait0" class="tab-pane active">
                	<ul class="tag-list clearfix">
                		<li class="tag">
                          <i class="icon fa fa-tag label-blue"></i> 
                          <span>用户号码</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-yellow"></i> 
                          <span>数据月份</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-purple"></i> 
                          <span>性别</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-lightBlue"></i> 
                          <span>年龄</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-green"></i> 
                          <span>入网时长（月数）</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-gray-purple"></i> 
                          <span>入网渠道</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-brown"></i> 
                          <span>当月2G流量（MB）</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-light-green"></i> 
                          <span>GPRS流量（MB）</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-red"></i> 
                          <span>漫游中GPRS流量（MB）</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-blue"></i> 
                          <span>用户号码</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-yellow"></i> 
                          <span>数据月份</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-purple"></i> 
                          <span>性别</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-lightBlue"></i> 
                          <span>年龄</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-green"></i> 
                          <span>入网时长（月数）</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-gray-purple"></i> 
                          <span>入网渠道</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-brown"></i> 
                          <span>当月2G流量（MB）</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-light-green"></i> 
                          <span>GPRS流量（MB）</span> 
                		</li>
                		<li class="tag">
                          <i class="icon fa fa-tag label-red"></i> 
                          <span>漫游中GPRS流量（MB）</span> 
                		</li>
                	</ul>
                    <div class="text-right">
                        <div class="ls-button-group demo-btn ls-table-pagination">
                            <ul class="pagination ls-pagination">
                                <li><a href="#"><i class="fa fa-arrow-left"></i> </a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>
                <div id="360portrait1" class="tab-pane">
                    <!--Table Wrapper Start-->
                    <div class="table-responsive ls-table">
                        <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th>产品名称</th>
                                <th>别名</th>
                                <th>基本价格</th>
                                <th>产品成本</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>iphone6 280预缴话费套餐</td>
                                <td>iphone6 280预缴话费套餐</td>
                                <td>月收入高于1万</td>
                                <td>无</td>
                              </tr>
                              <tr>
                                <td>VIVO210-111</td>
                                <td>0001</td>
                                <td>5400</td>
                                <td>5288</td>
                              </tr>
                              <tr>
                                <td>VIVO210</td>
                                <td>0001</td>
                                <td>2300</td>
                                <td>2210</td>
                              </tr>
                              <tr>
                                <td>朵唯 T60</td>
                                <td>5.5英寸IPS,移动4G手机</td>
                                <td>999</td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>华为 P7</td>
                                <td>大屏幕手机,4G手机</td>
                                <td>2588</td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>三星 G5308W</td>
                                <td>4G手机</td>
                                <td>1399</td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>联想 A5800-D</td>
                                <td>4G手机,大屏幕手机</td>
                                <td>699</td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>索尼 S55T</td>
                                <td>4G手机,高像素手机,大屏幕手机</td>
                                <td>1299</td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>华为 Mate 7</td>
                                <td>4G手机,高像素手机,大屏幕手机</td>
                                <td>3299</td>
                                <td></td>
                              </tr>

                            </tbody>
                          </table>
                    </div>
                    <!--Table Wrapper Finish-->
                    <div class="text-right">
                        <div class="ls-button-group demo-btn ls-table-pagination">
                            <ul class="pagination ls-pagination">
                                <li><a href="#"><i class="fa fa-arrow-left"></i> </a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>
                <div id="360portrait2" class="tab-pane">
                    <!--Table Wrapper Start-->
                    <div class="table-responsive ls-table">
                        <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th>活动名称</th>
                                <th>起止时间</th>
                                <th>所属区域</th>
                                <th>失效时间</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>手机流量100元融合叠加包</td>
                                <td>2015-04-01 11:35:02.0/2015-06-30 23:40:00.0</td>
                                <td>441200</td>
                                <td>2G国内融合流量+1G省内4G专用流量</td>
                              </tr>
                              <tr>
                                <td>手机流量100元融合叠加包</td>
                                <td>2015-04-01 11:35:02.0/2015-06-30 23:40:00.0</td>
                                <td>441200</td>
                                <td>2G国内融合流量+1G省内4G专用流量</td>
                              </tr>
                              <tr>
                                <td>手机流量100元融合叠加包</td>
                                <td>2015-04-01 11:35:02.0/2015-06-30 23:40:00.0</td>
                                <td>441200</td>
                                <td>2G国内融合流量+1G省内4G专用流量</td>
                              </tr>
                              <tr>
                                <td>手机流量100元融合叠加包</td>
                                <td>2015-04-01 11:35:02.0/2015-06-30 23:40:00.0</td>
                                <td>441200</td>
                                <td>2G国内融合流量+1G省内4G专用流量</td>
                              </tr>
                              <tr>
                                <td>手机流量100元融合叠加包</td>
                                <td>2015-04-01 11:35:02.0/2015-06-30 23:40:00.0</td>
                                <td>441200</td>
                                <td>2G国内融合流量+1G省内4G专用流量</td>
                              </tr>

                            </tbody>
                          </table>
                    </div>
                    <!--Table Wrapper Finish-->
                    <div class="text-right">
                        <div class="ls-button-group demo-btn ls-table-pagination">
                            <ul class="pagination ls-pagination">
                                <li><a href="#"><i class="fa fa-arrow-left"></i> </a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>


            </div>
        </div>

    	
    </div>
</div>	

 <script type="text/javascript">
 $(".portrait_Area1").hover(function(){$(".portrait_con").hide();$(".portrait_con1").show()});
 $(".portrait_con1").hover(function(){return false;},function(){$(".portrait_con1").hide()});
 
 $(".portrait_Area2").hover(function(){$(".portrait_con").hide();$(".portrait_con2").show()});
 $(".portrait_con2").hover(function(){return false;},function(){$(".portrait_con2").hide()});
 
 $(".portrait_Area3").hover(function(){$(".portrait_con").hide();$(".portrait_con3").show()});
 $(".portrait_con3").hover(function(){return false;},function(){$(".portrait_con3").hide()});
 
 $(".portrait_Area4").hover(function(){$(".portrait_con").hide();$(".portrait_con4").show()});
 $(".portrait_con4").hover(function(){return false;},function(){$(".portrait_con4").hide()});
 
 $(".portrait_Area5").hover(function(){$(".portrait_con").hide();$(".portrait_con5").show()});
 $(".portrait_con5").hover(function(){return false;},function(){$(".portrait_con5").hide()});
 
 $(".portrait_Area6").hover(function(){$(".portrait_con").hide();$(".portrait_con6").show()});
 $(".portrait_con6").hover(function(){return false;},function(){$(".portrait_con6").hide()});
 
 $(".portrait_Area7").hover(function(){$(".portrait_con").hide();$(".portrait_con7").show()});
 $(".portrait_con7").hover(function(){return false;},function(){$(".portrait_con7").hide()});
 
 $(".portrait_Area8").hover(function(){$(".portrait_con").hide();$(".portrait_con8").show()});
 $(".portrait_con8").hover(function(){return false;},function(){$(".portrait_con8").hide()});
 
 $(".portrait_Area9").hover(function(){$(".portrait_con").hide();$(".portrait_con9").show()});
 $(".portrait_con9").hover(function(){return false;},function(){$(".portrait_con9").hide()});
 
 $(".portrait_Box").hover(function(){return false;},function(){$(".portrait_con").hide();});
 </script>