      <div class="row">
        <!-- 左边 -->
        <div class="col-md-4">
          <div class="panel panel-info">
              <div class="panel-heading clearfix">
                  <h3 class="panel-title pull-left">全部字段</h3>
              </div>
              <div class="panel-body">
                  <div class="group_detail_allTag_scroll">
                    <table id="example-advanced2" class="table">
                      <thead>
                        <tr>
                          <th>字段</th>
                          <th>描述</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-tt-id="1">
                          <td>基础属性</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id="1-1" data-tt-parent-id="1">
                          <td>性别</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id='1-1-1' data-tt-parent-id='1-1'>
                          <td>男</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id='1-1-2' data-tt-parent-id='1-1'>
                          <td>女</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id="1-2" data-tt-parent-id="1">
                          <td>家庭人数</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id='1-2-1' data-tt-parent-id='1-2'>
                          <td>较少</td>
                          <td>3人及以下</td>
                        </tr>
                        <tr data-tt-id='1-2-2' data-tt-parent-id='1-2'>
                          <td>较多</td>
                          <td>3人以上</td>
                        </tr>
                        <tr data-tt-id="1-3" data-tt-parent-id="1">
                          <td>个人月收入</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id='1-3-1' data-tt-parent-id='1-3'>
                          <td>较少</td>
                          <td>5k以下</td>
                        </tr>
                        <tr data-tt-id='1-3-2' data-tt-parent-id='1-3'>
                          <td>一般</td>
                          <td>5k到10k</td>
                        </tr>
                        <tr data-tt-id='1-3-3' data-tt-parent-id='1-3'>
                          <td>较高</td>
                          <td>10k以上</td>
                        </tr>
                        <tr data-tt-id="2">
                          <td>兴趣爱好</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id="2-1" data-tt-parent-id="2">
                          <td>社交工具</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id='2-1-1' data-tt-parent-id='2-1'>
                          <td>微信</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id='2-1-2' data-tt-parent-id='2-1'>
                          <td>微博</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id="2-2" data-tt-parent-id="2">
                          <td>购物网站</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id='2-2-1' data-tt-parent-id='2-2'>
                          <td>淘宝</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id='2-2-2' data-tt-parent-id='2-2'>
                          <td>京东</td>
                          <td>--</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>


              </div>
          </div>
        </div>
        <!-- 右边 -->
        <div class="col-md-8">
          <div class="panel panel-danger">
              <div class="panel-heading clearfix">
                  <h3 class="panel-title pull-left">自定义设置</h3>
              </div>              
              <div class="panel-body">
                <h5 class="titleStyle1">条件设置</h5>
                <hr/>
                <div class="row">
                  <div class="col-md-12 filter-result">
                    <div class="tag">
                      <i class="icon fa fa-file-text label-blue"></i> 
                      <span>男</span><br>
                      <span class="blue">like：11111</span>
                      <a href="#" class="tag-close"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="tag">
                      <i class="icon fa fa-file-text label-light-green"></i> 
                      <span>30岁及以下</span> <br>
                      <span class="blue">and：22222</span>
                      <a href="#" class="tag-close"><i class="fa fa-times"></i></a>
                    </div>  
                    <div class="tag">
                      <i class="icon fa fa-file-text label-red"></i> 
                      <span>高中及以下</span> <br>
                      <span class="blue">not：11111</span>
                      <a href="#" class="tag-close"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="tag">
                      <i class="icon fa fa-file-text label-purple"></i> 
                      <span>博士及以上</span> <br>
                      <span class="blue">like：33333</span>
                      <a href="#" class="tag-close"><i class="fa fa-times"></i></a>
                    </div>   
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <select class="form-control" style="margin-left:10px">
                          <option selected="selected">like</option>
                          <option>and</option>
                          <option>not</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="请输入值">
                    </div>
                </div>

                <h5 class="titleStyle1">字段设置</h5>
                <hr/>
                <div class="row">
                  <div class="col-md-12 filter-result">
                    <div class="tag">
                      <i class="icon fa fa-file-text label-blue"></i> 
                      <span>男</span><br>
                      <a href="#" class="tag-close"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="tag">
                      <i class="icon fa fa-file-text label-light-green"></i> 
                      <span>30岁及以下</span> <br>
                      <a href="#" class="tag-close"><i class="fa fa-times"></i></a>
                    </div>  
                    <div class="tag">
                      <i class="icon fa fa-file-text label-red"></i> 
                      <span>高中及以下</span> <br>
                      <a href="#" class="tag-close"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="tag">
                      <i class="icon fa fa-file-text label-purple"></i> 
                      <span>博士及以上</span> <br>
                      <a href="#" class="tag-close"><i class="fa fa-times"></i></a>
                    </div>   
                  </div>
                </div>

                <h5 class="titleStyle1">预计人数 <b class="red">2800</b></h5>
                <span class="blue"></span>

                <hr/>
                <h5>select <span class="blue">a.field1</span>,<span class="blue">a.field2</span>,<span class="blue">b.field1</span> from <span class="blue">table1 a</span>,<span class="blue">table2 b</span> where <span class="blue">a.field1</span> <span class="red">like</span> <span class="green">'%1%'</span> <span class="red">and</span> <span class="blue">b.field1</span> <span class="red">like</span> <span class="green">'%2%'</span></h5>

                <hr/>
                <div class="text-center"><button class="btn btn-info" type="button"><i class="fa fa-check"></i> 生成</button></div>

              </div>
          </div>     
        </div>
      </div>

<script type="text/javascript">
    // jquery treetable初始化
    $("#example-basic-expandable").treetable({ expandable: true });
    $("#example-advanced2").treetable({ expandable: true });

    // Highlight selected row
    $("#example-advanced2 tbody").on("mousedown", "tr", function() {
      $(".selected").not(this).removeClass("selected");
      $(this).toggleClass("selected");
    });

    // Drag & Drop Example Code
    $("#example-advanced2 .file, #example-advanced2 .folder").draggable({
      helper: "clone",
      opacity: .75,
      refreshPositions: true,
      revert: "invalid",
      revertDuration: 300,
      scroll: true
    });

    $("#example-advanced2 .folder").each(function() {
      $(this).parents("#example-advanced2 tr").droppable({
        accept: ".file, .folder",
        drop: function(e, ui) {
          var droppedEl = ui.draggable.parents("tr");
          $("#example-advanced2").treetable("move", droppedEl.data("ttId"), $(this).data("ttId"));
        },
        hoverClass: "accept",
        over: function(e, ui) {
          var droppedEl = ui.draggable.parents("tr");
          if(this != droppedEl[0] && !$(this).is(".expanded")) {
            $("#example-advanced2").treetable("expandNode", $(this).data("ttId"));
          }
        }
      });
    });
</script>
