@import"../font-awesome/css/font-awesome.min.css";
html{-webkit-text-size-adjust:none;overflow-x:hidden!important;}
body{font-family: Microsoft YaHei; -webkit-text-size-adjust:none; background-color: #f5f7fa; overflow-x:hidden!important;}
th,td{font-family: Microsoft YaHei;}
@media (min-width: 768px) {
  .container {
    width: 640px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 640px;
  }
}
.container{padding: 0;}
/*图标背景样式*/
.widget-icon { display: inline-block; background: #fff; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; text-align: center;width: 35px; height: 35px; padding: 2px 0; line-height: 30px; font-size: 24px;vertical-align: middle; }
.widget-icon.widget-icon-dark { background: rgba(0, 0, 0, 0.2) }
.widget-icon.widget-icon-green { background: #82b346 ;color: #fff;}
.widget-icon.widget-icon-dark:hover { background: rgba(0, 0, 0, 0.3) }
.widget-icon.widget-icon-large { width: 50px; height: 50px; padding: 5px 0; line-height: 30px; font-size: 24px }
.widget-icon.widget-icon-xlarge { width: 80px; height: 80px; padding: 2px 0; line-height: 70px; font-size: 40px }
.widget-icon.widget-icon-circle { background: transparent; border: 3px solid #FFF }
.widget-icon.widget-icon-circle:hover { background: rgba(255, 255, 255, 0.1) }
.widget-icon.widget-icon-circle.widget-icon-dark { border-color: #111; color: #333 }
.widget-icon.widget-icon-circle.widget-icon-dark:hover { background: rgba(0, 0, 0, 0.1) }
.home-top .widget-icon a{color: #fff;}
.img-responsive{width: 100%; height: auto;}
/*btn*/
.btn-warning {
  border-radius: 20px;
  padding: 6px 20px;
  color: #fff;
  background-color: #ff5900;
  border-color: #cc4f1a;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ee5401;
  border-color: #a03d12;
}
/*home*/
.home-top{background:#1965B0 url(../img/homebg.jpg) no-repeat center -80px; padding: 50px 0 0; color: #fff;letter-spacing:0.2em;height: 100%;}
.home-top h1{margin: 10px 0;}
.home-top h2{margin:20px 0;font-style: italic; font-size: 100%;}
.home-top a{color: #fff;}
.home-top a:hover{text-decoration: none;}
.home-top .wrap{height: 100%;}
.home-center{margin-top: 50px; border-top: 1px solid #3793ce; height: 100%;}
.home-center .list-item{padding: 20px 0 50px; height: 100%;}
.home-center .list-item:first-child{border-right: 1px solid #3793ce;}
.contact-info{padding: 20px 5% 0;}
.contact-info .media-heading{margin: 8px 0 0 5px;padding: 1px 0;}
.contact-info .media-list{margin-bottom: 15px;}
.view-map{display:block;padding: 0 0 20px;}
.page2{position: relative; z-index: 10;}
/*header*/
header{background-color: #0064b2; color: #fff; padding: 20px;}
header h2{margin: 0;}
/*pro-list*/
.pro-list .media{padding: 20px; border-bottom: 1px solid #ddd;}
.pro-list .media a{display: block;}
.pro-list .media a:hover{text-decoration: none;}
.pro-list .media a > .pull-left{margin-right: 20px;}
.pro-list .media-body p{color: #999; height: 50px;}
/*pro-detail*/
.page3,.page4,.page5,.page6,.page7,.page8{background-color: #f5f7fa;}
.pro-detail{padding: 10px 20px 0px;}
.pro-detail > h4 > div{display: inline-block;}
.pro-detail h4 img{margin-right: 10px;}
.pro-detail p{text-indent: 2em;}
.input-email:hover{transition:all 0.5s ease-out 0s;}
/*company*/
.company-wrap{background:url(../img/wall_num12.jpg) no-repeat center -80px;}
.con-box{padding: 20px; color: #fff;}
.con-box2{background:url(../img/wall_num12.jpg); padding: 20px;color: #fff;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{margin: 0 auto; border: 1px solid #fff; padding: 2px; background-color: #ddd;}
.carousel-control.left,.carousel-control.right{background: transparent;}
/**/
.skip [class*="col-"]{padding: 0; text-align: center;}
.navbar-skip{min-height:30px; padding: 5px 10px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#6e6e6e), to(#3c3c3c)); border: none;}
/*.full-screen{min-height: 468px;}*/
.getinfo{border-radius:3px !important;}
.animationslide{ 
     opacity:1; 
      width:0%!important; 
     float: right !important;
     padding: 0 !important;
     border: none !important;
      transition: width .5s; 
      -moz-transition: width .5s; /* Firefox 4 */ 
      -webkit-transition: width .5s; /* Safari 和 Chrome */ 
      -o-transition: width .5s; /* Opera */     
     -moz-transition-property:left top; 
     -moz-transition-duration:.5s; 
     -moz-transition-timing-function:ease-in; 
     -webkit-transition-property:left top; 
     -webkit-transition-duration:.5s; 
     -webkit-transition-timing-function:ease-in; 
     -o-transition-property:left top; 
     -o-transition-duration:.5s; 
     -o-transition-timing-function:ease-in; 
     -ms-transition-property:left; 
     -ms-transition-duration:.5s; 
     -ms-transition-timing-function:ease-in; 
     transition-property:left top; 
     transition-duration:.5s; 
     transition-timing-function:ease-in; 
   }
.animationslide2{width:100% !important; padding: 6px 12px !important;border: 1px solid #ddd !important;}