<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  ">
  <!-- column -->
  <div class="col w-full lt b-r">
    <div class="vbox">
      <div class="row-row">
        <iframe src="http://localhost:8080/demo/f7_outwork?is_v4" frameborder="0" style="width:100%; height:100%" scrolling="no" ng-iframe-resizer></iframe>
      </div>
    </div>
  </div>
  <!-- /column -->

</div>
<!-- /hbox layout -->

