@import"../font-awesome/css/font-awesome.min.css";
body{font-family: '微软雅黑','宋体',arial;}
a,a.btn-link,.bar a.btn-link{color: #2b85fd}


/*布局*/
.row:before,.row:after{display:table;content:" "}
.row:after{clear:both;}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.offset-12 {
  margin-left: 100%;
}

.offset-11 {
  margin-left: 91.66666666666666%;
}

.offset-10 {
  margin-left: 83.33333333333334%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-8 {
  margin-left: 66.66666666666666%;
}

.offset-7 {
  margin-left: 58.333333333333336%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-5 {
  margin-left: 41.66666666666667%;
}

.offset-4 {
  margin-left: 33.33333333333333%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-2 {
  margin-left: 16.666666666666664%;
}

.offset-1 {
  margin-left: 8.333333333333332%;
}

.offset-0 {
  margin-left: 0;
}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.fixed-bottom{position: fixed; bottom:0; left: 0; right: 0;}
/**/
.img-responsive{ display: block;max-width: 100%;height: auto;}
.img-center{-moz-background-size: center;  -webkit-background-size: center; -o-background-size: center; background-size: center;}

blockquote {padding: 3px 10px;margin: 10px 0 5px;border-left: 5px solid #eee;}
blockquote p{margin-bottom:0;}
.table-view-cell.no-arrow{padding: 11px 15px 11px 15px}
.table-view.no-border,.table-view-cell.no-border{border: none;}

.btn.no-border{border: none;}

.popover.pop_topright{width:200px; margin-left:auto; left:auto; right:5px}
.popover.pop_topright:before{left:auto;right:5px;}

/*渐变*/
.linear-yellow-1{
  background-color: #f7e3ae;
  background-image: -moz-linear-gradient(top,#f7e3ae,#fff5d3);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f7e3ae),to(#fff5d3));
  background-image: -webkit-linear-gradient(top,#f7e3ae,#fff5d3);
  background-image: -o-linear-gradient(top,#f7e3ae,#fff5d3);
  background-image: linear-gradient(to bottom,#f7e3ae,#fff5d3);
}

/*投影*/
.shadow-1{box-shadow: 0 2px 2px #004198}
.shadow-2{box-shadow: 0 2px 2px #00629a}
.shadow-3{box-shadow: 0 1px 1px rgba(0,0,0,0.5)}
.shadow-4{box-shadow: 0 1px 1px #00629a}
.shadow-5{box-shadow: 0 1px 1px #dddddd}

.text-shadow-1{text-shadow:1px 1px 1px #000;}

/*字体*/
.f-white{color: #fff}
.f-black{color: #000}
.f-gray-1{color: #5e5d5d}
.f-gray-2,.f-gray-2:active,.f-gray-2:visited{color: #303030}
.f-gray-3{color: #6b6b6b!important}
.f-gray-4{color: #424242!important}
.f-gray-5{color: #818181!important}
.f-gray-6{color: #9b9b9b!important}
.f-gray-7{color: #afafaf!important}
.f-gray-8{color: #383838!important}
.f-gray-9{color: #dbdbdb!important}
.f-gray-10{color: #2f2f2f!important}
.f-yellow-1{color: #ffda12!important}
.f-blue{color: #2b85fd!important}
.f-red{color: #de2c2c!important}

.f-normal{font-weight: normal;}

.f-12px{font-size: 12px;}
.f-14px{font-size: 14px;}
.f-16px{font-size: 16px;}
.f-20px{font-size: 20px!important;}
.f-24px{font-size: 24px!important;}
.f-26px{font-size: 26px!important;}
.f-60px{font-size: 60px}

.f-underline{text-decoration: underline;}
/**/
.ellipsis{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.corner-1{border-radius:5px;}

.bg-white{background-color: #fff}
.bg-gray-1{background-color: #f4f4f4}

.block{display: block;}

/*按钮*/
.btn-style-1{border: 1px solid #1c68ce;background-color: #1c68ce;font-size: 16px}
.btn-style-2{border: 1px solid #00a2ff;background-color: #00a2ff;font-size: 16px}
.btn-style-3{border: 1px solid #2b85fd; border-bottom:1px #005e94 solid; background-color: #2b85fd;font-size: 16px;height:42px;line-height:12px}

.btn-blue-1{border-color: #2b85fd}
.btn-outlined.btn-blue-1{color: #2b85fd}
.btn-bigger{padding:8px 20px;font-size: 14px}

/*输入*/
input[type="search"] {
  border-radius: 3px;
}
/*自定元素*/
.header-1{height: 34px; line-height: 30px; position: relative;z-index: 5; border-bottom: 1px #d6c695 solid}
.header-1 .title{margin: -6px -10px 0; font-size: 14px;}
.header-1 ~ .content {padding-top: 34px;}

.title-1{border-bottom: 1px #b8b8b8 solid;}
.title-1 h4{display:inline-block; padding:0 5px; background-color: #fff; position: relative; font-size: 16px; top:16px; color: #3a3a3a}

.title-2{border-bottom: 1px #b8b8b8 solid;}
.title-2 h4{display:inline-block;border-bottom:3px #2b85fd solid;padding:0 65px 5px 10px;position: relative;top:12px;color: #3d3d3d; font-weight: normal;font-size: 16px;}

.segmented-control-1{border:none;border-bottom:1px #ccc solid; border-radius: 0}
.segmented-control-1 .control-item{border: none;font-size: 16px}
.segmented-control-1 .control-item.active{background: none;color: #2b85fd}
.segmented-line{position: absolute; width: 48%; left:10px;margin-top:5px; z-index: 99999; border-bottom:3px #2b85fd solid;}
.segmented-line.lineright{left:50%;}

hr{border-left: 0;border-top: 1px #cdcdcd solid;border-bottom: 0}

.logo{position: absolute; top:10px;}
.logo img{position: relative; top:3px; margin-right:5px;}

.menu-1{z-index: 99999;  padding-top:0!important;background-color: transparent; top:-60px;z-index:-1;opacity: 0;}
.menu-1.active{top:44px;opacity: 1;z-index:1;}
.menu-1:before{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: '';
  background-color: rgba(0,0,0,.3);
}

.table-view-1{border:none; background-color: #f5f5f5;margin-top: -1px}
.table-view-1 .media-body h4{margin-top: 10px;margin-bottom:5px;}
.table-view-1 .table-view-cell{border:1px #dfdfdf solid; padding:0;position: relative;margin-bottom:10px; background: #fff;}
.table-view-1-nomarginb.table-view-1 .table-view-cell{margin-bottom:0; border-top:none;}
.table-view-1 .table-view-cell > a{margin: 0;padding:0;}
.table-view-1 .table-view-cell p{color: #9b9b9b}
.table-view-1 .table-view-cell.nodata{padding:60px 15px; border-bottom: 1px #ccc solid;}
.table-view-1 .controllayer{position: absolute;z-index: -1;right:0px; top:0px; bottom:0; background-color: #717171;}
.table-view-1 .controllayer button.button-left{display:inline-block; height:80px; width:80px; border-right:1px #535252 solid;border-left:1px #535252 solid;}
.table-view-1 .controllayer button.button-right{display:inline-block; height:80px; width:80px; border-left:1px #807f7f solid;}
.table-view-1 .movelayer{padding:10px 10px 20px 10px; }
.table-view-1 .movelayer:active{background-color: #E7E7E7}
.table-view-1 .app-share{border-top:1px #dfdfdf solid;border-right:1px #dfdfdf solid;padding:5px 0;}
.table-view-1 .app-open{border-top:1px #dfdfdf solid;padding:5px 0;}
.table-view-1 .app-open > a{color: #6b6b6b}
.table-view-1 .app-share:active,.table-view-1 .app-open:active,.table-view-1 .app-share:active .f-gray-9,.table-view-1 .app-open:active .f-gray-9,.table-view-1 .app-open:active > a{color: #2b85fd}


.table-view-2{border:none}
.table-view-2 .media-body h4{margin-top: 20px;margin-bottom:5px; color: #3d3d3d;}
.table-view-2 .table-view-cell{border-bottom: none;padding-bottom: 0}
.table-view-2 .table-view-cell > .item{margin: 0;padding:0 0 18px 0;border-bottom: 1px #d2d2d2 solid;}
.table-view-2 .table-view-cell > .item:active,.table-view-1 .table-view-cell > .item:hover{background-color: transparent!important;}
.table-view-2 .table-view-cell button,.table-view-2 .table-view-cell .media-body a{margin-top:13px;}
.table-view-2 .table-view-cell.nodata{padding:60px 15px; border-bottom: 1px #ccc solid;}
.table-view-2 .table-view-cell.no-arrow{padding: 1px 10px 5px 10px}

.table-view-3 .table-view-cell{padding: 11px 65px 11px 8px;}

/*动画*/
.slide {
    -moz-transition-property:left top;
    -moz-transition-duration:.5s;
    -moz-transition-timing-function:ease-in;
    -webkit-transition-property:left top;
    -webkit-transition-duration:.5s;
    -webkit-transition-timing-function:ease-in;
    -o-transition-property:left top;
    -o-transition-duration:.5s;
    -o-transition-timing-function:ease-in;
    -ms-transition-property:left;
    -ms-transition-duration:.5s;
    -ms-transition-timing-function:ease-in;
    transition-property:left top;
    transition-duration:.5s;
    transition-timing-function:ease-in;
}
.slide2{
    -moz-transition-property:left top;
    -moz-transition-duration:.2s;
    -moz-transition-timing-function:ease-in;
    -webkit-transition-property:left top;
    -webkit-transition-duration:.2s;
    -webkit-transition-timing-function:ease-in;
    -o-transition-property:left top;
    -o-transition-duration:.2s;
    -o-transition-timing-function:ease-in;
    -ms-transition-property:left;
    -ms-transition-duration:.2s;
    -ms-transition-timing-function:ease-in;
    transition-property:left top;
    transition-duration:.2s;
    transition-timing-function:ease-in;
}
.transition-1{
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: -webkit-transform,border,width;
  -moz-transition-property: -moz-transform,border,width;
  transition-property: transform,border,width;
}

/*loading*/
.loading{margin-top: 100px}

.slider{
  background-color: #f1f1f1;
}

.touyun{position:fixed; z-index:999999;left: 0;top:0; bottom: 0; right:0; text-align: center;vertical-align: middle; background:url('../../assets/img/touyun.png') no-repeat;background-size: cover; }
.touyun img{height: 100%}