@import"../font-awesome/css/font-awesome.min.css";
html{-webkit-text-size-adjust:none;}
body{font-family: Microsoft YaHei; font-size: 12px; -webkit-text-size-adjust:none;}
th,td{font-family: Microsoft YaHei; font-size: 12px;}
ul{list-style-type: none;padding: 0;}
a:focus,.btn:focus{outline: 0;}
/*reset*/
.formError *{
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;  
}
@media (max-width:769px){
    /*.container{padding: 0;}*/
}
.navbar-form{padding: 15px 20px;}
.dropdown-menu > li > a:before,.dropdown-menu > li > a:after{display: table;content: " "}
.dropdown-menu > li > a:after{clear: both;}
.text-warning{color: #fc0;}
.text-muted{color: #ccc;}
.panel-warning > .panel-heading{background-color: #FAEBCC;}
.dropdown-menu > li > a{font-style: 12px;}
.modal-header .close{margin-top: -10px;}
.modal-content{border-radius: 0;}
.carousel-control.left,.carousel-control.right{background-image:none;filter:none;}
.carousel-control:hover,
.carousel-control:focus {color: #e3edfb;}
.carousel-control{color: #428BCA;}
.carousel-indicators li{background-color: #ccc;}
.carousel-indicators .active{background-color: #428BCA;}
.carousel-indicators{top: -20px;}
.navbar-nav.navbar-right:last-child{margin-right: 0;}
hr{border-color: #ddd; margin: 10px 0;}
hr.thick{border-color: #ddd; border-width: 2px 0 0;}
hr.dashed{border-color: #ccc; border-style:dashed none none;}
.form-control{border-radius: 0; box-shadow: none;}
.text-success{color: #5AC95C;}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/*可拖动弹窗*/
.modal.modal-draggable { overflow-y: auto!important }
.modal.modal-draggable .modal-header { cursor: pointer }
/*登录*/
.winlogin {font-size: 16px;}
.winlogin form{margin-top: 20px;}
.winlogin .form-group{margin-bottom: 20px; margin-top: 30px;}
.winlogin .form-control{font-size: 16px; padding: 8px 12px; height: 45px;}
.modal-normal .modal-content{width: 740px;height: 500px;}
.modal-dialog h3,.modal-dialog h4{font-size: 20px;}
.form-style1,.form-style2{font-size: 14px;}
.form-style1 .form-group{margin-left: 0; margin-right: 0;}
.form-style1 .control-label{text-align: left;}
.info1{font-size: 16px; color: #999;}
/*头部*/
.navbar-default{margin:0;background-color: #fff;border-bottom: 1px solid #c8c8c8;
  -webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .05);
}
.navbar-default .navbar-brand{margin-right: 100px; height: auto;}
.navbar-default .navbar-nav > li > a {
  color: #333;
  font-size: 16px; 
  border-top: 7px solid #fff;
  min-width: 120px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width:1024px){.navbar-default .navbar-nav > li > a {min-width: 50px;padding-left: 15px; padding-right: 15px;}}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2e87ed;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2e87ed;
  border-top: 7px solid #2e87ed;
  background-color: transparent;
}
.navbar-right .btn{margin-top: 30px; margin-left: 10px;}
.navbar-right .usertxt{display:inline-block;margin-top: 30px; margin-left: 10px; font-size: 16px; vertical-align: middle;}
.btn.btn-login{background-color: #2b85fd; color: #fff; padding-left: 30px; padding-right: 30px; border-radius: 0;}
.btn.btn-register{background-color: #0b53b3; color: #fff; padding-left: 30px; padding-right: 30px; border-radius: 0;}
@media (min-width:768px){
.navbar-default .navbar-nav > li > a{
  padding-top: 30px;
  padding-bottom: 30px;
}
}
@media (max-width:768px){
.navbar-default .navbar-brand{margin: 0;}
}
/*内容*/
.content{min-height: 500px;}
/*底部*/
.navbar-static-bottom{padding: 40px 20px 10px; border-radius: 0;margin-bottom: 10px;}
.quicklink{margin-left: 5%;}
.attention{font-size: 16px;}
.quicklink strong{display:inline-block; font-size: 16px; font-weight: 300; margin-bottom: 20px;}
.quicklink li a{color: #888;font-size: 14px;}
/*首页*/
.index-box{margin-top:-4px;background:url('../img/dotbg.png');}
.index-box-bg{background: url('../img/topbg.png') no-repeat center 0;height: 453px;}
.ad-box{text-align: center; padding: 20px;}
.index-do{position: relative; width: 670px; left: 0;top:290px; padding: 30px 25px; background-color: rgba(0,0,0,.2);}
.index-do input,.index-do .btn{border-radius: 0;}
.btn.btn-register2{background-color: #ed8600; color: #fff; padding-left: 30px; padding-right: 30px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {/* 针对chrome浏览器hack*/
 .btn-lg, .btn-group-lg > .btn{padding: 11px 16px 10px 16px;}
 }
.video-box{padding: 20px 0 50px;}
.video-title{margin:30px 0;text-align: center; font-size: 32px;}
.video-box .img-thumbnail{padding: 0; border-color: #b5b5b5; border-radius: 0;}
.slogan-box{padding: 0 0 20px; background-color: #f8f8f8;}
.slogan-box .media{margin:50px 0 0 10%; font-size: 16px;}
.slogan-box .media-object{font-style: normal;font-size: 50px; text-align: center; width: 120px; height: 120px; border: 2px solid #333; color: #333; border-radius: 50%; padding: 20px; margin-right: 30px; font-family: arial;}
.slogan-box .media-heading{margin: 7px 0 0;}
.slogan-box .media-body p{margin: 15px 0 0; line-height: 2; color: #999;}
/*tag*/
.tag-list{margin-top: 60px; font-size: 16px; border-bottom: 3px solid #2b85fd;}
.tag-list a{color: #333;}
.tag-list > li > a {
  position: relative;
  display: block;
  padding: 10px 25px;
}
.tag-list > li > a:hover,
.tag-list > li > a:focus {
  color: #2b85fd;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}
.tag-list > li {
  float: left;
  margin-bottom: 0;
}
.tag-list > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0;
}
.tag-list > li.active > a,
.tag-list > li.active > a:hover,
.tag-list > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #2b85fd;
  border: none;
  margin: 0;
}
/*应用卡片*/
.panel{border: none;border-radius: 0;box-shadow:none;}
.panel-heading{border-radius: 0;border: none;}
.panel-footer{background-color: transparent; border: none;}
.panel-heading .btn-group{ margin-bottom: 0;}
.showcase .panel{margin-top: 25px;}
.showcase .panel-heading{background-color: transparent;margin-bottom:15px;padding: 0 0 0 15px; font-size: 16px;border-left: 4px solid #2B85FD;}
.showcase.sub .panel-heading{font-size: 18px; font-weight: 700;}
.showcase .panel-heading h3{margin: 0;}
.showcase .panel-body{padding: 0;}
.showcase .panel-footer{padding: 20px 0 10px;}
.showcase .panel-footer .btn{margin-right: 10px;}
.showcase .btn:focus{outline: 0;}
.app-list-item{margin: 15px 0;}
.app-list-item .media{overflow: visible; padding: 15px;}
.app-list-item .media-heading h4{padding-left: 10px;}
.app-list-item .app-img{float: left; margin: 10px;}
.app-list-item .media-body .desc{margin:5px 0;height: 50px;overflow:hidden; text-overflow:ellipsis;}
.app-detail .nav-tabs li a{font-size: 16px; color: #333;}
.app-detail .nav-tabs li a .badge{background-color: #f00; color: #fff; box-shadow:1px 1px 1px 0 rgba(0, 0, 0, .4);}
.app-detail .modal-header{border: 0;}
.app-detail .modal-content{width: 750px;height: 520px;}
.app-detail .app-img{margin: 10px 20px 10px 10px;}
.app-detail .media-heading{margin:15px 0 18px;}
.app-detail .num{font-size: 14px;color: #999;}
.app-detail .num span{margin-right: 10px; padding-right: 10px; border-right: 1px dotted;}
.app-detail .num span:last-child{border: none;}
.btn.btn-blue1{background-color: #2b85fd; color: #fff; font-size: 16px; border-radius: 0;width: 105px;}
.btn.btn-blue2{background-color: #0b53b3; color: #fff; font-size: 16px; border-radius: 0; width: 105px;}
.btn.btn-blue1:focus,.btn.btn-blue1:hover,.btn.btn-blue2:focus,.btn.btn-blue2:hover{color: #fff;}
.app-detail .media,.app-detail .media-body{overflow: visible;}
.app-detail .media .dropdown-menu{border: none; box-shadow: none;}
.app-detail .media .dropdown-menu .tooltip-inner{padding-top: 15px;}
.app-detail .media .dropdown-menu .tooltip-inner p{margin-top: 10px; font-size: 12px;}
.app-detail .media-body .do{margin-top: -25px;}
.app-detail .modal-body .nav{margin-bottom: 15px;}
.img-intro{width: 150px; margin: 0 auto;}
.printscreen-box li{float: left;}
.desc-intro,.desc-update,.desc-para{color: #666;}
.desc-intro{line-height: 2;padding: 0 30px 0 0;}
.desc-update{line-height: 2;}
.desc-para{line-height: 2;}
.title-detail-style1{color: #2e87ed; padding-left: 10px; border-left: 3px solid #2e87ed; font-size: 16px;}
.review-content .list-group-item{border:none;border-top: 1px dashed #ddd; padding:10px 0; margin: 0 15px;}
.review-content .list-group-item-heading{color: #999;}
.review-content .list-group-item-heading span{margin-left: 20px;}
.review-content .list-group-item-heading span:first-child{margin: 0;}
.review-content .list-group-item:first-child{border-radius: 0; border-top: none;}
.review-content .list-group-item-text{margin: 10px 0;}
.review-form .star-box{font-size: 14px; margin-top: 20px;}
.review-form .star-box a:hover{color: #f90; text-decoration: none;}
.btn-more{padding:6px 45px; color: #2b85fd; border: 1px solid #2b85fd; border-radius: 0; background-color: #fff;}
.btn-more:hover{color: #4895fb; background-color: #dbeafe;}
.btn-white-lg{padding:6px 45px; color: #2b85fd; border: 1px solid #2b85fd; border-radius: 0; background-color: #fff;font-size: 16px;}
.btn-white-lg:hover,.btn-white-lg:focus{color: #4895fb; background-color: #dbeafe;}
.btn-blue{padding:6px 15px; background-color: #2b85fd; color: #fff; font-size: 16px; border-radius: 0;}
.btn-blue:hover,.btn-blue:focus{background-color: #4695fe; color: #fff;}
.btn-blue-lg{padding:6px 45px; background-color: #2b85fd; color: #fff; font-size: 16px; border-radius: 0;}
.btn-blue-lg:hover,.btn-blue-lg:focus{background-color: #4695fe; color: #fff;}
.input-group-btn .btn-blue,.input-group-btn .btn-blue-lg{font-size: 14px;}
.btn-gray{padding: 4px 15px; color: #888; background-color: #fff; border: 1px solid #ccc; font-size: 14px; border-radius: 0;}
.btn-gray:hover{background-color: #f1f1f1;}
.btn-white{padding: 4px 15px; color: #2b85fd; background-color: #fff; border: 1px solid #2b85fd; font-size: 14px; border-radius: 0;}
.btn-white:hover,.btn-white:focus{background-color: #dbeafe; color: #2b85fd;}
.btn-orange{padding: 4px 15px; color: #ffa800; background-color: #fff; border: 1px solid #ffa800; font-size: 14px; border-radius: 0;}
.btn-orange:hover,.btn-orange:focus{background-color: #fbedd1; color: #ffa800;}
.btn-green{padding: 4px 15px; color: #5dba1a; background-color: #fff; border: 1px solid #5dba1a; font-size: 14px; border-radius: 0;}
.btn-green:hover,.btn-green:focus{background-color: #ddfcc7; color: #5dba1a;}
.btn-red{padding: 4px 15px; color: #bd1815; background-color: #fff; border: 1px solid #bd1815; font-size: 14px; border-radius: 0;}
.btn-red:hover,.btn-red:focus{background-color: #fbc5c4; color: #bd1815;}
.dropdown-menu.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.dropdown-menu.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.app-list-item .dropdown-menu{border: 0;box-shadow:none; min-width: 150px; left: -50px;}
.app-list-item .dropdown-menu .tooltip-inner{padding: 15px 10px 10px;}
.app-list-item .dropdown-menu .tooltip-inner p{margin-top: 10px; font-size: 12px;}
/*页卡*/
.tile-button{
    color: #666;
    display: block;
    border:1px solid #ddd;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    -ms-transition:all .3s ease;
    transition:all .3s ease
}
.tile-button .media-heading {
    background:rgba(255, 255, 255, .2);
    /*background-color: #f4f4f4;*/
}
.tile-button:hover,.tile-button:focus{
    box-shadow:inset 0 0 0 120px rgba(255, 255, 255, .4);
    color:#999;
    text-decoration: none;
}
.tile-button .media-body {
    padding:10px;
}
.tile-button.bg-gray {
    color: #666;
    background:#eee
}
.tile-button.bg-gray:hover{
    color:#000
}
.tile-button.bg-white {
    color: #666;
    background:#fff
}
.tile-button.bg-blue {
    /*color:#fff;*/
    /*background:#65a6ff*/
    background-color: #d9edf7
}
.tile-button.bg-green {
    /*color:#fff;*/
    /*background:#9cd159*/
    background-color: #d6e9c6
}
.tile-button.bg-red {
    /*color:#fff;*/
    /*background:#ff5757*/
    background-color: #f2dede
}
.tile-button.bg-yellow {
    color:#fff;
    background:#fc0
}
.tile-button.bg-purple {
    color:#fff;
    background:#984dff
}
.tile-button.bg-orange {
    /*color:#fff;*/
    /*background:#fa7753*/
    background-color: #faebcc
}
.tile-button.bg-black {
    color:#ccc;
    background:#212121
}
.tile-button.bg-azure {
    color:#fff;
    background:#41e5c0
}
/*列表*/
.panel-normal .panel-heading{font-size: 18px; padding:0 20px; border-bottom: 1px solid #fff; height: 45px; line-height: 45px; font-weight: 700;}
.panel-normal .panel-body{padding: 15px 0 0;}
.panel-normal .panel-body li{position: relative;}
.panel-normal .panel-body li a{display: block; padding:8px 20px; color: #555; font-size: 14px;}
.panel-normal .panel-body li a:hover,.panel-normal .panel-body li a:focus{text-decoration: none; color: #999;}
.panel-normal .panel-body li a i{position: absolute; right: 20px; top: 10px;}
#my-channel li.active{background-color: #f1f1f1;}
.media-style1{border: 1px solid #ddd; padding: 20px;}
.media-style1 .media-heading{font-size: 21px; margin: 15px 0 10px;}
.media-style1 > .pull-left{margin-right: 20px;}
.media-style1 .media-body p{color: #999;}
.text-info{color: #2E87ED;}
.title-normal{height: 45px; line-height: 45px; border-bottom: 1px solid #ddd; color: #999; font-size: 14px;}
.title-normal [class*="col-"]{padding: 0;}
/*频道*/
.panel-normal2 .panel-heading{background-color: transparent;margin-bottom:15px;padding: 0 0 0 15px; font-size: 16px;border-left: 4px solid #2B85FD; font-size: 18px; font-weight: 700;}
.panel-normal2 .panel-body{padding: 15px 0;}
.panel-normal2 textarea{border-radius: 0;}
textarea.form-control.text-danger{color: #a94442;}
.dropright .dropdown-menu{left: auto; right: 0;}
.billboard-box{margin: 20px 0;}
.billboard-box .control-label{padding: 0 0 0 15px; font-size: 18px;border-left: 4px solid #2B85FD;}
.billboard-box .billboard-txt {width: 80%; font-size: 14px; padding: 20px; background-color: #fff; margin: 10px 0; border-radius: 0; border: 1px solid #9f9f9f; position: relative; }
.billboard-box .billboard-txt:before { content: ''; position: absolute; left: 30px; top: -16px; border: 8px solid #000; z-index: 1; border-color: transparent transparent #999 transparent; }
.billboard-box .billboard-txt:after { content: ''; position: absolute; left: 30px; top: -15px; border: 8px solid #000; z-index: 2; border-color: transparent transparent #fff transparent; }
.billboard-box .billboard-txt textarea{border: none;}
.billboard-box .billboard-txt .form-control{padding: 0; box-shadow: none;}
/*上传应用*/
.box-style1{border-bottom: 1px solid #f9f9f9; margin:-15px -15px 0; padding: 30px 0; font-size: 20px;
  background-image: -webkit-linear-gradient(top, color-stop(rgba(229, 229, 229, .5) 0%), color-stop(rgba(229, 229, 229, .0001) 100%));
  background-image:         linear-gradient(to bottom, rgba(229, 229, 229, .5) 0%, rgba(229, 229, 229, .0001) 100%);
}
/*悬浮*/
.float-box{position: fixed;right: 0; bottom: 10%;z-index: 1000; text-align: center;}
.float-box .panel-heading{width:55px;padding: 0;}
.float-box .panel-heading a{display:block; background: #f8f8f8 url('../img/arr.png') no-repeat 40px 0; padding: 5px 0; color: #888; cursor: pointer;}
.float-box .panel-heading a.arrdown{background-position: 40px -25px;}
.float-box .panel-heading a:hover,.float-box .panel-heading a:focus{color: #999; text-decoration: none;}
.float-box .panel-body{padding: 0;}
.float-box .dropdown{border-top: 1px solid #fff;}
.float-box .dropdown a{display: block; background-color: rgba(229,229,229,.5);  width: 55px; height: 55px; padding: 10px 0; color: #c6c6c6; vertical-align: middle; font-size: 32px;}
.float-box .dropdown a:hover{background-color: rgba(229,229,229,.8); color: #858585; text-decoration: none;}
.float-box .dropdown .dropdown-menu{left: auto; right: 100%; bottom:0; top:auto;}
.pop-style1{margin:0; padding:0;font-size: 12px; width: 200px; border-radius: 0;}
.pop-style1 .text{padding: 5px; background-color: #fafafa; border-bottom: 1px solid #eee;}