<!-- 操作栏 -->
<div class="row">
    <div class="col-md-12">    
        <div class="ls-gallery-filter-wrap">
            <div class="form-inline clearfix">
                <button class="btn btn-info btn-sm" type="button">
                    <i class="fa fa-plus"></i> 新建活动 
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    批量操作 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                    <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                    <li><button class="btn btn-sm btn-link"><i class="fa fa-camera-retro"></i> 监控</button></li> 
                    <li><button class="btn btn-sm btn-link"><i class="fa fa-sun-o"></i> 设为关注</button></li> 
                    <li><button class="btn btn-sm btn-link"><i class="fa fa-heart"></i> 设为喜好</button></li> 
                  </ul>
                </div>          
                <div class="form-group pull-right">
                      <select id="act_list_act_select" class="form-control" style="width:200px">
                            <option value="">请输入关键字快速搜索</option>
                            <option value="1">买满100元送30元现金券</option>
                            <option value="2">买满100元送30元现金券</option>
                            <option value="3">买满100元送30元现金券</option>
                            <option value="4">买满100元送30元现金券</option>
                            <option value="5">买满100元送30元现金券</option>
                            <option value="6">买满100元送30元现金券</option>
                          </optgroup>
                      </select>
                    <button class="btn btn-sm btn-link">高级搜索</button>
                </div>
            </div>
        </div> 
    </div>
</div>   

<!-- 列表 -->
<div class="row">
    <div class="col-md-12">
        <div class="tabButton2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#act_list_tabs_do" data-toggle="tab"><i class="fa fa-pencil"></i> 我经办的</a></li>
                <li><a href="#act_list_tabs_attention" data-toggle="tab"><i class="fa fa-sun-o"></i> 我关注的</a></li>
                <li><a href="#act_list_tabs_love" data-toggle="tab"><i class="fa fa-heart"></i> 我喜好的</a></li>
            </ul>
            <div class="tab-content tabs_container">
                <div id="act_list_tabs_do" class="tab-pane active">
                    <!--Table Wrapper Start-->
                    <div class="ls-table">
                        <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th><input type="checkbox"></th>
                                <th>活动名称</th>
                                <th>开始日期</th>
                                <th>结束日期</th>
                                <th>活动区域</th>
                                <th>用户数</th>
                                <th>审批状态</th>
                                <th>活动状态</th>
                                <th>是否关注</th>
                                <th>是否喜好</th>
                                <th class="text-center">操作</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/actoptimize/actList_show.html')">春节期间买满100元送30元现金券</a></td>
                                <td>2015-02-14 08:00</td>
                                <td>2015-02-20 24:00</td>
                                <td>广东省</td>
                                <td>3,200</td>
                                <td><label class="label label-success">已通过</label></td>
                                <td><span class="green">用户已加载，效果已预估</span></td>
                                <td><input type="checkbox" class="act_list_switch" /></td>
                                <td><input type="checkbox" class="act_list_switch" /></td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/actoptimize/actList_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-upload"></i> 导出用户清单</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-camera-retro"></i> 监控</button></li>  
                                      </ul>
                                    </div>                                   
                                </td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/actoptimize/actList_show.html')">春节期间买满100元送30元现金券</a></td>
                                <td>2015-02-14 08:00</td>
                                <td>2015-02-20 24:00</td>
                                <td>广东省</td>
                                <td>3,200</td>
                                <td><label class="label label-warning">待审批</label></td>
                                <td><span class="blue">效果预估中...</span></td>
                                <td><input type="checkbox" class="act_list_switch" checked /></td>
                                <td><input type="checkbox" class="act_list_switch" /></td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/actoptimize/actList_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-upload"></i> 导出用户清单</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-camera-retro"></i> 监控</button></li>  
                                      </ul>
                                    </div>                                   
                                </td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/actoptimize/actList_show.html')">春节期间买满100元送30元现金券</a></td>
                                <td>2015-02-14 08:00</td>
                                <td>2015-02-20 24:00</td>
                                <td>广东省</td>
                                <td>3,200</td>
                                <td><label class="label label-danger">未通过</label></td>
                                <td><span class="yellow">未预估</span></td>
                                <td><input type="checkbox" class="act_list_switch" /></td>
                                <td><input type="checkbox" class="act_list_switch" checked/></td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/actoptimize/actList_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-upload"></i> 导出用户清单</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-camera-retro"></i> 监控</button></li>  
                                      </ul>
                                    </div>                                   
                                </td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/actoptimize/actList_show.html')">春节期间买满100元送30元现金券</a></td>
                                <td>2015-02-14 08:00</td>
                                <td>2015-02-20 24:00</td>
                                <td>广东省</td>
                                <td>3,200</td>
                                <td><label class="label label-success">已通过</label></td>
                                <td><span class="green">用户已加载，效果已预估</span></td>
                                <td><input type="checkbox" class="act_list_switch" checked /></td>
                                <td><input type="checkbox" class="act_list_switch" /></td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/actoptimize/actList_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-upload"></i> 导出用户清单</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-camera-retro"></i> 监控</button></li>  
                                      </ul>
                                    </div>                                   
                                </td>
                              </tr>


                            </tbody>
                          </table>
                    </div>
                    <!--Table Wrapper Finish-->
                    <div class="text-right">
                        <div class="ls-button-group demo-btn ls-table-pagination">
                            <ul class="pagination ls-pagination">
                                <li><a href="#"><i class="fa fa-arrow-left"></i> </a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="act_list_tabs_attention" class="tab-pane">
                    <!--Table Wrapper Start-->
                    <div class="ls-table">
                        <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th><input type="checkbox"></th>
                                <th>活动名称</th>
                                <th>开始日期</th>
                                <th>结束日期</th>
                                <th>活动区域</th>
                                <th>用户数</th>
                                <th>审批状态</th>
                                <th>活动状态</th>
                                <th>是否关注</th>
                                <th>是否喜好</th>
                                <th class="text-center">操作</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/actoptimize/actList_show.html')">春节期间买满100元送30元现金券</a></td>
                                <td>2015-02-14 08:00</td>
                                <td>2015-02-20 24:00</td>
                                <td>广东省</td>
                                <td>3,200</td>
                                <td><label class="label label-success">已通过</label></td>
                                <td><span class="green">用户已加载，效果已预估</span></td>
                                <td><input type="checkbox" class="act_list_switch" checked /></td>
                                <td><input type="checkbox" class="act_list_switch" /></td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/actoptimize/actList_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-upload"></i> 导出用户清单</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-camera-retro"></i> 监控</button></li>  
                                      </ul>
                                    </div>                                   
                                </td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/actoptimize/actList_show.html')">春节期间买满100元送30元现金券</a></td>
                                <td>2015-02-14 08:00</td>
                                <td>2015-02-20 24:00</td>
                                <td>广东省</td>
                                <td>3,200</td>
                                <td><label class="label label-success">已通过</label></td>
                                <td><span class="green">用户已加载，效果已预估</span></td>
                                <td><input type="checkbox" class="act_list_switch" checked /></td>
                                <td><input type="checkbox" class="act_list_switch" /></td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/actoptimize/actList_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-upload"></i> 导出用户清单</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-camera-retro"></i> 监控</button></li>  
                                      </ul>
                                    </div>                                   
                                </td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/actoptimize/actList_show.html')">春节期间买满100元送30元现金券</a></td>
                                <td>2015-02-14 08:00</td>
                                <td>2015-02-20 24:00</td>
                                <td>广东省</td>
                                <td>3,200</td>
                                <td><label class="label label-success">已通过</label></td>
                                <td><span class="green">用户已加载，效果已预估</span></td>
                                <td><input type="checkbox" class="act_list_switch" checked /></td>
                                <td><input type="checkbox" class="act_list_switch" /></td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/actoptimize/actList_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-upload"></i> 导出用户清单</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-camera-retro"></i> 监控</button></li>  
                                      </ul>
                                    </div>                                   
                                </td>
                              </tr>


                            </tbody>
                          </table>
                    </div>
                    <!--Table Wrapper Finish-->
                    <div class="text-right">
                        <div class="ls-button-group demo-btn ls-table-pagination">
                            <ul class="pagination ls-pagination">
                                <li><a href="#"><i class="fa fa-arrow-left"></i> </a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>                        
                </div>
                <div id="act_list_tabs_love" class="tab-pane">
                    <!--Table Wrapper Start-->
                    <div class="ls-table">
                        <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th><input type="checkbox"></th>
                                <th>活动名称</th>
                                <th>开始日期</th>
                                <th>结束日期</th>
                                <th>活动区域</th>
                                <th>用户数</th>
                                <th>审批状态</th>
                                <th>活动状态</th>
                                <th>是否关注</th>
                                <th>是否喜好</th>
                                <th class="text-center">操作</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/actoptimize/actList_show.html')">春节期间买满100元送30元现金券</a></td>
                                <td>2015-02-14 08:00</td>
                                <td>2015-02-20 24:00</td>
                                <td>广东省</td>
                                <td>3,200</td>
                                <td><label class="label label-success">已通过</label></td>
                                <td><span class="green">用户已加载，效果已预估</span></td>
                                <td><input type="checkbox" class="act_list_switch" /></td>
                                <td><input type="checkbox" class="act_list_switch" checked/></td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/actoptimize/actList_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-upload"></i> 导出用户清单</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-camera-retro"></i> 监控</button></li>  
                                      </ul>
                                    </div>                                   
                                </td>
                              </tr>
                              <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#" onclick="showModal('views/actoptimize/actList_show.html')">春节期间买满100元送30元现金券</a></td>
                                <td>2015-02-14 08:00</td>
                                <td>2015-02-20 24:00</td>
                                <td>广东省</td>
                                <td>3,200</td>
                                <td><label class="label label-success">已通过</label></td>
                                <td><span class="green">用户已加载，效果已预估</span></td>
                                <td><input type="checkbox" class="act_list_switch" /></td>
                                <td><input type="checkbox" class="act_list_switch" checked/></td>
                                <td class="text-center nowrap">
                                    <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                                    <button class="btn btn-xs btn-danger" title="审批"><i class="fa fa-legal"></i></button>
                                    <button class="btn btn-xs btn-success" title="查看详情" onclick="showModal('views/actoptimize/actList_show.html')"><i class="fa fa-info-circle"></i></button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" title="更多" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-upload"></i> 导出用户清单</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-copy"></i> 复制</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-arrow-down"></i> 下线</button></li>
                                        <li><button class="btn btn-sm btn-link"><i class="fa fa-camera-retro"></i> 监控</button></li>  
                                      </ul>
                                    </div>                                   
                                </td>
                              </tr>


                            </tbody>
                          </table>
                    </div>
                    <!--Table Wrapper Finish-->
                    <div class="text-right">
                        <div class="ls-button-group demo-btn ls-table-pagination">
                            <ul class="pagination ls-pagination">
                                <li><a href="#"><i class="fa fa-arrow-left"></i> </a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

// Switch
// if-else statement used only for fixing <IE9 issues
if (Array.prototype.forEach) {
    var elems = Array.prototype.slice.call(document.querySelectorAll('.act_list_switch'));

elems.forEach(function(html) {
    var switchery = new Switchery(html, { size: 'small' });
});
} else {
    var elems = document.querySelectorAll('.act_list_switch');

    for (var i = 0; i < elems.length; i++) {
      var switchery = new Switchery(elems[i], { size: 'small' });
    }
}

// selectize下拉框初始化
$('#act_list_act_select').selectize({
    sortField: {
        field: 'text',
    }
});
</script>