<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">活动详情</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-success">
                  <div class="panel-heading">
                      <h3 class="panel-title">活动基本信息</h3>
                  </div>
                  <div class="panel-body">  
                    <table class="table noborder">
                      <tbody>
                        <tr>
                          <td width="50%">
                            <span class="titleStyle1">活动名称</span> 
                            <span class="blue">春节期间买满100元送30元现金券</span>
                          </td>
                          <td>
                            <span class="titleStyle1">活动期间</span>
                            <span class="blue">2015-02-14 08:00 至 2015-02-20 24:00</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="titleStyle1">活动区域</span> 
                            <span class="blue">广东省</span>
                          </td>
                          <td>
                            <span class="titleStyle1">用户数</span>
                            <span class="blue">3,200</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="titleStyle1">审批状态</span> 
                            <label class="label label-success">已通过</label>
                          </td>
                          <td>
                            <span class="titleStyle1">活动状态</span>
                            <span class="green">用户已加载，效果已预估</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>        
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-danger">
                  <div class="panel-heading">
                      <h3 class="panel-title">选择的策划</h3>
                  </div>
                  <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td><h3>买满100元送30元现金券</h3></td>
                          </tr>
                          <tr>
                            <td>  
                              <ul>
                                <li class="fontbig">针对<span class="red">广东省高学历已婚群一</span>，用户数<span class="yellow">2300</span>，通过<span class="lightGreen">微信</span>渠道</li>
                                <li class="fontbig">针对<span class="red">购买高端手机的中高收入女性白领群</span>，用户数<span class="yellow">500</span>，通过<span class="lightGreen">微信</span>渠道</li>                                
                                <li>1.买活龙虾，送新春10-100元红包</li>
                                <li>2.买满100元送30元现金券</li>
                              </ul>                              
                            </td>
                          </tr>
                          <tr>
                            <td><img src="assets/images/pic1.jpg"></td>
                          </tr>
                        </tbody>                    
                    </table>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h3 class="panel-title">总体预估</h3>
                  </div>
                  <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td><i class="fa fa-user"></i> 预计参与率<br><b class="fontbig blue">0.00%</b></td>
                            <td><i class="fa fa-shopping-cart"></i> 预计购买率<br><b class="fontbig blue">0.00%</b></td>
                            <td><i class="fa fa-cny"></i> 预计营收<br><b class="fontbig blue">0.00元</b></td>
                          </tr>  
                          <tr>
                            <td><i class="fa fa-cny"></i> 预计成本<br><b class="fontbig blue">551.10元</b></td>
                            <td><i class="fa fa-pie-chart"></i> 预计投资回收率<br><b class="fontbig blue">0.00%</b></td>
                            <td><i class="fa fa-pie-chart"></i> 投资回收平均水平<br><b class="fontbig blue">0.00%</b></td>
                          </tr>  
                        </tbody>
                    </table>                  
                  </div>
              </div>

              <div class="panel panel-warning">
                  <div class="panel-heading">
                      <h3 class="panel-title">详细预估</h3>
                  </div>
                  <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                          <tr><th colspan='4' class="red">广东省高学历已婚群一(<b class="blue">2300位</b>)</th></tr>
                          <tr>
                            <td><i class="fa fa-comment"></i> 渠道<br><b class="fontbig blue">微信</b></td>
                            <td><i class="fa fa-user"></i> 预计参与率<br><b class="fontbig blue">0.00%</b></td>
                            <td><i class="fa fa-shopping-cart"></i> 预计购买率<br><b class="fontbig blue">0.00%</b></td>
                            <td><i class="fa fa-cny"></i> 渠道成本<br><b class="fontbig blue">0.10元</b></td>
                          </tr>  
                          <tr><th colspan='4' class="red">购买高端手机的中高收入女性白领群(<b class="blue">500位</b>)</th></tr>
                          <tr>
                            <td><i class="fa fa-comment"></i> 渠道<br><b class="fontbig blue">微信</b></td>
                            <td><i class="fa fa-user"></i> 预计参与率<br><b class="fontbig blue">0.00%</b></td>
                            <td><i class="fa fa-shopping-cart"></i> 预计购买率<br><b class="fontbig blue">0.00%</b></td>
                            <td><i class="fa fa-cny"></i> 渠道成本<br><b class="fontbig blue">0.00元</b></td>
                          </tr>   
                        </tbody>
                    </table>                  
                  </div>
              </div>

            </div>
          </div>        

      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

