<!-- 搜索条件栏 -->
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-lg-1 col-md-2 control-label">选择日期:</label>
    <div class="col-lg-3 col-md-4">
          <div class="control-group">
            <div class="controls">
             <div class="input-prepend input-group">
               <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span><input type="text" id="actMoniAssess_daterange" class="form-control input-sm" value=""/>
             </div>
            </div>
          </div>
    </div>
    <div class="col-lg-2 col-md-3">
        <button type="submit" class="btn btn-info"><i class="fa fa-search"></i> 查询</button>  
        <button class="btn btn-warning" type="button" onclick="showModal('views/actoptimize/actMoniAssess_config.html')">
            <i class="fa fa-cog"></i> 自定义报表 
        </button>               
    </div>
  </div>
</form>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">渠道效果评估</h3>
            </div>
            <div class="panel-body">
                <div style="height:120px"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">目标客户准确性分析</h3>
            </div>
            <div class="panel-body">
                <div style="height:150px"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">策略目标完成对比分析</h3>
            </div>
            <div class="panel-body">
                <div style="height:110px"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">策略匹配度</h3>
            </div>
            <div class="panel-body">
                <div style="height:100px"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    // daterange             
    $('#actMoniAssess_daterange').val(moment().subtract('days', 29).format('YYYY/MM/DD') + ' 至 ' + moment().format('YYYY/MM/DD')).daterangepicker(
      {
        format:'YYYY/MM/DD',
        startDate: moment().subtract('days', 29),
        endDate: moment(),
        separator:'至',
        locale:{
          applyLabel: '确认',
          cancelLabel: '取消',
          fromLabel: '开始日期',
          toLabel: '结束日期',
          weekLabel: '周',
          customRangeLabel: '自定义范围',                            
          daysOfWeek:["日","一","二","三","四","五","六"],
          monthNames:['01月','02月','03月','04月','05月','06月','07月','08月','09月','10月','11月','12月',]
        },
        ranges: {
         '当天': [moment(), moment()],
         '昨天': [moment().subtract('days', 1), moment().subtract('days', 1)],
         '近7天': [moment().subtract('days', 6), moment()],
         '近30天': [moment().subtract('days', 29), moment()],
         '当月': [moment().startOf('month'), moment().endOf('month')],
         '上月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
        }
      }

    ); 


</script>