<div class="modal-dialog">
  <form class="form-horizontal">    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">自定义报表</h4>
      </div>
      <div class="modal-body">
            <span class="titleStyle1">渠道效果评估</span>
            <div class="form-group">
              <label class="col-sm-2 control-label">统计指标：</label>
              <div class="col-sm-9">
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 全选
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 指标一
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 指标二
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox4" value="option4"> 指标三
                  </label>
              </div>
            </div>
            <hr/>
            <span class="titleStyle1">目标客户准确性分析</span>
            <div class="form-group">
              <label class="col-sm-2 control-label">统计指标：</label>
              <div class="col-sm-9">
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 全选
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 指标一
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 指标二
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox4" value="option4"> 指标三
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 指标一
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 指标二
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox4" value="option4"> 指标三
                  </label>
              </div>
            </div>
            <hr/>
            <span class="titleStyle1">策略目标完成对比分析</span>
            <div class="form-group">
              <label class="col-sm-2 control-label">统计指标：</label>
              <div class="col-sm-9">
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 全选
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 指标一
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 指标二
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox4" value="option4"> 指标三
                  </label>
              </div>
            </div>
            <hr/>
            <span class="titleStyle1">策略匹配度</span>
            <div class="form-group">
              <label class="col-sm-2 control-label">统计指标：</label>
              <div class="col-sm-9">
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 全选
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 指标一
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 指标二
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox4" value="option4"> 指标三
                  </label>
              </div>
            </div>
           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-info">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </form>
</div><!-- /.modal-dialog -->
  