<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">条件约束</h4>
      </div>
      <div class="modal-body">       
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">条件约束：</label>
              <div class="col-sm-7">
                  <input type="text" class="form-control">
              </div>
              <div class="col-sm-2"><button type="button" class="btn btn-info btn-sm">确定</button></div>
            </div>            
          </form>        

      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
