<div class="row">
    <div class="col-md-12" style="margin-bottom:10px">
        <button type="button" class="btn btn-info" onclick="showModal('views/actoptimize/lifecycle_config.html')"><i class="fa fa-cog"></i> 配置生命周期</button>
    </div>
</div>

<!-- 营销活动统计 -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">全生命周期内营销活动统计</h3>
    </div>
    <div class="panel-body">
        <div id="lifecycle_Chart" style="height:300px;"></div>
        <div style="padding:0 40px">
            <!--Table Wrapper Start-->
            <div class="table-responsive ls-table">
                <table class="table table-hover table-striped table-link-text">
                    <thead>
                    <tr>
                        <th>生命周期</th>
                        <th>活动数量</th>
                        <th>营销活动</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>初入网期</td>
                        <td>10</td>
                        <td>
                            <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a>
                        </td>
                        <td>
                            <button title="添加营销活动" class="btn btn-xs btn-info" onclick="showModal('views/actoptimize/lifecycle_act_add.html')"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>成长期</td>
                        <td>7</td>
                        <td>
                            <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a>
                        </td>
                        <td>
                            <button title="添加营销活动" class="btn btn-xs btn-info" onclick="showModal('views/actoptimize/lifecycle_act_add.html')"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>成熟期</td>
                        <td>15</td>
                        <td>
                            <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a>
                        </td>
                        <td>
                            <button title="添加营销活动" class="btn btn-xs btn-info" onclick="showModal('views/actoptimize/lifecycle_act_add.html')"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>离网预警期</td>
                        <td>30</td>
                        <td>
                            <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a>
                        </td>
                        <td>
                            <button title="添加营销活动" class="btn btn-xs btn-info" onclick="showModal('views/actoptimize/lifecycle_act_add.html')"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>离网期</td>
                        <td>60</td>
                        <td>
                            <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a> <a href="#">活动一</a>
                        </td>
                        <td>
                            <button title="添加营销活动" class="btn btn-xs btn-info" onclick="showModal('views/actoptimize/lifecycle_act_add.html')"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--Table Wrapper Finish-->
        </div>
            
    </div>
</div>


<script type="text/javascript">

        /*
        * 百度echarts
        */
        // 路径配置
        require.config({
            paths: {
                echarts: 'assets/js/plugins/echarts'
            }
        });

        // 用户统计
        require(
            [
                'echarts',
                'echarts/theme/macarons', //加载主题macarons
                'echarts/chart/line' // 使用折线图，按需加载
            ],
            function (ec,theme) {
                // 基于准备好的dom，初始化echarts图表
                var lifecycle_Chart = ec.init(document.getElementById('lifecycle_Chart'),theme); 
                var option = {
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['营销活动']
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : ['初入网期','成长期','成熟期','离网预警期','离网期']
                        }                                                                                                                                                                                                                                 
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            name : '活动量（个）'
                        }
                    ],
                    series : [
                        {
                            name:'营销活动',
                            type:'line',
                            smooth:true,
                            itemStyle: {
                                normal: {
                                    areaStyle: {
                                        type: 'default'
                                    },
                                    label: {
                                        show: true,
                                    }                                    
                                }
                            },
                            data:[10, 7, 15, 30, 60]
                        }
                    ]
                };      

                // 为echarts对象加载数据 
                lifecycle_Chart.setOption(option); 
            }
        );
    </script>