<!--Left navigation start-->
<ul class="mainNav">    
    <li class="active">
        <!-- 第一层 -->
        <a href="#">
            <i class="fa fa-asterisk"></i> <span>营销活动</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li><a href="#" id="actList" onclick="$('#tab_actList').click()">营销活动管理</a></li>    
            <li><a href="#" id="actList_detail" onclick="$('#tab_actEdit').click()">营销活动配置</a></li>    
        </ul>                    
    </li>
    <li>
        <!-- 第一层 -->
        <a href="#" id="actList" onclick="$('#tab_lifecycle').click()">
            <i class="fa fa-line-chart"></i> <span>全生命周期</span>
        </a>                  
    </li>
    <li>
        <!-- 第一层 -->
        <a href="#">
            <i class="fa fa-magic"></i> <span>营销策划</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li><a href="#" id="planList" onclick="$('#tab_planList').click()">营销策划管理</a></li>    
            <li><a href="#" id="planList_detail" onclick="$('#tab_planEdit').click()">营销策划配置</a></li>    
        </ul>                    
    </li>
    <li>
        <!-- 第一层 -->
        <a href="#">
            <i class="fa fa-file-text-o"></i> <span>营销方案</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li><a href="#" id="schemeList" onclick="$('#tab_schemeList').click()">营销方案管理</a></li>    
            <li><a href="#" id="schemeList_detail" onclick="$('#tab_schemeEdit').click()">营销方案配置</a></li>    
        </ul>                    
    </li>
    <li>
        <!-- 第一层 -->
        <a href="#">
            <i class="gi gi-charts"></i> <span>营销监控</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li><a href="#" id="actMoniAssess" onclick="$('#tab_actMoniAssess').click()">效果评估</a></li>    
        </ul>                    
    </li>

</ul>
<!--Left navigation end-->

<!-- 收缩菜单初始化 -->
<script type="text/javascript" src="assets/js/pages/layout.js"></script>
