@import"../font-awesome/css/font-awesome.min.css";
html{-webkit-text-size-adjust:none;}
body{font-family: Microsoft YaHei; -webkit-text-size-adjust:none; background-color: #ccc;}
th,td{font-family: Microsoft YaHei;}
/*图标背景样式*/
.widget-icon { display: inline-block; background: rgba(0, 0, 0, 0.8); -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; text-align: center; vertical-align: middle; width: 80px; height: 80px; padding: 15px 0; line-height: 40px; font-size: 36px;}
.widget-icon-smaller{width: 30px; height: 30px;}
.widget-icon-xsmall{width: 50px; height: 50px;}
.widget-icon-small{width: 60px; height: 60px;}
.widget-icon:hover { background: rgba(0, 0, 0, 0.8) }
.widget-icon.widget-icon-dark { background: rgba(0, 0, 0, 0.2) }
.widget-icon.widget-icon-dark:hover { background: rgba(0, 0, 0, 0.3) }
.widget-icon.widget-icon-large { width: 60px; height: 60px; padding: 10px 0; line-height: 40px; font-size: 24px }
.widget-icon.widget-icon-xlarge { width: 90px; height: 90px; padding: 15px 0; line-height: 60px; font-size: 36px }
.widget-icon.widget-icon-circle { background: transparent; border: 6px solid rgba(255, 255, 255, 0.5) }
.widget-icon.widget-icon-circle-small { background: transparent; border: 2px solid rgba(255, 255, 255, 0.5);padding: 0;line-height: 50px; }
.widget-icon.widget-icon-circle-xsmall { background: transparent; border: 2px solid #69ddff;padding: 0;line-height: 56px; }
.widget-icon.widget-icon-circle:hover,.widget-icon.widget-icon-circle:active { background: rgba(255, 255, 255, 0.1);border: 6px solid rgba(255, 255, 255, 1) }
.widget-icon.widget-icon-circle.widget-icon-dark { border-color: #111; color: #333 }
.widget-icon.widget-icon-circle.widget-icon-dark:hover { background: rgba(0, 0, 0, 0.1) }
.widget-icon.widget-icon-circle.widget-icon-blue {  background-color: #2b599c }
.widget-icon.widget-icon-circle.widget-icon-lblue { background-color: #0969c3 }
.widget-icon.widget-icon-dblue { background-color: #257CA9 }
.widget-icon.widget-icon-yellow { background-color: #dc9e0a }
.widget-icon.widget-icon-white{ background-color: #fff} 
.widget-icon.widget-icon-circle.widget-icon-dyellow { background-color: #d46e00 }

.full-screen{margin: 0;overflow: hidden;width:320px; margin:0 auto;}
.bg_clound{background:url(../img/bg_clound.png) no-repeat bottom;background-size: cover;}
.bg_blueinline{background:url(../img/blueinline.png) no-repeat center;background-size: cover;}
.bg_white{background-color: #fff;}
.bg_blue{background-color: #42bee2;}
.bg_yellow{background-color: #dc9e0a;}
.bg_red{background-color: #a01e28;}

.text-red{color:#a01e28;}
.text-gray{color: #9d9d9d;}
.text-white{color: #fff;}
.text-black{color: #000;}
.text-lblue{color: #69ddff;}

.text-shadow-white{text-shadow:1px 0 0 #fff,-1px 0 0 #fff,0 1px 0 #fff,0 -1px 0 #fff;}

.fixed-bottom{position: fixed; bottom:0; width:100%;}

.border-radius{border-radius:5px }

a.ainwidget{color: rgba(255, 255, 255, 1);}
a.ainwidget:hover,a.ainwidget:active{text-decoration: none;color: #fff;}
a.ainwidget>b{position: relative;left:6px;top:10px;}

.line{position: absolute;border-right:2px #97c0d6 solid; top:0;left:50%; margin-left: -126px}
.pagetitle{margin:20px 0 0 5px; position: relative;z-index: 1}
.pagetitle .ainwidget > b.h3{position: relative;top:2px; }

.con-box{margin: 15px 5px;position: relative;z-index: 1;overflow: hidden}

/*.imgbox{height: 200px;}
.imgbox img{max-height: 200px}*/

.imgbox2{width:60px; height: 60px; line-height: 80px; text-align: center;}
.imgbox2 .fa{font-size: 40px}
.media{margin-top: 5px;}
.media p.msgp{line-height: 40px!important;}

.carousel-indicators li{background-color:#c8c8c8;}
.carousel-indicators .active {background-color: #64ccea;}

.img-responsive{width:100%;height:auto;}

.itemlistbox{}
.itemlistbox ul{display: block;border-top:1px #132c43 solid; list-style: none; position: relative;z-index: 1;margin-top: 20px;padding: 0}
.itemlistbox ul li{border-bottom: 2px rgba(255,255,255,0.7) solid; background-color: rgba(20,95,157,0.3);}
.itemlistbox ul li.active,.itemlistbox ul li:active{background-color: rgba(20,95,157,0.8);}
.itemlistbox .widget-icon-l{margin-left:20px;}
.itemlistbox .itemname{margin-left:15px;position: relative;top:3px}
.itemlistbox .widget-icon-r{margin-right:15px;position: relative;top:15px;}
.itemlistbox .widget-icon-r i{font-size: 22px; position: relative;top:-11px;}
.itemlistbox ul li span.widget-icon-l{margin-top:25px; margin-bottom: 25px;}
.itemlistbox .itemintro{padding:15px; background-color: rgba(255,255,255,0.5); border-top:1px #b4ccde solid;display: none;}
.itemlistbox ul li.active .itemintro{display: block;}

.modal-backdrop{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	opacity: .8;
}
.modal {
	top:20%;
	/*position: absolute;
	top: 32%;
	z-index: 1050;
	width: auto;
	height:auto;*/
	/*-webkit-transform:scale(0);
	-moz-transform:scale(0);  
	-o-transform:scale(0);  
	opacity:0;*/
	background-color: rgba(69,69,69,0.8);
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	font-size: 16px;
	color: #222222;
	overflow: hidden;
	bottom: auto;
	display: none;
	border:1px #616161 solid;
	color: #fff;
	margin: 0 20px;
}
.modal-header{
	border-radius: 6px 6px 0 0;
	height:30px;
	line-height: 30px;
	border-bottom:0 #b8b8b8 solid;
}
.modal-body{
	padding:20px;
}
.close{
	float: right;
	font-size: 16px;
	margin-right: 6px;
	color: #fff;
	opacity: 1;
}
.btn{
	display: block;
	height: 44px;
	line-height: 26px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	margin-top:25px;
	border: 3px #2d2d2d solid;
	font-size: 16px;
	background-color: rgba(255,255,255,0.2);
	width: 100%
}
.btn:hover,.btn:active{
	background-color: rgba(196,0,0,0.4)!important;
	color: #fff!important;
}
.emailinput{
	width: 69%;
	height: 40px;
	border-radius: 3px;
	box-shadow: 0;
	text-indent: 10px;
	line-height: 30px;
	box-shadow: 0 0 0 0 #fff;
	border:1px #d3d3d3 solid;
	color: #666;
	font-size: 14px;
	position: absolute;
	margin: -5px 0 0 8px;
}
.modalline{
	float: right;
	margin-right:20px;
	display: inline-block;
	height:20px;
	border-right: 1px rgba(0,0,68,0.3) solid;
	margin-top:-3px;
}

.padding_10px{padding:10px;}
