<div class="content" ng-init="init()">
    <div class="row-fluid">
        <div class="span4">
            <div class="box">
                <div class="box-header with-border">
                    <i class="fa fa-tasks text-primary"></i>
                    <h3 class="box-title text-primary">事件</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div ng-repeat="info in infoDa" class="list-wrap">
                        <div class="list-t">
                            <span class="fontSize14">{{"对象：" + info.object}}</span>
                            <span class="fontSize11 muted pull-right">&nbsp;&nbsp;{{info.when | showTime}}</span>
                        </div>
                        <div class="list-b" ui-sref="mainManager.event" ng-click="changeBgColor(13);goToEvent()">{{info.operator + ", " + info.event_type + "," + info.status | limitChar:'20'}}</div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>        
        </div>
        <div class="span4">
            <div class="box">
                <div class="box-header with-border">
                    <i class="fa fa-bell text-primary"></i>
                    <h3 class="box-title text-primary">紧急告警</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div ng-repeat="crit in critical" class="list-wrap">
                        <div class="list-t">
                            <span class="fontSize14">{{crit.indexShow}}</span>
                            <span class="fontSize11 muted pull-right">&nbsp;&nbsp;{{crit.when | showTime}}</span>
                            <span ng-show="crit.resolved == 0" class="fontSize11 text-danger">&nbsp;&nbsp;未修复</span>
                            <span ng-show="crit.resolved == 1" class="fontSize11 text-success">&nbsp;&nbsp;已修复</span>
                        </div>
                        <div class="list-b" ui-sref="mainManager.alarm" ng-click="changeBgColor(6);goToAlarm()">{{crit.description | limitChar:'20'}}</div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>        
        </div>
        <div class="span4">
            <div class="box">
                <div class="box-header with-border">
                    <i class="fa fa-bell text-primary"></i>
                    <h3 class="box-title text-primary">重要告警</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div ng-repeat="warn in warning" class="list-wrap">
                        <div class="list-t">
                            <span class="fontSize14">{{warn.indexShow}}</span>
                            <span class="fontSize11 muted pull-right">&nbsp;&nbsp;{{warn.when | showTime}}</span>
                            <span ng-show="warn.resolved == 0" class="fontSize11 text-danger">&nbsp;&nbsp;未修复</span>
                            <span ng-show="warn.resolved == 1" class="fontSize11 text-success">&nbsp;&nbsp;已修复</span>
                        </div>
                        <div class="list-b" ui-sref="mainManager.alarm" ng-click="changeBgColor(12);goToAlarm()">{{warn.description | limitChar:'20'}}</div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>        
        </div>
    </div>
</div>
