<div class="hidden ajax-append-title">刀箱信息</div>
<div style="padding:0 6px;">
	<div class="col-xs-4 mtop15">
	    <div class="panel panel-default">
			<div class="panel-heading" style="padding-bottom:0;">刀箱</div>
			<div class="panel-body" style="height:530px;">
				<img src="modules/visualization/images/daoxiang.jpg" style="display:block;margin:45px auto;" alt="">
				
				<p>刀箱名称：<span>{{ dxOption.name }}</span></p>
				<p>刀箱编号：<span>{{ dxOption.deviceCode }}</span></p>
				<p>刀箱位置：<span>{{ dxOption.beginU }}</span>U</p>
				<p>所占U数：<span>{{ getDxU(dxOption.beginU,dxOption.endU) }}U</span></p>
				<p>所属机柜：<span>{{ dxOption.rackName }}</span></p>
			</div>
		</div>
	</div>
	<div class="col-xs-8 mtop15" style="height:100%;">
		<div class="panel panel-default">
			<div class="panel-heading" style="padding-bottom:0;">刀片服务器</div>
			<div class="panel-body" style="height:530px;">
				<table class="table table-bordered table-hover use3d">
			      <thead>
			        <tr>
			          <th>设备编号</th>
			          <th>序列号</th>
			          <th>设备名称</th>
			          <th>设备IP</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr ng-repeat="device in devicesInblade" ng-click="slideForward(device)">
			        	<td>{{ device.deviceCode }}</td>
			        	<td>{{ device.deviceSn }}</td>
			        	<td>{{ device.name }}</td>
			        	<td>{{ device.ip }}</td>
			        </tr>
			  		<tr ng-if="devicesInblade.length<1">
			  			<td colspan="6" style="color:#666;">暂无数据</td>
			  		</tr>
			      </tbody>
			    </table>
			</div>
		</div>
		
	</div>
</div>