<style type="text/css">
	.vm-feild{position:relative;font-size:14px;margin-bottom:25px;height:20px;}
	.vm-feild:before{content:'';display:block;width:100%;border-bottom:2px dotted #ddd;top:11px;position:relative;}
	.vm-feild label{position:absolute;left:0;text-align:left;background:#fff;}
	.vm-feild span{position:absolute;right:0;text-align:right;background:#fff;}
</style>
<div class="hidden ajax-append-title">虚拟机信息</div>
<div style="padding:0 6px;" ng-controller="visVmCtrl">
    <div class="col-xs-12 mtop15">
   		<div class="panel panel-default">
			<div class="panel-body" style="padding:60px 30px;">
				<div class="col-xs-7">
					<div class="form-group vm-feild">
						<label>虚拟机名称</label>
						<span>{{ vmOption.name }}</span>
					</div>
					<div class="form-group vm-feild">
						<label>所属物理机名称</label>
						<span>{{ vmOption.hostName }}</span>
					</div>
					<div class="form-group vm-feild">
						<label>IP地址</label>
						<span>{{ vmOption.ip }}</span>
					</div>
					<div class="form-group vm-feild">
						<label>OS</label>
						<span>{{ vmOption.osVersion }}</span>
					</div>
					<div class="form-group vm-feild">
						<label>CPU个数</label>
						<span>{{ vmOption.cpu }}</span>
					</div>
					<div class="form-group vm-feild">
						<label>内存</label>
						<span>{{ vmOption.memory }}</span>
					</div>
					<div class="form-group vm-feild">
						<label>存储</label>
						<span>{{ vmOption.disk }}</span>
					</div>
					<div class="form-group vm-feild">
						<label>所属业务系统</label>
						<span>{{ vmOption.projectName }}</span>
					</div>
				</div>
				<div class="col-xs-5">
					<div style="width:100px;margin:60px auto 20px;text-align:center;">
						<div style="width:100px;height:100px;border-radius:50px;background:#39a385 url(assets/image/visualization/3d_vms.png) center center no-repeat;"></div>
					</div>
					<h4 style="word-break:break-word;margin:0 30px;text-align:center;">{{ vmOption.name }}</h4>
					<div style="width:100%;margin:20px auto;text-align:center;">
						<button ng-if="vmOption.isMonitored" ng-disabled="vmOption.isMonitored!='1'" ng-click="gotoMoniter(vmOption.busdomainId,vmOption.projectId,vmOption.id,vmOption.dcId)" class="btn btn-primary"><span ng-if="vmOption.isMonitored=='1'">查看监控信息</span><span title="该虚拟机没有加入监控对象中，无法展示监控信息" ng-if="vmOption.isMonitored!='1'">查看监控信息</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>