/*ios9下字体太粗*/
*{
    font-weight: normal!important;
}

/**card**/
.ks-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}

.ks-facebook-card .card-header {
    display: block;
    padding: 10px;
}
.ks-facebook-card .ks-facebook-avatar {
    float: left;
}
.ks-facebook-card .ks-facebook-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
}
.ks-facebook-card .ks-facebook-date {
    margin-left: 44px;
    font-size: 13px;
    color: #8e8e93;
}
.ks-facebook-card .card-footer {
    background: #fafafa;
}
.ks-facebook-card .card-footer a {
    color: #81848b;
    font-weight: 500;
}
.ks-facebook-card .card-content img {
    display: block;
}
.ks-facebook-card .card-content-inner {
    padding: 15px 10px;
}
/**无尽滚动**/
.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
  display: none;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}        

.pages,.page{
  background-color: #fafafa;
}
.page-content.noTab{padding-top:0!important;}
.card{margin:0;margin-top:10px;box-shadow:none;border-bottom:1px solid #e0e0e0;}
.cart-content-block{display:block;font-size:14px;line-height:22px;}
.cart-content-block strong{font-size:14px;font-weight:bold!important;line-height:30px;}
.cart-inner-panel strong{font-size:12px;line-height:1;}

.icon-domain{width:60px;height:60px;background:url(../img/icon/business/domain.png);}
.icon-pool{width:60px;height:60px;background:url(../img/icon/pool/pool.png);}
.icon-host{width:60px;height:60px;background:url(../img/icon/host/host.png);}
.icon-storage{width:60px;height:60px;background:url(../img/icon/storage/storage.png);}
.icon-vm{width:60px;height:60px;background:url(../img/icon/vm/vm.png);}

.btn-green,.btn-warning,.btn-danger,.btn-poweroff{border-radius: 3px;height:20px;display:inline-block;padding:4px 10px;line-height:10px;}
.btn-green{background-color:#39a385;border-color:#39a385;color:#fff;}
.btn-warning{background-color:#fbb254;border-color:#fbb254;color:#fff;}
.btn-danger{background-color:#e5605f;border-color:#e5605f;color:#fff;}
.btn-poweroff{background-color:#9a9a9a;border-color:#9a9a9a;color:#fff;}

.row-sm .col-33{width: -webkit-calc((100% - 5px*2)/ 3);width: calc((100% - 5px*2)/ 3);}
.p-lr-15{padding-left:15px;padding-right:15px;}
.p-b-10{padding-bottom:10px;}
.cart-inner-panel{padding:5px;border:1px solid #e0e0e0;border-radius:2px;}


.navbar-fixed .page>.searchbar.hide{top:-44px;}
.searchbar{
  -moz-transition: top 0.5s ease-out;
  -webkit-transition: top 0.5s ease-out;
  -o-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
}

.panel .page-on-left{opacity: 0;}
.panel .page-on-center{opacity: 1;}
