a{color:#fff;}
/**页面底部留白**/
.page.page-grouped{
    padding-bottom: 0px;
}
/*page->page*/
.page .page{
    padding-bottom: 0px;
}
/**subnavbar和searchbar**/
.page>.searchbar~.page-content.with-subnavbar{
    padding-top: 132px;
}
.page>.searchbar.with-subnavbar{
    top: 87px;
}
.toolbar-through .page-content{
    padding-bottom: 0px!important;
}
/**触摸滚动问题**/
@media (max-width: 640px) {
    .page-content {
        margin-bottom:1px;
    }
    .page {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}
/*navbar*/
.navbar{
    background:#212d46;color:#fff;
}
.navbar:after{background:#212d46;}
i.icon.icon-bars{width:16px;height:16px;background-image: url(../img/icon/toolbar/bars.png);}
i.icon.icon-search{width:25px;height:23px;background-image: url(../img/icon/search.png);}
/*popover*/
.popover{min-width:100px;width:auto;}
.popover .list-block.contacts-block.content-block{padding:0;}
.popover .list-block.contacts-block .item-content{padding:0;}
.popover .list-block.contacts-block .item-inner{padding-left:15px;}
.popover a{color:#333;}
/**搜索框**/
.searchbar {
    background: #efeff4;
    border-bottom: 0px;
}
.searchbar .searchbar-cancel {
    color: #777777;
}
.searchbar:after{
    height: 0px;
}
.layout-white .searchbar {
    background: #efeff4;
    border-bottom: 0px;
}
.layout-white .searchbar .searchbar-cancel {
    color: #777777;
}
.layout-white .searchbar:after{
    height: 0px;
}
/**主题颜色状态栏**/
.layout-gray .statusbar-overlay{
    background: #f7f7f8;
}
.layout-white .statusbar-overlay{
    background: #ffffff;
}
.layout-dark .statusbar-overlay{
    background: #f7f7f8;/*#131313;*/
}
/**page背景颜色**/
.page.page-grouped{
    background: #efeff4;
}
.page{
    background-color: #ffffff;
}
.layout-gray .page.page-grouped{
    background-color: #efeff4;
}
.layout-gray .page{
    background-color: #ffffff;
}
.layout-white .page.page-grouped{
    background-color: #ffffff;
}
.layout-white .page{
    background-color: #ffffff;
}
.layout-dark .page.page-grouped{
    background-color: #222426;
}
.layout-dark .page{
    background-color: #222426;
}
/**ColorThemesVC**/
.ks-layout-theme {
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.ks-layout-theme.ks-layout-default {
    background: #efeff4;
}
.ks-layout-theme.ks-layout-dark {
    background: #222426;
}
.ks-layout-theme.ks-layout-white {
    background: #fff;
}
.ks-color-theme {
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 10px;
}

strong{font-weight:bold!important;}
/*list style*/
.list-block,.content-block{margin: 15px 0;}
.content-block.padding30{padding:15px 30px;}
.list-block .item-link .item-inner.card-content-inner{background-size: 20px 30px;}
.item-inner.card-content-inner:after{height:0;}
.list-block .item-media{position:relative;}

/*progress mini*/
.col-33,.col-50{white-space:nowrap;}
.progress-mini{font-size:12px;}
.progress-mini span.left{display:inline-block;float:left;width:50%;white-space:nowrap;}
.progress-mini span.right{text-align:right;display:inline-block;float:right;width:50%;white-space:nowrap;}