<style type="text/css">
    body {
        background: #253143 url(/sdsomweb/images/login/pic_map.png) no-repeat center 0px scroll;
    }
</style>
<div id="loginContainer" class="div-relative">
    <div class="div-pic"></div>
    <div class="div-title"></div>
    <div class="div-form">
        <div class="div-login">
            <form class="form-horizontal">
                <div class="control-group">
                    <div class="controls">
                        <label style="color:red;">{{errMsg || "&nbsp;"}}</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label fontSize14" for="inputEmail">用户名</label>
                    <div class="controls">
                        <input type="text" id="inputEmail" ng-model="userName">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label fontSize14" for="inputPassword">密码</label>
                    <div class="controls">
                        <input type="password" ng-model="passWord">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button ng-click="login()" class="pure-button pure-button-primary fontSize14"
                            style="width: 220px;">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    //让背景自适应屏幕大小
    $("#loginContainer").height($(window).height());
    $("#loginContainer").width($(window).width());
    //窗口大小变化时
    window.onresize = function(){
        $("#loginContainer").height($(window).height());
        $("#loginContainer").width($(window).width());
    }
</script>

