<style type="text/css">
    body{background: #191d20 url(images/login/loginbg.jpg) no-repeat center !important; min-width: 1024px;}
</style>
<div id="loginContainer">
    <div class="login-form">
        <div class="login-title"></div>
        <div class="login-wrap">
            <form>
                <div class="text-danger">{{errMsg || "&nbsp;"}}</div>
                <label class="fontSize14">用户名</label>
                <input type="text" class="form-control" ng-model="userName" style="width: 200px">
                <label class="fontSize14">密码</label>
                <input type="password" class="form-control" ng-model="passWord" style="width: 200px">
                <button ng-click="login()" class="btn btn-primary btn-flat" style="width: 224px; margin-top:20px">登录</button>
            </form>
        </div>
    </div>
    <p class="copyright">版权所有 2016 航天云宏技术有限公司</p>
</div>


