<div role="bar"></div>
<div class="vs-success" id="succNoticeMsg" ng-bind="succNoticeMsg"></div>
<div class="vs-failure" id="failNoticeMsg" ng-bind="failNoticeMsg"></div>
<!-- 头部 -->
<div class="clearfix header" ng-init="init()">
    <div class="header-logo">
        <img src="images/main/pic_logo.png" style="height: 50px;">
    </div>
    <div class="header-content">
        <div class="row-fluid">
            <div class="span4 info1">
                {{emergencyModeString}}
            </div>
            <div class="span3 info2" id="licenseInfo">
                {{licenseInfo}}
            </div>
            <div class="span5 quick-link">
                <div class="clearfix">
                    <div class="setting-item">
                        <div class="item dropdown">
                            <a id="drop1" class="dropdown-toggle" data-toggle="dropdown" ng-click="showSetUp()">
                                <img src="images/main/btn_set.png" style="width:24px;">
                                <img src="images/main/btn_down.png">
                            </a>
                            <ul class="dropdown-menu top-arrow" aria-labelledby="drop1" style="left:-125px">
                                <li>
                                        <a ng-show="systemMode.isNormal" ng-click=opmodeSet('enter')>
                                        进入维护模式
                                        </a>
                                        <a ng-show="!systemMode.isNormal" ng-click="opmodeSet('exit')">
                                        退出维护模式
                                        </a>
                                </li>
                                <li>
                                    <a ng-click="showNtpSet()" data-toggle="modal">
                                        时间服务器设置
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="getRebalance()" data-toggle="modal">
                                        rebalance时间配置
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="showDiskReplceSet()" data-toggle="modal">
                                        磁盘替换模式
                                    </a>
                                <li>
                                    <a ng-click="licenseQuery_licenseBoxShow('Alarm')" data-toggle="modal">
                                        产品授权信息
                                    </a>
                                </li>
                                <!-- <li><a ng-click="showEmailPeopleSet()" data-toggle="modal">告警Email联系人管理</a></li>
                                <li><a ng-click="showEmailServerSet()" data-toggle="modal">告警Email服务管理</a></li>
                                <li><a ng-click="showSmipSet()" data-toggle="modal">设置SMTP</a></li>
                                -->
                            </ul>
                        </div>
                        <div class="item dropdown">
                            <a id="drop2" class="dropdown-toggle" data-toggle="dropdown" ng-click="showSetUp()">
                                <span class="username">{{uName}}</span>
                                <img src="images/main/head.png" style="width:24px;">
                                <img src="images/main/btn_down.png">
                            </a>
                            <ul class="dropdown-menu top-arrow" aria-labelledby="drop2" style="left:-60px;">
                                <li>
                                    <a ng-click="showLogout()" data-toggle="modal">
                                        注销
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="showChangePassword()" data-toggle="modal">
                                        修改密码
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="showAbout()" data-toggle="modal">
                                        关于
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="alarm-wrap">
                        <div ui-sref="mainManager.alarm" ng-click="changeBgColor(12);goToAlarm()" class="alarmstyle">
                            <i class="fa fa-warning fa-lg"></i>
                            <span class="label label-important">{{confirm.critical}}</span>
                        </div>
                        <div ui-sref="mainManager.alarm" ng-click="changeBgColor(12);goToAlarm()" class="alarmstyle">
                            <i class="fa fa-warning fa-lg"></i>
                            <span class="label label-warning">{{confirm.warning}}</span>
                        </div>
                        <div ui-sref="mainManager.event" ng-click="changeBgColor(13);goToEvent()" class="alarmstyle">
                            <i class="fa fa-tasks fa-lg"></i>
                            <span class="label">{{confirm.info}}</span>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 主体 -->
<div id="rolin" class="clearfix">
    <!-- 菜单 -->
    <div id="leftPlan" class="menu-wrap">
        <div ui-sref="mainManager.mainPage" ng-class="backGroundColor1" ng-click="changeBgColor(1)" class="menu-item">
            <img src="images/main/pic_home_left.png" style="height:20px">
            <span>
                首页
            </span>
        </div>
        <div ui-sref="mainManager.storageManage" ng-class="backGroundColor2" ng-click="showStorageManage(); changeBgColor(2)" class="menu-item">
            
            <img src="images/main/pic_storage_left.png" style="height:20px">
            <span>
                存储管理
            </span>
            <span class="menu-arr">
                <img src="images/main/btn_down.png" style="height:5px">
            </span>
        </div>
        <div ng-show="storageManageShow" ng-class="backGroundColor9" ng-click="changeBgColor(9)" ui-sref="mainManager.storagePool" class="menu-item sub">
            
            <img src="images/main/pic_groud_left_default.png" style="height:18px">
            <span>
                存储池管理
            </span>
        </div>
        <div ng-show="storageManageShow" ng-class="backGroundColor10" ng-click="changeBgColor(10)" ui-sref="mainManager.storageLun" class="menu-item sub">
            
            <img src="images/main/pic_groud_left_default.png" style="height:18px">
            <span>
                LUN管理
            </span>
        </div>
        <div ui-sref="" ng-class="backGroundColor19" ng-click="showCnwareManage(); changeBgColor(19)" class="menu-item">
            
            <img src="images/main/pic_storage_left.png" style="height:20px">
            <span>
                集成CNware
            </span>
            <span class="menu-arr">
                <img src="images/main/btn_down.png" style="height:5px">
            </span>
        </div>
        <div ng-show="cnwareShow" ng-class="backGroundColor20" ng-click="changeBgColor(20)" ui-sref="" class="menu-item sub">
            
            <img src="images/main/pic_groud_left_default.png" style="height:18px">
            <span>
                存储池
            </span>
        </div>
        <div ng-show="cnwareShow" ng-class="backGroundColor21" ng-click="changeBgColor(21)" ui-sref="" class="menu-item sub">
            
            <img src="images/main/pic_groud_left_default.png" style="height:18px">
            <span>
                虚拟磁盘
            </span>
        </div>
        <div ui-sref="mainManager.nodeManager" ng-class="backGroundColor4" ng-click="showNodeManage();changeBgColor(4)" class="menu-item">
            
            <img src="images/main/pic_hardware_left.png" style="height:20px">
            <span>
                硬件管理
            </span>
            <span class="menu-arr">
                <img src="images/main/btn_down.png" style="height:5px">
            </span>
        </div>
        <div ng-show="nodeManageShow" ng-class="backGroundColor16" ng-click="changeBgColor(16)"
        ui-sref="mainManager.ipManager" class="menu-item sub">
            
            <img src="images/main/pic_groud_left_default.png" style="height:18px">
            <span>
                服务器管理
            </span>
        </div>
        <div ng-show="nodeManageShow" ng-class="backGroundColor17" ng-click="changeBgColor(17)"
        ui-sref="mainManager.ipManager" class="menu-item sub">
            
            <img src="images/main/pic_groud_left_default.png" style="height:18px">
            <span>
                硬盘管理
            </span>
        </div>
        <div ng-show="nodeManageShow" ng-class="backGroundColor8" ng-click="changeBgColor(8)"
        ui-sref="mainManager.ipManager" class="menu-item sub">
            
            <img src="images/main/pic_groud_left_default.png" style="height:18px">
            <span>
                IP地址管理
            </span>
        </div>
        <div ng-show="nodeManageShow" ng-class="backGroundColor7" ng-click="changeBgColor(7)"
        ui-sref="mainManager.nodeAdd" class="menu-item sub">
            
            <img src="images/main/pic_groud_left_default.png" style="height:18px">
            <span>
                节点扩容
            </span>
        </div>
        <div ui-sref="" ng-class="backGroundColor15" ng-click="changeBgColor(15)" class="menu-item">
            
            <img src="images/main/pic_hardware_left.png" style="height:20px">
            <span>
                Ceph文件系统
            </span>
        </div>
        <div ui-sref="mainManager.nodeView" ng-class="backGroundColor11" ng-click="changeBgColor(11)" class="menu-item">
            
            <img src="images/main/pic_hardware_left.png" style="height:20px">
            <span>
                监控管理
            </span>
        </div>
        <div ui-sref="mainManager.alarm" ng-class="backGroundColor6" ng-click="showMainManage();changeBgColor(6)" class="menu-item">
            
            <img src="images/main/pic_alarm_left.png" style="height:20px">
            <span>
                系统管理
            </span>
            <span class="menu-arr">
                <img src="images/main/btn_down.png" style="height:5px">
            </span>            
        </div>
        <div ng-show="mainManageShow" ng-class="backGroundColor12" ng-click="changeBgColor(12)" ui-sref="mainManager.alarm" class="menu-item sub">
            
            <img src="images/main/pic_groud_left_default.png" style="height:18px">
            <span>
                告警
            </span>
        </div>
        <div ng-show="mainManageShow" ng-class="backGroundColor13" ng-click="changeBgColor(13)" ui-sref="mainManager.event" class="menu-item sub">
            
            <img src="images/main/pic_groud_left_default.png" style="height:18px">
            <span>
                事件
            </span>
        </div>
        <div ng-show="mainManageShow" ng-class="backGroundColor14" ng-click="changeBgColor(14)" ui-sref="mainManager.log" class="menu-item sub">
            
            <img src="images/main/pic_groud_left_default.png" style="height:18px">
            <span>
                日志收集
            </span>
        </div>
        <div ng-show="mainManageShow" ng-class="backGroundColor18" ng-click="changeBgColor(18)" ui-sref="mainManager.log" class="menu-item sub">
            
            <img src="images/main/pic_groud_left_default.png" style="height:18px">
            <span>
                用户管理
            </span>
        </div>
    </div>
    <!-- 内容 -->
    <div id="mainPlan" class="main-wrap">
        <div ui-view="top_view">
        </div>
        <div ui-view="bot_view">
        </div>
    </div>
</div>

<!--设置NTP Server-->
<div id="dNtpSet" class="modal hide fade" style="background-color: #4f97dc;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel" style="color:#fff;padding-top:20px;">
            时间服务器设置
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;padding:20px 50px;color:#97acc1;">
        <!--p>NTP Server</p>-->
        <label>
            NTP Server
        </label>
        <div class="row-fluid">
            <div class="span6">
                <input type="text" ng-model="serverName">
            </div>
            <div class="span6">
                <button type="button" class="btn btn-primary" ng-click="addServer()" href="#mainSet"
                data-toggle="button" ng-disabled="!systemMode.isNormal || isAdd">
                    + 添加时间服务器
                </button>
            </div>
        </div>
        <br/>
        <div style="width:100%;line-height:10px;">
            与以下服务器进行时间同步
            <br/>
            <img src="images/configure/pic_line.png" />
            <div ng-repeat="server in serverList" style="margin:10px 0;border:1px dotted #e14a07;height:25px;line-height:25px;padding:1px 10px;width:60%;color:#e14a07;">
                <span>
                    {{server.servername}}
                </span>
                <span style="float:right;color:#e14a07;cursor:pointer;" ng-click="showModal('deleteNtp', server)">
                    ×
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="hideDelDiv()">
            取消
        </button>
    </div>
</div>

<div id="deleteNtp" class="modal hide fade" style="background-color: #4f97dc;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel" style="color:#fff;padding-top:20px;">
            删除?
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;padding:20px 50px;color:#97acc1;">
        <p>
            确定要删除此时间服务器
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!systemMode.isNormal" ng-click="delServer('deleteNtp')">
            确定
        </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            取消
        </button>
    </div>
</div>

<div id="AlertInfo" class="modal hide fade" style="background-color: #4f97dc;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel" style="color:#fff;padding-top:20px;">
            确定
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;padding:20px 50px;color:#97acc1;">
        <p ng-bind="DialogInfo" style="color:#1d1007">
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            确定
        </button>
    </div>
</div>
<!--告警Email联系人-->
<div id="dEmailPeopleSet" class="modal hide fade" style="background-color: #4f97dc;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabelE" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabelE" style="color:#fff;padding-top:20px;">
            告警Email 联系人
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;padding:20px 50px;color:#97acc1;">
        <form>
            <label>
                Email
            </label>
            <div class="input-append">
                <input type="text" ng-model="sysEmail" placeholder="请输入邮件地址" />
                <button class="btn btn-primary" ng-click="addSysEmail(sysEmail)">
                    + 新增联系人
                </button>
            </div>
        </form>
        <div style="height:30px;width:100%;line-height:10px;">
            Email 联系人
            <br/>
            <img src="images/storage/pic_line3.png" style="height:1px;width:100%;">
        </div>
        <div ng-repeat="email in emailList" style="margin:10px 0;border:1px dotted #e14a07;height:25px;line-height:25px;padding:1px 10px;width:60%;color:#e14a07;">
            <span>
                {{email.email}}
            </span>
            <span style="float:right;color:#e14a07;cursor:pointer;" ng-click="deleteSysEmail(email)">
                ×
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button class="btn btn-success">确定</button> -->
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            关闭
        </button>
    </div>
</div>
<!--告警Email服务管理-->
<div id="dEmailServerSet" class="modal hide fade" style="background-color: #4f97dc;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabelS" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabelS" style="color:#fff;padding-top:20px;">
            告警Email服务管理
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;padding:20px 50px;color:#97acc1;">
        <form>
            <label class="radio" style="color:#4f97dc;">
                <input type="radio" name="capacityRadio" value="1" ng-model="esEnabled">
                启用
            </label>
            <label class="radio" style="color:#4f97dc;">
                <input type="radio" name="capacityRadio" value="0" ng-model="esEnabled">
                禁用
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="enableEs()">
            确定
        </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            取消
        </button>
    </div>
</div>
<!-- 关于 -->
<div id="about" class="modal hide fade" style="background-color: #4f97dc;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabelA" aria-hidden="true">
    <div class="modal-header" style="font-size:13px;border-bottom:1px solid #4f97dc;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabelS" style="color:#fff;padding-top:15px;">
            关于我们
        </h3>
    </div>
    <div>
        <img src="images/main/pic_about.png" width="100%" />
    </div>
    <div class="modal-body" style="background-color:#fff;padding:20px 50px;line-height:25px;">
        ﻿云宏分布式存储系统 V3.0
        <br>
        航天云宏技术有限公司 版权所有
        </br>
        Copyright&copy; 2015-2016 WinStone
. All Rights Reserved.
        </br>
        联系电话： 0851-6857068
        </br>
        联系邮箱：
        <a href="mailto:marketing@winhong.com
">
            marketing@winhong.com
        </a>
        </br>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">
            确定
        </button>
    </div>
</div>
<!-- 修改密码 -->
<div id="changePassword" class="modal hide fade" style="background-color: #4f97dc;width:380px;left: 60%;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabelCP" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabelS" style="color:#fff;padding-top:20px;">
            修改密码
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;padding:20px 50px;color:#97acc1;">
        <p>
            原始密码
        </p>
        <div class="dropdown">
            <input type="password" ng-model="oldPassword" placeholder="原始密码">
        </div>
        <p>
            新密码
        </p>
        <div class="dropdown">
            <input type="password" ng-model="newPassword" placeholder="新密码">
        </div>
        <p>
            再次输入
        </p>
        <div class="dropdown">
            <input type="password" ng-model="newPassword2" placeholder="重新输入">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-disabled="!systemMode.isNormal" ng-click="changePD()">
            确定
        </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            取消
        </button>
    </div>
</div>
<!--退出-->
<div id="logout" class="modal hide fade" style="background-color: #4f97dc;width:380px;left: 60%;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel" style="color:#fff;padding-top:20px;">
            注销
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;">
        <p>
            你确定要注销当前用户吗？
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="logout()">
            确定
        </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            取消
        </button>
    </div>
</div>

<div id="license_register_alarm" class="modal hide fade" style="background-color: #4f97dc;width:380px;left: 60%;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel" style="color:#fff;padding-top:20px;">
            重要提示
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;">
        <p>
            部分服务器节点未授权，为保证您的服务正常使用，请尽快注册License。
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="showLicense_tip()">
            确定
        </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            关闭
        </button>
    </div>
</div>

<!--设置SMTP-->
<div id="dSmtpSet" class="modal hide fade" style="background-color: #4f97dc;width:380px;left: 60%;position: absolute;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel" style="color:#fff;padding-top:20px;">
            设置SMTP
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;padding:20px 50px;color:#97acc1;">
        <p>
            地址(FQDN或者IP)
        </p>
        <div class="dropdown">
            <input type="text" ng-model="smtp.address">
        </div>
        <p>
            端口
        </p>
        <div class="dropdown">
            <input type="text" ng-model="smtp.port">
        </div>
        <p>
            安全模式
        </p>
        <div class="dropdown">
            <select class="dropdown-toggle" ng-model="smtp.secureMode">
                <option value="NONE">
                    NONE
                </option>
                <option value="TLS">
                    TLS
                </option>
            </select>
        </div>
        <p>
            用户
        </p>
        <div class="dropdown">
            <input type="text" ng-model="smtp.user">
        </div>
        <p>
            密码
        </p>
        <div class="dropdown">
            <input type="password" ng-model="smtp.password">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="addSmtp()">
            确定
        </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            取消
        </button>
    </div>
</div>


<!--授权信息管理-->
<div id="license" class="modal hide fade" style="background-color: #4f97dc;width:680px;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" ng-click="closeLicenseBoxCheck()">
            ×
        </button>
        <h3 id="myModalLabel" style="color:#fff;padding-top:20px;">
            产品授权信息
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;">
        <div style="width: 100%;max-height: 300px;overflow-y: auto;">
            <table class="table table-bordered" style="border: 2px #98CDFF solid">
                <tr style="background-color: #D6E8FA;">
                    <td style="width: 20%;">
                        服务器节点
                    </td>
                    <td style="width: 15%;">
                        IP地址
                    </td>
                    <td style="width: 10%;">
                        许可证
                    </td>
                    <td style="width: 20%;">
                        剩余时间
                    </td>
                    <td style="width: 15%;">
                        授权容量
                    </td>
                    <td style="width: 15%;">
                        使用容量
                    </td>
                </tr>
                <tr ng-repeat="l in licenseList">
                    <td style="width: 20%;cursor: pointer;" ng-click="showLicenseDetail(l)"
                    class="font-hover">
                        {{l.hostid}}
                    </td>
                    <td style="width: 15%;cursor: pointer;" ng-click="showLicenseDetail(l)"
                    class="font-hover">
                        {{l.ip}}
                    </td>
                    <td style="width: 10%; cursor: pointer;" ng-click="showLicenseDetail(l)"
                    class="font-hover" ng-bind-html="l.expiredtime | licenseFormat:l.license">
                    </td>
                    <td style="width: 20%; cursor: pointer;" ng-click="showLicenseDetail(l)"
                    class="font-hover" ng-bind-html="l.expiredtime | licenseFormatTime:l.license">
                    </td>
                    <td style="width: 15%; cursor: pointer;vertical-align: middle;"  rowspan="{{licenseList.length}}" ng-show="$index==0"
                    class="font-hover center">
                    {{authorized_capacity}}
                    </td>
                    <td style="width: 15%; cursor: pointer;vertical-align: middle;"  rowspan="{{licenseList.length}}" ng-show="$index==0"
                    class="font-hover center">
                    {{used_capacity}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" ng-click="closeLicenseBoxCheck()">
            关闭
        </button>
    </div>
</div>

<!--授权详细信息-->
<div id="licenseDetail" class="modal hide fade" style="background-color: #4f97dc;width:520px;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel" style="color:#fff;padding-top:20px;">
            授权详情
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;">
        <div class="row-fluid">
            <div class="row-fluid" style="margin: 10px 0px;">
                <div class="span11 offset1">
                    <label style="font-weight: bolder;">
                        节点名称：
                    </label>
                    {{licenseDetail.hostid}}
                </div>
            </div>
            <div class="row-fluid" style="margin: 10px 0px;">
                <div class="span11 offset1">
                    <label style="font-weight: bolder;">
                        机器识别码：
                    </label>
                    {{licenseDetail.machineid}}
                </div>
            </div>
            <div class="row-fluid" style="margin: 10px 0px;">
                <div class="span11 offset1">
                    <label style="font-weight: bolder;">
                        授权码：
                    </label>
                    <input type="text" ng-model="newLicense" style="width: 90%;" />
                    <div style="color: #ff0000;">
                        {{licenseErrorMsg}}
                    </div>
                </div>
            </div>
            <div class="row-fluid" style="margin: 10px 0px;">
                <div class="span11 offset1">
                    <label style="font-weight: bolder;">
                        授权详情：
                    </label>
                    离许可证失效还有：{{expiredtime_str}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="updateLicense()" ng-disabled="isAdd">
            确定
        </button>
        <button class="btn" ng-click="closeLicenseDetail()" ng-disabled="isAdd">
            关闭
        </button>
    </div>
</div>

<div id="diskReplaceMode" class="modal hide fade" style="background-color: #4f97dc;width:480px;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel" style="color:#fff;padding-top:20px;">
            磁盘替换模式
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;">
        <div>
            </br>
            <label class="span2" >
                磁盘替换模式
            </label>
            <input type="radio" value="auto" ng-model="disk.replaceMode"
            style="margin-left:10px;" ng-checked="disk.replaceModeSet=='auto'" />
                <a title="当系统发现有磁盘被拔出并且有新的磁盘插入时，会自动使用新盘替换" style="color:black;">
                    自动
                </a>
            </input>
            <input type="radio" value="manual" ng-model="disk.replaceMode"
            style="margin-left:10px;" ng-checked="disk.replaceModeSet!='auto'" />
                <a title="由管理员手动选择用于替换的磁盘和被替换的磁盘" style="color:black;">
                    手动
                </a>
            </input>
            </br>
            </br>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!systemMode.isNormal" ng-click="updateDiskReplaceMode()">
            确定
        </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            关闭
        </button>
    </div>
</div>
<div id="RBSet" class="modal hide fade" style="background-color: #4f97dc;width:480px;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header" style="font-size:15px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="rebalance_disabled_reset()">
            ×
        </button>
        <h3 id="myModalLabel" style="color:#fff;padding-top:20px;">
            配置rebalance时间
        </h3>
    </div>
    <div class="modal-body" style="background-color:#fff;">
        <div style="margin-left: 10px;">
            <label class="controls">
                <label style="font-weight: bold;line-height: 30px;margin-top: 10px;">rebalance时间配置</label>
            </label>
            <div class="controls">
                <input type="text" placeholder="请输入数字" id="rebalanceTimeNow" ng-model="rebalanceTimeNow" ng-disabled="!rebalance_disabled"/>
                <select class="span1" style="width:70px" id="rebalanceTimeOption" ng-model="rebalanceTimeOption" ng-disabled="!rebalance_disabled">
                    <option value="0">天</option>
                    <option value="1">小时</option>
                    <option value="2">分钟</option>
                </select>
                <a class="btn btn-small" ng-click="rebalance_setting()" style="margin-top: -10px;"><i class="icon-cog"></i>Settings</a>
            </div>
            </br>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!systemMode.isNormal" ng-click="updateRebalance()">
            确定
        </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="rebalance_disabled_reset()">
            关闭
        </button>
    </div>
</div>
