body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: microsoft YaHei;}
.block .user .info .informer {
	font-size:12px;
}
.user [class^='col-xs-'], .user [class^='col-sm-'], .user [class^='col-md-'], .user [class^='col-lg-']{
 padding-left:0;
 padding-right:0;
}
.user .form-row{line-height: 1.42857;}
.label{font-size: 100%;}
.list-contacts .list-item .list-datetime{ float: left; padding: 8px 10px 8px 10px }
.list-contacts .list-item .list-datetime { width: 100px }
.list-contacts .list-item .list-datetime .date { font-size: 14px; color: #fff; text-align: center; font-weight: 300 }
.list-contacts .list-item .list-text .list-text-name{font-weight: 700;}
.list .list-item .list-text .inline{margin-right: 20px; display: block; float: left;}
.list .list-item .list-text .inline strong{color: #41A6FF;}
.list-default .list-item{overflow: hidden;}
.list-default .list-item .list-text img{margin:0 20px 0 0;}
.list-item .mCSB_container{padding: 0;}
.userinfo [class^="col-xs-"],.userinfo [class^="col-sm-"],.userinfo [class^="col-md-"],.userinfo [class^="col-lg-"]{padding: 0 5px; line-height: 1.3;}
.block .head-panel .hp-info.hp-inline{margin: 0 0 15px;}
.block .head-panel .hp-info.hp-inline .hp-main strong{color: #41A6FF;}
.user .form-row{word-wrap:break-word;}
.user .title{margin:0 0 20px;text-align: center; font-size: 20px; text-shadow:2px 2px 2px #ccc;}
.ulstyle1{padding-left: 0;}
.ulstyle1 li{margin-bottom: 10px; list-style: none;}
.email-list .email-list-item .item-line .item-line-box{ line-height: 1.42857; width: 50px; text-align: left;}
.email-list .email-list-item .item-line .s1{color: #FFA91F;}
.email-list .email-list-item .item-line .s2{color: #41A6FF;}
.fbtnbig .btn{font-size: 16px;}
.overflowhidden{overflow: hidden;}
.list-group .list-group-item.list-active{background: rgba(0, 0, 0, 0.1); color: #FFF}
div.checker, div.radio{margin-left:0;}
.email-list .email-list-item .item-line .item-line-date{margin-left: 10px;}
.email-list .email-list-item.list-active { background: rgba(255, 169, 31, 0.2);}
.ficonbigcolor1 [class^="icon-"]{font-size: 24px; vertical-align: middle;}
.block .user .info .informer.informer-one{font-size: 14px;}
.user .progress.progress-small{margin:5px 0; }
.block .head-panel .hp-info .hp-sm{font-size: 12px; font-weight: 700;}
.block .content.gallery-list .gallery-item{width: 212px;}
.gallery-item .gallery-controls{width: 194px; height: 121px;}
.gallery-item .gallery-content a:hover{text-decoration: underline;}
.gallery-item .gallery-image img{width: 200px; height: 127px;}
.block .user .info2{width: auto;}
.img-user{width: 90px; height: 90px;}
.img-app{width: 200px; height: 127px;}
.well{padding: 5px 10px;}
.pagination .linpt{padding-left: 5px;}
.pagination .linpt input{width: 40px; margin: 0 5px; display: inline;}
/**/
.file-type,[class^="file-type-"],[class*=" file-type-"] {

	display:inline-block;

	width:40px;

	height:40px;

	*margin-right:.3em;

	line-height:14px;

	vertical-align:middle;

	background-image:url('../img/file-type-small.png');

	background-position:left top;

	background-repeat:no-repeat;

}

.file-type-bmp{

	background-position:-40px top

}

.file-type-jpeg {

	background-position:-80px top

}

.file-type-jpg {

	background-position:-80px top

}

.file-type-gif {

	background-position:-160px top

}

.file-type-png {

	background-position:left -40px

}

.file-type-doc,

.file-type-docx{

	background-position:-40px -40px

}

.file-type-ppt,

.file-type-pptx{

	background-position:-80px -40px

}

.file-type-xls,

.file-type-xlsx{

	background-position:-120px -40px

}

.file-type-xls {

	background-position:-120px -40px

}

.file-type-rtf, 

.file-type-xml, 

.file-type-sql, 

.file-type-log, 

.file-type-ini,

.file-type-txt,

.file-type-rtf, 

.file-type-xml, 

.file-type-sql, 

.file-type-log, 

.file-type-ini,

.file-type-txt

{

	background-position:-160px -40px

}

.file-type-pdf {

	background-position:left -80px

}

.file-type-exe {

	background-position:-40px -80px

}

.file-type-iso {

	background-position:-80px -80px

}

.file-type-msl {

	background-position:-120px -80px

}

.file-type-zip {

	background-position:-160px -80px

}

.file-type-rar,

.file-type-tar,

.file-type-gz,

.file-type-uue,

.file-type-bz2,

.file-type-jar,

.file-type-rar,

.file-type-tar,

.file-type-gz,

.file-type-uue,

.file-type-bz2,

.file-type-jar

{

	background-position:left -120px

}

.file-type-swf,

.file-type-flv,

.file-type-f4v,

.file-type-hlv,

.file-type-swf,

.file-type-flv,

.file-type-f4v,

.file-type-hlv{

	background-position:-40px -120px

}

.file-type-ipa {

	background-position:-80px -120px

}

.file-type-apk {

	background-position:-120px -120px

}

.file-type-music,

.file-type-mp3,

.file-type-ac3,

.file-type-music,

.file-type-wma,

.file-type-mid,

.file-type-music,

.file-type-mp3,

.file-type-ac3,

.file-type-music,

.file-type-wma,

.file-type-mid{

	background-position:-160px -120px

}

.file-type-movie,

.file-type-avi,

.file-type-3gp,

.file-type-mpeg4,

.file-type-mp4,

.file-type-movie, 

.file-type-avi,

.file-type-3gp,

.file-type-mpeg4,

.file-type-mp4{

	background-position:left -160px

}

.file-type-multiple {

	background-position:-40px -160px

}

.file-type-fail {

	background-position:-80px -160px

}

.file-type-folder {

	background-position:-120px -160px

}


/*后台用户列表*/
.users{width: 100%;}
.block .head{position: relative; overflow: hidden;}
.block .head-panel-controls { position: absolute; right: -100%; top: 0; padding: 5px 10px; transition: 200ms; }
.block .head:hover .head-panel-controls { transition: 200ms; right: 0 }
.block .head .head-panel-footer{float: left; width: 100%; padding: 10px; line-height: 20px; background: rgba(0, 0, 0, 0.1)}
.block .head .head-panel-footer[class^='icon-'] { font-size: 14px }
.block .head .head-panel-footer .list-item{margin: 5px 0; height: 40px; }
@media (max-width:991px){.block .head .head-panel-footer .list-item{height: auto; }}/*手机端去掉滚动*/
.block .head .head-panel-footer .pull-left{padding-right:10px;}
.block .head .head-panel-footer .pull-left span.label{width:120px; display: inline-block; text-align: left;}
.block .head .head-panel-footer a{color: #999;}
.block .head .head-panel-footer a:hover{text-decoration: underline; color: #fff;}
/*手机端字体设置16px*/
@media (max-width:768px) {
body{font-size:14px;}
.form-control{font-size:14px;}
.btn{font-size:14px;}
.block .header h2, .block .head h2{font-size:14px;}
.block .head-panel .hp-info.hp-simple .hp-main{font-size:14px;}
.block .header h2, .block .head h2{font-size:14px;}
.list .list-item .list-text .list-text-name{font-size:14px;}
.block .user .info .informer{font-size:14px;}
.modal-title{font-size:14px;}
}