@import"../font-awesome/css/font-awesome.min.css";
html{-webkit-text-size-adjust:none;}
body{font-family: Microsoft YaHei; font-size: 12px; -webkit-text-size-adjust:none;}
/*.navbar-default{background: url(../img/headerbg.png) repeat-x;}*/
.navbar-brand{padding:0;}
.navbar-nav{font-size: 14px;}
.navbar-right{font-size: 12px;}
.navbar-inverse{background-color: #28709d;}
.navbar-inverse .navbar-nav > li > a{color: #ddd;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color: #0f476b;}
.navbar-collapse{max-height: 350px;}
.formError *{
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;  
}
.nav-tabs > li > a,.navbar-inverse .navbar-nav > li > a{outline: 0;}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
/**/
.pd5{padding: 10px 5px 5px;}
.slimScrollDiv{margin: 0 -15px;}
#tree .input-group{padding: 15px 10px; border-bottom: 1px solid #ccc;}
.navbar{margin-bottom: 0;}
.label{font-size: 100%;font-weight: 300;padding: 0 3px; border-radius: 2px;}
.sidebar{margin:15px 0 0;border: 1px solid #ccc; border-radius:3px;background-color: #f9f9f9;-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);box-shadow: 0 1px 1px rgba(0, 0, 0, .05);}
.topnav{margin-bottom: 20px;}
.table tbody tr.beclick > td{background-color: #D9EDF7;}
.progress.progress-sm{height: 10px;}
.dropdown-menu{font-size: 12px;}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{opacity: 0.5;}
.table-responsive2 {
  width: 100%;
  margin-bottom: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}
.table-responsive2 > .table {
  margin-bottom: 0;
}
.table-responsive2 > .table > thead > tr > th,
.table-responsive2 > .table > tbody > tr > th,
.table-responsive2 > .table > tfoot > tr > th,
.table-responsive2 > .table > thead > tr > td,
.table-responsive2 > .table > tbody > tr > td,
.table-responsive2 > .table > tfoot > tr > td {
  white-space: nowrap;
}
.common-th .dropdown-menu,.btn-group .dropdown-menu{min-width: 100px;}
.bootstrap-switch.bootstrap-switch-small{min-width: 60px !important;}
.breadcrumb{margin-top: 20px;}
input[type="radio"], input[type="checkbox"]{margin: 2px 0 0;}
.form-control{font-size: 12px;}
.panel-heading-sm{padding: 5px;}
.dashboard .panel-heading{font-weight: 700}
.highcharts-column .col-md-6{padding: 5px;}
.ztree_menu li a{outline: 0;}
.ztree li span.button[class*=icon_]{margin-right:5px; background: url(../img/icon_tree.png) no-repeat scroll 0 0 transparent;}
.ztree li span.button[class*=icon_gray_]{margin-right:5px; background: url(../img/icon_gray_tree.png) no-repeat scroll 0 0 transparent;}
.ztree li span.button.icon_home_ico_open,.ztree li span.button.icon_home_ico_close,.ztree li span.button.icon_home_ico_docu,.ztree li span.button.icon_gray_home_ico_open,.ztree li span.button.icon_gray_home_ico_close,.ztree li span.button.icon_gray_home_ico_docu{ background-position: 0 0;}  
.ztree li span.button.icon_host_ico_open,.ztree li span.button.icon_host_ico_close,.ztree li span.button.icon_host_ico_docu,.ztree li span.button.icon_gray_host_ico_open,.ztree li span.button.icon_gray_host_ico_close,.ztree li span.button.icon_gray_host_ico_docu{ background-position: -16px 0;}  
.ztree li span.button.icon_file_ico_open,.ztree li span.button.icon_file_ico_close,.ztree li span.button.icon_file_ico_docu,.ztree li span.button.icon_gray_file_ico_open,.ztree li span.button.icon_gray_file_ico_close,.ztree li span.button.icon_gray_file_ico_docu{ background-position: -32px 0;}  
.ztree li span.button.icon_database_ico_open,.ztree li span.button.icon_database_ico_close,.ztree li span.button.icon_database_ico_docu,.ztree li span.button.icon_gray_database_ico_open,.ztree li span.button.icon_gray_database_ico_close,.ztree li span.button.icon_gray_database_ico_docu{ background-position: -48px 0;}  
.ztree li span.button.icon_vm_ico_open,.ztree li span.button.icon_vm_ico_close,.ztree li span.button.icon_vm_ico_docu,.ztree li span.button.icon_gray_vm_ico_open,.ztree li span.button.icon_gray_vm_ico_close,.ztree li span.button.icon_gray_vm_ico_docu{ background-position: -64px 0;}  
.ztree li span.button.icon_user_ico_open,.ztree li span.button.icon_user_ico_close,.ztree li span.button.icon_user_ico_docu,.ztree li span.button.icon_gray_user_ico_open,.ztree li span.button.icon_gray_user_ico_close,.ztree li span.button.icon_gray_user_ico_docu{ background-position: -80px 0;}  
.ztree li span.button.icon_log_ico_open,.ztree li span.button.icon_log_ico_close,.ztree li span.button.icon_log_ico_docu,.ztree li span.button.icon_gray_log_ico_open,.ztree li span.button.icon_gray_log_ico_close,.ztree li span.button.icon_gray_log_ico_docu{ background-position: 0 -16px;}  
.ztree li span.button.icon_user2_ico_open,.ztree li span.button.icon_user2_ico_close,.ztree li span.button.icon_user2_ico_docu,.ztree li span.button.icon_gray_user2_ico_open,.ztree li span.button.icon_gray_user2_ico_close,.ztree li span.button.icon_gray_user2_ico_docu{ background-position: -16px -16px;}  
.ztree li span.button.icon_version_ico_open,.ztree li span.button.icon_version_ico_close,.ztree li span.button.icon_version_ico_docu,.ztree li span.button.icon_gray_version_ico_open,.ztree li span.button.icon_gray_version_ico_close,.ztree li span.button.icon_gray_version_ico_docu{ background-position: -32px -16px;}  
.ztree_recover_host li{line-height: 25px !important;}
.ztree_recover_host li a{height: 25px !important; padding: 1px 3px !important;}
.ztree_recover_host li a.curSelectedNode{height: 25px !important;}
/*可拖动弹窗*/
.modal.modal-draggable { overflow-y: auto!important }
.modal.modal-draggable .modal-header { cursor: pointer }
/*通用列表*/
.common-th{margin: 20px 0 0;}
.common-th .row{padding:5px 0;}
.common-th .item p{margin: 0;min-height:20px;word-break:break-all;word-wrap:break-word;overflow:hidden;}
.common-th .item p.do{visibility: hidden; }
.common-th .s-ip{font-weight: 700;}
.common-th .s-name{color: #666;}
.common-th .s-path{display: inline-block;min-height: 40px;}
.common-th .img{float: left;margin:5px 0 0;width: 70px; height: 70px; padding: 0 0 0 5px;}
.common-th .txt{margin-left: 60px;padding-right: 5px;}
.common-th .img i{font-size: 40px; color: #3276b1;}
.common-th .item{border-radius: 5px; border: 1px solid #fff;}
.common-th .item:hover p.do,.common-th .item:focus p.do,.common-th .beclick-th p.do{visibility: visible;}
.common-th .item:hover{border: 1px solid #c9e1f6;background: #e8f3fc;}
.common-th .item:focus,.fix-block .beclick-th,.fix-block .beclick-th:hover{border: 1px solid #adcdea;background-color: #d3e8f9 !important;}
.common-list{margin: 20px 0 0;}
.common-list td{word-break:break-all;}
.common-th .btn-link,.common-list td .btn-link{padding: 0;font-size: 12px;}
.common-th button.btn-link,.common-list td button.btn-link{padding: 0;}
.common-th .dropdown-menu button.btn-link,.common-list td .dropdown-menu button.btn-link{padding: 3px 20px;}
.common-th .progress{margin-bottom: 5px;}
/*备份计划列表*/
.plan-th .item{background-color: #f4f4f4;padding-top: 5px;}
.plan-th .img{margin: 0;width: 30px;}
.plan-th .img i{font-size: 20px; position: relative; top: -10px;}
.plan-th .txt{margin-left: 30px;}
.plan-th h4{font-size: 14px; font-weight: 700; padding-bottom: 10px; border-bottom: 1px dashed #ccc;}
/*备份列表*/
.backup-th .img{height: 130px;}
.backup-th2 .img{height: 90px;}
.backup-th3 .img{height: 100px;}
/*恢复列表*/
.recover-th .img{height: 130px;}
.recover-th2 .img{height: 90px;}
.recover-th3 .img{height: 120px;}
/**/
@media screen and (max-width: 768px) {
  .win-sm .btn,.win-sm .form-control{margin: 0 0 5px;}
  .win-sm .pull-right{float: none !important;}
  .win-sm .form-group{margin-bottom: 0;}
}
@media screen and (max-width: 991px){
  .backup-th .img,.recover-th .img{height: 90px;}
  .backup-th .item,.recover-th .item,.backup-th2 .item,.backup-th3 .item,.recover-th2 .item,.recover-th3 .item{margin-bottom: 5px;}
  .backup-th2 .img,.recover-th2 .img{height: 70px;}
  .backup-th3 .img,.recover-th3 .img{height: 90px;}
}
/*登录*/
.winlogin {
    background:#28709D;
    padding:0
}
.winlogin .panel {
    width:400px
}
.winlogin .brand {
    display:block;
    padding-bottom:40px;
    margin:0 auto;
    width:224px
}
.winlogin .verticalcenter {
    position:absolute;
    top:42%;
    left:50%;
    margin-top:-186px;
    margin-left:-200px
}
.winlogin .panel-heading{text-align: center; font-size: 16px;}
/*state overview*/
.sidebar2{margin: 0 -15px;}
@media screen and (max-width: 991px) {
  .sidebar2{margin: 0;}
}
.sidebar2 .panel{margin-bottom: 15px;}
.state-overview .panel{-webkit-box-shadow: inset 0px 1px 0px 0px #fff;box-shadow: inset 0px 1px 0px 0px #fff;text-align:center;list-style:none;background: #f9f9f9;background: -moz-linear-gradient(top, #f9f9f9 0%, #efefef 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#efefef));background:-webkit-linear-gradient(top, #f9f9f9 0%,#efefef 100%);background: -o-linear-gradient(top, #f9f9f9 0%,#efefef 100%);background: -ms-linear-gradient(top, #f9f9f9 0%,#efefef 100%);background: linear-gradient(top, #f9f9f9 0%,#efefef 100%);border:1px solid #e2e2e2;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;border-radius: 3px}
.state-overview .panel:hover{border-color:#d2d2d2;-moz-box-shadow: 0 0 6px #ccc;-webkit-box-shadow: 0 0 6px #ccc;box-shadow: 0 0 6px #ccc}
.state-overview .symbol, .state-overview .value {
    display: inline-block;
    text-align: center;
}
.state-overview .value  {
    float: right;

}
.state-overview .value h1, .state-overview .value p  {
    margin: 0;
    padding: 0;
    color: #333;
    text-shadow:1px 1px 0 #FFFFFF;
}
.state-overview .value h1 {
    font-weight: 300;
    font-size: 25px;
}
.state-overview .symbol i {
    color: #3276B1;
    font-size: 25px;
}
.state-overview .symbol {
    width: 30%;
    padding: 15px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}
.state-overview .value {
    width: 58%;
    padding-top: 8px;
}
.liststyle1{padding-left: 5px;}
.liststyle1 li{padding-left:20px;list-style-type: none;word-break:break-all;}
.liststyle1.file li{background: url(../img/icon_file.png) no-repeat;}
.liststyle1.database li{background: url(../img/icon_database.png) no-repeat;}
.liststyle1.vm li{background: url(../img/icon_vm.png) no-repeat;}
/*timeline*/

.timeline {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
}
.timeline:before {
    background-color: #C7CBD6;
    bottom: 0px;
    content: "";
    left: 50%;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 0;
}
.t-info {
    color: #C8CCD7;
}
.timeline-item:before, .timeline-item.alt:after {
    content: "";
    display: block;
    width: 50%;
}
.timeline-item {
    display: table-row;
}

.timeline-desk {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}
.timeline-desk h1 {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 5px;
}
.timeline-desk .panel {
    display: block;
    margin-left: 25px;
    position: relative;
    text-align: left;
    background: #F4F4F4;
}
.timeline-item .timeline-desk .arrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid #F4F4F4 !important;
    display: block;
    height: 0;
    left: -7px;
    position: absolute;
    top: 13px;
    width: 0;
}
.timeline-item.alt .timeline-desk .arrow-alt {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 8px solid #F4F4F4 !important;
    display: block;
    height: 0;
    right: -7px;
    position: absolute;
    top: 13px;
    width: 0;
    left: auto;
}
.timeline .timeline-icon {
    left: -30px;
    position: absolute;
    top: 15px;
    background: #C7CBD6;
    box-shadow: 0 0 0 3px #C7CBD6;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    height: 12px;
    width: 12px;
}
.timeline-desk span a {
    text-transform: uppercase;
}
.timeline-desk h1.red, .timeline-desk .red {
    color: #EF6F66;
}
.timeline-desk h1.green, .timeline-desk .green  {
    color: #39B6AE;
}
.timeline-desk h1.blue, .timeline-desk .blue {
    color: #56C9F5;
}
.timeline-desk h1.purple, .timeline-desk .purple {
    color: #8074C6;
}
.timeline-desk h1.light-green, .timeline-desk .light-green {
    color: #A8D76F;
}
.timeline .timeline-icon.red {
    background: #EF6F66;
    box-shadow: 0 0 0 3px #EF6F66;
}
.timeline .timeline-icon.green {
    background: #39B6AE;
    box-shadow: 0 0 0 3px #39B6AE;
}
.timeline .timeline-icon.blue {
    background: #56C9F5;
    box-shadow: 0 0 0 3px #56C9F5;
}
.timeline .timeline-icon.purple {
    background: #8074C6;
    box-shadow: 0 0 0 3px #8074C6;
}
.timeline .timeline-icon.light-green {
    background: #A8D76F;
    box-shadow: 0 0 0 3px #A8D76F;
}
.timeline-item.alt .timeline-icon {
    left: auto;
    right: -32px;
}
.timeline .time-icon:before {
    font-size: 16px;
    margin-top: 5px;
}
.timeline .timeline-date {
    left: -200px;
    position: absolute;
    text-align: right;
    top: 12px;
    width: 150px;
}
.timeline-desk h5 span {
    color: #999999;
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
}
.timeline-item.alt:before {
    display: none;
}
.timeline-desk p {
    font-size: 12px;
    margin-bottom: 0;
}
.timeline-desk a {
    color: #EF6F66;
}
.timeline-desk .panel {
    margin-bottom: 5px;
}
.timeline-item.alt .panel {
    margin-left: 0;
    margin-right: 25px;
}
.timeline-item.alt .timeline-date {
    left: auto;
    right: -200px;
    text-align: left;
}
/**/
.info-tiles, .shortcut-tiles {
    margin:0 0 20px;
    display:block;
    border-radius:2px
}
.info-tiles .tiles-heading {
    padding:5px 10px;
    border-top-right-radius:2px;
    border-top-left-radius:2px;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:.04em
}
.info-tiles .tiles-body-alt {
    padding:10px;
    font-size:30px;
    font-weight:300;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0
}
.info-tiles .tiles-body-alt i {
    color:#fff;
    opacity:.4;
    filter:alpha(opacity=40);
    -webkit-transition:.06s ease-in;
    transition:.06s ease-in
}
.info-tiles .tiles-body-alt>i {
    position:absolute;
    font-size:28px
}
.info-tiles .tiles-body-alt div+small {
    font-size:14px;
    text-align:center;
    display:block;
    font-weight:400;
    opacity:.7;
    filter:alpha(opacity=70);
    margin-bottom:10px
}
.info-tiles .tiles-body-alt .text-center {
    margin-top:-5px
}
.info-tiles .tiles-footer {
    color:#fff;
    color:rgba(255, 255, 255, 0.4);
    padding:5px 10px;
    border-bottom-right-radius:2px;
    border-bottom-left-radius:2px
}
.info-tiles .tiles-footer i {
    float:right;
    position:relative;
    top:2px;
    display:none
}
.info-tiles .tiles-footer:after {
    content:"";
    position:absolute;
    bottom:0;
    right:3px;
    width:0;
    height:0;
    margin-right:11px;
    margin-bottom:20px;
    border-top:5px solid rgba(0, 0, 0, 0.3);
    border-right:5px solid #f7f8fa;
    border-bottom:5px solid #f7f8fa;
    border-left:5px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius:2px
}
.info-tiles .tiles-footer:hover {
    color:#fff
}
.info-tiles:hover {
    text-decoration:none
}
.info-tiles:hover i {
    color:#fff;
    opacity:1;
    filter:alpha(opacity=100)
}
.info-tiles:hover .tiles-footer {
    color:#fff
}
.info-tiles:hover .tiles-footer i {
    display:inline
}

.info-tiles.tiles-sky {
    color:#fff
}
.info-tiles.tiles-sky .tiles-heading {
    background:#98d3f1
}
.info-tiles.tiles-sky .tiles-body {
    background:#76c4ed
}
.info-tiles.tiles-sky .tiles-body-alt {
    background:#76c4ed
}
.info-tiles.tiles-sky .tiles-footer {
    background:#49b1e7
}
.info-tiles.tiles-sky:hover {
    color:#fff
}
.info-tiles.tiles-sky:hover .tiles-heading {
    background:#81c9ee
}
.info-tiles.tiles-sky:hover .tiles-body {
    background:#5fbaea
}
.info-tiles.tiles-sky:hover .tiles-body-alt {
    background:#5fbaea
}
.info-tiles.tiles-sky:hover .tiles-footer {
    background:#32a7e4
}

.info-tiles.tiles-green {
    color:#fff
}
.info-tiles.tiles-green .tiles-heading {
    background:#1bc2a1
}
.info-tiles.tiles-green .tiles-body {
    background:#16a085
}
.info-tiles.tiles-green .tiles-body-alt {
    background:#16a085
}
.info-tiles.tiles-green .tiles-footer {
    background:#107360
}
.info-tiles.tiles-green:hover {
    color:#fff
}
.info-tiles.tiles-green:hover .tiles-heading {
    background:#18ab8e
}
.info-tiles.tiles-green:hover .tiles-body {
    background:#138a72
}
.info-tiles.tiles-green:hover .tiles-body-alt {
    background:#138a72
}
.info-tiles.tiles-green:hover .tiles-footer {
    background:#0d5d4d
}
.info-tiles.tiles-magenta {
    color:#fff
}
.info-tiles.tiles-magenta .tiles-heading {
    background:#eb5e82
}
.info-tiles.tiles-magenta .tiles-body {
    background:#e73c68
}
.info-tiles.tiles-magenta .tiles-body-alt {
    background:#e73c68
}
.info-tiles.tiles-magenta .tiles-footer {
    background:#d61a4b
}
.info-tiles.tiles-magenta:hover {
    color:#fff
}
.info-tiles.tiles-magenta:hover .tiles-heading {
    background:#e84771
}
.info-tiles.tiles-magenta:hover .tiles-body {
    background:#e42556
}
.info-tiles.tiles-magenta:hover .tiles-body-alt {
    background:#e42556
}
.info-tiles.tiles-magenta:hover .tiles-footer {
    background:#bf1843
}
.info-tiles.tiles-grape {
    color:#fff
}
.info-tiles.tiles-grape .tiles-heading {
    background:#909aac
}
.info-tiles.tiles-grape .tiles-body {
    background:#7a869c
}
.info-tiles.tiles-grape .tiles-body-alt {
    background:#7a869c
}
.info-tiles.tiles-grape .tiles-footer {
    background:#616d82
}
.info-tiles.tiles-grape:hover {
    color:#fff
}
.info-tiles.tiles-grape:hover .tiles-heading {
    background:#818da1
}
.info-tiles.tiles-grape:hover .tiles-body {
    background:#6c7991
}
.info-tiles.tiles-grape:hover .tiles-body-alt {
    background:#6c7991
}
.info-tiles.tiles-grape:hover .tiles-footer {
    background:#566074
}
.info-tiles .progress{margin-bottom: 5px;}
/*分页*/
.pagination .linpt{padding-left: 5px;}
.pagination .linpt input{width: 35px; margin: 0 5px; display: inline;}
/**/
.table td{word-wrap:break-word;word-break:break-all;}