<!-- 操作栏 -->
<div class="row">
    <div class="col-md-12">    
        <div class="ls-gallery-filter-wrap">
            <div class="form-inline clearfix">
                <button class="btn btn-info btn-sm" type="button">
                    <i class="fa fa-plus"></i> 新建模型
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    批量操作 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><button class="btn btn-sm btn-link"><i class="fa fa-times"></i> 删除</button></li>
                  </ul>
                </div>          
                <div class="form-group pull-right">
                      <select id="outerModel_list_select" class="form-control" style="width:200px">
                            <option value="">请输入关键字快速搜索</option>
                            <option value="1">买满100元送30元现金券</option>
                            <option value="2">买满100元送30元现金券</option>
                            <option value="3">买满100元送30元现金券</option>
                            <option value="4">买满100元送30元现金券</option>
                            <option value="5">买满100元送30元现金券</option>
                            <option value="6">买满100元送30元现金券</option>
                          </optgroup>
                      </select>
                </div>
            </div>
        </div> 
    </div>
</div>   

<!-- 列表 -->
<div class="row">
    <div class="col-md-12">
        <div class="tabs_container">
            <!--Table Wrapper Start-->
            <div class="ls-table">
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th><input type="checkbox"></th>
                        <th>模型名称</th>
                        <th>周期</th>
                        <th class="text-center">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>客户价值评估模型</td>
                        <td>月</td>                            
                        <td class="text-center">
                            <button class="btn btn-xs btn-success" title="查看详情"><i class="fa fa-info-circle"></i></button>
                            <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                            <button class="btn btn-xs btn-danger" title="删除"><i class="fa fa-minus"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>客户粘性评估模型</td>
                        <td>月</td>                            
                        <td class="text-center">
                            <button class="btn btn-xs btn-success" title="查看详情"><i class="fa fa-info-circle"></i></button>
                            <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                            <button class="btn btn-xs btn-danger" title="删除"><i class="fa fa-minus"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>客户异动监控模型</td>
                        <td>月</td>                            
                        <td class="text-center">
                            <button class="btn btn-xs btn-success" title="查看详情"><i class="fa fa-info-circle"></i></button>
                            <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                            <button class="btn btn-xs btn-danger" title="删除"><i class="fa fa-minus"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>客户需求识别模型</td>
                        <td>月</td>                            
                        <td class="text-center">
                            <button class="btn btn-xs btn-success" title="查看详情"><i class="fa fa-info-circle"></i></button>
                            <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                            <button class="btn btn-xs btn-danger" title="删除"><i class="fa fa-minus"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td>差异化营销矩阵和营销数据跟踪分析模型</td>
                        <td>月</td>                            
                        <td class="text-center">
                            <button class="btn btn-xs btn-success" title="查看详情"><i class="fa fa-info-circle"></i></button>
                            <button class="btn btn-xs btn-warning" title="修改"><i class="fa fa-pencil-square-o"></i></button>
                            <button class="btn btn-xs btn-danger" title="删除"><i class="fa fa-minus"></i></button>
                        </td>
                      </tr>

                    </tbody>
                  </table>
            </div>
            <!--Table Wrapper Finish-->
            <div class="text-right">
                <div class="ls-button-group demo-btn ls-table-pagination">
                    <ul class="pagination ls-pagination">
                        <li><a href="#"><i class="fa fa-arrow-left"></i> </a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    // 策划下拉框初始化
    $('#outerModel_list_select').selectize({
        sortField: {
            field: 'text',
        }
    });
</script>