<!--Left navigation start-->
<ul class="mainNav">       
	<li class="active">
        <!-- 第一层 -->
        <a href="#">
            <i class="fa fa-th-large"></i> <span>外部模型</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li><a href="#" id="outerModel_join" onclick="$('#tab_outerModelJoin').click()">平台接入配置</a></li>    
            <li><a href="#" id="outerModel" onclick="$('#tab_outerModelList').click()">外部模型管理</a></li>        
            <li><a href="#" id="outerModel_detail" onclick="$('#tab_outerModelEdit').click()">外部模型配置</a></li>        
        </ul>                    
    </li>
	<li>
        <!-- 第一层 -->
        <a href="#">
            <i class="fa fa-th-large"></i> <span>自定义模型</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li><a href="#" id="innerModel" onclick="$('#tab_innerModelList').click()">自定义模型管理</a></li>    
            <li><a href="#" id="innerModel_detail" onclick="$('#tab_innerModelEdit').click()">自定义模型配置</a></li>    
        </ul>                    
    </li>
	
</ul>
<!--Left navigation end-->


<!-- 收缩菜单初始化 -->
<script type="text/javascript" src="assets/js/pages/layout.js"></script>
