<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">模型基本信息</h3>
    </div>
    <div class="panel-body"> 
		<form class="form-horizontal">    
		  <div class="form-group">
		    <label class="col-sm-2 control-label">模型名称：</label>
		    <div class="col-sm-4">
		        <input type="text" class="form-control">
		    </div>
		    <label class="col-sm-2 control-label">周期：</label>
		    <div class="col-sm-3">
		      <div class="form-inline">
		        <input type="text" class="form-control">                  
		        <select class="form-control">
		          <option>天</option>
		          <option>月</option>
		          <option>年</option>
		        </select>                  
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">模型描述：</label>
		    <div class="col-sm-4">
		        <input type="text" class="form-control">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">选择场景：</label>
		    <div class="col-sm-9">
				<div class="form-inline">
			      	<button type="button" class="btn btn-link btn-sm" onclick="showModal('views/model/outerModel_detail_scene.html')"><i class="fa fa-pencil"></i> 选择</button><br/>
					<div class="form-control" style="width:90%;height:auto;vertical-align:top">
						<div>
							<button type="button" class="btn btn-info btn-xs active">场景一</button>
							<button type="button" class="btn btn-default btn-xs">场景二</button>
							<button type="button" class="btn btn-default btn-xs">场景三</button>
							<button type="button" class="btn btn-default btn-xs">场景四</button>
						</div>
						<hr/>
						<div class="clearfix">
							<div class="pull-left">
								<strong class="titleStyle1">场景一参数：</strong>
						      	<button type="button" class="btn btn-link btn-xs" onclick="showModal('views/model/outerModel_detail_scene_para.html')"><i class="fa fa-edit"></i> 编辑</button>
							</div>
							<div class="pull-left">
								<span class="label label-default">参数一</span>
								<span class="label label-default">参数二</span>
								<span class="label label-default">参数三</span>
								<span class="label label-default">参数四</span>
							</div>
						</div>
					</div>
				</div>	
		    </div>

		  </div>            
		  <div class="row-footer text-center">
		    <button type="button" class="btn btn-default">取消</button>
		    <button type="button" class="btn btn-info">保存</button>        
		  </div>        
		</form> 

    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">数据分析结果</h3>
    </div>
    <div class="panel-body"> 
    	<div class="row">
    		<div class="col-sm-6">
    			<h5 class="titleStyle1">输出字段</h5>
    			<div class="outerModel_detail_scroll1">
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>字段</th>
                        <th>权值</th>
                        <th>算法（区间）</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>字段一</td>
                        <td>10</td>                            
                        <td>0.3-0.5</td>
                      </tr>
                      <tr>
                        <td>字段二</td>
                        <td>8</td>                            
                        <td>0.3-0.5</td>
                      </tr>
                      <tr>
                        <td>字段一</td>
                        <td>10</td>                            
                        <td>0.3-0.5</td>
                      </tr>
                      <tr>
                        <td>字段一</td>
                        <td>10</td>                            
                        <td>0.3-0.5</td>
                      </tr>
                      <tr>
                        <td>字段一</td>
                        <td>10</td>                            
                        <td>0.3-0.5</td>
                      </tr>
                      <tr>
                        <td>字段一</td>
                        <td>10</td>                            
                        <td>0.3-0.5</td>
                      </tr>
                      <tr>
                        <td>字段一</td>
                        <td>10</td>                            
                        <td>0.3-0.5</td>
                      </tr>
                      <tr>
                        <td>字段一</td>
                        <td>10</td>                            
                        <td>0.3-0.5</td>
                      </tr>
                      <tr>
                        <td>字段一</td>
                        <td>10</td>                            
                        <td>0.3-0.5</td>
                      </tr>
                      <tr>
                        <td>字段一</td>
                        <td>10</td>                            
                        <td>0.3-0.5</td>
                      </tr>
                      <tr>
                        <td>字段一</td>
                        <td>10</td>                            
                        <td>0.3-0.5</td>
                      </tr>

                    </tbody>
                  </table>
    			</div>
    		</div>
    		<div class="col-sm-6">
    			<h5 class="titleStyle1">用户清单</h5>
    			<div class="outerModel_detail_scroll1">
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>用户</th>
                        <th>匹配度</th>
                        <th>备注</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>用户一</td>
                        <td>0.95</td>                            
                        <td></td>
                      </tr>
                      <tr>
                        <td>用户二</td>
                        <td>0.94</td>                            
                        <td></td>
                      </tr>
                      <tr>
                        <td>用户二</td>
                        <td>0.94</td>                            
                        <td></td>
                      </tr>
                      <tr>
                        <td>用户二</td>
                        <td>0.94</td>                            
                        <td></td>
                      </tr>
                      <tr>
                        <td>用户二</td>
                        <td>0.94</td>                            
                        <td></td>
                      </tr>
                      <tr>
                        <td>用户二</td>
                        <td>0.94</td>                            
                        <td></td>
                      </tr>

                    </tbody>
                  </table>
    			</div>
    		</div>
    	</div>
		<form class="row-footer form-inline text-center">
		  <div class="form-group">
		    <label for="exampleInputName2"><b>导出营销清单：</b></label>
		    <input type="text" class="form-control" id="exampleInputName2" value="人数：20%">
		  </div>
		   <button type="button" class="btn btn-warning">导出</button>
		   <button type="button" class="btn btn-info">生成标签</button>        
		</form>    	       

    </div>
</div>

<script type="text/javascript">
    // 输出字段滚动条
    $('.outerModel_detail_scroll1').slimscroll({
      height: '200',
      alwaysVisible: true,
    }); 
    // 用户清单滚动条
    $('.outerModel_detail_scroll2').slimscroll({
      height: '200',
      alwaysVisible: true,
    }); 
</script>