
    <form class="form-horizontal">    
        <div class="form-group">
          <label class="col-sm-3 control-label">接入平台：</label>
          <div class="col-sm-5">
              <select class="form-control">
                <option>SAS</option>
                <option>SPSS</option>
              </select>
          </div>
        </div>                        
        <div class="form-group">
          <label class="col-sm-3 control-label">接入模式：</label>
          <div class="col-sm-5">
              <input type="text" class="form-control" value="">
          </div>
        </div>                        
        <div class="form-group">
          <label class="col-sm-3 control-label">接入地址：</label>
          <div class="col-sm-5">
              <input type="text" class="form-control" value="">
          </div>
        </div>                        
        <div class="form-group">
          <label class="col-sm-3 control-label">接入端口：</label>
          <div class="col-sm-5">
              <input type="text" class="form-control" value="2120">
          </div>
        </div>                        
        <div class="form-group">
          <label class="col-sm-3 control-label">接入用户名：</label>
          <div class="col-sm-5">
              <input type="text" class="form-control" value="admin">
          </div>
        </div>                        
        <div class="form-group">
          <label class="col-sm-3 control-label">接入密码：</label>
          <div class="col-sm-5">
              <input type="password" class="form-control" value="123456">
          </div>
        </div>    
      <div class="row-footer text-center">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-info">保存</button>        
      </div>        
    </form> 

