<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">选择场景参数</h4>
      </div>
      <div class="modal-body">  
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入场景参数名称">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button">新增或修改</button>
                </span>
              </div>             
            </div>
          </div>
          <hr/>
          <table class="table table-hover table-striped table-link-text">
              <thead>
              <tr>
                  <th>选择</th>
                  <th>场景参数</th>
                  <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td><input type="checkbox" checked/></td>
                  <td>场景参数一</td>
                  <td>
                      <button title="删除" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i></button>
                      <button title="删除" class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></button>
                  </td>
              </tr>
              <tr>
                  <td><input type="checkbox"/></td>
                  <td>场景参数一</td>
                  <td>
                      <button title="删除" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i></button>
                      <button title="删除" class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></button>
                  </td>
              </tr>
              <tr>
                  <td><input type="checkbox" checked/></td>
                  <td>场景参数一</td>
                  <td>
                      <button title="删除" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i></button>
                      <button title="删除" class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></button>
                  </td>
              </tr>
              <tr>
                  <td><input type="checkbox"/></td>
                  <td>场景参数一</td>
                  <td>
                      <button title="删除" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i></button>
                      <button title="删除" class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></button>
                  </td>
              </tr>
              <tr>
                  <td><input type="checkbox"/></td>
                  <td>场景参数一</td>
                  <td>
                      <button title="删除" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i></button>
                      <button title="删除" class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></button>
                  </td>
              </tr>
              <tr>
                  <td><input type="checkbox"/></td>
                  <td>场景参数一</td>
                  <td>
                      <button title="删除" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i></button>
                      <button title="删除" class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></button>
                  </td>
              </tr>
              <tr>
                  <td><input type="checkbox" checked/></td>
                  <td>场景参数一</td>
                  <td>
                      <button title="删除" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i></button>
                      <button title="删除" class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></button>
                  </td>
              </tr>

              </tbody>
          </table>      

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-info">保存</button>
      </div>      
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

