/*ios9下字体太粗*/
*{
    font-weight: normal!important;
}

/**card**/
.ks-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}

.ks-facebook-card .card-header {
    display: block;
    padding: 10px;
}
.ks-facebook-card .ks-facebook-avatar {
    float: left;
}
.ks-facebook-card .ks-facebook-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
}
.ks-facebook-card .ks-facebook-date {
    margin-left: 44px;
    font-size: 13px;
    color: #8e8e93;
}
.ks-facebook-card .card-footer {
    background: #fafafa;
}
.ks-facebook-card .card-footer a {
    color: #81848b;
    font-weight: 500;
}
.ks-facebook-card .card-content img {
    display: block;
}
.ks-facebook-card .card-content-inner {
    padding: 15px 10px;
}
/**无尽滚动**/
.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
  display: none;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}        

.pages{
  background-color: white;
}