
<div ng-controller="KisBpmStringPropertyCtrl" style="position:relative;">
	<div class="tooltip bottom in blackbg" ng-if="stopFunctioned" style="top:20px;">
	    <div class="tooltip-arrow"></div>
	    <div class="tooltip-inner">
	        此值不能为空！
	    </div>
	</div>
    <input ng-class="{empty: property.required && property.value == ''}" type="text" ng-model="property.value"
    	   class="form-control" 
           auto-focus
           ng-blur="inputBlurred($event)"
           ng-click="inputClick($event)"
           ng-keypress="enterPressed($event)" />
</div>