/*reset*/
input, button, select, textarea {font-size: 12px;}
.form-control{font-size: 12px; padding: 6px;}
.form-group .input-group-addon{padding: 6px;}
td .label{display: inline-block;}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label{padding: 0 !important;}
/*可拖动弹窗*/
.modal.modal-draggable { overflow-y: auto!important }
.modal.modal-draggable .modal-header { cursor: pointer }
/*bootstrap reset*/
.label{font-size: 100%;}
.form-group .col-xs-1, .form-group .col-sm-1, .form-group .col-md-1, .form-group .col-lg-1, .form-group .col-xs-2, .form-group .col-sm-2, .form-group .col-md-2, .form-group .col-lg-2, .form-group .col-xs-3, .form-group .col-sm-3, .form-group .col-md-3, .form-group .col-lg-3, .form-group .col-xs-4, .form-group .col-sm-4, .form-group .col-md-4, .form-group .col-lg-4, .form-group .col-xs-5, .form-group .col-sm-5, .form-group .col-md-5, .form-group .col-lg-5, .form-group .col-xs-6, .form-group .col-sm-6, .form-group .col-md-6, .form-group .col-lg-6, .form-group .col-xs-7, .form-group .col-sm-7, .form-group .col-md-7, .form-group .col-lg-7, .form-group .col-xs-8, .form-group .col-sm-8, .form-group .col-md-8, .form-group .col-lg-8, .form-group .col-xs-9, .form-group .col-sm-9, .form-group .col-md-9, .form-group .col-lg-9, .form-group .col-xs-10, .form-group .col-sm-10, .form-group .col-md-10, .form-group .col-lg-10, .form-group .col-xs-11, .form-group .col-sm-11, .form-group .col-md-11, .form-group .col-lg-11, .form-group .col-xs-12, .form-group .col-sm-12, .form-group .col-md-12, .form-group .col-lg-12{
    padding-left: 0;
}
.modal-dialog .form-group .col-xs-1, .modal-dialog .form-group .col-sm-1, .modal-dialog .form-group .col-md-1, .modal-dialog .form-group .col-lg-1, .modal-dialog .form-group .col-xs-2, .modal-dialog .form-group .col-sm-2, .modal-dialog .form-group .col-md-2, .modal-dialog .form-group .col-lg-2, .modal-dialog .form-group .col-xs-3, .modal-dialog .form-group .col-sm-3, .modal-dialog .form-group .col-md-3, .modal-dialog .form-group .col-lg-3, .modal-dialog .form-group .col-xs-4, .modal-dialog .form-group .col-sm-4, .modal-dialog .form-group .col-md-4, .modal-dialog .form-group .col-lg-4, .modal-dialog .form-group .col-xs-5, .modal-dialog .form-group .col-sm-5, .modal-dialog .form-group .col-md-5, .modal-dialog .form-group .col-lg-5, .modal-dialog .form-group .col-xs-6, .modal-dialog .form-group .col-sm-6, .modal-dialog .form-group .col-md-6, .modal-dialog .form-group .col-lg-6, .modal-dialog .form-group .col-xs-7, .modal-dialog .form-group .col-sm-7, .modal-dialog .form-group .col-md-7, .modal-dialog .form-group .col-lg-7, .modal-dialog .form-group .col-xs-8, .modal-dialog .form-group .col-sm-8, .modal-dialog .form-group .col-md-8, .modal-dialog .form-group .col-lg-8, .modal-dialog .form-group .col-xs-9, .modal-dialog .form-group .col-sm-9, .modal-dialog .form-group .col-md-9, .modal-dialog .form-group .col-lg-9, .modal-dialog .form-group .col-xs-10, .modal-dialog .form-group .col-sm-10, .modal-dialog .form-group .col-md-10, .modal-dialog .form-group .col-lg-10, .modal-dialog .form-group .col-xs-11, .modal-dialog .form-group .col-sm-11, .modal-dialog .form-group .col-md-11, .modal-dialog .form-group .col-lg-11, .modal-dialog .form-group .col-xs-12, .modal-dialog .form-group .col-sm-12, .modal-dialog .form-group .col-md-12, .modal-dialog .form-group .col-lg-12{
    padding-left: 15px;
}
/*.tabButton .row .btn{margin: 0 0 10px;}*/
.tabButton .nav-tabs{border: none;}
.tabButton2 .nav-tabs{border-bottom: 1px solid #ddd;}
.form-group-sm .selectize-input{padding: 5px 10px;}
.dropdown-menu {font-size: 12px; min-width: 100px;}
.dropdown-menu .fa{width: 20px;}
/*过滤条件*/
.filter{float:left;margin:0;padding: 0;}
.filter li{float:left; position:relative; display:inline; padding:1px; background-color:#ddd; margin:0 10px 10px 0;}
.filter li a{float:left; min-width:10px; text-align:center; padding:5px 10px; white-space:nowrap; border:1px solid #ddd; background-color:#eee;}
.filter li i{display:none;position:absolute; right:0; bottom:0; width:12px; height:12px; overflow:hidden; text-indent:-9999em; background:url('../images/tick.gif') no-repeat;cursor:pointer;}
.filter li.selected a,.filter li a:hover{border:2px solid #0F9FFB; margin:-1px; text-decoration:none;}
.filter li.selected a{border:2px solid #0F9FFB; margin:-1px; text-decoration:none;}
.filter li.selected i{display: block;}
.filter-result select{float:left; margin:10px; font-size: 12px;}
.filter-result .tag{float:left; margin:10px; position: relative; font-size: 14px;
  padding: 5px 25px 5px 56px; border: 1px solid #ddd; 
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-radius:50px; color: #333; background-color: #f4f4f4; min-height: 52px; min-height: 40px\9;}
  .filter-result .tag .tag-close{ position: absolute; right: 8px; top: 15px;}
.filter-result .tag i.icon{
  width:40px;
  height:40px;
  padding:10px;
  font-size:20px;
  position:absolute;
  left:5px;
  top:5px;
  text-align:center;
  z-index:1;
  color:#fff;
  border-radius: 50px;
}
.parentheses{float:left; margin-right:10px;font-size: 30px; font-weight: 700;}
.parentheses .close{font-size: 10px; font-weight: 300;}
.tag-txt{font-size: 16px;}
/*others*/
#dashboard_content {
    width: 100%;
    height: 90%;
    background: #f9f9f9;
    color: #565656;
    padding-bottom: 20px;
}
.nowrap{white-space:nowrap;}
.fontbig{font-size: 14px;}
.ul-style1{margin: 0; padding:0; list-style: none;}
.ul-style2{margin: 0; padding:0; padding-left: 10px;}
.ul-style2 li{padding:0 0 5px;}
.panel-heading .form-control,.panel-heading button{margin:-12px -12px -10px 20px;}
.wizard1 > .content{min-height: 870px !important;}
.wizard2 > .content{min-height: 620px !important;}
.wizard3 > .content{min-height: 700px !important;}
.wizard4 > .content{min-height: 500px !important;}
.wizard5 > .content{min-height: 1000px !important;}
.jindu h5,.jindu h6{margin: 0;}
.nostyle1{position: static !important; margin-left: 12px !important; margin-right: -6px !important;}
.titleStyle1{font-size: 14px; font-weight: 700; padding-left: 5px; border-left: 3px solid #5bc0de;}
.noborder{border: none !important;}
.noborder > tbody > tr > th,.noborder > tbody > tr > td{border: none !important;}
.itemStyle1 {margin: 10px 0; padding: 10px; background-color: #f5f5f5; border-top: 1px dotted #ccc; border-bottom: 1px dotted #ccc;}
.itemStyle1 h5{font-weight: 700;}
.itemStyle2{margin:10px 0 0;}
.filter2{margin:10px 0 0;padding: 0;}
.filter2 li{float:left; position:relative; display:inline; padding:1px; background-color:#ddd; margin:0 10px 10px 0;}
.filter2 li a{float:left; min-width:10px; padding:5px 10px; border:1px solid #ddd; background-color:#eee;}
.filter2 li i{display:none;position:absolute; right:0; bottom:0; width:12px; height:12px; overflow:hidden; text-indent:-9999em; background:url('../images/tick.gif') no-repeat;cursor:pointer;}
.filter2 li.selected a,.filter2 li a:hover{border:2px solid #0F9FFB; margin:-1px; text-decoration:none;}
.filter2 li.selected a{border:2px solid #0F9FFB; margin:-1px; text-decoration:none;}
.filter2 li.selected i{display: block;}
.row-footer{margin-top: 20px; padding-top: 15px; border-top: 1px solid #ddd;}
.flow-pic .fa{vertical-align: middle;}
.flow-pic .btn-link:focus,
.flow-pic .btn-link:active:focus,
.flow-pic .btn-link.active:focus,
.flow-pic .btn-link.focus,
.flow-pic .btn-link:active.focus,
.flow-pic .btn-link.active.focus {
  color: #fff;
  background-color: #7a8b83;
  border-color: #3a515a;
  outline: none;
}
.flow-pic .btn-link:hover,
.flow-pic .btn-link:focus {
  text-decoration: none;
}
.flow span{float: left; margin: 5px;}
.flow span .close{font-size: 10px; font-weight: 300;}
.flow span a:hover{text-decoration: none;}
.flow .flow-plan b{display:inline-block; border: 3px solid #428bca; padding: 5px 10px; border-radius: 6px;}
.flow .flow-arr .fa-long-arrow-right{vertical-align: middle;}
.flow .flow-arr .condition{color: #ff7878;}
.tabButton .nav-tabs .close,.tabButton2 .nav-tabs .close{position:absolute; top:2px; right:2px; font-size: 10px; font-weight: 300;}
.tabButton .nav-tabs > li.more > a{margin-top:12px; font-size: 10px; padding: 2px 4px;background: #e1e1e1; font-weight: 300;border: 1px solid #ccc; color: #555; border-radius: 4px;}
.tabButton .nav-tabs > li.more > a:hover{color: #999;}
.tabButton .btn-group-more,.tabButton .closeAll{margin-top: 20px;}
.tabButton .btn-group-more .btn-default,.tabButton .closeAll{border-radius: 4px;}
/*myflow*/
#myflow_tools{left: 0 !important; top: 0 !important; position: static !important;}
#myflow_props{right: 0 !important; top: 0 !important; position: static !important;}
#myflow_tools .node{display:block; padding: 5px; text-align: left;}
#myflow_tools .mover {background-color: #eee;}
#myflow_tools .selected {background-color: #ddd;}
#myflow_tools .btn-link {color: #565656;}
/* 客户画像CSS开始 */
.portraitBox {position: relative;}
.portrait_Area{cursor: pointer;}
.portrait_con { width: 300px; min-height:100px; position: absolute; display: none; padding: 10px; background-color: rgba(50,78,89,0.5);border-radius: 10px;}
.portrait_con ul{margin: 0; padding: 0;}
.portrait_con li{list-style: none; float: left; padding: 5px; margin:0;}
.portrait_con li a{display: block; cursor: pointer;}
.portrait_con li a label{cursor: pointer;}
.portrait_con li a:hover{text-decoration: none; color: #ddd;}
.portrait_con li a:hover label{color: #ddd;}
.portrait_con1{ z-index: 1; left: 150px; top: 45px; }
.portrait_con2{ z-index: 1; left: 50px; top: 250px; }
.portrait_con3{ z-index: 1; left: 240px; top: 250px; }
.portrait_con4{ z-index: 1; left: 70px; top: 350px; }
.portrait_con5{ z-index: 1; left: 250px; top: 340px; }
.portrait_con6{ z-index: 1; left: 50px; top: 400px; }
.portrait_con7{ z-index: 1; left: 250px; top: 400px; }
.portrait_con8{ z-index: 1; left: 250px; top: 460px; }
.portrait_con9{ z-index: 1; left: 150px; top: 170px; }
/* 策划流图侧栏 */
.right-navigation {
    background-color:rgba(122,139,131,.3);
    position: absolute;
    padding: 5px;
    right: 0;
    top: 0;
    z-index: 99;
}
.right-navigation .rightTabButton{width: 30px;}
.right-navigation .tab-content {padding: 0;}
.right-navigation .tab-content .tab-pane {width: 300px;}
.right-navigation .nav .tab-edite {display: none;}
.right-navigation .nav .tab-edite.active {display: block;}
/*tag*/
ul.tag-list{margin: 0; padding: 0;}
.tag-list li{float: left; list-style: none;}
.tag-list .tag{float:left; margin:10px; position: relative; font-size: 14px;
  padding: 10px 15px 10px 40px; border: 1px solid #ddd; 
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-radius:50px; color: #333; background-color: #f4f4f4; min-height: 32px; min-height: 20px\9;}
.tag-list .tag i.icon{
  width:30px;
  height:30px;
  padding:10px;
  font-size:10px;
  position:absolute;
  left:5px;
  top:5px;
  text-align:center;
  z-index:1;
  color:#fff;
  border-radius: 50px;
}
/*login*/
.index-box {
    background-color: #485e76;
}
.index-box-bg {
    background: url("../images/loginbg.png") no-repeat center 0;
    height: 470px;
}
.logindiv {
    left: 800px;
    position: relative;
    top: 135px;
    width: 300px;
}
.logindiv input {
    border: 1px solid #fff;
    color: #999
}
.logindiv .input-group-addon {
    background: #ddd;
    color: #ff7878;
    border-color: #fff
}
.login-btn-box {display: block;}
.remember-me {margin-bottom: 10px; color: #ddd;}
/*wbutton*/
.wbtn {
    position: relative;
    display: inline-block;
    color: #3497DB;
    -webkit-box-shadow: 0 1px 1px rgba(88, 88, 92, .1);
    -moz-box-shadow: 0 1px 1px rgba(88, 88, 92, .1);
    box-shadow: 0 1px 1px rgba(88, 88, 92, .1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 10px 6px 51px;
    font-size: 13px;
    border: 1px solid #238DD9;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #FFF, #F9F9F9);
    background-image: -moz-linear-gradient(top, #FFF, #F9F9F9);
    background-image: -ms-linear-gradient(top, #FFF, #F9F9F9);
    background-image: -o-linear-gradient(top, #FFF, #F9F9F9);
    background-image: linear-gradient(top, #FFF, #F9F9F9);
    white-space: nowrap;
    cursor: pointer;
}
.panel-heading .wbtn{margin:-12px -12px -10px 20px;}
.wbtn:hover{border-color: #5BC0DE; text-decoration: none; color: #5BC0DE;}
.wep {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #FFF;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 38px;
    height: 32px;
    background-color: #49A2DF;
    background-image: -webkit-linear-gradient(top,  #49A2DF 50%, #3497DB 50%, #3497DB);
    background-image: -moz-linear-gradient(top,  #49A2DF 50%, #3497DB 50%, #3497DB);
    background-image: -o-linear-gradient(top,  #49A2DF 50%, #3497DB 50%, #3497DB);
    background-image: linear-gradient(top,  #49A2DF 50%, #3497DB 50%, #3497DB);
    border: 1px solid #238DD9;
    font: 700 16px/32px Arial;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}
.wbtn:hover .wep{border-color: #5BC0DE;}
/*ztree中的图标*/
/*.ztree{background-color: #eee;}*/
.ztree * {font-size:14px; font-family: 'Microsoft YaHei', sans-serif;}
.ztree li {line-height: 1.5;}
.ztree li a{padding: 5px 8px 5px 5px; border: 1px solid #e3dfd8; height: auto;
    border: 1px solid #DADFE6;
    background-color: #FBFBFB;
    background-image: -webkit-linear-gradient(top, #FFF, #eee);
    background-image: -moz-linear-gradient(top, #FFF, #eee);
    background-image: -ms-linear-gradient(top, #FFF, #eee);
    background-image: -o-linear-gradient(top, #FFF, #eee);
    background-image: linear-gradient(top, #FFF, #eee);
}
.ztree li a.curSelectedNode{padding: 5px 8px 5px 5px; height: auto;
    background-color: #FFF;
    border-color: #238DD9;
    color: #3497DB;
}
.ztree li a:hover{text-decoration: none;}
.ztree li span[class*="_ico_open"],.ztree li span[class*="_ico_close"],.ztree li span[class*="_ico_docu"]{
  background: none!important;
  display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    margin-right: 2px!important;
    font-size: 14px;
    color: #70CAC8;
    color: #ff7878;
    margin:0 10px 0 5px;
}
.ztree li a.level0 span[class*="_ico_open"],.ztree li a.level0 span[class*="_ico_close"],.ztree li a.level0 span[class*="_ico_docu"]{color: #ff7878;}
.ztree li a.level1 span[class*="_ico_open"],.ztree li a.level1 span[class*="_ico_close"],.ztree li a.level1 span[class*="_ico_docu"]{color: #70CAC8;}
.ztree li a.level2 span[class*="_ico_open"],.ztree li a.level2 span[class*="_ico_close"],.ztree li a.level2 span[class*="_ico_docu"]{color: #6b97f4;}
.ztree li a.level3 span[class*="_ico_open"],.ztree li a.level3 span[class*="_ico_close"],.ztree li a.level3 span[class*="_ico_docu"]{color: #5CB85C;}
.ztree li a.level4 span[class*="_ico_open"],.ztree li a.level4 span[class*="_ico_close"],.ztree li a.level4 span[class*="_ico_docu"]{color: #763d3d;}
.ztree li a.level5 span[class*="_ico_open"],.ztree li a.level5 span[class*="_ico_close"],.ztree li a.level5 span[class*="_ico_docu"]{color: #1fb5ad;}
.ztree li a.level6 span[class*="_ico_open"],.ztree li a.level6 span[class*="_ico_close"],.ztree li a.level6 span[class*="_ico_docu"]{color: #269abc;}
.ztree li span.button.switch{width: 30px; height: 43px;}
.ztree li ul{padding: 0 0 0 30px;}
.ztree li ul.line{background-image: url("zTreeStyle/img/line2.png");}
.ztree li span.button.center_docu{background-image: url("zTreeStyle/img/line1.png"); background-position: 0 0;}
.ztree li span.button.center_open{background-image: url("zTreeStyle/img/line4.png"); background-position: 0 0;}
.ztree li span.button.center_close{background-image: url("zTreeStyle/img/line8.png"); background-position: 0 0;}
.ztree li span.button.bottom_open,.ztree li span.button.root_open{background-image: url("zTreeStyle/img/line6.png"); background-position: 0 -5px;}
.ztree li span.button.bottom_close,.ztree li span.button.root_close{background-image: url("zTreeStyle/img/line7.png"); background-position: 0 -5px;}
.ztree li span.button.bottom_docu{background-image: url("zTreeStyle/img/line3.png"); background-position: 0 -10px;}
.ztree li .main{
  color: #FF7878;
}
.ztree li .th-large_ico_open:before,.ztree li .th-large_ico_close:before,.ztree li .th-large_ico_docu:before{
  content: "\f009";
}
.ztree li .th_ico_open:before,.ztree li .th_ico_close:before,.ztree li .th_ico_docu:before{
  content: "\f00a";
}
.ztree li .th-list_ico_open:before,.ztree li .th-list_ico_close:before,.ztree li .th-list_ico_docu:before{
  content: "\f00b";
}
.ztree li .user_ico_open:before,.ztree li .user_ico_close:before,.ztree li .user_ico_docu:before{
  content: "\f007";
}
.ztree li .users_ico_open:before,.ztree li .users_ico_close:before,.ztree li .users_ico_docu:before{
  content: "\f0c0";
}
.ztree li .tag_ico_open:before,.ztree li .tag_ico_close:before,.ztree li .tag_ico_docu:before{
  content: "\f02b";
}
.ztree li .tags_ico_open:before,.ztree li .tags_ico_close:before,.ztree li .tags_ico_docu:before{
  content: "\f02c";
}
.ztree li .wrench_ico_open:before,.ztree li .wrench_ico_close:before,.ztree li .wrench_ico_docu:before{
  content: "\f0ad";
}
.ztree li .plus_ico_open:before,.ztree li .plus_ico_close:before,.ztree li .plus_ico_docu:before{
  content: "\f067";
}
.ztree li .minus_ico_open:before,.ztree li .minus_ico_close:before,.ztree li .minus_ico_docu:before{
  content: "\f068";
}
.ztree li .arrow-up_ico_open:before,.ztree li .arrow-up_ico_close:before,.ztree li .arrow-up_ico_docu:before{
  content: "\f062";
}
.ztree li .arrow-down_ico_open:before,.ztree li .arrow-down_ico_close:before,.ztree li .arrow-down_ico_docu:before{
  content: "\f063";
}
.ztree li .pencil_ico_open:before,.ztree li .pencil_ico_close:before,.ztree li .pencil_ico_docu:before{
  content: "\f040";
}
.ztree li .save_ico_open:before,.ztree li .save_ico_close:before,.ztree li .save_ico_docu:before{
  content: "\f0c7";
}
.ztree li .copy_ico_open:before,.ztree li .copy_ico_close:before,.ztree li .copy_ico_docu:before{
  content: "\f0c5";
}
.ztree li .legal_ico_open:before,.ztree li .legal_ico_close:before,.ztree li .legal_ico_docu:before{
  content: "\f0e3";
}
.ztree li .search_ico_open:before,.ztree li .search_ico_close:before,.ztree li .search_ico_docu:before{
  content: "\f002";
}
.ztree li .star_ico_open:before,.ztree li .star_ico_close:before,.ztree li .star_ico_docu:before{
  content: "\f005";
}
.ztree li .ban_ico_open:before,.ztree li .ban_ico_close:before,.ztree li .ban_ico_docu:before{
  content: "\f05e";
}
.ztree li .dollar_ico_open:before,.ztree li .dollar_ico_close:before,.ztree li .dollar_ico_docu:before{
  content: "\f155";
}
.ztree li .cube_ico_open:before,.ztree li .cube_ico_close:before,.ztree li .cube_ico_docu:before{
  content: "\f1b2";
}
.ztree li .magic_ico_open:before,.ztree li .magic_ico_close:before,.ztree li .magic_ico_docu:before{
  content: "\f0d0";
}
.ztree li .asterisk_ico_open:before,.ztree li .asterisk_ico_close:before,.ztree li .asterisk_ico_docu:before{
  content: "\f069";
}
.ztree li .heart_ico_open:before,.ztree li .heart_ico_close:before,.ztree li .heart_ico_docu:before{
  content: "\f004";
}
.ztree li .file-text-o_ico_open:before,.ztree li .file-text-o_ico_close:before,.ztree li .file-text-o_ico_docu:before{
  content: "\f0f6";
}
.ztree li .flask_ico_open:before,.ztree li .flask_ico_close:before,.ztree li .flask_ico_docu:before{
  content: "\f0c3";
}
.ztree li .download_ico_open:before,.ztree li .download_ico_close:before,.ztree li .download_ico_docu:before{
  content: "\f019";
}
.ztree li .clock-o_ico_open:before,.ztree li .clock-o_ico_close:before,.ztree li .clock-o_ico_docu:before{
  content: "\f017";
}
.ztree li .bar-chart_ico_open:before,.ztree li .bar-chart_ico_close:before,.ztree li .bar-chart_ico_docu:before{
  content: "\f080";
}
.ztree li .line-chart_ico_open:before,.ztree li .line-chart_ico_close:before,.ztree li .line-chart_ico_docu:before{
  content: "\f201";
}
.ztree li .desktop_ico_open:before,.ztree li .desktop_ico_close:before,.ztree li .desktop_ico_docu:before{
  content: "\f108";
}
.ztree li .dashboard_ico_open:before,.ztree li .dashboard_ico_close:before,.ztree li .dashboard_ico_docu:before{
  content: "\f0e4";
}
.ztree li .times-circle_ico_open:before,.ztree li .times-circle_ico_close:before,.ztree li .times-circle_ico_docu:before{
  content: "\f057";
}
.ztree li .arrows-h_ico_open:before,.ztree li .arrows-h_ico_close:before,.ztree li .arrows-h_ico_docu:before{
  content: "\f07e";
}
.ztree li .cogs_ico_open:before,.ztree li .cogs_ico_close:before,.ztree li .cogs_ico_docu:before{
  content: "\f085";
}
.ztree li .lock_ico_open:before,.ztree li .lock_ico_close:before,.ztree li .lock_ico_docu:before{
  content: "\f023";
}
.ztree li .fire_ico_open:before,.ztree li .fire_ico_close:before,.ztree li .fire_ico_docu:before{
  content: "\f06d";
}
.ztree li .key_ico_open:before,.ztree li .key_ico_close:before,.ztree li .key_ico_docu:before{
  content: "\f084";
}
.ztree li .sitemap_ico_open:before,.ztree li .sitemap_ico_close:before,.ztree li .sitemap_ico_docu:before{
  content: "\f0e8";
}
.ztree li .pie-chart_ico_open:before,.ztree li .pie-chart_ico_close:before,.ztree li .pie-chart_ico_docu:before{
  content: "\f200";
}
.ztree li .toggle-on_ico_open:before,.ztree li .toggle-on_ico_close:before,.ztree li .toggle-on_ico_docu:before{
  content: "\f205";
}
/*2015.8.19*/
.table-link-text a{color: #008ACD;}
