@import"../fonts/css/font-awesome.min.css";
body{background-color: #fafafa; font-family: '微软雅黑'}
.nav-tabs > li > a,.navbar-inverse .navbar-nav > li > a{outline: 0;}
/*header*/
.navbar-inverse .navbar-nav>li>a{color: #bbb;}
.navbar-inverse .navbar-brand {color: #eee;}

#main_content{background-color: #fff; padding:15px; }

.section-title{font-size: 22px; color:#1480DB; border-left: 4px solid #1480DB; padding-left: 10px; line-height: 1; margin-bottom: 10px;}

ol{margin:0;padding:0 0 0 20px;}

.panel-menu{box-shadow:none;}
.panel-menu .panel-heading{background-color: #E9ECF1; border-radius: 0;}
.panel-menu .panel-heading h5{margin:0;}

.pagination{margin-top:0;}
.btn{border: none;}
.btn-info{background-color: #5BCCF6;}
.btn-default{background-color: #E9ECF1; color: #909CAE;}
/*登录*/
.winlogin {
    padding:0;
    background-color: #ccc;
}
.winlogin .panel {
    width:500px
}
.winlogin .brand {
    display:block;
    padding-bottom:40px;
    margin:0 auto;
    width:224px
}
.winlogin .verticalcenter {
    position:absolute;
    top:42%;
    left:50%;
    margin-top:-186px;
    margin-left:-250px
}
.winlogin .panel-heading{text-align: center; font-size: 16px;}
.winlogin h4{ background-color: #222; color: #fff; padding: 10px 0; margin: 0;}