<div class="content-header">
    <ol class="breadcrumb">
        <li>Ceph文件系统</li>
    </ol>
    <p class="muted">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字，说明文字说明文字说明文字说明文字。</p>
</div>
<div class="content" ng-init="initPage()">
    <div class="table-top clearfix">
        <button class="btn btn-success btn-flat pull-right" type="button" ng-click="disableCephFS()" ng-disabled="del_showflag" id="cephbtn" role="button">
            <i class="fa fa-trash"></i> 删除ceph文件系统
        </button>
        <button style="margin-right: 10px" class="btn btn-success btn-flat pull-right" type="button" ng-click="enableCephFS()" ng-disabled="showflag" role="button">
            <i class="fa fa-plus"></i> 创建ceph文件系统
        </button>        
    </div>
    <div class="box">
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>客户端ID </th>
                        <th>状态</th>
                        <th>客户端地址</th>
                        <th>客户端主机名</th>
                        <th>客户端内核</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in clientList" >
                        <td>{{client.id}}</td>
                        <td>{{client.state}}</td>
                        <td>{{ (client.inst).split(' ')[1] }}</td>
                        <td>{{client.client_metadata.hostname}}</td>
                        <td>{{client.client_metadata.kernel_version}}</td>
                    </tr>
                    <tr ng-repeat="tip in clientTip">
                        <td></td>
                        <td></td>
                        <td>{{tip.tip}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>








