<style type="text/css">
	
</style>
<ul class="nav nav-tabs center">
  <li role="presentation" class="active"><a>机房列表</a></li>
  <li role="presentation"><a ui-sref="app.assetsmanage.base.devices">设备列表</a></li>
</ul>
<div class="tab-content" style="min-height:730px;">

	<div class="form-inline">
		<div class="form-group cvm-input">
		  <input type="text" class="form-control" placeholder="请输入机房编号" ng-model="inputSearch.Code" ng-keyup="keyup($event, inputSearch)">
		  <span class="fa fa-search"></span>
		</div>
		<div class="form-group cvm-input">
		  <input type="text" class="form-control" placeholder="请输入机房名称" ng-model="inputSearch.name" ng-keyup="keyup($event, inputSearch)">
		  <span class="fa fa-search"></span>
		</div>
		<button class="form-control btn btn-primary" ng-click="search(inputSearch.Code,inputSearch.name)">查询</button>
		<a class="form-control btn btn-primary" href="import_tmp/机房列表导入模版.xls">下载模板</a>
    	<div ngf-select ng-model="files"
 			ng-model-options="modelOptionsObj"
    		ngf-model-invalid="invalidFiles"
            ng-model-options="modelOptionsObj"
            ngf-pattern="pattern" ngf-accept="acceptSelect"
            ngf-duration="10000"
            class="form-control btn btn-primary">导入
        </div>
	</div>

	<table class="table table-bordered table-striped table-hover table-responsive use3d">
		<thead>
			<th>机房编号</th>
			<th>机房名称</th>
			<th>数据中心</th>
			<th>市</th>
			<th>地址</th>
			<th>责任人</th>
			<th>责任人电话</th>
			<th>描述</th>
			<th>操作</th>
		</thead>
		<tbody>
	  		<tr ng-repeat="room in rooms.data">
	  			<td><span title="{{ room.roomCode }}">{{ room.roomCode }}</span></td>
	  			<td><span title="{{ room.name }}">{{ room.name }}</span></td>
	  			<td>{{ room.dcName }}</td>
	  			<td>{{ room.city }}</td>
	  			<td>{{ room.address }}</td>
	  			<td>{{ room.responser }}</td>
	  			<td>{{ room.telephone }}</td>
	  			<td>{{ room.description }}</td>
	  			<td>
	  				<a href="" ng-click="edit(room.id)">修改</a>
	  				<a ui-sref="app.assetsmanage.rooms.list({roomId:room.id})">查看机层</a>
	  			</td>
	  		</tr>
	  		<tr ng-if="rooms.data.length<1 || !rooms.data" ng-show="!ISsearching">
	  			<td colspan="9" style="color:#666;">暂无数据</td>
	  		</tr>
	  		<tr ng-if="ISsearching">
	  			<td colspan="9" style="color:#666;">加载中……</td>
	  		</tr>
		</tbody>
	</table>
	<div ng-if="rooms.size" ui-pagination conf="pageConf" pg-ctrl="pgCtrl"></div>
</div>