
/**系统自定义图标**/
i.tabbar-demo-icon-1 {
    width: 25px;
    height: 30px;
    background-image: url('img/首页-0@3x.png');
}
.active i.tabbar-demo-icon-1 {
    background-image: url('img/首页-1@3x.png');
}
i.tabbar-demo-icon-2 {
    width: 25px;
    height: 30px;
    background-image: url('img/工作-0@3x.png');
}
.active i.tabbar-demo-icon-2 {
    background-image: url('img/工作-1@3x.png');
}
i.tabbar-demo-icon-3 {
    width: 25px;
    height: 30px;
    background-image: url('img/消息-0@3x.png');
}
.active i.tabbar-demo-icon-3 {
    background-image: url('img/消息-1@3x.png');
}
i.tabbar-demo-icon-4 {
    width: 25px;
    height: 30px;
    background-image: url('img/通讯录-0@3x.png');
}
.active i.tabbar-demo-icon-4 {
    background-image: url('img/通讯录-1@3x.png');
}
i.tabbar-demo-icon-5 {
    width: 25px;
    height: 30px;
    background-image: url('img/我-0@3x.png');
}
.active i.tabbar-demo-icon-5 {
    background-image: url('img/我-1@3x.png');
}
i.icon-home{
    width: 29px;
    height: 29px;
}
i.icon-home-01{
    background-image: url("img/考勤打卡@3x.png");
}
i.icon-home-02{
    background-image: url("img/工作日报@3x.png");
}
i.icon-home-03{
    background-image: url("img/今天的事务@3x.png");
}
i.icon-home-04{
    background-image: url("img/今天的审批@3x.png");
}
i.icon-home-05{
    background-image: url("img/客户清单@3x.png");
}
i.icon-home-06{
    background-image: url("img/客户拜访@3x.png");
}
i.icon-home-07{
    background-image: url("img/工作统计@3x.png");
}
i.icon-unread{
    width: 24px;
    height: 24px;
}
i.icon-unread-list{
    width: 29px;
    height: 29px;
}
i.icon-unread-01{
    background-image: url("img/unread-未读公告@3x.png");
}
i.icon-unread-02{
    background-image: url("img/unread-工作日报@3x.png");
}
i.icon-unread-03{
    background-image: url("img/unread-工作周报@3x.png");
}
i.icon-unread-04{
    background-image: url("img/unread-请假审批@3x.png");
}
i.icon-unread-05{
    background-image: url("img/unread-加班审批@3x.png");
}
i.icon-unread-06{
    background-image: url("img/unread-出差审批@3x.png");
}
i.icon-work{
    width: 29px;
    height: 29px;
}
i.icon-work-01{
    background-image: url("img/工作圈@3x.png");
}
i.icon-work-02{
    background-image: url("img/通知公告@3x.png");
}
i.icon-work-03{
    background-image: url("img/工作日报@3x.png");
}
i.icon-work-04{
    background-image: url("img/工作周报@3x.png");
}
i.icon-work-05{
    background-image: url("img/请假@3x.png");
}
i.icon-work-06{
    background-image: url("img/加班@3x.png");
}
i.icon-work-07{
    background-image: url("img/出差@3x.png");
}
i.icon-mine{
    width: 29px;
    height: 29px;
}
i.icon-mine-01{
    background-image: url("img/个人资料@3x.png");
}
i.icon-mine-02{
    background-image: url("img/薪资福利@3x.png");
}
i.icon-mine-03{
    background-image: url("img/修改密码@3x.png");
}
i.icon-mine-04{
    background-image: url("img/信息反馈@3x.png");
}
i.icon-mine-05{
    background-image: url("img/新功能介绍@3x.png");
}
i.icon-mine-06{
    background-image: url("img/关于版本@3x.png");
}
i.icon-notice{
    width: 14px;
    height: 19px;
    background-image: url("img/inform_top@2x.png");
}
i.icon-group{
    width: 29px;
    height: 29px;
}
i.icon-group-01{
    background-image: url("img/创建群组.png");
}
i.icon-group-02{
    background-image: url("img/搜索群组.png");
}
i.icon.icon-form-text {
    width: 29px;
    height: 29px;
    background-image: url("img/Icon_add_desc@2x.png");
}
i.icon.icon-form-user {
    width: 29px;
    height: 29px;
    background-image: url("img/Icon_add_accepter@2x.png");
}
i.icon.icon-form-begindate {
    width: 29px;
    height: 29px;
    background-image: url("img/Icon_add_begindate@2x.png");
}
i.icon.icon-form-attachment {
    width: 29px;
    height: 29px;
    background-image: url("img/Icon_add_attachment@2x.png");
}
i.icon.icon-form-photo {
    width: 48px;
    height: 48px;
    background-image: url("img/Icon_action_gridcameraadd@2x.png");
}
i.icon.icon-form-type {
    width: 29px;
    height: 29px;
    background-image: url("img/Icon_add_type@2x.png");
}
i.icon.icon-form-enddate {
    width: 29px;
    height: 29px;
    background-image: url("img/Icon_add_enddate@2x.png");
}
i.icon.icon-form-desc {
    width: 29px;
    height: 29px;
    background-image: url("img/Icon_add_title@2x.png");
}
i.icon-userdetail{
    width: 24px;
    height: 24px;
}
i.icon-userdetail-01{
    background-image: url("img/员工操作-在线聊天@3x.png");
}
i.icon-userdetail-02{
    background-image: url("img/员工操作-打电话@3x.png");
}
i.icon-userdetail-03{
    background-image: url("img/群组操作-聊天设置@3x.png");
}
i.icon-userdetail-04{
    background-image: url("img/员工操作-发短信@3x.png");
}
i.icon-groupdetail{
    width: 24px;
    height: 24px;
}
i.icon-groupdetail-01{
    background-image: url("img/群组操作-在线聊天@3x.png");
}
i.icon-groupdetail-02{
    background-image: url("img/群组操作-群公告@3x.png");
}
i.icon-groupdetail-03{
    background-image: url("img/群组操作-聊天设置@3x.png");
}
i.icon-groupdetail-04{
    background-image: url("img/群组操作-群文件@3x.png");
}
i.icon-groupdetail-05{
    background-image: url("img/群组操作-群组成员@3x.png");
}
i.icon-groupdetail-06{
    background-image: url("img/群组操作-群相册@3x.png");
}
