<div class="wrapper-md">
  <div class="row">
    <div class="col-lg-2">
      <div  class="panel panel-default">
        <div ng-controller='AbnTestController'>
          <ztree setting="ztreeSetting" data="ztreeData"></ztree>
        </div>
      </div>
    </div>
    <div class="col-lg-10 resource">
      <div  class="panel panel-default">
        <div class="panel-heading">基本信息</div>
        <div class="panel-body">
          <div class="col-sm-5">
            <dl>
              <dt class="col-sm-4 text-right">所属机房：</dt>
              <dd class="col-sm-8">jifang</dd>
              <dt class="col-sm-4 text-right">所属机层：</dt>
              <dd class="col-sm-8">jifang</dd>
              <dt class="col-sm-4 text-right">机柜编号：</dt>
              <dd class="col-sm-8">center1</dd>
              <dt class="col-sm-4 text-right">机柜名称：</dt>
              <dd class="col-sm-8">机柜11</dd>
              <dt class="col-sm-4 text-right">机柜类型：</dt>
              <dd class="col-sm-8">类型</dd>
              <dt class="col-sm-4 text-right">机柜型号：</dt>
              <dd class="col-sm-8">20</dd>
            </dl>
          </div>
          <div class="col-sm-5">
            <dl>
              <dt class="col-sm-4 text-right">机柜行：</dt>
              <dd class="col-sm-8">24</dd>
              <dt class="col-sm-4 text-right">机位数量：</dt>
              <dd class="col-sm-8">24</dd>
              <dt class="col-sm-4 text-right">深度（CM)：</dt>
              <dd class="col-sm-8">50</dd>
              <dt class="col-sm-4 text-right">高度（CM）：</dt>
              <dd class="col-sm-8">100</dd>
              <dt class="col-sm-4 text-right">宽度（CM）：</dt>
              <dd class="col-sm-8">500</dd>
              <dt class="col-sm-4 text-right">机柜功率：</dt>
              <dd class="col-sm-8">500</dd>
              <dt class="col-sm-4 text-right">机柜描述：</dt>
              <dd class="col-sm-8">100</dd>
            </dl>
          </div>
        </div>
      </div>
      <uib-tabset justified="true" class="tab-container">
      
      
      <uib-tab heading="设备信息">
      <div class="row">
        <div class="form-group col-sm-5">
          <span ng-controller="ModalDemoCtrl">
            <script type="text/ng-template" id="myModalContent.html">
            <div ng-include="'tpl/resource/modal.form.html'"></div>
            </script>
            <button class="btn btn-success" ng-click="open('lg')">新增设备</button>
          </span>
          <span ng-controller="ModalDemoCtrl">
            <script type="text/ng-template" id="myModalContent.html">
            <div ng-include="'tpl/resource/modal.form.html'"></div>
            </script>
            <button class="btn btn-success" ng-click="open('lg')">导出设备信息</button>
          </span>
          <span ng-controller="ModalDemoCtrl">
            <script type="text/ng-template" id="myModalContent.html">
            <div ng-include="'tpl/resource/modal.form.html'"></div>
            </script>
            <button class="btn btn-success" ng-click="open('lg')">硬件类型维护</button>
          </span>
        </div>
        
        <div class=" form-group col-sm-3">
          <div class="input-group m-b">
            <span class="input-group-addon">设备编号</span>
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">搜索</button>
            </span>
          </div>
        </div>
        
      </div>
      <div class="table-responsive">
        <table class="table table-striped b-t b-light text-xs " >
          <thead>
            <tr>
              
              <th>编号</th>
              <th>序列号</th>
              <th>硬件类型</th>
              <th >所属机柜</th>
              <th >所属机层</th>
              <th >所属机房</th>
              <th >所属业务</th>
              <th >IP地址</th>
              <th >操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> 0001</td>
              <td>8412-6T2</td>
              <td>IBM小</td>
              <td>gu2</td>
              <td>一楼北</td>
              <td>生产机房</td>
              <td>ww102</td>
              
              <td>0.0.0.1</td>
              <td>
                <span ng-controller="ModalDemoCtrl">
                  <script type="text/ng-template" id="myModalContent1">
                  <div ng-include="'tpl/resource/modal.formmodifi.html'"></div>
                  </script>
                  <a ng-click="open('','myModalContent1')">修改</a>
                </span>
                <span ng-controller="ModalDemoCtrl">
                  <script type="text/ng-template" id="myModalContent2">
                  <div ng-include="'tpl/resource/modal.formdelete.html'"></div>
                  </script>
                  <a ng-click="open('sm','myModalContent2')">删除</a>
                </span>
              </td>
            </tr>
            
          </tbody>
          <tfoot class="panel-footer">
          <tr>
            <td colspan="10" class="text-center">
              <ul class="pagination pagination-sm m-t-none m-b-none">
                <li><a href><i class="fa fa-chevron-left"></i></a></li>
                <li><a href>1</a></li>
                <li><a href>2</a></li>
                <li><a href>3</a></li>
                <li><a href>4</a></li>
                <li><a href>5</a></li>
                <li><a href><i class="fa fa-chevron-right"></i></a></li>
              </ul>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
      </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>