<!--Left navigation start-->
<ul class="mainNav">
    <li class="active">
        <!-- 第一层 -->
        <a href="#">
            <i class="gi gi-dashboard"></i> <span>概览</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li><a href="#" id="summary" onclick="$('#tab_summary').click()">总体概览</a></li>
            <li>
                <a href="javascript:void(0)">用户</a>
                <!-- 第三层 -->
                <ul>
                    <li><a href="#" onclick="$('#tab_allcustomerAnalyze').click()">总用户分析</a></li>
                    <li><a href="#">会员分析</a></li>
                    <li><a href="#">大客户分析</a></li>
                </ul>
            </li>     
            <li>
                <a href="javascript:void(0)">营销</a>
                <!-- 第三层 -->
                <ul>
                    <li><a href="#" onclick="$('#tab_prodsalesAnalyze').click()">产品营销分析</a></li>
                    <li><a href="#">产品营收分析</a></li>
                </ul>
            </li>                                           
        </ul>                    
    </li>

    <li>
        <!-- 第一层 -->
        <a href="#">
            <i class="gi gi-user"></i> <span>会员分析</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li>
                <a href="javascript:void(0)">会员分布</a>
                <!-- 第三层 -->
                <ul>
                    <li><a href="#" onclick="$('#tab_registerTime').click()">注册时间</a></li>
                    <li><a href="#">地区分析</a></li>
                    <li><a href="#">等级分析</a></li>
                    <li><a href="#">活跃分析</a></li>
                </ul>
            </li>     
            <li>
                <a href="javascript:void(0)">新增会员</a>
                <!-- 第三层 -->
                <ul>
                    <li><a href="#" onclick="$('#tab_newaddAnalyze').click()">新增分析</a></li>
                    <li><a href="#" onclick="$('#tab_sourceAnalyze').click()">来源分析</a></li>
                </ul>
            </li>                                           
            <li>
                <a href="javascript:void(0)">流失会员</a>
                <!-- 第三层 -->
                <ul>
                    <li><a href="#" onclick="$('#tab_highriskUser').click()">高风险分析</a></li>
                    <li><a href="#" onclick="$('#tab_lossAnalyze').click()">流失分析</a></li>
                </ul>
            </li>                                           
        </ul>                    
    </li>

    <li>
        <!-- 第一层 -->
        <a href="#">
            <i class="gi gi-usd"></i> <span>营销分析</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li>
                <a href="javascript:void(0)">用户销量</a>
                <!-- 第三层 -->
                <ul>
                    <li><a href="#" onclick="$('#tab_individualMember').click()">个人会员</a></li>
                    <li><a href="#">企业会员</a></li>
                </ul>
            </li>     
            <li>
                <a href="javascript:void(0)">产品销量</a>
                <!-- 第三层 -->
                <ul>
                    <li><a href="#" onclick="$('#tab_top10Prod').click()">TOP10产品</a></li>
                    <li><a href="#" onclick="$('#tab_top10Group').click()">TOP10组合</a></li>
                </ul>
            </li>                                                                                     
        </ul>                    
    </li>

    <li>
        <!-- 第一层 -->
        <a href="#">
            <i class="gi gi-charts"></i> <span>我的报表</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li><a href="#">报表查看</a></li>    
            <li><a href="#">报表定制</a></li>    
        </ul>                    
    </li>

</ul>
<!--Left navigation end-->

<!-- 收缩菜单初始化 -->
<script type="text/javascript" src="assets/js/pages/layout.js"></script>
