<!-- 搜索条件栏 -->
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-lg-1 col-md-2 control-label">选择日期:</label>
    <div class="col-lg-2 col-md-4">
          <div class="control-group" style="width:195px">
            <div class="controls">
             <div class="input-prepend input-group">
               <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span><input type="text" id="summary_daterange" class="form-control" value=""/>
             </div>
            </div>
          </div>
    </div>
    <label class="col-lg-1 col-md-2 control-label">统计方式:</label>
    <div class="col-lg-1 col-md-4">
        <select class="form-control">
            <option>按日</option>
            <option>按月</option>
            <option>按季度</option>
        </select>
    </div>
    <label class="col-lg-1 col-md-2 control-label">活动专项:</label>
    <div class="col-lg-2 col-md-4">
        <select class="form-control">
            <option>用户忠诚度</option>
            <option>用户活跃度</option>
            <option>按季度</option>
        </select>
    </div>
    <label class="col-lg-1 col-md-2 control-label">活动:</label>
    <div class="col-lg-2 col-md-2">
        <select class="form-control">
            <option>元旦促销</option>
            <option>双十一促销</option>
            <option>情人节促销</option>
        </select>
    </div>
    <div class="col-lg-1 col-md-2">
      <button type="submit" class="btn btn-info"><i class="fa fa-search"></i> 查询</button>
    </div>
  </div>
</form>
<!-- 用户统计 -->
<div class="row">
    <div class="col-sm-4 col-xs-12">
        <div class="ls-circle-widget label-info white">
            <h3><span class="fa fa-users"></span> 参与活动用户数</h3>
            <h4>1530</h4>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="ls-circle-widget label-light-green white">
            <h3><span class="fa fa-user"></span> 最终购买用户数</h3>
            <h4>150</h4>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="ls-circle-widget label-red white">
            <h3><span class="fa fa-jpy"></span> 平均购买金额</h3>
            <h4>1563.56</h4>
        </div>
    </div>
</div>
<hr/>
<!-- 渠道统计 -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">渠道贡献</h3>
            </div>
            <div class="panel-body">
                <!--Table Wrapper Start-->
                <div class="table-responsive ls-table">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>渠道</th>
                            <th>参与用户数</th>
                            <th>消费用户数</th>
                            <th>消费金额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>微信</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>短信</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>邮件</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>微博</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>CallCenter</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Table Wrapper Finish-->
            </div>
        </div>
    </div>
</div>
<!-- 用户统计chart -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">用户统计</h3>
            </div>
            <div class="panel-body">
                <div id="summary_usersChart" style="height:300px; width:100%"></div>
            </div>
        </div>
    </div>
</div>
<!-- 收入统计chart -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">收入统计</h3>
            </div>
            <div class="panel-body">
                <div id="summary_incomeChart" style="height:300px; width:100%"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    // daterange             
    $('#summary_daterange').val(moment().subtract('days', 29).format('YYYY/MM/DD') + ' 至 ' + moment().format('YYYY/MM/DD')).daterangepicker(
      {
        format:'YYYY/MM/DD',
        startDate: moment().subtract('days', 29),
        endDate: moment(),
        separator:'至',
        locale:{
          applyLabel: '确认',
          cancelLabel: '取消',
          fromLabel: '开始日期',
          toLabel: '结束日期',
          weekLabel: '周',
          customRangeLabel: '自定义范围',                            
          daysOfWeek:["日","一","二","三","四","五","六"],
          monthNames:['01月','02月','03月','04月','05月','06月','07月','08月','09月','10月','11月','12月',]
        },
        ranges: {
         '当天': [moment(), moment()],
         '昨天': [moment().subtract('days', 1), moment().subtract('days', 1)],
         '近7天': [moment().subtract('days', 6), moment()],
         '近30天': [moment().subtract('days', 29), moment()],
         '当月': [moment().startOf('month'), moment().endOf('month')],
         '上月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
        }
      }

    ); 

    /*
    * 百度echarts
    */
    // 路径配置
    require.config({
        paths: {
            echarts: 'assets/js/plugins/echarts'
        }
    });

    // 用户统计
    require(
        [
            'echarts',
            'echarts/theme/macarons', //加载主题macarons
            'echarts/chart/line' // 使用折线图，按需加载
        ],
        function (ec,theme) {
            // 基于准备好的dom，初始化echarts图表
            var summary_usersChart = ec.init(document.getElementById('summary_usersChart'),theme); 
            var option = {
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['参与用户数','购买用户数']
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : ['2015-01-19','2015-01-20','2015-01-21','2015-01-22','2015-01-23','2015-01-24','2015-01-25']
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        name : '用户数（个）'
                    }
                ],
                series : [
                    {
                        name:'参与用户数',
                        type:'line',
                        smooth:true,
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        data:[1500, 1200, 2000, 2300, 4500, 1550, 800]
                    },
                    {
                        name:'购买用户数',
                        type:'line',
                        smooth:true,
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        data:[100, 70, 150, 300, 600, 450, 500]
                    }
                ]
            };      

            // 为echarts对象加载数据 
            summary_usersChart.setOption(option); 
        }
    );

    // 总收入
    require(
        [
            'echarts',
            'echarts/theme/macarons', //加载主题macarons
            'echarts/chart/line' // 使用折线图，按需加载
        ],
        function (ec,theme) {
            // 基于准备好的dom，初始化echarts图表
            var summary_incomeChart = ec.init(document.getElementById('summary_incomeChart'),theme); 
            var option = {

                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['总收入'],
                        padding: 10
                    },
                    grid : {
                        y: 70,
                        y2: 40
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : ['2015-01-19','2015-01-20','2015-01-21','2015-01-22','2015-01-23','2015-01-24','2015-01-25'],
                            splitLine : {
                                lineStyle :{type : 'dashed'}
                            }
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            name : '总收入（元）',
                            splitLine : {
                                lineStyle :{type : 'dashed'}
                            }
                        }
                    ],
                    series : [
                        {
                            name:'总收入',
                            type:'line',
                            smooth:true,
                            data:[13320, 11032, 23601, 23400, 12000, 9000, 34520],
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]     

            }        

            // 为echarts对象加载数据 
            summary_incomeChart.setOption(option); 
        }
    );

</script>