<table class="table table-bordered table-striped table-hover table-responsive use3d">
	<thead>
		<th>模块名称</th>
		<th>模块描述</th>
		<th>是否展示</th>
		<th>展示顺序</th>
		<th>操作</th>
	</thead>
	<tbody>
  		<tr ng-repeat="setting in settings.data">
  			<td title="{{ setting.name }}">{{ setting.name }}</td>
  			<td title="{{ setting.description }}">{{ setting.description }}</td>
  			<td>
	  			<span ng-show="setting.viewable=='Y'">是</span>
				<span ng-show="setting.viewable=='N'">否</span>
			</td>
  			<td>{{ setting.order }}</td>
  			<td>
  				<a href="" ng-click="edit(setting.id,setting.name)">修改</a>
  				<a ui-sref="app.setting.summary.detail({summaryId:setting.id,settingName:setting.name})">详情</a>
  			</td>
  		</tr>
  		<tr ng-if="settings.data.length<1 || !settings.data" ng-show="!ISsearching">
  			<td colspan="5" style="color:#666;">暂无数据</td>
  		</tr>
        <tr ng-if="ISsearching">
          <td colspan="5" style="color:#666;">加载中……</td>
        </tr>
	</tbody>
</table>
