<ul class="nav nav-tabs center">
  <li role="presentation" class="active"><a>大屏展示配置</a></li>
</ul>
<div class="tab-content">

	<div class="form-inline">
		<button class="form-control btn btn-primary" ng-click="add()">新增</button>
	</div>

	<table class="table table-bordered table-striped table-hover table-responsive use3d">
		<thead>
			<th>名称</th>
			<th>展示内容</th>
			<th>切换页面时间(秒)</th>
			<th>操作</th>
		</thead>
		<tbody>
	  		<tr ng-repeat="setting in settings.data">
	  			<td title="{{ setting.name }}">{{ setting.name }}</td>
	  			<td>{{ getContent(setting.url) }}</td>
	  			<td>{{ setting.interval }}</td>
	  			<td>
	  				<a href="" ng-click="edit(setting.id)">修改</a>
	  				<a href="" ng-click="del(setting.id)">删除</a>
	  			</td>
	  		</tr>
	  		<tr ng-if="settings.data.length<1 || !settings.data" ng-show="!ISsearching">
	  			<td colspan="4" style="color:#666;">暂无数据</td>
	  		</tr>
	  		<tr ng-if="ISsearching">
	  			<td colspan="4" style="color:#666;">加载中……</td>
	  		</tr>
		</tbody>
	</table>
</div>