<ul class="list-group list-group-lg no-borders pull-in m-b-none">
  <li class="list-group-item">
    <a href="#" class="h4 text-primary m-b-sm block">Mauris convallis mauris at pellentesque volutpat</a>
    <p class="b wrapper-md pos-rlt bg-light r r-2x"><span class="arrow top pull-left arrow-light"></span>Lorem ipsum dolor sit amet, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
  </li>
  <li class="list-group-item">
    <a href="#" class="h4 text-primary m-b-sm block">Phasellus at ultricies neque, quis malesuada augu</a>
    <p class="b wrapper-md pos-rlt"><span class="arrow top pull-left"></span>Fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
  </li>
  <li class="list-group-item">
    <a href="#" class="h4 text-primary m-b-sm block">Morbi nec nunc condimentum, egestas dui nec, fermentum diam</a>
    <p class="b wrapper-md pos-rlt bg-info text-lt r r-2x"><span class="arrow top pull-left arrow-info"></span>Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
  </li>
  <li class="list-group-item">
    <a href="#" class="h4 text-primary m-b-sm block">Vestibulum ullamcorper sodales nisi nec condimentum Mauris convallis</a>
    <p class="b wrapper-md pos-rlt"><span class="arrow top pull-left"></span>Egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
  </li>
</ul>