/*ios9下字体太粗*/
*{
    font-weight: normal!important;
}
/**默认的黑色pages底色**/
.pages{
    background: #ffffff;
}
/**欢迎页面**/
.tutorialicon {
    font-size: 250px;
    line-height: 170px;
}

.tutorial-close-btn {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    color: #0da6ec;
}

.welcomescreen-container .welcomescreen-text a{
    color: #fff;
    text-decoration: underline;
}

.tutorial-close-btn {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    color: #0da6ec !important;
    text-decoration: none !important;
}

/**系统自定义图标**/
i.tabbar-demo-icon-1 {
    width: 25px;
    height: 30px;
    background-image: url('../images/首页-0@3x.png');
}
.active i.tabbar-demo-icon-1 {
    background-image: url('../images/首页-1@3x.png');
}
i.tabbar-demo-icon-2 {
    width: 25px;
    height: 30px;
    background-image: url('../images/工作-0@3x.png');
}
.active i.tabbar-demo-icon-2 {
    background-image: url('../images/工作-1@3x.png');
}
i.tabbar-demo-icon-3 {
    width: 25px;
    height: 30px;
    background-image: url('../images/消息-0@3x.png');
}
.active i.tabbar-demo-icon-3 {
    background-image: url('../images/消息-1@3x.png');
}
i.tabbar-demo-icon-4 {
    width: 25px;
    height: 30px;
    background-image: url('../images/通讯录-0@3x.png');
}
.active i.tabbar-demo-icon-4 {
    background-image: url('../images/通讯录-1@3x.png');
}
i.tabbar-demo-icon-5 {
    width: 25px;
    height: 30px;
    background-image: url('../images/我-0@3x.png');
}
.active i.tabbar-demo-icon-5 {
    background-image: url('../images/我-1@3x.png');
}
i.icon-home{
    width: 29px;
    height: 29px;
}
i.icon-home-01{
    background-image: url("../images/考勤打卡@3x.png");
}
i.icon-home-02{
    background-image: url("../images/工作日报@3x.png");
}
i.icon-home-03{
    background-image: url("../images/今天的事务@3x.png");
}
i.icon-home-04{
    background-image: url("../images/今天的审批@3x.png");
}
i.icon-home-05{
    background-image: url("../images/客户清单@3x.png");
}
i.icon-home-06{
    background-image: url("../images/客户拜访@3x.png");
}
i.icon-home-07{
    background-image: url("../images/工作统计@3x.png");
}
i.icon-unread{
    width: 24px;
    height: 24px;
}
i.icon-unread-list{
    width: 29px;
    height: 29px;
}
i.icon-unread-01{
    background-image: url("../images/unread-未读公告@3x.png");
}
i.icon-unread-02{
    background-image: url("../images/unread-工作日报@3x.png");
}
i.icon-unread-03{
    background-image: url("../images/unread-工作周报@3x.png");
}
i.icon-unread-04{
    background-image: url("../images/unread-请假审批@3x.png");
}
i.icon-unread-05{
    background-image: url("../images/unread-加班审批@3x.png");
}
i.icon-unread-06{
    background-image: url("../images/unread-出差审批@3x.png");
}
i.icon-work{
    width: 29px;
    height: 29px;
}
i.icon-work-01{
    background-image: url("../images/工作圈@3x.png");
}
i.icon-work-02{
    background-image: url("../images/通知公告@3x.png");
}
i.icon-work-03{
    background-image: url("../images/工作日报@3x.png");
}
i.icon-work-04{
    background-image: url("../images/工作周报@3x.png");
}
i.icon-work-05{
    background-image: url("../images/请假@3x.png");
}
i.icon-work-06{
    background-image: url("../images/加班@3x.png");
}
i.icon-work-07{
    background-image: url("../images/出差@3x.png");
}
i.icon-mine{
    width: 29px;
    height: 29px;
}
i.icon-mine-01{
    background-image: url("../images/个人资料@3x.png");
}
i.icon-mine-02{
    background-image: url("../images/薪资福利@3x.png");
}
i.icon-mine-03{
    background-image: url("../images/修改密码@3x.png");
}
i.icon-mine-04{
    background-image: url("../images/信息反馈@3x.png");
}
i.icon-mine-05{
    background-image: url("../images/新功能介绍@3x.png");
}
i.icon-mine-06{
    background-image: url("../images/关于版本@3x.png");
}
i.icon-notice{
    width: 14px;
    height: 19px;
    background-image: url("../images/inform_top@2x.png");
}
i.icon-group{
    width: 29px;
    height: 29px;
}
i.icon-group-01{
    background-image: url("../images/创建群组.png");
}
i.icon-group-02{
    background-image: url("../images/搜索群组.png");
}
i.icon.icon-form-text {
    width: 29px;
    height: 29px;
    background-image: url("../images/Icon_add_desc@2x.png");
}
i.icon.icon-form-user {
    width: 29px;
    height: 29px;
    background-image: url("../images/Icon_add_accepter@2x.png");
}
i.icon.icon-form-begindate {
    width: 29px;
    height: 29px;
    background-image: url("../images/Icon_add_begindate@2x.png");
}
i.icon.icon-form-attachment {
    width: 29px;
    height: 29px;
    background-image: url("../images/Icon_add_attachment@2x.png");
}
i.icon.icon-form-photo {
    width: 48px;
    height: 48px;
    background-image: url("../images/Icon_action_gridcameraadd@2x.png");
}
i.icon.icon-form-type {
    width: 29px;
    height: 29px;
    background-image: url("../images/Icon_add_type@2x.png");
}
i.icon.icon-form-enddate {
    width: 29px;
    height: 29px;
    background-image: url("../images/Icon_add_enddate@2x.png");
}
i.icon.icon-form-desc {
    width: 29px;
    height: 29px;
    background-image: url("../images/Icon_add_title@2x.png");
}
i.icon-userdetail{
    width: 24px;
    height: 24px;
}
i.icon-userdetail-01{
    background-image: url("../images/员工操作-在线聊天@3x.png");
}
i.icon-userdetail-02{
    background-image: url("../images/员工操作-打电话@3x.png");
}
i.icon-userdetail-03{
    background-image: url("../images/群组操作-聊天设置@3x.png");
}
i.icon-userdetail-04{
    background-image: url("../images/员工操作-发短信@3x.png");
}
i.icon-groupdetail{
    width: 24px;
    height: 24px;
}
i.icon-groupdetail-01{
    background-image: url("../images/群组操作-在线聊天@3x.png");
}
i.icon-groupdetail-02{
    background-image: url("../images/群组操作-群公告@3x.png");
}
i.icon-groupdetail-03{
    background-image: url("../images/群组操作-聊天设置@3x.png");
}
i.icon-groupdetail-04{
    background-image: url("../images/群组操作-群文件@3x.png");
}
i.icon-groupdetail-05{
    background-image: url("../images/群组操作-群组成员@3x.png");
}
i.icon-groupdetail-06{
    background-image: url("../images/群组操作-群相册@3x.png");
}

/**请假加班出差的三角图标**/
.media-list-no-padding-left .item-content{
    padding-left: 0px;
}
.media-list-no-padding-left .item-content .item-media{
    position: absolute;
    padding-top: 0px;
}
.media-list-no-padding-left .item-content .item-inner{
    margin-left: 30px;
}
/**tab active字体问题**/
.buttons-row .button{
    font-size: 12px;
    text-overflow: initial;
}

/*groupTableView间隙问题**/
.page .list-block{
    margin-top: 0px;
    margin-bottom: 0px;
}
.page .content-block{
    margin-top: 0px;
    margin-bottom: 0px;
}
.page.page-grouped .list-block{
    margin-top: 20px;
    margin-bottom: 20px;
}
.page.page-grouped .content-block{
    margin-top: 20px;
    margin-bottom: 20px;
}
.page .list-block.inset{
    margin-top: 0px;
    margin-bottom: 0px;
}
.page .content-block.inset{
    margin-top: 0px;
    margin-bottom: 0px;
}
.page.page-grouped .list-block.inset{
    margin-top: 20px;
    margin-bottom: 20px;
}
.page.page-grouped .content-block.inset{
    margin-top: 20px;
    margin-bottom: 20px;
}
.page.page-grouped .login-screen-content .list-block{
    max-width: 480px;
    margin: 25px auto;
}
.page.page-grouped .login-screen-content .content-block{
    max-width: 480px;
    margin: 25px auto;
}
.page .list-block ul:before{
    height: 0px;
}
.page .list-block ul:after{
    height: 0px;
}
.page.page-grouped .list-block ul:before{
    height: 1px;
}
.page.page-grouped .list-block ul:after{
    height: 1px;
}
.list-block .item-text{
    height: auto;
}
.list-block .item-title{
    font-size: 16px;
    line-height: 18px;
}
.list-block .item-after{
    font-size: 12px;
    line-height: 18px;
}
.list-block .item-subtitle{
    font-size: 12px;
    line-height: 14px;
}
.list-block .item-text{
    font-size: 12px;
    line-height: 14px;
}
.content-block a{
    font-size: 14px;
    line-height: 16px;
}
/**删除线效果**/
.item-finished .item-title{
    text-decoration: line-through;
}
.item-finished .item-text{
    text-decoration: line-through;
}
/**popover宽度问题**/
.popover {
    width: 240px;
}
/**subnavbar和searchbar**/
.subnavbar{
    margin-top: 0px;
}
.page>.searchbar~.page-content.with-subnavbar{
    padding-top: 132px;
}
/**递归ul的padding－left**/
.list-block ul ul{
    padding-left: 20px;
}

/**聊天窗口toolbar**/

.messagebar.toolbar-hidden {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/**card**/
.ks-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}

.ks-facebook-card .card-header {
    display: block;
    padding: 10px;
}
.ks-facebook-card .ks-facebook-avatar {
    float: left;
}
.ks-facebook-card .ks-facebook-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
}
.ks-facebook-card .ks-facebook-date {
    margin-left: 44px;
    font-size: 13px;
    color: #8e8e93;
}
.ks-facebook-card .card-footer {
    background: #fafafa;
}
.ks-facebook-card .card-footer a {
    color: #81848b;
    font-weight: 500;
}
.ks-facebook-card .card-content img {
    display: block;
}
.ks-facebook-card .card-content-inner {
    padding: 15px 10px;
}
/**无尽滚动**/
.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
  display: none;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}        
/**居中**/
.center{
  text-align: center;
}
.navbar .button{
    overflow: initial;
}

/**索引列表**/
.list-index{
    background-color: transparent;
}