.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
.pagination{
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
}
.panel-footer{
  min-height: 56px!important;
}

.table-responsive{
    min-height: 300px;
}
.table-responsive th,
.table-responsive td{
  white-space: nowrap;
}