<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-md-3 control-label">选择需上传文件</label>
                          <div class="col-md-8">
                              <input id="file-3" type="file">
                          </div>
                      </div>
                    </form>                       
                </div>
                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-default">取消</button>
                    <button type="submit" class="btn btn-info">上传</button>
                </div>
            </div>
        </form>
    </div>
</div>

