<!--Left navigation start-->
<ul class="mainNav">       
    <li class="active">
        <!-- 第一层 -->
        <a href="#">
            <i class="fa fa-users"></i> <span>数据导入</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li><a href="#" id="localUpload" onclick="$('#tab_localUpload').click()">本地上传</a></li>    
            <li><a href="#" onclick="$('#tab_ftpUpload').click()">FTP上传</a></li>    
        </ul>                    
    </li>
</ul>
<!--Left navigation end-->

<!-- 收缩菜单初始化 -->
<script type="text/javascript" src="assets/js/pages/layout.js"></script>
