<div class="content-header">
    <ol class="breadcrumb">
        <li>系统管理</li>
        <li class="active">告警</li>
    </ol>
    <p class="muted">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字，说明文字说明文字说明文字说明文字。</p>
</div>
<div class="content" ng-init="initPage()">
    <div class="table-top clearfix">
        <form class="form-search pull-left">
            <input type="text" placeholder="搜索" class="form-control" style="width:150px">
            <button class="btn btn-default btn-flat"><i class="fa fa-search"></i></button>
        </form>
        <button class="btn btn-success btn-flat pull-right" type="button" ng-disabled="manrepair_isclicked" id="manrepair"  ng-click="showModal()" role="button">
            <i class="fa fa-wrench"></i> 手工修复
        </button>
    </div>
    <div class="box">
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th ng-click="checkedAll()"><input type="checkbox" ng-checked="allIsChecked"></th>
                        <th>级别</th>
                        <th>状态</th>
                        <th>告警对象</th>
                        <th>对象索引</th>
                        <th>产生时间</th>
                        <th>告警描述</th>
                        <th>修复建议</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="alarm in alarmList" id="alarmTr{{$index+1}}" ng-dblclick="dblClick($index+1, alarm)">
                        <td ng-click="checked(alarm)"><input type="checkbox" ng-checked="alarm.$checked"></td>
                        <td ng-style="{color:alarmSevColor(alarm.severity)}">{{alarm.severity | alarmSevState}}</td>
                        <td ng-style="{color:alarmStateColor(alarm.resolved)}">{{alarm.resolved | isOrNot}}</td>
                        <td>{{alarm.object}}</td>
                        <td>{{alarm.indexShow}}</td>
                        <td>{{alarm.when | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{alarm.description}}</td>
                        <td>{{alarm.tips}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix no-border">
            <page class="pull-right" total-count="page.totalCount" page-count="page.pageSize"
                select-size="getAlarmList(pageCount, currentPage)"
                current-page="page.currentPage" go-page="getAlarmList(pageCount, currentPage)"
                show-max-page="6" first-text="首页" last-text="末页"
                previous-text="上一页" next-text="下一页"></page>
        </div>        
    </div>
</div>
<!-- 提示信息 -->
<div id="alertModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">手工修复</h4>
    </div>
    <div class="modal-body">
        <form>
            <!--label>
                索引：{{resovleIndex}}
            </label>
            -->
            <label>备注：</label>
            <textarea class="span12 form-control" rows="3" ng-model="remark"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-flat" ng-click="resolveAlarm()">确定</button>
        <button class="btn btn-default btn-flat" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
</div>


