<div class="content-header">
    <ol class="breadcrumb">
        <li>系统管理</li>
        <li class="active">事件</li>
    </ol>
    <p class="muted">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字，说明文字说明文字说明文字说明文字。</p>
</div>
<div class="content" ng-init="initPage()">
    <div class="table-top clearfix">
        <form class="form-search pull-left">
            <input type="text" placeholder="搜索" class="form-control" style="width:150px">
            <button class="btn btn-default btn-flat"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="box">
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="12%">发生时间</th>
                        <th width="8%">操作者</th>
                        <th width="8%">事件类型</th>
                        <th width="10%">事件对象</th>
                        <th width="5%">事件状态</th>
                        <th width="8%">登陆IP</th>
                        <th width="40%">其他信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in eventList" id="eventTr{{$index+1}}">
                        <td>{{event.when | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{event.operator}}</td>
                        <td>{{event.event_type}}</td>
                        <td>{{event.object}}</td>
                        <td>{{event.status}}</td>
                        <td>{{event.sourceip}}</td>
                        <td style="text-align:left;">{{event.extra_info}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix no-border">
            <page total-count="eventPage.totalCount" page-count="eventPage.pageSize"
                select-size="getEventList(pageCount, currentPage)"
                current-page="eventPage.currentPage" go-page="getEventList(pageCount, currentPage)"
                show-max-page="6" first-text="首页" last-text="末页"
                previous-text="上一页" next-text="下一页"></page>
        </div>
    </div>
</div>


