<div class="content-header">
    <ol class="breadcrumb">
        <li>系统管理</li>
        <li class="active">日志</li>
    </ol>
    <p class="muted">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字，说明文字说明文字说明文字说明文字。</p>
</div>
<div class="content" ng-init="initPage()">
    <div class="table-top clearfix">
        <form class="form-search pull-left">
            <input type="text" placeholder="搜索" class="form-control" style="width:150px">
            <button class="btn btn-default btn-flat"><i class="fa fa-search"></i></button>
        </form>
        <button class="btn btn-success btn-flat pull-right" type="button" ng-click="goCreateLog()" ng-disabled="logacquire_isclicked" role="button">
            <i class="fa fa-download"></i> 收集
        </button>
        <button style="margin-right: 10px" class="btn btn-warning btn-flat pull-right" type="button" ng-click="goDeleteLog()" ng-disabled="logacquire_isclicked" role="button">
            <i class="fa fa-trash"></i> 清除
        </button>
    </div>
    <div class="box">
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th ng-click="checkedAllLog()"><input type="checkbox" ng-checked="allLogIsChecked"></th>
                        <th>节点名称</th>
                        <th>IP地址</th>
                        <th>日志大小</th>
                        <th>日志名称</th>
                    </tr>
                </thead>
                    <tr ng-repeat="log in logList" >
                        <td ng-click="checkedLog(log)"><input type="checkbox" ng-checked="log.$checked"></td>
                        <td>{{log.hostid}}</td>
                        <td>{{log.ipaddr}}</td>
                        <td>{{log.size}}</td>
                        <td ng-click="downloadLog(log.ipaddr)"><a>{{log.filename}}</a></td>
                    </tr>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 收集日志 -->
<div id="log" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabelE" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabelE">日志收集</h4>
    </div>
    <div class="modal-body">
        <form>
            <label>节点名称</label>
            <div class="input-append">
                <input class="form-control" type="text" ng-model="log.hostid" placeholder="请输入节点名称"/>
            </div>
            <label>IP地址</label>
            <div class="input-append">
                <input class="form-control" type="text" ng-model="log.ipaddr" placeholder="请输入IP地址"/>
                <button class="btn btn-primary" ng-click="addALog()"><i class="fa fa-plus"></i> 新增一条</button>
            </div>
        </form>
        <div class="title">
            <span>日志收集列表</span>
        </div>         
        <div ng-repeat="log in log4Create" style="margin:10px 0;border:1px dotted #e14a07;height:25px;line-height:25px;padding:1px 10px;width:80%;color:#e14a07;">
            <span>节点名称：{{log.hostid}}，</span>
            <span>IP地址：{{log.ipaddr}}</span>
            <span style="float:right;color:#e14a07;cursor:pointer;" ng-click="deleteALog(log)">×</span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-flat" ng-click="sureCreateLog()">确定</button>
        <button class="btn btn-default btn-flat" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
</div>

<div id="createLog" class="modal hide fade" style="width:380px;left: 55%;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h4 id="myModalLabel">
            收集日志
        </h4>
    </div>
    <div class="modal-body">
        <div> 
            下载最近
            <select  ng-model="logTime" style="width:95px; margin-top:3px" >
                <option value="onemonth"> 一个月 </option>
                <option value="oneweek"> 一个星期 </option>
                <option value="threeday"> 三天 </option>
                <option value="oneday"> 一天 </option>
            </select>
            <select ng-model="logModule" style="width:95px; margin-top:3px" >
                <option value="all"> 全部 </option>
                <option value="engine" > 存储引擎 </option>
                <option value="om"> 管理系统 </option>
                <option value="os">操作系统</option>
            </select>
            的日志
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-flat" ng-click="collectLog()">
            确定
        </button>
        <button class="btn btn-default btn-flat" data-dismiss="modal" aria-hidden="true">
            取消
        </button>
    </div>
</div>

<div id="deleteLog" class="modal hide fade" style="width:380px;left: 50%;"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h4 id="myModalLabel">
            清除日志
        </h4>
    </div>
    <div class="modal-body">
        <p>
            确定清除日志
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-flat" ng-click="deleteLog()">
            确定
        </button>
        <button class="btn btn-default btn-flat" data-dismiss="modal" aria-hidden="true">
            取消
        </button>
    </div>
</div>
