@import"../font-awesome/css/font-awesome.min.css";
html{-webkit-text-size-adjust:none; height: 100%;}
body{font-family: Microsoft YaHei; color: #2b2b2b; font-size: 12px; -webkit-text-size-adjust:none;height: 100%;}
th,td{font-family: Microsoft YaHei;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family: Microsoft YaHei;}
ul{list-style-type: none;padding: 0;}
a:focus,.btn:focus{outline: 0;}
.red{color: #f00;}
/*总体*/
.header-wrap{background-color: rgba(0,0,0,0.5); color: #fff; position: relative; margin-bottom: -56px; z-index: 1000; padding: 10px 0;}
.header-wrap h1{margin: 0; margin-left: 20px; font-size: 20px;}
.header-wrap h1 img{margin-right: 20px;}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 3px;
  background-color: #d3d3d3 \9;
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
}
.carousel-indicators .active {
  width: 14px;
  height: 14px;
  margin: 3px;
  border: 1px solid #fff;
  background-color: #fff;
}
.home-banner{background-color: #000;}
#main_content{min-height: 500px; min-width: 1200px;}
.mod-wrap{width: 1200px; margin: 0 auto;}
.feature{padding: 50px 0;}
.feature h2{margin-left: auto; margin-right: auto; width: 80%; font-size: 24px; border-bottom: 1px solid #ddd; text-align: center;}
.feature h2 span{display:inline-block; border-bottom: 3px solid #ff9f08; position: relative; height: 45px; margin-bottom: -2px;}
.home-privateCloud{text-align: center; background-color: #fafafa;}
.home-privateCloud ul{width: 80%; margin-left:auto; margin-right: auto;}
.home-privateCloud ul li{float: left; margin: 10px; height: 120px;}
.home-privateCloud .link{text-align: center; font-size: 16px;}

/*底部*/
.footer-register{height: 235px; background: url('../img/footerbg.png') no-repeat center top; min-width: 1000px;}
.footer-register h3{margin-top: 0; padding-top: 40px; font-size: 28px; color: #ff9f08;}
.footer-register p{margin-top: 20px; font-size: 18px; color: #fefefe;}


