<ol class="breadcrumb">
  <li><a href="#">首页</a></li>
  <li class="active">服务</li>
  <li class="active"><a ui-sref="app.service.productlist">产品</a></li>
  <li class="active">创建服务</li>
</ol>

<div class="main-first-tab">
  <tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false, step4:false}">
    <tab heading="基本信息" disabled="true" active="steps.step1" select="steps.percent=10">
      <form name="step1" class="form-validation">
        <table class="steps-table" width="100%">
	      <tbody id="">
	        <tr>
	          <td class="col-xs-3 text-right">服务类型：</td>
	          <td class="col-xs-3 text-left">
	          	<select name="select" class="form-control" ng-model="select" required ng-change="step1.select.$valid ? (steps.percent=30) : (steps.percent=20)">
	          		<option value="0">请选择服务类型</option>
	          		<option value="1">云主机</option>
	          		<option value="2">云硬盘</option>
	          	</select>
	          </td>
	          <td class="text-danger mustfill">*</td>
	        </tr>
	        <tr>
	          <td class="col-xs-3 text-right">服务名称：</td>
	          <td class="col-xs-3 text-left">
	          	<input type="text" name="sname" class="form-control" ng-model="sname" required />
	          </td>
	          <td class="text-danger mustfill">*</td>
	        </tr>
	        <tr>
	          <td class="col-xs-3 text-right">服务目录：</td>
	          <td class="col-xs-3 text-left">
	          	<div class="form-group has-feedback" style="display:inline">
				      <div class="input-group">
				        <span class="input-group-addon"><i class="fa fa-folder"></i></span>
				        <input type="text" class="form-control" ng-focus="showTree()" ng-blur="hideTree()" required />
						<div class="folder-showbox" style="display:{{inputGroupSuccessTree}};">
							<ngztree setting="ztreeSetting1" data="ztreeData1"></ngztree>
					    </div>
				      </div>
				</div>
	          </td>
	          <td class="text-danger mustfill"></td>
	        </tr>
	        <tr>
	        	<td class="col-xs-3 text-right">服务简介：</td>
	            <td class="col-xs-3 text-left" colspan="2">
	            	<textarea style="width:60%;min-width:300px;" rows="6" required></textarea>
	            </td>
	        </tr>
	        <tr>
	          <td class="col-xs-3 text-right">有效期限：</td>
	          <td class="col-xs-3 text-left">
	          	<p class="input-group" ng-controller="timePickerCtrl">
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	              <input type="text" name="utime" class="form-control" ng-click="open($event)" readonly="readonly" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required />
	            </p>
	          </td>
	          <td class="text-danger mustfill">*</td>
	        </tr>
	        
	      </tbody>
	    </table>
        <div class="m-t m-b text-right">
          <button type="submit" ng-disabled="step1.sname.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step2=true">下一步</button>
        </div>
      </form>
    </tab>
    <tab heading="服务资源" disabled="true" active="steps.step2" select="steps.percent=25">
      <form name="step2" class="form-validation">
        <table class="steps-table" width="100%">
	      <tbody id="">
	      	<tr>
	          <td class="col-xs-3 text-right">数据中心：</td>
	          <td class="col-xs-3 text-left">
	          	<select class="form-control">
	          		<option value="0">102</option>
	          		<option value="1">103</option>
	          	</select>
	          </td>
	          <td class="text-danger mustfill">*</td>
	        </tr>
	        <tr>
	          <td class="col-xs-3 text-right">虚拟化平台：</td>
	          <td class="col-xs-3 text-left">
	          	<select class="form-control">
	          		<option value="0">请选择虚拟化平台</option>
	          		<option value="1">winserver</option>
	          		<option value="2">PowerVM</option>
	          		<option value="2">VMware</option>
	          	</select>
	          </td>
	          <td class="text-danger mustfill">*</td>
	        </tr>
			<tr>
	          <td class="col-xs-3 text-right">资源名称：</td>
	          <td class="col-xs-3 text-left">
	          	<select class="form-control">
	          		<option value="0">请选择资源模板</option>
	          		<option value="1">模板121212</option>
	          		<option value="2">模板啊啊U我asdasd</option>
	          		<option value="2">VMware</option>
	          	</select>
	          </td>
	          <td class="text-danger mustfill">*</td>
	        </tr>
	      </tbody>
	      <tbody class="form-inline" style="font-size:12px;">
	        <tr>
	          <td class="col-xs-3 text-right"></td>
	          <td class="text-left" colspan="2">
	          	<table>
	          		<tr>
	          			<td>操作系统：</td>
	          			<td>Red Hat Enterprise Linux Server release 6.0 (Santiago)</td>
	          			<td></td>
	          		</tr>
	          		<tr>
	          			<td>CPU个数：</td>
						<td><input type="text" name="sname" class="form-control" ng-model="sname" required /> 个 <span class="text-danger mustfill">*</span></td>
	          		</tr>
	          		<tr>
	          			<td>内存容量：</td>
						<td><input type="text" name="sname" class="form-control" ng-model="sname" required /> G <span class="text-danger mustfill">*</span></td>
	          		</tr>
	          		<tr>
	          			<td>磁盘大小：</td>
						<td><input type="text" name="sname" class="form-control" ng-model="sname" required /> G <span class="text-danger mustfill">*</span></td>
	          		</tr>
	          	</table>
	          </td>
	        </tr>
	      </tbody>
	    </table>
        <div class="m-t m-b text-right">
          <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step1=true">上一步</button>
          <button type="submit" ng-disabled="step2.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step3=true">下一步</button>
        </div>
      </form>
    </tab>
    <tab heading="服务价格" disabled="true" active="steps.step3" select="steps.percent=50">
      <form name="step3" class="form-validation">
        <table class="steps-table" width="100%">
	      <tbody id="">
	      	<tr>
	          <td class="col-xs-3 text-right">服务计费方式：</td>
	          <td class="col-xs-3 text-left">
	          	<select class="form-control">
	          		<option value="0">小时计费</option>
	          		<option value="1">包月计费</option>
	          	</select>
	          </td>
	          <td class="text-danger mustfill">*</td>
	        </tr>
	        <tr>
	          <td class="col-xs-3 text-right">服务价格：</td>
	          <td class="col-xs-3 text-left">
	          	<input type="text" name="" class="form-control" disabled value="每小时68元" />
	          </td>
	          <td class="text-danger mustfill">*</td>
	        </tr>
	      </tbody>
	    </table>
        <div class="m-t m-b text-right">
          <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step2=true">上一步</button>
          <button type="submit" ng-disabled="step3.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step4=true">下一步</button>
        </div>
      </form>
    </tab>
    <tab heading="展示信息" disabled="true" active="steps.step4" select="steps.percent=75">
      <form name="step3" class="form-validation">
        <table class="steps-table" width="100%">
	      <tbody id="">
	      	<tr>
	          <td class="col-xs-3 text-right">服务介绍：</td>
	          <td class="col-xs-3 text-left">
	          	<input type="text" name="" class="form-control" placeholder="点我进行编辑" />
	          </td>
	          <td></td>
	        </tr>
	        <tr>
	          <td class="col-xs-3 text-right">技术参数描述：</td>
	          <td class="col-xs-3 text-left">
	          	<input type="text" name="" class="form-control" placeholder="点我进行编辑" />
	          </td>
	          <td></td>
	        </tr>
	        <tr>
	          <td class="col-xs-3 text-right">服务帮助描述：</td>
	          <td class="col-xs-3 text-left">
	          	<input type="text" name="" class="form-control" placeholder="点我进行编辑" />
	          </td>
	          <td></td>
	        </tr>
	      </tbody>
	    </table>
      </form>
      <div class="m-t m-b text-right">
        <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step3=true">上一步</button>
        <button type="button" class="btn btn-default btn-rounded" ng-click="steps.percent=100">完成</button>
      </div>
    </tab>
  </tabset>
</div>