<div class="wrapper-md">
  <div class="tab-container">
    <ul class="nav nav-tabs">
      <li >
        <a ui-sref = "app.resource.host">云主机</a>
      </li>
      <li>
        <a ui-sref = "app.resource.storage">云硬盘</a>
      </li>
      <li class="active">
        <a >模板</a>
      </li>
      <li>
        <a ui-sref = "app.resource.resourcesrecovery">资源回收</a>
      </li>
      <li>
        <a ui-sref = "app.resource.ippool">IP池</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" >
        <div class="row">
         
          <div class=" form-group col-sm-4">
            <div class="input-group m-b">
            <span class="input-group-addon">模板名称</span>              
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
          
        </div>
        <div class="table-responsive">
          <table class="table table-striped b-t b-light">
            <thead>
              <tr>
                
                <th>模板名称</th>
                <th>虚拟化类型</th>
                <th>操作系统</th>
                <th >CPU(个)</th>
                <th >内存(G)</th>
                <th >存储(G)</th>
                <th >创建人</th>
                <th >所属业务域</th>
                <th >操作</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>qweeee666</td>
                <td>winserver</td>
                <td>Red Hat</td>
                <td>1</td>
                <td>1</td>
                <td>8</td>
                <td>hgk</td>
                <td>hgk</td>
                <td> 
                  <span ng-controller="ModalDemoCtrl">
                    <script type="text/ng-template" id="myModalContent1">
                      <div ng-include="'modules/resource/modal.formmodifi.html'"></div>
                    </script>
                    <a ng-click="open('','myModalContent1')">修改</a>
                  </span>
                  <span ng-controller="ModalDemoCtrl">
                    <script type="text/ng-template" id="myModalContent2">
                      <div ng-include="'modules/resource/modal.formdelete.html'"></div>
                    </script>
                    <a ng-click="open('sm','myModalContent2')">删除</a>
                  </span>
                   </td>
             
              </tr>
              
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>