<style>
.bigview-ul li{float:left;width:268px;overflow:hidden;margin-right:19px;margin-top:19px;border:1px solid #eee;padding:18px 25px;height:194px;position:relative;}
.bigview-ul li:hover,.bigview-ul li.selected{border-color:#6fd4fd;background:#def5ff;cursor:pointer;}
.select-sign{display:none;}
.bigview-ul li:hover .select-sign{display:block;position:absolute;width:44px;height:44px;background:url(assets/image/bigview/hover.png) no-repeat;right:0;bottom:0;}
.bigview-ul li.selected .select-sign{display:block;position:absolute;width:44px;height:44px;background:url(assets/image/bigview/selected.png) no-repeat;right:0;bottom:0;}
.bigview-ul li.unselect .disable{z-index:99;display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255,255,255,.7);}
.bigview-ul li>p{text-align:center;font-size:14px;}
.bigview-selectbox{position:relative;height:130px;}
.select-img-box{position:absolute;background:#fff;box-shadow:0px 0px 3px #ddd;}
.select-img-box img{display:block;margin:3px;}
.select-img-box.index1{width:220px;height:100px;z-index:20;}
.select-img-box.index1 img{width:214px;height:94px;}
.select-img-box.index2{width:200px;height:91px;z-index:21;top:20px;left:10px;}
.select-img-box.index2 img{width:194px;height:85px;}
.select-img-box.index3{width:180px;height:82px;z-index:22;top:40px;left:20px;}
.select-img-box.index3 img{width:174px;height:76px;}

</style>
<div class="container content-box" style="padding:10px 0 0 20px;">
	<h4><strong>请选择展示内容</strong></h4>
	<ul class="bigview-ul">
		<li ng-repeat="setting in settings" ng-click="clickView($index+1,setting)" ng-class="{'selected':selectNum && selectNum == $index+1,'unselect':selectNum && selectNum != $index+1}">
			<div class="bigview-selectbox">
				<div class="select-img-box index{{$index+1}}" ng-repeat="img in setting.url | limitTo:3">
					<img ng-src="{{ img.image }}" alt="">
				</div>
			</div>
			<p style="word-break: break-all;" title="{{ setting.name }}">{{ setting.name }}</p>
			<i class="select-sign"></i>
			<i class="disable"></i>
		</li>
		
	</ul>
	<ul class="clearfix" style="margin-bottom:20px;"></ul>
	<a class="btn btn-primary" ng-click="startFrame()">展示</a>
	<div class="alert alert-warning" role="alert" style="width: 420px;margin-top: 15px;font-size:14px;">		
		注：大屏展示模式下将鼠标移至屏幕右边将会显示关闭按钮。
	</div>
	
</div>