@import"../font-awesome/css/font-awesome.min.css";
html{-webkit-text-size-adjust:none; height: 100%;}
body{font-family: Microsoft YaHei; color: #2b2b2b; font-size: 12px; -webkit-text-size-adjust:none;height: 100%;}
th,td{font-family: Microsoft YaHei;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family: Microsoft YaHei;}
ul{list-style-type: none;padding: 0;}
a:focus,.btn:focus{outline: 0;}
.red{color: #f00;}
.formError * {box-sizing:content-box;}
.modal-dialog .red{display: inline-block; margin-left: -15px; padding-top: 8px;}
/*总体*/
#main_content{min-height: 500px; min-width: 1000px;}
.mod-wrap{width: 1000px; margin: 0 auto;}
@media (min-width: 992px) {
  .container {
    width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
.btn{border-radius: 2px;}
.btn-danger {
  background-color: #cf1312;
  border-color: #cf1312;
}
.btn-danger:focus,
.btn-danger.focus {
  background-color: #e51716;
  border-color: #e51716;
}
.btn-danger:hover {
  background-color: #e51716;
  border-color: #e51716;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-color: #e51716;
  border-color: #e51716;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  background-color: #e51716;
  border-color: #e51716;
}
.btn-warning {
  background-color: #ff9f08;
  border-color: #ff9f08;
}
.btn-warning:focus,
.btn-warning.focus {
  background-color: #f9ac34;
  border-color: #f9ac34;
}
.btn-warning:hover {
  background-color: #f9ac34;
  border-color: #f9ac34;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-color: #f9ac34;
  border-color: #f9ac34;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  background-color: #f9ac34;
  border-color: #f9ac34;
}
.btn-mid {
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.3333333;
}
/*可拖动弹窗*/
.modal.modal-draggable { overflow-y: auto!important }
.modal.modal-draggable .modal-header { cursor: pointer }
/*头部*/
.navbar-default{margin:0;background-color: #fff;border-bottom: none;}
.navbar-default .navbar-brand{margin-right: 30px; height: auto;}
.navbar-header, .navbar-nav > li {float: left !important;}
.navbar-default .navbar-nav > li > a {
  color: #2b2b2b;
  font-size: 16px; 
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-left: 35px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #cf1313;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #cf1313;
  border-bottom: 4px solid #cf1313;
  background-color: transparent;
}
/*底部*/
.footer-register{height: 235px; background: url('../img/footerbg.png') no-repeat center top; min-width: 1000px;}
.footer-register h3{margin-top: 0; padding-top: 40px; font-size: 28px; color: #ff9f08;}
.footer-register p{margin-top: 20px; font-size: 18px; color: #fefefe;}
.footer-register .btn{margin-top: 25px;}
.btn-register{border-radius: 1px; padding: 8px 40px; background-color: #cf1313; -webkit-box-shadow: 0 3px 1px #960000; box-shadow: 0 3px 1px #960000; color: #fff; font-size: 16px;}
.btn-register:hover,
.btn-register:focus,
.btn-register.focus {
  color: #fff;
  background-color: #e41313;
}
.footer-columns {background-color: #222; min-width: 1000px;}
.footer-columns-inner{margin-bottom: 30px;}
.footer-columns .columns {
    display: inline-block;
    min-width: 124px;
    vertical-align: top;
    width: 19%;
}
.footer-columns .columns h3 {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-left: 80px;
}
.footer-columns .columns ul {
    padding-left: 80px;
}
.footer-columns .columns ul li, .footer-columns .columns ul li a {
    color: #eee;
    display: block;
    font-size: 12px;
}
.footer-columns .columns ul li {
    line-height: 26px;
}
.footer-columns .columns ul li a:hover {
    color: #fff;
}
.footer-columns .copyright {text-align: center; color: #fff; border-top: 1px solid #373737; padding: 25px 0;}
.footer-columns .copyright span{margin: 0 15px;}
/*首页*/
.home-banner{background: #b41010 url('../img/banner_home.png') no-repeat center top; height: 486px;}
.home-banner .btn-view{display: block; height: 486px; line-height: 999em; overflow: hidden;}
.home-banner .btn-view:hover{background: url('../img/banner_home_hover.png') no-repeat center top;}
.home-feature{padding: 50px 0;}
.home-feature:nth-child(odd){background:#f7f7f7;}
.home-feature .feature-content h2{font-size: 24px;background: url('../img/cornerbg.png') no-repeat 0 0; height: 55px; line-height: 53px; margin-top: 0; padding-left: 10px; font-weight: 700;}
.home-feature .feature-content ul{margin-bottom: 10px; margin-top: 20px;}
.home-feature .feature-content li{font-size: 16px; padding-left: 15px; padding-bottom: 10px; background: url('../img/dot.png') no-repeat 0 13px; line-height: 2;}
.feature{padding: 50px 0;}
.feature h2{margin-left: auto; margin-right: auto; width: 80%; font-size: 24px; border-bottom: 1px solid #ddd; text-align: center;}
.feature h2 span{display:inline-block; border-bottom: 3px solid #ff9f08; position: relative; height: 45px; margin-bottom: -2px;}
.home-publicCloud{text-align: center;}
.home-publicCloud p{margin-top: 20px; font-size: 16px; line-height: 2;}
.home-privateCloud{text-align: center; background-color: #fafafa;}
.home-privateCloud ul{width: 80%; margin-left:auto; margin-right: auto;}
.home-privateCloud ul li{float: left; margin: 10px; height: 120px;}
.home-privateCloud .link{text-align: center; font-size: 16px;}
/*产品*/
.carousel-inner > .items1{background-color: #ffa800;}
.carousel-inner > .items2{background-color: #e67346;}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: 0 auto;
}
.carousel-control.left,.carousel-control.right {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control .icon-prev,
.carousel-control .icon-next{
  top: 40%;
}
.carousel-control .icon-prev:before {
  content: '';
}
.carousel-control .icon-next:before {
  content: '';
}
.products:nth-child(odd){background:#f7f7f7;}
.products .products-graph{margin-bottom: 10px; margin-top: 50px;}
.products .products-content ul{margin-bottom: 10px; margin-top: 70px;}
.products .products-content li{font-size: 16px; padding-left: 15px; padding-bottom: 10px; background: url('../img/dot.png') no-repeat 0 13px; line-height: 2;}
.products h4{margin-top: 100px; font-weight: 700;}
.products .col-xs-6 h4{margin-top: 30px; text-align: center;}
.products .col-xs-6 .products-graph{margin-top: 30px;text-align: center;}
.products p{font-size: 16px; line-height: 2; color: #555;}

/*客户案例*/
.customers-banner{background: url('../img/banner_customers.png') no-repeat center top; height: 488px;}
.customer-list{margin: 40px 0 0;}
.customer-list .customer-img{text-align: center;}
.customer-list .customer-img h3{font-weight: 600;}
.customer-list .customer-desc h4{margin-top: 5px; font-weight: 700;}
.customer-list .customer-desc p{margin-bottom: 40px; font-size: 16px; line-height: 1.7; color: #555;}
/*合作伙伴*/
.partner-banner{background: #b72e32 url('../img/banner_partner.jpg') no-repeat center top; height: 488px;}
.partner-join{background-color: #fafafa;}
.contact-list{margin: 45px 0;}
.contact-list li{float:left; width: 250px; height: 30px; line-height: 30px; padding-left: 40px; font-size: 20px; background: url('../img/smallicon.png') no-repeat 0 0;}
.contact-list li.user{background-position: 0 0;}
.contact-list li.imobile{background-position: 0 -30px;}
.contact-list li.qq{background-position: 0 -60px;}
.contact-list li.phone{background-position: 0 -90px;}
.partner-join .link{text-align: center;}
.channel-list{margin: 45px 0;}
.channel-list li{float: left; width: 174px; height: 79px; margin: 10px;}
.partner-apply{text-align: center;}
.partner-apply h3{margin-top: 40px; color: #cf1313;}
.partner-apply p{font-size: 16px; line-height: 2;}
/*帮助，关于*/
.box-wrap{border-top: 1px solid #eee;}
.sub-menu h3{color: #cf1313; font-size: 18px; font-weight: 700;}
.sub-menu .nav{margin-top: 20px;}
.sub-menu .nav > li{margin-bottom: -1px;}
.sub-menu .nav > li > a{font-size: 16px; border-top: 1px dashed #e5e5e5; border-bottom: 1px dashed #e5e5e5; color: #2a2a2a;}
.sub-menu .nav > li > a:hover{background-color: transparent;}
.sub-menu .nav > li.active > a{background-color: #cf1313;border-top: 1px solid #cf1313; border-bottom: 1px solid #cf1313; color: #fff;}
.download-wrap p{margin-top: 25px;}
.help-content h3,.aboutus-content h3{font-size: 20px; color: #cf1313;}
.help-content h4,.aboutus-content h4{margin-top: 30px;}
.help-content p,.aboutus-content p{margin: 20px 0; font-size: 14px; line-height: 2;}
.help-faq h4,.aboutus-faq h4{font-weight: 700;}
.help-faq p,.help-faq li,.aboutus-faq p{color: #555;}
.help-faq li{padding-left: 15px; padding-bottom: 10px; background: url('../img/dot-red.png') no-repeat 0 9px; line-height: 2; font-size: 14px;}
.help-download ul{margin-top: 20px;}
.help-download li{padding-left: 15px; padding-bottom: 10px; background: url('../img/dot-red.png') no-repeat 0 9px; line-height: 2; font-size: 14px;}
.aboutus-faq strong{font-size: 20px; color: #cf1313; line-height: 1;}
.aboutus-content .media{margin-top: 20px; min-height: 100px;}
.aboutus-content .media h5{font-size: 16px; font-weight: 700; color: #cf1313;}
.aboutus-content .media p{margin-top: 10px;}
.aboutus-content .media .media-left{padding-right: 20px;}
.aboutus-contact p{font-size: 16px; color: #555;}
.aboutus-contact .contact{margin-top: 30px;}
.aboutus-contact .contact p{margin: 10px 0; }
.aboutus-contact .bus{background: url('../img/icon_vehicle.png') no-repeat 0 0; height: 30px; line-height: 30px; padding-left: 30px; margin-bottom: -10px;}
.aboutus-contact .metro{background: url('../img/icon_vehicle.png') no-repeat 0 -30px; height: 30px; line-height: 30px; padding-left: 30px; margin-bottom: -10px;}
/*私有云租赁*/
.privateCloud-banner{background: #b72e32 url('../img/banner_privateCloud.png') no-repeat center top; height: 488px;}
.privateCloud-intro p{margin-top: 30px; font-size: 16px; line-height: 2;}
.intro-list{margin-top: 30px;}
.intro-list li{float: left; text-align: center; width: 18%; margin: 1%;}
.privateCloud-why{background: url('../img/privateCloudpic.jpg') no-repeat center top; height: 630px;}
.why-list{margin-top: 30px;}
.why-list li{float: left; width: 23%; margin: 1%; background-color: #fff; padding: 40px 40px 20px; height: 30em; line-height: 1.5;}
.why-list li img{display: block; margin: 0 auto;}
.why-list li h4{margin-top: 20px;font-weight: 700;}
.why-list li p{font-size: 14px;}
.privateCloud-rent .table{margin-top: 30px;}
.privateCloud-rent .table > thead > tr > th{border-bottom: none; background-color: #cd1b1a; color: #fff; font-weight: 300; font-size: 16px; padding: 15px; font-weight: 700;}
.privateCloud-rent .table > tbody > tr > td{border-top: none; font-size: 16px; padding: 15px; font-weight: 700;}
.privateCloud-rent p{font-size: 16px; line-height: 2; color: #cd1b1b; font-weight: 700;}
/*联系我们*/
.contactus {
    background-color: #cf1312;
    font-size: 14px;
    padding: 5px 6px 8px;
    position: fixed;
    right: 0;
    top: 200px;
    width: 32px;
    z-index: 20;
    border:2px solid #fff;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.contactus .contactus_me{color: #fff; background: url('../img/iconuser.png') no-repeat center top; padding-top: 22px; text-align: center;}
.contactus .contactus_info {
    background-color: #fff;
    border: 1px solid #eee;
    display: none;
    padding: 10px;
    position: absolute;
    right: 30px;
    top: -2px;
}
.contactus .contact_us {
    color: #cf1312;
    font-size: 18px;
}
.contactus .content {
    font-size: 16px;
}
.contactus .content h4 {
    color: #555;
    font-size: 12px;
}
.contactus .content p {
    margin-bottom: 15px;
}
.contactus .content p a {
    color: #2b2b2b;
    text-decoration: underline;
}
.contactus .arrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #fff;
    border-image: none;
    border-style: solid;
    border-width: 6px;
    display: none;
    height: 0;
    position: absolute;
    right: 19px;
    top: 10px;
    width: 0;
}
.contactus .qq {
    background-color: #fab64a;
    border: 1px solid #ffa008;
    border-radius: 3px;
    color: #cf1312;
    display: inline-block;
    font-size: 14px;
    margin: 20px 0;
    padding: 5px 28px;
    text-decoration: none;
}
.contactus:hover .contactus_info, .contactus:hover .arrow {
    display: block;
}
/*视频弹窗*/
.modal-viedo{width: 902px !important;}
.modal-viedo .modal-body{padding: 0; background: url('../img/video.png') no-repeat center top;}