<div class="pagination pagination-small pagination-right">
  <ul>
    <li><a href="" ng-click="setCurrentPage(1)" style="margin: 0 2px !important;">{{firstText}}</a></li>
    <li><a href="" ng-click="setCurrentPage(currentPage-1)" style="margin: 0 2px !important;">{{previousText}}</a></li>
    <li ng-repeat="pageno in pages" ng-class="{'active':pageno==currentPage}">
    	<a href="" ng-click="setCurrentPage(pageno)" ng-class="{'page-active':pageno==currentPage}" 
    			style="margin: 0 2px !important;">{{pageno}}</a>
    </li>
    <li><a href="" ng-click="setCurrentPage(currentPage-0+1)" style="margin: 0 2px !important;">{{nextText}} </a></li>
    <li><a href="" ng-click="setCurrentPage(totalPage)" style="margin: 0 2px !important;">{{lastText}}</a></li>
  </ul>
</div>
