<div class="pagination pagination-small pagination-right">
  <ul>
    <li><a href="" ng-click="setCurrentPage(1)">{{firstText}}</a></li>
    <li><a href="" ng-click="setCurrentPage(currentPage-1)">{{previousText}}</a></li>
    <li ng-repeat="pageno in pages" ng-class="{'active':pageno==currentPage}">
    	<a href="" ng-click="setCurrentPage(pageno)" ng-class="{'page-active':pageno==currentPage}">{{pageno}}</a>
    </li>
    <li><a href="" ng-click="setCurrentPage(currentPage-0+1)">{{nextText}} </a></li>
    <li><a href="" ng-click="setCurrentPage(totalPage)">{{lastText}}</a></li>
  </ul>
</div>
