<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Handson Table</h1>
</div>
<div class="wrapper-md" ng-controller="HandsonTableCtrl">
  
  <hot-table settings="{colHeaders: colHeaders, contextMenu: ['row_above', 'row_below', 'remove_row'], afterChange: afterChange}"
             row-headers="false"
             min-spare-rows="minSpareRows"
             datarows="db.items"
             height="300"
             width="700">
      <hot-column data="id" title="'ID'"></hot-column>
      <hot-column data="name.first" title="'First Name'" type="grayedOut" read-only></hot-column>
      <hot-column data="name.last" title="'Last Name'" type="grayedOut" read-only></hot-column>
      <hot-column data="address" title="'Address'" width="150"></hot-column>
      <hot-column data="product.description" title="'Favorite food'" type="'autocomplete'">
          <hot-autocomplete datarows="description in product.options"></hot-autocomplete>
      </hot-column>
      <hot-column data="price" title="'Price'" type="'numeric'" width="80" format="'$ 0,0.00'"></hot-column>
      <hot-column data="isActive" title="'Is active'" type="'checkbox'" width="65" checked-template="'Yes'" unchecked-template="'No'"></hot-column>
  </hot-table>

</div>
