<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  ">
  <!-- column -->
  <div class="col w-full lt b-r">
    <div class="vbox">
      <div class="row-row" ng-controller="AgGridCtrl">
        <div ag-grid="gridOptions" class="ag-fresh" style="height: 100%;"></div>
      </div>
    </div>
  </div>
  <!-- /column -->

</div>
<!-- /hbox layout -->