<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Object Table</h1>
</div>
<div class="wrapper-md" ng-controller="ObjectTableCtrl">
  
  <table object-table
  from-url = "tpl/components/table/table_object_01.json"
  data = "exportDataVariable"
  display = "10"
  headers = "Name, Eye color, Age,Balance,Company,Favorite Fruit"
  fields = "name,eyeColor,age,balance,company,favoriteFruit"
  sorting = "compound"
  editable = "true"
  resize="true"
  drag-columns="true">

  <table object-table 
    data="data_02" 
    display="10" 
    headers="Age, full Name" 
    fields="age,name" 
    paging="false" 
    sorting="simple" 
    search="false"
    ></table>

</div>
