<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">导入客户群</h4>
      </div>
      <div class="modal-body">
        <div class="row jindu">
            <div class="col-md-2"><h5>导入进度</h5></div>
            <div class="col-md-7">
                <div class="progress" id="progressBar">
                  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                  </div>
                </div>
            </div>
            <div id="jindu" class="col-md-3"><h6><span>45%</span> <span class="blue">(进行中)</span></h6></div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info">完成</button>
      </div>      
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

