<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">广东省高学历已婚群一</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">各省份用户数统计</h3>
                    </div>
                    <div class="panel-body">
                       <div id="group_chart_chart1" style="height:250px"></div>
                    </div>
                </div>
            </div> 
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">教育程度用户数统计</h3>
                    </div>
                    <div class="panel-body">
                       <div id="group_chart_chart2" style="height:250px"></div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">婚姻状况用户数统计</h3>
                    </div>
                    <div class="panel-body">
                       <div id="group_chart_chart3" style="height:250px"></div>
                    </div>
                </div>
            </div> 
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">家庭人数用户数统计</h3>
                    </div>
                    <div class="panel-body">
                       <div id="group_chart_chart4" style="height:250px"></div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">用户数统计</h3>
                    </div>
                    <div class="panel-body">
                       <div id="group_chart_chart5" style="height:250px"></div>
                    </div>
                </div>
            </div>  
        </div>

      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">


    setTimeout('initEchart()',200);//延迟加载，为了得到div的宽度
    function initEchart(){
        /*
        * 百度echarts
        */
        // 路径配置
        require.config({
            paths: {
                echarts: 'assets/js/plugins/echarts'
            }
        });
        // 各省份用户数统计
        require(
            [
                'echarts',
                'echarts/theme/macarons', //加载主题macarons
                'echarts/chart/pie' // 使用饼图，按需加载
            ],
            function (ec,theme) {
                // 基于准备好的dom，初始化echarts图表
                var group_chart_chart1 = ec.init(document.getElementById('group_chart_chart1'),theme); 
                var option = {                    
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },          
                    legend: {
                        orient : 'vertical',
                        x: 'right',
                        data:['广东省','广西省','河北省','河南省','湖南省','安徽省','山东省','江苏省','浙江省','江西省','湖北省','甘肃省','山西省','内蒙古','陕西省','吉林省','福建省','贵州省','其他省份']
                    },                     
                    series : [
                        {
                            name:'用户数',
                            type:'pie',
                            radius : '50%',
                            center: ['30%', '40%'],
                            itemStyle : {
                                normal : {
                                    label : {
                                        formatter : '{d}%'
                                    },
                                    labelLine : {length:0},
                                    borderColor: '#fff',
                                }
                            },
                            data:[
                                {value:335, name:'广东省'},
                                {value:310, name:'广西省'},
                                {value:234, name:'河北省'},
                                {value:135, name:'河南省'},
                                {value:105, name:'湖南省'},
                                {value:335, name:'安徽省'},
                                {value:310, name:'山东省'},
                                {value:234, name:'江苏省'},
                                {value:234, name:'浙江省'},
                                {value:234, name:'江西省'},
                                {value:234, name:'湖北省'},
                                {value:135, name:'甘肃省'},
                                {value:75, name:'山西省'},
                                {value:37, name:'内蒙古'},
                                {value:78, name:'陕西省'},
                                {value:56, name:'吉林省'},
                                {value:77, name:'福建省'},
                                {value:45, name:'贵州省'},
                                {value:11, name:'其他省份'}
                            ]
                        }
                    ]
                };      

                // 为echarts对象加载数据 
                group_chart_chart1.setOption(option); 
            }
        );

        // 教育程度用户数统计
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图，按需加载
            ],
            function (ec,theme) {
                // 基于准备好的dom，初始化echarts图表
                var group_chart_chart2 = ec.init(document.getElementById('group_chart_chart2')); 
                var option = {                
                    tooltip: {
                        trigger: 'item'
                    },
                    grid: {
                        borderWidth: 0,
                        y: 50,
                        y2: 10
                    },
                    xAxis: [
                        {
                            type: 'category',
                            show: false,
                            data: ['小学', '初中', '高中', '本科', '硕士', '博士']
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            show: false
                        }
                    ],
                    series: [
                        {
                            name: '教育程度',
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    color: function(params) {
                                        // build a color map as your need.
                                        var colorList = [
                                          '#97b552','#2ec7c9','#bbb','#b6a2de','#bbb','#5ab1ef',
                                           '#bbb','#ffb980','#bbb','#d87a80','#bbb',
                                           '#8d98b3','#bbb','#e5cf0d','#bbb','#97b552'
                                        ];
                                        return colorList[params.dataIndex]
                                    },
                                    label: {
                                        show: true,
                                        position: 'top',
                                        formatter: '{b}\n{c}'
                                    }
                                }
                            },
                            data: [45,100,420,1200,420,520]

                        }
                    ]
                };
                            
                // 为echarts对象加载数据 
                group_chart_chart2.setOption(option); 
            }
        );

        // 婚姻状况用户数统计
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图，按需加载
            ],
            function (ec,theme) {
                // 基于准备好的dom，初始化echarts图表
                var group_chart_chart3 = ec.init(document.getElementById('group_chart_chart3')); 
                var option = {               
                    tooltip: {
                        trigger: 'item'
                    },
                    grid: {
                        borderWidth: 0,
                        y: 50,
                        y2: 10
                    },
                    xAxis: [
                        {
                            type: 'category',
                            show: false,
                            data: ['未婚', '已婚', '离异']
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            show: false
                        }
                    ],
                    series: [
                        {
                            name: '婚姻状况',
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    color: function(params) {
                                        // build a color map as your need.
                                        var colorList = [
                                          '#97b552','#2ec7c9','#bbb','#b6a2de','#bbb','#5ab1ef',
                                           '#bbb','#ffb980','#bbb','#d87a80','#bbb',
                                           '#8d98b3','#bbb','#e5cf0d','#bbb','#97b552'
                                        ];
                                        return colorList[params.dataIndex]
                                    },                                
                                    label: {
                                        show: true,
                                        position: 'top',
                                        formatter: '{b}\n{c}'
                                    }
                                }
                            },
                            data: [4500,1200,420]

                        }
                    ]
                };
                            
                // 为echarts对象加载数据 
                group_chart_chart3.setOption(option); 
            }
        );

        // 家庭人数用户数统计
        require(
            [
                'echarts',
                'echarts/theme/macarons', //加载主题macarons
                'echarts/chart/pie' // 使用饼图，按需加载
            ],
            function (ec,theme) {
                // 基于准备好的dom，初始化echarts图表
                var group_chart_chart4 = ec.init(document.getElementById('group_chart_chart4'),theme); 
                var option = {                    
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>家庭人数{b} : {c} ({d}%)"
                    },          
                    legend: {
                        orient : 'vertical',
                        x: 'right',
                        data:['小于3','大于2小于4','大于3','大于5']
                    },                     
                    series : [
                        {
                            name:'用户数',
                            type:'pie',
                            radius : '70%',
                            center: ['35%', '50%'],
                            itemStyle : {
                                normal : {
                                    label : {
                                        formatter : '{d}%'
                                    },
                                    labelLine : {length:0},
                                    borderColor: '#fff',
                                }
                            },
                            data:[
                                {value:335, name:'小于3'},
                                {value:310, name:'大于2小于4'},
                                {value:234, name:'大于3'},
                                {value:135, name:'大于5'}
                            ]
                        }
                    ]
                };      

                // 为echarts对象加载数据 
                group_chart_chart4.setOption(option); 
            }
        );

        // 用户统计
        require(
            [
                'echarts',
                'echarts/theme/macarons', //加载主题macarons
                'echarts/chart/line' // 使用折线图，按需加载
            ],
            function (ec,theme) {
                // 基于准备好的dom，初始化echarts图表
                var group_chart_chart5 = ec.init(document.getElementById('group_chart_chart5'),theme); 
                var option = {
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['全部用户','流入用户','流失用户']
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : ['2015-12-28','2015-12-29','2015-12-30','2015-12-31','2015-01-01','2015-01-02','2015-01-03','2015-01-04','2015-01-05','2015-01-06','2015-01-07','2015-01-08','2015-01-09','2015-01-10','2015-01-11','2015-01-12','2015-01-13','2015-01-14','2015-01-15','2015-01-16','2015-01-17','2015-01-18','2015-01-19','2015-01-20','2015-01-21','2015-01-22','2015-01-23','2015-01-24','2015-01-25','2015-01-26']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            name : '用户数（个）'
                        }
                    ],
                    series : [
                        {
                            name:'全部用户',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:[1500, 1200, 2000, 2300, 4500, 1550, 800,1500, 1200, 2000, 2300, 4500, 1550, 800,1500, 1200, 2000, 2300, 4500, 1550, 800,1500, 1200, 2000, 2300, 4500, 1550, 800, 1550, 800]
                        },
                        {
                            name:'流入用户',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:[100, 500, 900, 700, 900, 1050, 400,100, 500, 900, 700, 900, 1050, 400,100, 500, 900, 700, 900, 1050, 400,100, 500, 900, 700, 900, 1050, 400, 1050, 400]
                        },
                        {
                            name:'流失用户',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:[100, 70, 150, 300, 600, 450, 200,100, 70, 150, 300, 600, 450, 200,100, 70, 150, 300, 600, 450, 200,100, 70, 150, 300, 600, 450, 200, 450, 200]
                        }
                    ]
                };      

                // 为echarts对象加载数据 
                group_chart_chart5.setOption(option); 
            }
        );

    }
</script>
