<div id="group_detail_wizard">
  <!-- 第一步开始 -->
    <h2>创建客户群</h2>
    <section>
      <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">客户群名称</label>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div> 
        <div class="form-group">
            <label class="col-md-3 control-label">备注</label>
            <div class="col-md-8">
                <textarea rows="3" cols="20" class="form-control"></textarea>
            </div>
        </div> 
      </form>                     
    </section>
    <!-- 第一步结束 -->
    <!-- 第二步开始 -->
    <h2>选择用户标签</h2>
    <section>
      <!-- 第一行 -->
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-danger">
              <div class="panel-heading clearfix">
                  <h3 class="panel-title pull-left">已选择标签</h3>
                  <div class="form-inline pull-right">
                      用户数：<b class="red">230</b>
                      <button class="btn btn-info btn-sm" type="button">模块</button>
                      <a class="wbtn">SPSS模型
                          <span class="wep"><i class="fa fa-cube"></i></span>
                      </a>                    
                      <a class="wbtn">数据探索
                          <span class="wep"><i class="fa fa-database"></i></span>
                      </a>                    
                      <a class="wbtn">用户导入
                          <span class="wep"><i class="fa fa-download"></i></span>
                      </a>                      
                      <button class="btn btn-success btn-sm" type="button" title="导出用户清单"><i class="fa fa-upload"></i></button>
                  </div>
              </div>              
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <h5>用户数：<b class="red">230</b></h5>
                  </div>
                  <div class="col-md-6 text-right">
                  </div>
                </div>
                <hr/>

                <div class="group_detail_doTag_scroll">
                    <div class="row">
                      <div class="col-md-12 filter-result">
                        <span class="parentheses">(<a href="#" class="close"><i class="fa fa-times"></i></a></span>
                        <select>
                          <option selected="selected">is</option>
                          <option>not</option>
                        </select>     
                        <div class="tag">
                          <i class="icon fa fa-tag label-blue"></i> 
                          <span>性别：男</span><br>
                          <span>性别：男</span>
                          <a href="#" class="tag-close"><i class="fa fa-times"></i></a>
                        </div>
                        <select>
                          <option selected="selected">and</option>
                          <option>or</option>
                        </select>
                      </div>

                      <div class="col-md-12 filter-result">
                        <select>
                          <option selected="selected">is</option>
                          <option>not</option>
                        </select>     
                        <div class="tag">
                          <i class="icon fa fa-tag label-light-green"></i> 
                          <span>年龄：30岁及以下</span> 
                          <a href="#" class="tag-close"><i class="fa fa-times"></i></a>
                        </div>  
                        <select>
                          <option selected="selected">and</option>
                          <option>or</option>
                        </select> 

                        <span class="parentheses">)<a href="#" class="close"><i class="fa fa-times"></i></a></span> 
                      </div> 

                      <div class="col-md-12 filter-result">
                        <select>
                          <option>is</option>
                          <option selected="selected">not</option>
                        </select>                      
                        <div class="tag">
                          <i class="icon fa fa-tag label-red"></i> 
                          <span>教育程度：高中及以下</span> 
                          <a href="#" class="tag-close"><i class="fa fa-times"></i></a>
                        </div>
                        <select>
                          <option selected="selected">and</option>
                          <option>or</option>
                        </select>
                      </div>

                      <div class="col-md-12 filter-result">
                        <select>
                          <option>is</option>
                          <option selected="selected">not</option>
                        </select>                      
                        <div class="tag">
                          <i class="icon fa fa-tag label-purple"></i> 
                          <span>教育程度：博士及以上</span> 
                          <a href="#" class="tag-close"><i class="fa fa-times"></i></a>
                        </div>   
                        <select>
                          <option>and</option>
                          <option selected="selected">or</option>
                        </select>  
                      </div>

                    </div>
                </div> 

              </div>
          </div>    
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title">所选标签用户数图例</h3>
              </div>
              <div class="panel-body">
                <div id="group_detail_user_chart" style="height:200px;"></div>
              </div>
          </div>           
        </div>
        <div class="col-md-4">
          <div class="panel panel-warning">
              <div class="panel-heading clearfix">
                  <h3 class="panel-title pull-left">全部标签</h3>
                  <div class="form-inline pull-right">
                      <button type="button" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> 新建标签</button>
                  </div>
              </div>
              <div class="panel-body">
                  <form class="form-inline">
                      <select class="form-control">
                        <option>全部</option>
                        <option>常用</option>
                        <option>推荐</option>
                        <option>喜好</option>
                        <option>其他</option>
                      </select>

                      <select id="group_detail-tag-select" class="form-control" style="width:180px">
                        <option value="">请输入关键字快速搜索</option>
                        <optgroup label="Group 1">
                          <option value="a">Item A</option>
                          <option value="b">Item B</option>
                        </optgroup>
                        <optgroup label="Group 2">
                          <option value="a">Item A</option>
                          <option value="b">Item B</option>
                        </optgroup>
                      </select>

                      <button type="button" class="btn btn-success btn-sm">搜索</button>

                     <a href="#" class="blue">高级搜索</a>
                  </form>

                  <div class="group_detail_allTag_scroll">
                    <table id="example-advanced" class="table">
                      <thead>
                        <tr>
                          <th>标签</th>
                          <th>描述</th>
                          <th>推荐</th>
                          <th>喜好</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-tt-id="1">
                          <td>基础属性</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id="1-1" data-tt-parent-id="1">
                          <td>性别</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>       
                        </tr>
                        <tr data-tt-id='1-1-1' data-tt-parent-id='1-1'>
                          <td>男</td>
                          <td>--</td>
                          <td><span class="green"><i class="fa fa-check"></i></span></td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                        </tr>
                        <tr data-tt-id='1-1-2' data-tt-parent-id='1-1'>
                          <td>女</td>
                          <td>--</td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                        </tr>
                        <tr data-tt-id="1-2" data-tt-parent-id="1">
                          <td>家庭人数</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>       
                        </tr>
                        <tr data-tt-id='1-2-1' data-tt-parent-id='1-2'>
                          <td>较少</td>
                          <td>3人及以下</td>
                          <td><span class="green"><i class="fa fa-check"></i></span></td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                        </tr>
                        <tr data-tt-id='1-2-2' data-tt-parent-id='1-2'>
                          <td>较多</td>
                          <td>3人以上</td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                        </tr>
                        <tr data-tt-id="1-3" data-tt-parent-id="1">
                          <td>个人月收入</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>       
                        </tr>
                        <tr data-tt-id='1-3-1' data-tt-parent-id='1-3'>
                          <td>较少</td>
                          <td>5k以下</td>
                          <td><span class="green"><i class="fa fa-check"></i></span></td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                        </tr>
                        <tr data-tt-id='1-3-2' data-tt-parent-id='1-3'>
                          <td>一般</td>
                          <td>5k到10k</td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                        </tr>
                        <tr data-tt-id='1-3-3' data-tt-parent-id='1-3'>
                          <td>较高</td>
                          <td>10k以上</td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                        </tr>
                        <tr data-tt-id="2">
                          <td>兴趣爱好</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                        </tr>
                        <tr data-tt-id="2-1" data-tt-parent-id="2">
                          <td>社交工具</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>       
                        </tr>
                        <tr data-tt-id='2-1-1' data-tt-parent-id='2-1'>
                          <td>微信</td>
                          <td>--</td>
                          <td><span class="green"><i class="fa fa-check"></i></span></td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                        </tr>
                        <tr data-tt-id='2-1-2' data-tt-parent-id='2-1'>
                          <td>微博</td>
                          <td>--</td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                        </tr>
                        <tr data-tt-id="2-2" data-tt-parent-id="2">
                          <td>购物网站</td>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>       
                        </tr>
                        <tr data-tt-id='2-2-1' data-tt-parent-id='2-2'>
                          <td>淘宝</td>
                          <td>--</td>
                          <td><span class="green"><i class="fa fa-check"></i></span></td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                        </tr>
                        <tr data-tt-id='2-2-2' data-tt-parent-id='2-2'>
                          <td>京东</td>
                          <td>--</td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                          <td><span class="red"><i class="fa fa-times"></i></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>


              </div>
          </div>
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title">常用标签</h3>
                  <ul class="panel-control">
                      <li><a class="minus" href="javascript:void(0)" title="伸缩"><i class="fa fa-minus"></i></a></li>
                  </ul>                      
              </div>
              <div class="panel-body">
                  <div class="scroll-normal">
                    <ul class="filter group_detail_filter_tag clearfix">
                      <li><a href="#"><span>教育程度:大学</span></a><i></i></li>
                      <li><a href="#"><span>家庭人数:3人以上</span></a><i></i></li>
                      <li><a href="#"><span>社交工具:微信</span></a><i></i></li>
                      <li><a href="#"><span>教育程度:大学</span></a><i></i></li>
                      <li><a href="#"><span>家庭人数:3人以上</span></a><i></i></li>
                      <li><a href="#"><span>社交工具:微信</span></a><i></i></li>
                      <li><a href="#"><span>教育程度:大学</span></a><i></i></li>
                    </ul>
                  </div>
              </div>
          </div>
          <div class="panel panel-success">
              <div class="panel-heading">
                  <h3 class="panel-title">推荐标签</h3>
                  <ul class="panel-control">
                      <li><a class="minus" href="javascript:void(0)" title="伸缩"><i class="fa fa-minus"></i></a></li>
                  </ul>                      
              </div>
              <div class="panel-body">
                  <div class="scroll-normal">
                    <ul class="filter group_detail_filter_tag clearfix">
                      <li><a href="#"><span>教育程度:大学</span></a><i></i></li>
                      <li><a href="#"><span>家庭人数:3人以上</span></a><i></i></li>
                      <li><a href="#"><span>社交工具:微信</span></a><i></i></li>
                      <li><a href="#"><span>教育程度:大学</span></a><i></i></li>
                      <li><a href="#"><span>家庭人数:3人以上</span></a><i></i></li>
                      <li><a href="#"><span>社交工具:微信</span></a><i></i></li>
                    </ul>
                  </div>
              </div>
          </div>
        </div>
      </div>

    </section>
    <!-- 第二步结束 -->
    <!-- 第三步开始 -->
    <h2>完成</h2>
    <section>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">选择的用户标签</h3>
              </div>
              <div class="panel-body">
                <p class="tag-txt">
                  <span class="red">"性别：男"</span><b class="blue">并且</b>
                  <span class="red">"年龄：30岁及以下"</span><b class="blue">剔除</b>
                  <span class="red">"教育程度：高中及以下"</span><b class="blue">剔除</b>
                  <span class="red">"教育程度：博士及以上"</span> 
                </p>

                <div class="ls-circle-widget label-info white">
                    <h3><span class="fa fa-users"></span> 用户数</h3>
                    <h4>1530</h4>
                </div>
              </div>
          </div>
    </section>
    <!-- 第三步结束 -->
</div> 

<script type="text/javascript">
    // 上一步下一步初始化
    $("#group_detail_wizard").steps({
        cssClass: "wizard wizard1",
        headerTag: "h2",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        // forceMoveForward: true, //用于是否激活上一步
        labels: {
          finish: "保存",
          next: "下一步",
          previous: "上一步"
      },
      onStepChanged: initEchart,
      onFinished: function () { 
        $("#tab_groupList").trigger("click");
      }      
    });

    // 全部标签块滚动条
    $('.group_detail_allTag_scroll').slimscroll({
      height: '280',
      alwaysVisible: true,
    }); 

    // 已选择标签滚动条
    $('.group_detail_doTag_scroll').slimscroll({
      height: '250',
      alwaysVisible: true,
    }); 

    // 选中标签更换样式
    $(function(){
      $(".group_detail_filter_tag > li").bind("click",function(){
        $(this).toggleClass("selected");

      })

    });

    // 用户标签下拉框初始化
    $('#group_detail-tag-select').selectize({
        sortField: {
            field: 'text',
        }
    });

    // jquery treetable初始化
    $("#example-basic-expandable").treetable({ expandable: true });
    $("#example-advanced").treetable({ expandable: true });

    // Highlight selected row
    $("#example-advanced tbody").on("mousedown", "tr", function() {
      $(".selected").not(this).removeClass("selected");
      $(this).toggleClass("selected");
    });

    // Drag & Drop Example Code
    $("#example-advanced .file, #example-advanced .folder").draggable({
      helper: "clone",
      opacity: .75,
      refreshPositions: true,
      revert: "invalid",
      revertDuration: 300,
      scroll: true
    });

    $("#example-advanced .folder").each(function() {
      $(this).parents("#example-advanced tr").droppable({
        accept: ".file, .folder",
        drop: function(e, ui) {
          var droppedEl = ui.draggable.parents("tr");
          $("#example-advanced").treetable("move", droppedEl.data("ttId"), $(this).data("ttId"));
        },
        hoverClass: "accept",
        over: function(e, ui) {
          var droppedEl = ui.draggable.parents("tr");
          if(this != droppedEl[0] && !$(this).is(".expanded")) {
            $("#example-advanced").treetable("expandNode", $(this).data("ttId"));
          }
        }
      });
    });

    /*
    * 百度echarts
    */
    // 路径配置
    function initEchart(){

        require.config({
            paths: {
                echarts: 'assets/js/plugins/echarts'
            }
        });

        // 用户统计
        require(
            [
                'echarts',
                'echarts/theme/macarons', //加载主题macarons
                'echarts/chart/line' // 使用折线图，按需加载
            ],
            function (ec,theme) {
                // 基于准备好的dom，初始化echarts图表
                var group_detail_user_chart = ec.init(document.getElementById('group_detail_user_chart'),theme); 
                var option = {
                    tooltip : {
                        trigger: 'axis',
                        formatter: "{a} <br/>月收入{b} : {c}位"
                    },
                    legend: {
                        data:['用户数']
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            name : '月收入(元)',
                            data : ['较少','一般','较多']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            name : '用户数(位)'
                        }
                    ],
                    grid: {
                        x2: 80,
                        x: 50,
                        y2: 30,
                    },                    
                    series : [
                        {
                            name:'用户数',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:[100, 70, 150]
                        }
                    ]
                };      

                // 为echarts对象加载数据 
                group_detail_user_chart.setOption(option); 
            }
        );

    }

</script>
