<!-- 操作栏 -->
<div class="row">
    <div class="col-md-12">    
        <div class="ls-gallery-filter-wrap">
            <button class="btn btn-info btn-sm" type="button">
                <i class="fa fa-plus"></i> 新建客户群
            </button>
            <button class="btn btn-primary btn-sm" type="button" onclick="showModal('views/userbuild/group_reportIn.html')">
                <i class="fa fa-download"></i> 导入客户群
            </button>
        </div> 
    </div>
</div>   
<!-- 列表 -->
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">广东省高学历已婚群一<br/>(<span class="blue">233位</span>)</h3>
                <ul class="panel-control">
                    <li><a href="#" title="修改"><i class="fa fa-pencil"></i></a></li>
                    <li><a href="#" title="删除"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                省份：<span class="red">"广东省"</span> <b class="blue">并且</b> 教育程度：<span class="red">"本科,硕士,博士"</span> <b class="blue">并且</b> 婚姻状况：<span class="red">"已婚"</span> <b class="blue">并且</b> 家庭人数：<span class="red">"小于3"</span>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-success" type="button" title="查看图表" onclick="showModal('views/userbuild/group_chart.html')"><i class="fa fa-bar-chart"></i></button>
                <button class="btn btn-sm btn-warning" type="button" title="重新生成客户群"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">购买高端手机的中高收入女性白领群<br/>(<span class="blue">233位</span>)</h3>
                <ul class="panel-control">
                    <li><a href="#" title="修改"><i class="fa fa-pencil"></i></a></li>
                    <li><a href="#" title="删除"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                性别：<span class="red">"女"</span> <b class="blue">并且</b> 收入：<span class="red">"大于8000"</span> <b class="blue">并且</b> 手机：<span class="red">"大于5000"</span>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-success" type="button" title="查看图表" onclick="showModal('views/userbuild/group_chart.html')"><i class="fa fa-bar-chart"></i></button>
                <button class="btn btn-sm btn-warning" type="button" title="重新生成客户群"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">持有家用小车的男性经理群<br/>(<span class="blue">233位</span>)</h3>
                <ul class="panel-control">
                    <li><a href="#" title="修改"><i class="fa fa-pencil"></i></a></li>
                    <li><a href="#" title="删除"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                性别：<span class="red">"男"</span> <b class="blue">并且</b> 职位类别：<span class="red">"经理"</span> <b class="blue">并且</b> 车辆数量：<span class="red">"大于0"</span>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-success" type="button" title="查看图表" onclick="showModal('views/userbuild/group_chart.html')"><i class="fa fa-bar-chart"></i></button>
                <button class="btn btn-sm btn-warning" type="button" title="重新生成客户群"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">本月无任何非现金消费的会员<br/>(<span class="blue">233位</span>)</h3>
                <ul class="panel-control">
                    <li><a href="#" title="修改"><i class="fa fa-pencil"></i></a></li>
                    <li><a href="#" title="删除"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                本月总消费金额：<span class="red">"等于0"</span> <b class="blue">剔除</b> 结算方式：<span class="red">"现金"</span>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-success" type="button" title="查看图表" onclick="showModal('views/userbuild/group_chart.html')"><i class="fa fa-bar-chart"></i></button>
                <button class="btn btn-sm btn-warning" type="button" title="重新生成客户群"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">购买高端手机的中高收入女性白领群<br/>(<span class="blue">233位</span>)</h3>
                <ul class="panel-control">
                    <li><a href="#" title="修改"><i class="fa fa-pencil"></i></a></li>
                    <li><a href="#" title="删除"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                性别：<span class="red">"女"</span> <b class="blue">并且</b> 收入：<span class="red">"大于8000"</span> <b class="blue">并且</b> 手机：<span class="red">"大于5000"</span>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-success" type="button" title="查看图表" onclick="showModal('views/userbuild/group_chart.html')"><i class="fa fa-bar-chart"></i></button>
                <button class="btn btn-sm btn-warning" type="button" title="重新生成客户群"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">持有家用小车的男性经理群<br/>(<span class="blue">233位</span>)</h3>
                <ul class="panel-control">
                    <li><a href="#" title="修改"><i class="fa fa-pencil"></i></a></li>
                    <li><a href="#" title="删除"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                性别：<span class="red">"男"</span> <b class="blue">并且</b> 职位类别：<span class="red">"经理"</span> <b class="blue">并且</b> 车辆数量：<span class="red">"大于0"</span>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-success" type="button" title="查看图表" onclick="showModal('views/userbuild/group_chart.html')"><i class="fa fa-bar-chart"></i></button>
                <button class="btn btn-sm btn-warning" type="button" title="重新生成客户群"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">本月无任何非现金消费的会员<br/>(<span class="blue">233位</span>)</h3>
                <ul class="panel-control">
                    <li><a href="#" title="修改"><i class="fa fa-pencil"></i></a></li>
                    <li><a href="#" title="删除"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                本月总消费金额：<span class="red">"等于0"</span> <b class="blue">剔除</b> 结算方式：<span class="red">"现金"</span>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-success" type="button" title="查看图表" onclick="showModal('views/userbuild/group_chart.html')"><i class="fa fa-bar-chart"></i></button>
                <button class="btn btn-sm btn-warning" type="button" title="重新生成客户群"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">购买高端手机的中高收入女性白领群<br/>(<span class="blue">233位</span>)</h3>
                <ul class="panel-control">
                    <li><a href="#" title="修改"><i class="fa fa-pencil"></i></a></li>
                    <li><a href="#" title="删除"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                性别：<span class="red">"女"</span> <b class="blue">并且</b> 收入：<span class="red">"大于8000"</span> <b class="blue">并且</b> 手机：<span class="red">"大于5000"</span>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-success" type="button" title="查看图表" onclick="showModal('views/userbuild/group_chart.html')"><i class="fa fa-bar-chart"></i></button>
                <button class="btn btn-sm btn-warning" type="button" title="重新生成客户群"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">持有家用小车的男性经理群<br/>(<span class="blue">233位</span>)</h3>
                <ul class="panel-control">
                    <li><a href="#" title="修改"><i class="fa fa-pencil"></i></a></li>
                    <li><a href="#" title="删除"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                性别：<span class="red">"男"</span> <b class="blue">并且</b> 职位类别：<span class="red">"经理"</span> <b class="blue">并且</b> 车辆数量：<span class="red">"大于0"</span>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-success" type="button" title="查看图表" onclick="showModal('views/userbuild/group_chart.html')"><i class="fa fa-bar-chart"></i></button>
                <button class="btn btn-sm btn-warning" type="button" title="重新生成客户群"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
    </div>
</div>
