<!--Left navigation start-->
<ul class="mainNav">       
	<li class="active">
        <!-- 第一层 -->
        <a href="#">
            <i class="fa fa-tag"></i> <span>标签业务</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li><a href="#" id="mytag" onclick="$('#tab_tagList').click()">标签管理</a></li>        
            <li><a href="#" id="tagList_detail" onclick="$('#tab_tagEdit').click()">标签配置</a></li>    
        </ul>                    
    </li>
	<li>
        <!-- 第一层 -->
        <a href="#">
            <i class="fa fa-users"></i> <span>客户群</span>
        </a>
        <!-- 第二层 -->
        <ul>
            <li><a href="#" id="myGroup" onclick="$('#tab_groupList').click()">客户群管理</a></li>    
            <li><a href="#" id="myGroup_detail" onclick="$('#tab_groupEdit').click()">客户群配置</a></li>    
        </ul>                    
    </li>
	
</ul>
<!--Left navigation end-->


<!-- 收缩菜单初始化 -->
<script type="text/javascript" src="assets/js/pages/layout.js"></script>
