<ul class="list-group list-group-alt list-group-lg no-borders pull-in m-b-none">
  <li class="list-group-item">
    <a href="#" class="pull-left thumb-md m-r">
      <img src="img/a0.jpg" alt="..." class="img-circle">
    </a>
    <div class="clear">
      <a href="#" class="h4 text-primary m-b-sm block">Jone Dosh <span class="label label-sm bg-info">Editor</span></a>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero</div>
    </div>
  </li>
  <li class="list-group-item">
    <a href="#" class="pull-left thumb-md m-r">
      <img src="img/a1.jpg" alt="..." class="img-circle">
    </a>
    <div class="clear">
      <a href="#" class="h4 text-primary m-b-sm block">Miya Soe <span class="label label-sm bg-danger">VIP</span></a>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero</div>
    </div>
  </li>
  <li class="list-group-item">
    <a href="#" class="pull-left thumb-md m-r">
      <img src="img/a2.jpg" alt="..." class="img-circle">
    </a>
    <div class="clear">
      <a href="#" class="h4 text-primary m-b-sm block">Jocob</a>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero</div>
    </div>
  </li>
  <li class="list-group-item">
    <a href="#" class="pull-left thumb-md m-r">
      <img src="img/a3.jpg" alt="..." class="img-circle">
    </a>
    <div class="clear">
      <a href="#" class="h4 text-primary m-b-sm block">Goal De</a>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero</div>
    </div>
  </li>
  <li class="list-group-item">
    <a href="#" class="pull-left thumb-md m-r">
      <img src="img/a4.jpg" alt="..." class="img-circle">
    </a>
    <div class="clear">
      <a href="#" class="h4 text-primary m-b-sm block">Miia Se</a>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero</div>
    </div>
  </li>
</ul>