@import"../font-awesome-4.2.0/css/font-awesome.min.css";
body{
  font-size: 12px;
  background-color: #f5f5f5;
  font-family: '微软雅黑';
}
.loginbg{background-color: #fff;}
.nav-container {background-color: #1f7ed0;  border-top: 1px solid #0b4fb4;  height: 44px;overflow: hidden;}
.nav-container .nav{padding-left:15px;}
.nav-container li{display: block;width: auto; float: left;}
.nav-container li a{margin-top: 4px; color: #fff;font-size: 14px; font-weight: bold;}
.nav-container li a:hover{background-color: transparent;}
.nav-container li.active a{background-color: #f5f5f5; color:#545454;}
/*experiential*/
.pagination>li{display: inline !important;}
.wizard > .content > .body{width: 100%;}
.btn-group > p{float: left; margin-right: 10px; }
.wizard > .content{min-height: 430px; background-color: #fff;}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active{padding: 5px;}
.listbg{background: url("../img/hostbg1.png"); height: 160px;}
.listbg.listbg2{height: 140px}
.listbg.listbg3{height: 60px}
.listbg.listbg4{height: 60px}
.table2{margin: 0;}
.table2>thead>tr>th, .table2>tbody>tr>th, .table2>tfoot>tr>th, .table2>thead>tr>td, .table2>tbody>tr>td, .table2>tfoot>tr>td
{border: none; padding: 4px 8px;}
.table-noborder>thead>tr>th, .table-noborder>tbody>tr>th, .table-noborder>tfoot>tr>th, .table-noborder>thead>tr>td, .table-noborder>tbody>tr>td, .table2>tfoot>tr>td
{border: none;}

/*yjm star*/
.container .topRight {line-height: 60px;}
.container .topRight a{padding:0 8px; border-right: 1px solid #666;}
.container .topRight i{padding-right: 5px;}
.dashboard #resource_summary {
    clear: both;
    overflow: hidden;
    text-align: center;
    width: 1150px
}
.dashboard .resource-summary-item {
    border: 1px solid #e2e2e2;
    background-color: #fcfcfc;
    cursor: pointer;
    float: left;
    height: 147px;
    overflow: hidden;
    width: 153px;
    margin-right: 11px;
}
.dashboard .resource-summary-item:hover{background-color: #f0f8ff;border-color: #1f7ed0}
.dashboard .resource-summary-item strong {
    border-left: 1px solid #eee;
    color: #1f7ed0;
    display: block;
    font-family: Arial;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    padding-top: 20px
}
.dashboard .resource-summary-item p{line-height: 30px; color: #1f7ed0}
.dashboard .resource-summary-item h5 {
    border-left: 1px solid #eee;
    color: #777;
    margin: 0;
    padding: 0 0
}
.dashboard .resource-summary-item h5 span{padding-right: 5px;}
.indexInfo{font-size: 14px; background-color: #eee; color: #555}
.indexInfo span{color: #1f7ed0}
.indexInfo span strong{font-size: 28px;}
.indexInfo i{color: #feb848;line-height: 48px}
.indexInfo .rightLine{border-right: 1px solid #c3c3c3; width: 230px;}
.bg-warning2{background-color: #ff634c; color: #fff; padding: 1px 2px; border-radius: 2px;}
.bg-style1{background-color: #f5f5f5; color: #666; padding: 10px; margin-bottom: 10px; line-height: 2;}


.listLayout{margin-top:15px;}
.listLayout .panel-heading{font-size: 16px; color:#1f7ed0; font-weight: bold; background-color: #fff }
.listLayout strong{font-weight: normal; width: 60%;display: inline-block;}
.listLayout span{display: inline-block; width: 35%;text-align: right;color: #1f7ed0}
.listLayout .nopic{padding:20px;text-align: center;}
.media-body h5{width: 100%; text-align: left; margin-bottom: 0}
.media-body .bodyLeft span{display: inline-block;text-align: left;width: 100%;}
.media-body .checkColor{color: #28b779; font-weight: normal;}
.media-body .lineHeight{line-height: 50px;}
.listLayout .media p{margin-bottom: 0}
.listLayout .operation:hover{background-color: #fafafa; border-left: 2px solid #1f7ed0}
.media-body .exColor{color: #fff;padding-right: 5px; line-height: 18px;}
.listLayout .mediaAlarm{border-bottom: 1px solid #f4f4f4;margin-top: 0}
.listLayout .mediaAlarm p{border-right: 1px solid #f4f4f4;height: 50px;line-height: 50px; position: relative;}
.listLayout .mediaAlarm p i{ position: absolute;right: -6px; top: 18px;}
.listLayout .mediaAlarm p span{display: inline-block;width: 100px; padding: 0 20px;}
.mediaAlarm .label-danger{margin-top: 18px;}


.problem{margin-top:15px;}
.alertMain .panel-heading, .problem .panel-heading{background-color: #fff;line-height: 45px }
.alertMain .panel-heading{text-align: center; color: #1f7ed0; font-size: 14px;}
.alertMain .input-group{padding-right: 25px;}
.dl-horizontal dt {width: 80px;}
.dl-horizontal dd{margin-left: 100px;}

/*yjm end*/
/*modal*/
.modal .modal-header{background-color: #1f7ed0;border-bottom-color: #174c7a}
.modal .modal-header h4{color:#fff}
.modal .modal-content{border-radius: 0}

/*table*/
.table{border: 1px #dcdcdc solid;}
.table thead th{background-color: #eeeeee;padding:10px 5px!important;border-bottom-width: 1px!important;}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{background-color: #fafafa;}

/*panel*/
.panel{background-color: #fff;border:1px #e2e2e2 solid;}
.panel-title{padding:0 10px; border-bottom: 1px #e2e2e2 solid;}
.panel-title h4{color: #1f7ed0}
.panel-content{padding:10px;}

.panel.panel-left-nav .panel-title{background-color: #1f7ed0;color: #fff;padding:6px 10px;}
.panel.panel-left-nav .panel-content{padding:0;}
.panel.panel-left-nav .panel-content a{border-radius: 0;padding:10px;}
.panel.panel-left-nav .panel-content .active a{background-color: #EEEEEE;color: #4B4B4B}
.panel.panel-left-nav .panel-content a i{color: #1f7ed0;position: relative;top: 2px; }

.pie-info{position: absolute;margin-top: -108px;margin-left: 62px; text-align: center;}
.pie-info p{font-size: 14px;}


/*breadcrumb*/
.breadcrumb{background-color: #EEEEEE;border:1px #E2E2E2 solid; padding: 15px;margin-bottom:10px;}
.breadcrumb i{color: #1F7ED0;font-size: 18px;position: relative;top:1px;}
.breadcrumb span{color: #9C9C9C;font-size: 14px;}

.btn-group .dropdown-toggle.btn-link{padding-left: 0;padding-bottom: 0;position: relative;top:2px;}

/*login*/
.index-box{background-color: #1f7ed0;}
.index-box-bg{background: url("../img/loginbg1.png") center 0 no-repeat; height: 380px;}
.logindiv{position: relative;left:800px;top: 110px; width: 300px;}
.logindiv input{box-shadow:none; border: none; padding: 12px; height: auto; border-radius: 2px;}
.logindiv .s1{display:block; color: #4bacff; text-decoration: underline;margin-top: 10px;}
.logindiv .btn{background-color: #feb848; color: #fff; display: block; border-radius: 2px; padding: 12px; font-size: 16px;}
.indexbg h4{margin-top: 50px; font-size: 28px;}
.indexbg h4 span{display: inline-block;margin-right:10px;background: url("../img/iconbg1.png") no-repeat;width: 55px; height: 55px; text-align: center; color: #fff; line-height: 50px;}
.indexbg p{font-size: 18px; color: #9b9b9b; margin-top: 20px; line-height: 1.6;}
.indexbg.box1{margin-top: 50px;height: 300px;background: url("../img/loginbg2.png") no-repeat right 0;}
.indexbg.box2 h4,.indexbg.box2 p{text-align: right;}
.indexbg.box2{height: 240px;background: url("../img/loginbg3.png") no-repeat 0 0;}
.indexbg.box3{margin-bottom:70px;height: 220px;background: url("../img/loginbg4.png") no-repeat right 0;}