<!-- 操作栏 -->
<div class="row">
    <div class="col-md-12">    
        <div class="ls-gallery-filter-wrap">
            <button class="btn btn-info btn-sm" type="button" id="expandAllBtn">
                <i class="fa fa-plus-square"></i> 全部展开 
            </button>
            <button class="btn btn-info btn-sm" type="button" id="collapseAllBtn">
                <i class="fa fa-minus-square"></i> 全部收缩 
            </button>
            <button class="btn btn-success btn-sm" type="button">
                <i class="fa fa-plus"></i> 新增子模块 
            </button>
            <button class="btn btn-warning btn-sm" type="button">
                <i class="fa fa-pencil"></i> 编辑 
            </button>
            <button class="btn btn-danger btn-sm" type="button">
                <i class="fa fa-times"></i> 删除 
            </button>
        </div> 
    </div>
</div>   
<!-- 列表 -->
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="moduleManage_scroll">
                    <ul id="treeDemo2" class="ztree"></ul>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal"> 
            <div class="form-group">
              <label class="col-sm-3 control-label">模块名称：</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" value="产品管理">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">模块编码：</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" value="PRO_MANAGEMENT">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">父模块名称：</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" value="营销管理">
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-default">取消</button>
              <button type="submit" class="btn btn-info">保存</button>
            </div>           
        </form>
    </div>
</div>

<script type="text/javascript">
    var setting = {
      data: {
        simpleData: {
          enable: true
        }
      }
     
    };

    var zNodes =[
      { id:1, pId:0, name:"用户模块", open:true, iconSkin:"main th-large"},
        { id:11, pId:1, name:"用户细分", open:true, iconSkin:"user"},
            { id:111, pId:11, name:"标签体系管理", open:true, iconSkin:"tags"},
                { id:1111, pId:111, name:"标签算法配置", open:true, iconSkin:"wrench"},
                  { id:11111, pId:1111, name:"添加模型", open:true, iconSkin:"plus"},
                  { id:11112, pId:1111, name:"删除", open:true, iconSkin:"minus"},
                  { id:11113, pId:1111, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:11114, pId:1111, name:"下线", open:true, iconSkin:"arrow-down"},
                  { id:11115, pId:1111, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:11116, pId:1111, name:"保存", open:true, iconSkin:"save"},
                { id:1112, pId:111, name:"用户标签管理", open:true, iconSkin:"tag"},
                  { id:11121, pId:1112, name:"下线", open:true, iconSkin:"arrow-down"},
                  { id:11122, pId:1112, name:"冷冻", open:true, iconSkin:"ban"},
                  { id:11123, pId:1112, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:11124, pId:1112, name:"删除", open:true, iconSkin:"minus"},
                  { id:11125, pId:1112, name:"复制", open:true, iconSkin:"copy"},
                  { id:11126, pId:1112, name:"审批", open:true, iconSkin:"legal"},
                  { id:11127, pId:1112, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:11128, pId:1112, name:"新建客户群", open:true, iconSkin:"plus"},
                  { id:11129, pId:1112, name:"搜索", open:true, iconSkin:"search"},
                  { id:11130, pId:1112, name:"设为关注", open:true, iconSkin:"star"},
            { id:112, pId:11, name:"客户群", open:true, iconSkin:"users"},
                { id:1121, pId:112, name:"下线", open:true, iconSkin:"arrow-down"},
                { id:1122, pId:112, name:"冷冻", open:true, iconSkin:"ban"},
                { id:1123, pId:112, name:"发布", open:true, iconSkin:"arrow-up"},
                { id:1124, pId:112, name:"删除", open:true, iconSkin:"minus"},
                { id:1125, pId:112, name:"复制", open:true, iconSkin:"copy"},
                { id:1125, pId:112, name:"用户列表", open:true, iconSkin:"users"},
                { id:1126, pId:112, name:"审批", open:true, iconSkin:"legal"},
                { id:1127, pId:112, name:"编辑", open:true, iconSkin:"pencil"},
                { id:1128, pId:112, name:"新建客户群", open:true, iconSkin:"plus"},
                { id:1129, pId:112, name:"搜索", open:true, iconSkin:"search"}, 
        { id:12, pId:1, name:"营销管理", open:true, iconSkin:"dollar"},
            { id:121, pId:12, name:"营销管理", open:true, iconSkin:"dollar"},
                { id:1211, pId:121, name:"产品管理", open:true, iconSkin:"cube"},
                  { id:12111, pId:1211, name:"添加产品", open:true, iconSkin:"plus"},
                  { id:12112, pId:1211, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:12113, pId:1211, name:"删除", open:true, iconSkin:"minus"},
                  { id:12114, pId:1211, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:12115, pId:1211, name:"下线", open:true, iconSkin:"arrow-down"},
                { id:1212, pId:121, name:"营销方案管理", open:true, iconSkin:"file-text-o"},
                  { id:12121, pId:1212, name:"新建方案模板", open:true, iconSkin:"plus"},
                  { id:12122, pId:1212, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:12123, pId:1212, name:"复制", open:true, iconSkin:"copy"},
                  { id:12124, pId:1212, name:"删除", open:true, iconSkin:"minus"},
                  { id:12125, pId:1212, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:12126, pId:1212, name:"下线", open:true, iconSkin:"arrow-down"},
                  { id:12127, pId:1212, name:"冷冻", open:true, iconSkin:"ban"},
                  { id:12128, pId:1212, name:"审批", open:true, iconSkin:"legal"},
                { id:1213, pId:121, name:"营销策划管理", open:true, iconSkin:"magic"},
                  { id:12131, pId:1213, name:"新建策划模板", open:true, iconSkin:"plus"},
                  { id:12132, pId:1213, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:12133, pId:1213, name:"复制", open:true, iconSkin:"copy"},
                  { id:12134, pId:1213, name:"删除", open:true, iconSkin:"minus"},
                  { id:12135, pId:1213, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:12136, pId:1213, name:"下线", open:true, iconSkin:"arrow-down"},
                  { id:12137, pId:1213, name:"冷冻", open:true, iconSkin:"ban"},
                  { id:12138, pId:1213, name:"审批", open:true, iconSkin:"legal"},
                { id:1214, pId:121, name:"营销活动管理", open:true, iconSkin:"asterisk"},
                  { id:12141, pId:1214, name:"新建策划模板", open:true, iconSkin:"plus"},
                  { id:12142, pId:1214, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:12143, pId:1214, name:"复制", open:true, iconSkin:"copy"},
                  { id:12144, pId:1214, name:"删除", open:true, iconSkin:"minus"},
                  { id:12145, pId:1214, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:12146, pId:1214, name:"下线", open:true, iconSkin:"arrow-down"},
                  { id:12147, pId:1214, name:"冷冻", open:true, iconSkin:"ban"},
                  { id:12148, pId:1214, name:"审批", open:true, iconSkin:"legal"},
                  { id:12149, pId:1214, name:"是否关注", open:true, iconSkin:"star"},
                  { id:12150, pId:1214, name:"是否喜好", open:true, iconSkin:"heart"},
                { id:1215, pId:121, name:"抽样管理", open:true, iconSkin:"flask"},
            { id:122, pId:12, name:"营销配置", open:true, iconSkin:"wrench"},
                { id:1221, pId:122, name:"短信模板配置", open:true, iconSkin:"wrench"},
                  { id:12211, pId:1221, name:"添加模板", open:true, iconSkin:"plus"},
                  { id:12212, pId:1221, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:12213, pId:1221, name:"删除", open:true, iconSkin:"minus"},
                  { id:12214, pId:1221, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:12215, pId:1221, name:"下线", open:true, iconSkin:"arrow-down"},
                { id:1222, pId:122, name:"红黑名单配置", open:true, iconSkin:"wrench"},
                  { id:12221, pId:1222, name:"新建红名单", open:true, iconSkin:"plus"},
                  { id:12222, pId:1222, name:"新建黑名单", open:true, iconSkin:"plus"},
                  { id:12223, pId:1222, name:"导入红名单", open:true, iconSkin:"download"},
                  { id:12224, pId:1222, name:"导入黑名单", open:true, iconSkin:"download"},
                  { id:12225, pId:1222, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:12226, pId:1222, name:"删除", open:true, iconSkin:"minus"},
                  { id:12227, pId:1222, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:12228, pId:1222, name:"下线", open:true, iconSkin:"arrow-down"},
                { id:1223, pId:122, name:"方案互斥配置", open:true, iconSkin:"wrench"},
                  { id:12231, pId:1223, name:"添加互斥配置", open:true, iconSkin:"plus"},
                  { id:12232, pId:1223, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:12233, pId:1223, name:"删除", open:true, iconSkin:"minus"},
                  { id:12234, pId:1223, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:12235, pId:1223, name:"下线", open:true, iconSkin:"arrow-down"},
                { id:1224, pId:122, name:"产品互斥配置", open:true, iconSkin:"wrench"},
                  { id:12241, pId:1224, name:"添加互斥配置", open:true, iconSkin:"plus"},
                  { id:12242, pId:1224, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:12243, pId:1224, name:"删除", open:true, iconSkin:"minus"},
                  { id:12244, pId:1224, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:12245, pId:1224, name:"下线", open:true, iconSkin:"arrow-down"},
                { id:1225, pId:122, name:"指标配置", open:true, iconSkin:"wrench"},
                  { id:12251, pId:1225, name:"添加互斥配置", open:true, iconSkin:"plus"},
                  { id:12252, pId:1225, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:12253, pId:1225, name:"删除", open:true, iconSkin:"minus"},
                  { id:12254, pId:1225, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:12255, pId:1225, name:"复制", open:true, iconSkin:"copy"},
                { id:1226, pId:122, name:"事件配置", open:true, iconSkin:"wrench"},
                  { id:12261, pId:1226, name:"新建事件", open:true, iconSkin:"plus"},
                  { id:12262, pId:1226, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:12263, pId:1226, name:"删除", open:true, iconSkin:"minus"},
                  { id:12264, pId:1226, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:12265, pId:1226, name:"复制", open:true, iconSkin:"copy"},
                { id:1227, pId:122, name:"渠道配置", open:true, iconSkin:"wrench"},
                  { id:12271, pId:1227, name:"添加渠道", open:true, iconSkin:"plus"},
                  { id:12272, pId:1227, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:12273, pId:1227, name:"删除", open:true, iconSkin:"minus"},
                  { id:12274, pId:1227, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:12275, pId:1227, name:"下线", open:true, iconSkin:"arrow-down"},
            { id:123, pId:12, name:"营销监控", open:true, iconSkin:"desktop"},
                { id:1231, pId:123, name:"营销活动报表", open:true, iconSkin:"bar-chart"},
                { id:1232, pId:123, name:"营销活动进度", open:true, iconSkin:"clock-o"},
            { id:124, pId:12, name:"抽样管理", open:true, iconSkin:"flask"},
        { id:13, pId:1, name:"经营分析", open:true, iconSkin:"line-chart"},
            { id:131, pId:13, name:"概览", open:true, iconSkin:"dashboard"},
            { id:132, pId:13, name:"会员分析", open:true, iconSkin:"user"},
            { id:133, pId:13, name:"营销分析", open:true, iconSkin:"magic"},
                { id:1311, pId:133, name:"用户销量", open:true, iconSkin:"line-chart"},
                { id:1312, pId:133, name:"产品销量", open:true, iconSkin:"line-chart"},
        { id:14, pId:1, name:"系统管理", open:true, iconSkin:"cogs"},
            { id:141, pId:14, name:"权限管理", open:true, iconSkin:"users"},
                { id:1411, pId:141, name:"岗位管理", open:true, iconSkin:"user"},
                  { id:14111, pId:1411, name:"新增岗位", open:true, iconSkin:"plus"},
                  { id:14112, pId:1411, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:14113, pId:1411, name:"删除", open:true, iconSkin:"minus"},                  
                  { id:14114, pId:1411, name:"关联角色", open:true, iconSkin:"arrows-h"},                  
                { id:1412, pId:141, name:"角色管理", open:true, iconSkin:"user"},
                  { id:14121, pId:1412, name:"新增角色", open:true, iconSkin:"plus"},
                  { id:14122, pId:1412, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:14123, pId:1412, name:"删除", open:true, iconSkin:"minus"},                  
                  { id:14124, pId:1412, name:"关联角色", open:true, iconSkin:"arrows-h"},                  
                { id:1413, pId:141, name:"模块管理", open:true, iconSkin:"th"},
                  { id:14131, pId:1413, name:"新增子模块", open:true, iconSkin:"plus"},
                  { id:14132, pId:1413, name:"编辑", open:true, iconSkin:"pencil"},
                  { id:14133, pId:1413, name:"删除", open:true, iconSkin:"minus"},                  
            { id:142, pId:14, name:"帐号管理", open:true, iconSkin:"users"},
                { id:1421, pId:142, name:"帐号配置", open:true, iconSkin:"user"},
                  { id:14211, pId:1421, name:"新增用户", open:true, iconSkin:"plus"},
                  { id:14212, pId:1421, name:"激活", open:true, iconSkin:"fire"},
                  { id:14213, pId:1421, name:"锁定", open:true, iconSkin:"lock"},                  
                  { id:14214, pId:1421, name:"注销", open:true, iconSkin:"times-circle"},                  
                  { id:14214, pId:1421, name:"失效", open:true, iconSkin:"ban"},                  
                  { id:14214, pId:1421, name:"编辑", open:true, iconSkin:"pencil"},                  
                { id:1422, pId:142, name:"密码修改", open:true, iconSkin:"key"},
            { id:143, pId:14, name:"日志管理", open:true, iconSkin:"file-text-o"},
                { id:1431, pId:143, name:"日志配置", open:true, iconSkin:"wrench"},
                { id:1432, pId:143, name:"查看日志", open:true, iconSkin:"file-text-o"},
            { id:144, pId:14, name:"营销引擎", open:true, iconSkin:"magic"},
                { id:1431, pId:144, name:"任务管理", open:true, iconSkin:"th-list"},
                  { id:14311, pId:1431, name:"添加任务", open:true, iconSkin:"plus"},
                  { id:14312, pId:1431, name:"删除", open:true, iconSkin:"minus"},                  
                  { id:14313, pId:1431, name:"编辑", open:true, iconSkin:"pencil"},                  
                  { id:14314, pId:1431, name:"发布", open:true, iconSkin:"arrow-up"},
                  { id:14315, pId:1431, name:"下线", open:true, iconSkin:"arrow-down"},
                { id:1432, pId:144, name:"引擎开关", open:true, iconSkin:"toggle-on"},
        { id:15, pId:1, name:"管理驾驶舱", open:true, iconSkin:"dashboard"},
            { id:151, pId:15, name:"首页流图导航", open:true, iconSkin:"sitemap"},
            { id:152, pId:15, name:"首页图表数据展示", open:true, iconSkin:"pie-chart"},
    ];

    function expandNode(e) {
      var zTree = $.fn.zTree.getZTreeObj("treeDemo2"),
      type = e.data.type,
      nodes = zTree.getSelectedNodes();

      if (type == "expandAll") {
        zTree.expandAll(true);
      } else if (type == "collapseAll") {
        zTree.expandAll(false);
      }
    }

    $(document).ready(function(){
        //初始化树
        $.fn.zTree.init($("#treeDemo2"), setting, zNodes);
        $("#expandAllBtn").bind("click", {type:"expandAll"}, expandNode);
        $("#collapseAllBtn").bind("click", {type:"collapseAll"}, expandNode);
    });


    $('.moduleManage_scroll').slimscroll({
      height: '600',
      alwaysVisible: true,
    }); 
</script>
