<div class="modal-dialog">
  <form class="form-horizontal">    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">新增角色</h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
              <label class="col-sm-3 control-label">角色名称：</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">角色描述：</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">菜单操作权限设置：</label>
              <div class="col-sm-8">
                  <div class="tree_scroll"><ul id="treeDemo" class="ztree"></ul></div>
              </div>
            </div>            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-info">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </form>
</div><!-- /.modal-dialog -->
  <SCRIPT type="text/javascript">

    <!--
    var setting = {
      view: {
        showIcon: false
      },      
      check: {
        enable: true
      },
      data: {
        simpleData: {
          enable: true
        }
      }
    };

    var zNodes =[
      { id:1, pId:0, name:"用户细分", open:true},
      { id:11, pId:1, name:"我的群组", open:true},
      { id:12, pId:1, name:"群组构建", open:true},

      { id:2, pId:0, name:"活动优化", checked:true, open:true},
      { id:21, pId:2, name:"方案设计", open:true},
      { id:211, pId:21, name:"活动专项", checked:true},
      { id:212, pId:21, name:"我的活动", checked:true},
      { id:213, pId:21, name:"活动定制"},
      { id:22, pId:2, name:"效果评估", open:true},
      { id:221, pId:22, name:"活动进展", checked:true},
      { id:222, pId:22, name:"效果评价"},
      { id:223, pId:22, name:"渠道评价"},

      { id:3, pId:0, name:"数据分析", checked:true, open:true},
      { id:31, pId:3, name:"概览", open:true},
      { id:311, pId:31, name:"总体概览", checked:true},
      { id:312, pId:31, name:"用户", open:true},
      { id:3121, pId:312, name:"总用户分析", checked:true},
      { id:3122, pId:312, name:"会员分析"},
      { id:3123, pId:312, name:"大客户分析"},
      { id:313, pId:31, name:"营销", open:true},
      { id:3131, pId:313, name:"产品销量分析", checked:true},
      { id:3132, pId:313, name:"产品营收分析"},
      { id:32, pId:3, name:"会员分析", open:true},
      { id:321, pId:32, name:"会员分布", open:true},
      { id:3211, pId:321, name:"注册时间", checked:true},
      { id:3212, pId:321, name:"地区分析"},
      { id:3213, pId:321, name:"等级分析"},
      { id:3214, pId:321, name:"活跃分析"},
      { id:322, pId:32, name:"新增会员", open:true},
      { id:3221, pId:322, name:"新增分析", checked:true},
      { id:3222, pId:322, name:"来源分析"},
      { id:323, pId:32, name:"流失会员", open:true},
      { id:3231, pId:323, name:"高风险用户", checked:true},
      { id:3232, pId:323, name:"流失分析"},
      { id:33, pId:3, name:"营销分析", open:true},
      { id:331, pId:33, name:"用户销量", open:true},
      { id:3311, pId:331, name:"个人会员", checked:true},
      { id:3312, pId:331, name:"企业会员"},
      { id:332, pId:33, name:"产品销量", open:true},
      { id:3321, pId:332, name:"TOP10产品", checked:true},
      { id:3322, pId:332, name:"TOP10组合"},
      { id:34, pId:3, name:"我的报表", open:true},
      { id:341, pId:34, name:"报表查看", checked:true},
      { id:342, pId:34, name:"报表定制", checked:true},

      { id:4, pId:0, name:"数据挖掘", checked:true, open:true},
      { id:41, pId:4, name:"用户价值", open:true},
      { id:411, pId:41, name:"用户价值分类", checked:true},
      { id:412, pId:41, name:"用户流失风险", checked:true},
      { id:413, pId:41, name:"用户购买周期"},
      { id:414, pId:41, name:"用户忠诚度"},
      { id:42, pId:4, name:"购物篮分析", open:true},
      { id:421, pId:42, name:"产品销售组合", checked:true},
      { id:422, pId:42, name:"产品关联度"},
      { id:43, pId:4, name:"价格弹性", open:true},
      { id:431, pId:43, name:"促销价格弹性", checked:true},
      { id:432, pId:43, name:"活动响应指数", checked:true},
      { id:433, pId:43, name:"产品响应指数"},
      { id:44, pId:4, name:"用户消费模式", open:true},
      { id:441, pId:44, name:"消费金额", checked:true},
      { id:442, pId:44, name:"购买时段", checked:true},
      { id:443, pId:44, name:"订单结算"},
      { id:444, pId:44, name:"配送方式"},

      { id:5, pId:0, name:"数据管理", checked:true, open:true},
      { id:51, pId:5, name:"数据上传", open:true},
      { id:511, pId:51, name:"本地上传", checked:true},
      { id:512, pId:51, name:"FTP上传"},
      { id:52, pId:5, name:"文件中心", open:true},
      { id:521, pId:52, name:"标签映射", checked:true},
      { id:522, pId:52, name:"数据清洗"},
      { id:53, pId:5, name:"数据存储", open:true},
      { id:531, pId:53, name:"数据导入", checked:true},

      { id:6, pId:0, name:"系统设置", checked:true, open:true},
      { id:61, pId:6, name:"角色管理"},
      { id:62, pId:6, name:"账号管理", open:true},
      { id:621, pId:62, name:"账号配置", checked:true},
      { id:622, pId:62, name:"密码修改"},
      { id:63, pId:6, name:"接口配置", open:true},
      { id:631, pId:63, name:"微信"},
      { id:632, pId:63, name:"微博"},
      { id:633, pId:63, name:"短信"},
      { id:634, pId:63, name:"邮件"},
      { id:635, pId:63, name:"电视墙"},


    ];

    $(document).ready(function(){
      $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });
    //-->
  </SCRIPT>

  <script type="text/javascript">
  // 特色滚动条
    $('.tree_scroll').slimscroll({
      height: '300',
      alwaysVisible: true,
      railVisible: true,
    });      

  </script>