html{-webkit-text-size-adjust:none;}
body{font-family: Microsoft YaHei; font-size: 12px; -webkit-text-size-adjust:none;}
th,td{font-family: Microsoft YaHei; font-size: 12px;}
header h1{font-size: 16px; font-weight: 700; padding-left: 10px;}
.widget h4,.widget h3{margin: 0;}
.widget .table-striped > tbody > tr:nth-child(even) {
  background-color: #fff;
}
.img-thumbnail{padding: 0;}
.pagination .linpt{padding-left: 5px;}
.pagination .linpt input{width: 35px; margin: 0 5px; display: inline; border: 1px solid #dae5e8;}
.block-title > button {margin: 10px 5px;}
.block-title > button:first-child {margin-left:15px;}
.block-title > .block-options {margin: 5px 15px;}
.wizard > .content {overflow-y: auto;}
.wizard > .content > .body {width: 100%;}
.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    cursor: default;
}
.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    cursor: default;
    background-color: #9de7e2;
}
.wizard > .steps .first.done a,
.wizard > .steps .first.done a:hover,
.wizard > .steps .first.done a:active
{
    cursor: default;
}
.wizard table{background-color: #fff;}
.wizard h4{border-left: 5px solid #41cac0; font-size: 14px; font-weight: 700; margin-bottom: 20px; padding-left: 5px;}
.jindu h5{margin: 0;}
.plist{padding: 20px; font-size: 14px; line-height: 2;}
.text-red{color: #f00;}
.login-container .control-label{font-size: 16px;}