body{font-family: '微软雅黑'; background: #afd8e9; }
.container{ background: #fff;}
a{cursor: pointer;}
.nostyleinput{border: none;background: none;box-shadow: none;cursor: text;padding: 5px 0;}
.navbar{position: static!important;}
.navbar .navbar-inner{filter:none;background: #fff;border-radius: 0;border:none;border-top:4px #1292c9 solid;border-bottom:1px #e0e0e0 solid;box-shadow:0px 1px 1px #f5f5f5;  min-height: 70px;line-height: 60px}
.navbar .navbar-inner a,.navbar-inverse .navbar-inner p{color: #3b8ecd;}
.navbar .navbar-text{margin-top:20px; color:#3b8ecd;font-weight: bold;}
.navbar .brand{padding:0 20px;font-size: 28px;*margin-top:10px;}

.footer{text-align: center;background: #f5f5f5;border-top:1px #e3e3e3 solid;padding:20px 0;}


.breadcrumb{background: #fff; border-bottom:1px #F5F5F5 solid;border-radius: 0;padding-left:0;}
.breadcrumb,.breadcrumb a{font-size: 16px;}

h3{padding: 10px 0 0;border-bottom: 1px #a9a9a9 solid;font-size: 16px;font-weight: bold;color: #676767; line-height: 26px;}
h3 .h3title{display: inline-block; border-bottom:3px #0f9ffb solid;padding: 0 5px;position: relative;top: 1px;}
h3.h3-style-1{border-bottom: 1px #e0e0e0 solid;font-size: 14px;margin-bottom:0;}

.checking{color: #666; font-size: 20px}
.checking img{margin-right:10px;}



/**/
.form-style-1{margin: 0 auto; width: 800px;padding:110px 0 0 370px;background: url(../img/blue/login_img.jpg) no-repeat 0 0;}
.form-style-1 .control-label{font-size:18px;color:#676767}
.form-style-1 select{width:260px;height:40px;}
.form-style-1 textarea{width:500px;height:200px}

.form-style-2{color: #333333;padding:10px 0.3em;margin:0 0 10px; background-color:#f5f5f5;border-bottom:1px solid #E0E0E0;}
.form-style-2 label.checkbox{margin-right:20px;font-size: 12px;}

.form-style-3{color: #36476a;}
.form-style-3 .valuecontent{padding:5px 0;}
.form-style-3 .valuecontent a{margin-right:10px;}

.query-style-1{font-size: 12px;}
.query-style-1 .query-label{float: left;color: #333333;margin:3px 0 0; width:100px;}
.query-style-1 .query-search{float: left;border: 1px #a7a7a7 solid; line-height: 12px;}
.query-style-1 .query-search input{border:0 none; box-shadow: none; font-size: 12px; padding:0 0.2em; width:150px; }
.query-style-1 .query-search button{border:none; box-shadow: none; border-left:1px #a7a7a7 solid; background: url('../img/blue/button_bg.png') repeat-x 0 0; line-height:12px; padding:5px 1em;font-size: 12px; color: #333;}
.query-style-1 select{height:24px; line-height: 18px; font-size: 12px; border: 1px #a7a7a7 solid; border-radius: 0;}

/**/
.btn-style-1{width:156px;height:56px; border:none; background: url('../img/blue/startsearch.png'); _cursor:hand;}
.btn-style-2{width:156px;height:56px; border:none; background: url('../img/blue/research.png'); position: fixed;bottom:90px; right:20px;}
.btn-style-3{border:none; background: #f2f2f2; box-shadow: none; padding:6px 12px; font-size: 12px; line-height: 12px; color: #333333; border-radius: 3px; margin-right:6px;}
.btn-style-3.active{background: #1d9bd1;color: #fff;}
.btn-style-4{width:156px;height:56px; border:none; background: url('../img/blue/btn_yes.png');}
.btn-style-5{width:156px;height:56px; border:none; background: url('../img/blue/btn_research.png');}
.btn-style-6{width:156px;height:56px; border:none; background: url('../img/blue/btn_return.png');}

/**/
.seresultcontent{margin-top:26px; position: relative; _width:1170px; _overflow: hidden; padding: 0 10px; width: 1150px;}

/**/
.table th{color: #475158; background: #e7f0f8;line-height: 16px;padding:7px 12px; font-size: 12px;}
.table td{padding:12px;color: #404040;}
.table th, .table td{border:none;}
.table td,table a{font-size: 13px;}

/**/
.adaptive-size{overflow: hidden}
.adaptive-size .adaptive-left{padding-bottom:32767px!important;margin-bottom:-32767px!important;width:205px;float: left;}
.adaptive-size .adaptive-right{padding-bottom:32767px!important;margin-bottom:-32767px!important;margin-left:205px; overflow: hidden}

.bar-style-1{margin-top:10px; margin-bottom:12px;}

.centerline{position: absolute;left:50%; border-right:1px #e0e0e0 solid; top:-26px; bottom:0;}

.search_top{border-bottom: 1px #ccc solid; background: #FAFAFA;padding:20px 10px 10px;}
.search_top textarea{overflow: hidden;}
/*login*/
.filter{float:left;margin:0;padding: 0;}
.filter li{float:left; position:relative; display:inline; padding:1px; background-color:#ddd; margin:0 10px 10px 0;}
.filter li a{float:left; min-width:10px; text-align:center; padding:5px 10px; white-space:nowrap; height:20px; border:1px solid #fff; background-color:#fff;}
.filter li i{display:none;position:absolute; right:0; bottom:0; width:12px; height:12px; overflow:hidden; text-indent:-9999em; background:url('../img/blue/tick.gif') no-repeat;cursor:pointer;}
.filter li.selected a,.filter li a:hover{border:2px solid #0F9FFB; margin:-1px; text-decoration:none;}
.filter li a span{float:left;}
.filter li.selected a{border:2px solid #0F9FFB; margin:-1px; text-decoration:none;}
.filter li.selected i{display: block;}
.query-style-1 .filter{display: inline-block; vertical-align: top; padding-bottom:10px;}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1170px;
}
.adaptive-style-1{padding:0 20px;width:1130px;}
.adaptive-style-1 .adaptive-left{border-right:1px #e0e0e0 solid;padding-top:10px;}
.adaptive-style-1 .adaptive-left li{margin-bottom:14px;}
.adaptive-style-1 .adaptive-left li a{padding:8px 0 8px 58px;*padding:5px 0 5px 58px;line-height: 14px;}
.adaptive-style-1 .adaptive-left li a:hover{cursor: pointer;}
.adaptive-style-1 .adaptive-left li.active a{color: #fff;background: url('../img/blue/nav_bg.png');border:1px #0b80b2 solid; }
.adaptive-style-1 .adaptive-right{padding:0 18px 18px;}

#chineseresult,#westernresult{height:400px;margin:20px auto 0;width:80%;}
#discriminate_area{margin:0 auto;width:80%;}
#ajax_modal{width:800px; margin-left:-400px;}
#ajax_modal2{width:500px; margin-left:-250px;}

.mostprobability{text-align: center; color: #6c6c6c;margin-bottom:30px;}
.mostprobability .name{color: #BC6FBC; font-size: 16px;}
.mostprobability .pertext{font-size: 18px; line-height: 18px;position: relative; top:4px; left:5px;}
.mostprobability .per{color: #208af0; font-size: 22px; line-height: 22px; font-family: arial; position: relative; top:5px; left:5px;}

.formbox{}
.formbox .form-header{ background: url('../img/blue/form_header.png') no-repeat; width:645px; height:46px;margin: 0 auto;}
.formbox .form-diver{width:602px;border-bottom:5px #74a8f4 solid;margin: 0 auto;font-size:0;overflow:hidden; line-height: 0}
.formbox .form-body{margin: 0 auto;width:580px; border-left:1px #b4cef3 solid;border-right:1px #b4cef3 solid; padding:10px;}
.formbox .form-footer{margin: 0 auto;width:645px; height:31px; background: url('../img/blue/form_footer.png') no-repeat;margin-top:5px;}
.formbox .title{font-size: 30px; line-height: 30px; color: #74a8f4; text-align: center; margin:0;}
.formbox .form-table-body{ padding:0;width: 600px;}
.formbox .form-table{}
.formbox .form-table td{border-right:1px #dddddd solid;border-bottom:1px #dddddd solid;border-left:1px #fff solid;border-top:1px #fff solid; padding:5px; width:162px; }
.formbox .form-table .form-key{background: #f7f8ee; width:136px; text-align: center; overflow: hidden;}
.formbox .form-table .form-value{width:490px; _width:486px; height:50px;}
.formbox .form-table .no-boder-right{border-right:none;}

.modal{_position: absolute;_background:#fff; _filter:alpha(opacity=100);}
/*main_menu*/
.bs-docs-sidenav {
  margin: 30px 0 0;
  padding:0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav  li  a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
  position:relative;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
.bs-docs-sidenav  li  a:hover {
  background-color: #f5f5f5;
}
.row-fluid .span2{_float: left;}
/**/
.word-list-title{display:inline-block;*display:inline;zoom:1;height:27px;margin:10px 0 20px;padding:0 14px;line-height:25px;border-radius:0;background:#08c;position:relative;color:#FFF; font-size: 12px;}
.word-list-title span{float:none;display:block;position:absolute;top:27px;left:20px;width:0;height:0;line-height:0;font-size:0;border-style:solid;border-width:6px;border-color:#08c #FFF #FFF #FFF}
.word-list-item { padding: 6px 10px; border-top: 1px #FFF solid; border-bottom: 1px #FFF solid }
.word-list-item:hover{background: #f7f7f7; border-color:#e5e5e5;}
.word-list-item-nohover{border: none; padding:0; position: relative;top:-3px;}
.word-list-item-nohover:hover{background: none; border: none;}
.word-list-item .item-label { display: inline-block; width: 30px; height: 30px; vertical-align: top; border: 1px #DDD solid; margin: 5px 5px 0 0; *display:inline;
zoom: 1; border-radius: 0; color: #666; line-height: 24px }
.word-list-item .item-label strong {display: block; width: 28px; height: 28px; text-align: center; background: #f1f1f1; border: 1px #f7f7f7 solid; border-radius: 0; font-family: Tahoma; font-size: 16px }
.word-list-item .item{ display: inline-block; width: 95%; vertical-align: top; *display:inline;
zoom: 1 }
.word-list-item .item i { color: #CCC; font-style: normal; margin: 0 3px }
.word-list-item:hover .item-label { border-color: #1fb7bb }
.word-list-item:hover .item-label strong { background: #08c; color: #FFF; border-color: #08c }
.word-list-item .item span {position:relative;display: inline-block; *display:inline;zoom: 1; padding: 3px 20px 3px 3px; margin: 5px; border-radius: 0;cursor:pointer;_cursor:hand; }
.word-list-item .item span:hover,.word-list-item .item span.hover { background: #08c; border-radius: 2px; color: #FFF }
.word-list-item .item span a{position:absolute;display:none;padding:0 4px;color:#fff;}
.word-list-item .item span:hover a,.word-list-item .item span.hover a{display:inline;}

.dictionary-list .nav{margin:0;}
.dictionary-list-title{display:inline-block;*display:inline;zoom:1;height:27px;margin:10px 0 20px;padding:0 14px;line-height:25px;border-radius:0;background:#08c;position:relative;color:#FFF; font-size: 12px;}
.dictionary-list-title span{float:none;display:block;position:absolute;top:27px;left:20px;width:0;height:0;line-height:0;font-size:0;border-style:solid;border-width:6px;border-color:#08c #FFF #FFF #FFF}
.dictionary-list-item { padding: 6px 10px; border-top: 1px #FFF solid; border-bottom: 1px #FFF solid }
.dictionary-list-item .item-label {float:left; width: 42px; height: 30px; vertical-align: top; border: 1px #DDD solid; margin: 0 10px 0 0; *display:inline;
zoom: 1; border-radius: 0; color: #666; line-height: 24px }
.dictionary-list-item .item-label strong {display: block; width: 40px; height: 28px; text-align: center; background: #f1f1f1; border: 1px #f7f7f7 solid; border-radius: 0; font-family: Tahoma; font-size: 16px }
.dictionary-list-item:hover .item-label { border-color: #1fb7bb }
.dictionary-list-item:hover .item-label strong { background: #08c; color: #FFF; border-color: #08c }
.dictionary-list-item .item{ display: inline-block; vertical-align: top; *display:inline;zoom: 1 }
.dictionary-list .item{float:left;margin:0;padding: 0;}
.dictionary-list .item li{float:left; position:relative; display:inline; padding:1px; background-color:#fff; margin:0 10px 0 0;}
.dictionary-list .item li a{float:left; min-width:10px; text-align:center; padding:5px; white-space:nowrap; height:20px; border:1px solid #fff; background-color:#fff;}
.dictionary-list .item li i{display:none;position:absolute; right:0; bottom:0; width:12px; height:12px; overflow:hidden; text-indent:-9999em; background:url('../img/blue/tick.gif') no-repeat;cursor:pointer;}
.dictionary-list .item li.selected a,.dictionary-list .item li a:hover{border:2px solid #0F9FFB; margin:-1px; text-decoration:none;}
.dictionary-list .item li a span{float:left;}
.dictionary-list .item li.selected a{border:2px solid #0F9FFB; margin:-1px; text-decoration:none;}
.dictionary-list .item li.selected i{display: block;}
/**/
h3.h3-style-2{border-bottom:none; color:#333;}
.list-style-1 .control-label{ text-align:left;padding:10px 0 0; width:60px;}
.list-style-1 .control-label span{display:block; margin:5px 0 0;background-color: #fff; padding:6px 12px; font-size: 12px; line-height: 12px; color: #08c; border-radius: 3px;border:1px solid #ddd;}
.list-style-1 .controls{margin-left:80px;}
.list-style-1 .control-group { padding: 10px 10px 0 10px; background-color: #f5f5f5; margin: 10px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #cfd7de; position: relative; }
.list-style-1 .control-group:before { content: ''; position: absolute; left: 10px; top: -16px; border: 8px solid #000; z-index: 1; border-color: transparent transparent #CFD7DE transparent; }
.list-style-1 .control-group:after { content: ''; position: absolute; left: 10px; top: -15px; border: 8px solid #000; z-index: 2; border-color: transparent transparent #f5f5f5 transparent; }
.list-style-1 .controls-title{font-size:12px; font-weight:300; color:#000;}
.list-style-1 .controls-detail{font-size:12px; color:#666;}
.list-style-1 .controls-title strong,.list-style-1 .controls-detail strong{color: #333;}
.list-style-1 .controls-ft{margin:10px 0 0;}
.list-style-1 .controls-ft a{margin:0 5px;}
.list-style-1 .controls-ft .a-style-1{color:#f93;}
.list-style-1 .controls-ft .pull-left{width:80%;}
.list-style-1 .controls-ft .pull-right{width:20%; text-align:right;}
.list-style-1 .controls-ft .pull-right a{color:#fff;font-size:12px;padding:0 2px; background-color:#35bafc; border-radius:2px;}
.list-style-1 textarea{font-size:12px;width:98%; height:80px; background-color:#def2fc; border:1px solid #fff; }
.list-style-1 textarea{font-size:12px;width:98%; height:80px; background-color:#fafafa; border-top:1px solid #ddd;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #ddd; }

.additem .input{width:155px;}
.dictionary-list .nav-tabs{padding-left:20px;}
.nav-tabs li a {
  border: 1px solid #ddd;
  background-color: #eee;
  padding:6px 8px;
}
.nav-tabs li{}
.nav-tabs li a:hover,
.nav-tabs li a:focus {
  border:1px solid #08c; background-color: #08c; color: #fff;
}
.nav-tabs li a{line-height: 14px;position:relative;}
.nav-tabs .active a,.nav-tabs .active a:hover,.nav-tabs .active a:focus{border:1px solid #08c; background-color: #08c; color: #fff;}
.nav-tabs li a, .nav-pills li a{margin-right: 5px;}
/**/


.controls-value-style{padding:5px 0;}

#importing .progress{width:450px;}
#importinfo .info{color: #ff0000;}
#importinfo .success{color: #2A7388}

#researchbtn{_position: absolute; _right:40px;}
.pagination ul li a{border-left-width:1px;margin-left:-1px;position:relative;}

.itemcontainer .popover-title{font-size:12px; color:#468847; background-color:#f5f5f5;padding:3px;}
.itemcontainer .popover-content{display:none;}

.container-fix-height{min-height:600px;height:100%;_height:600px;}
.oddtrforie td{background-color: #f8f8f8;}
/*.table-striped tbody tr{background-color:expression((this.sectionRowIndex%2==0)?"#419C33":"#CCEBC7");} */