<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i><span>返回</span></a></div>
    <div class="center sliding">主题风格</div>
  </div>
</div>

<div data-page="ColorThemesVC" class="page page-grouped">
    <div class="navbar" ng-if="isMaterial">
        <div ng-class="{'navbar-inner':isMaterial}">
            <div class="left">
                <a href="#" class="back link icon-only">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="center">
                主题风格
            </div>
        </div>
    </div>

    <div class="page-content" ng-if="!isMaterial">
        <div class="content-block">
            <p>Framework7 comes with default 10 iOS color themes set and three layout color themes (default, dark and pure white):</p>
        </div>
        <div class="content-block-title">选择布局主题</div>
        <div class="content-block">
            <div class="row">
                <div class="col-33 ks-layout-theme ks-layout-default active" ng-click="setLayoutTheme('')"></div>
                <div class="col-33 ks-layout-theme ks-layout-dark" ng-click="setLayoutTheme('dark')"></div>
                <div class="col-33 ks-layout-theme ks-layout-white" ng-click="setLayoutTheme('white')"></div>
            </div>
        </div>
        <div class="content-block-title">选择颜色主题</div>
        <div class="content-block">
            <div class="row">
                <div class="col-20 ks-color-theme bg-white" ng-click="setColorTheme('white')"></div>
                <div class="col-20 ks-color-theme bg-black" ng-click="setColorTheme('black')"></div>
                <div class="col-20 ks-color-theme bg-blue" ng-click="setColorTheme('blue')"></div>
                <div class="col-20 ks-color-theme bg-orange" ng-click="setColorTheme('orange')"></div>
                <div class="col-20 ks-color-theme bg-red" ng-click="setColorTheme('red')"></div>
            </div>
            <div class="row">
                <div class="col-20 ks-color-theme bg-pink" ng-click="setColorTheme('pink')"></div>
                <div class="col-20 ks-color-theme bg-green" ng-click="setColorTheme('green')"></div>
                <div class="col-20 ks-color-theme bg-lightblue" ng-click="setColorTheme('lightblue')"></div>
                <div class="col-20 ks-color-theme bg-yellow" ng-click="setColorTheme('yellow')"></div>
                <div class="col-20 ks-color-theme bg-gray" ng-click="setColorTheme('gray')"></div>
            </div>
        </div>
    </div>

    
    <div class="page-content" ng-if="isMaterial">
        <div class="content-block">
            <p>Framework7 comes with 20 default Material color themes set and two layout color themes (default and dark):</p>
        </div>
        <div class="content-block-title">Choose Layout Theme</div>
        <div class="content-block">
            <div class="row">
                <div class="col-50 ks-layout-theme ks-layout-default active" ng-click="setLayoutTheme('')"></div>
                <div class="col-50 ks-layout-theme ks-layout-dark" ng-click="setLayoutTheme('dark')"></div>
            </div>
        </div>
        <div class="content-block-title">Choose Color Theme</div>
        <div class="content-block">
            <div class="row">
                <div class="col-20 ks-color-theme bg-red" ng-click="setColorTheme('red')"></div>
                <div class="col-20 ks-color-theme bg-pink" ng-click="setColorTheme('pink')"></div>
                <div class="col-20 ks-color-theme bg-purple" ng-click="setColorTheme('purple')"></div>
                <div class="col-20 ks-color-theme bg-deeppurple" ng-click="setColorTheme('deeppurple')"></div>
                <div class="col-20 ks-color-theme bg-indigo" ng-click="setColorTheme('indigo')"></div>
            </div>
            <div class="row">
                <div class="col-20 ks-color-theme bg-blue" ng-click="setColorTheme('blue')"></div>
                <div class="col-20 ks-color-theme bg-lightblue" ng-click="setColorTheme('lightblue')"></div>
                <div class="col-20 ks-color-theme bg-cyan" ng-click="setColorTheme('cyan')"></div>
                <div class="col-20 ks-color-theme bg-teal" ng-click="setColorTheme('teal')"></div>
                <div class="col-20 ks-color-theme bg-green" ng-click="setColorTheme('green')"></div>
            </div>
            <div class="row">
                <div class="col-20 ks-color-theme bg-lightgreen" ng-click="setColorTheme('lightgreen')"></div>
                <div class="col-20 ks-color-theme bg-lime" ng-click="setColorTheme('lime')"></div>
                <div class="col-20 ks-color-theme bg-yellow" ng-click="setColorTheme('yellow')"></div>
                <div class="col-20 ks-color-theme bg-amber" ng-click="setColorTheme('amber')"></div>
                <div class="col-20 ks-color-theme bg-orange" ng-click="setColorTheme('orange')"></div>
            </div>
            <div class="row">
                <div class="col-20 ks-color-theme bg-deeporange" ng-click="setColorTheme('deeporange')"></div>
                <div class="col-20 ks-color-theme bg-brown" ng-click="setColorTheme('brown')"></div>
                <div class="col-20 ks-color-theme bg-gray" ng-click="setColorTheme('gray')"></div>
                <div class="col-20 ks-color-theme bg-bluegray" ng-click="setColorTheme('bluegray')"></div>
                <div class="col-20 ks-color-theme bg-black" ng-click="setColorTheme('black')"></div>
            </div>
        </div>
    </div>
</div>