<!-- Views, and they are tabs-->
<!-- We need to set "toolbar-through" class on it to keep space for our tab bar-->
<div class="views with-panel-left">
    <div class="views tabs toolbar-through no-tabbar">

        <div id="view-home" class="views tab active">
            <div id="view-home-left" class="view view-left navbar-through">
                <div class="navbar" ng-if="!isMaterial"></div>
                <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}"></div>
            </div>
            <div id="view-home-main" class="view view-main navbar-through">
                <div class="navbar" ng-if="!isMaterial">
                    <div class="navbar-inner">
                    </div>
                </div>
                <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}">
                    <div class="page">
                        <div class="page-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="view-work" class="views tab">
            <div id="view-work-left" class="view view-left navbar-through">
                <div class="navbar" ng-if="!isMaterial"></div>
                <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}"></div>
            </div>
            <div id="view-work-main" class="view view-main navbar-through">
                <div class="navbar" ng-if="!isMaterial">
                    <div class="navbar-inner">
                    </div>
                </div>
                <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}">
                    <div class="page">
                        <div class="page-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="view-chat" class="views tab">
            <div id="view-chat-left" class="view view-left navbar-through">
                <div class="navbar" ng-if="!isMaterial"></div>
                <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}"></div>
            </div>
            <div id="view-chat-main" class="view view-main navbar-through">
                <div class="navbar" ng-if="!isMaterial">
                    <div class="navbar-inner">
                    </div>
                </div>
                <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}">
                    <div class="page">
                        <div class="page-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="view-contact" class="views tab">
            <div id="view-contact-left" class="view view-left navbar-through">
                <div class="navbar" ng-if="!isMaterial"></div>
                <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}"></div>
            </div>
            <div id="view-contact-main" class="view view-main navbar-through">
                <div class="navbar" ng-if="!isMaterial">
                    <div class="navbar-inner">
                    </div>
                </div>
                <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}">
                    <div class="page">
                        <div class="page-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="view-mine" class="views tab">
            <div id="view-mine-left" class="view view-left navbar-through">
                <div class="navbar" ng-if="!isMaterial"></div>
                <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}"></div>
            </div>
            <div id="view-mine-main" class="view view-main navbar-through">
                <div class="navbar" ng-if="!isMaterial">
                    <div class="navbar-inner">
                    </div>
                </div>
                <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}">
                    <div class="page">
                        <div class="page-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Tabbar-->
    </div>                  
</div>