        <!-- Views, and they are tabs-->
        <!-- We need to set "toolbar-through" class on it to keep space for our tab bar-->
        <div class="views">
            <div class="views tabs toolbar-through">
                <div id="view-home" class="view tab active">
                    <div class="navbar" ng-if="!isMaterial"></div>
                    <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}"></div>
                </div>
                <div id="view-work" class="view tab">
                    <div class="navbar" ng-if="!isMaterial"></div>
                    <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}"></div>
                </div>
                <div id="view-chat" class="view tab">
                    <div class="navbar" ng-if="!isMaterial"></div>
                    <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}"></div>
                </div>
                <div id="view-contact" class="view tab">
                    <div class="navbar" ng-if="!isMaterial"></div>
                    <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}"></div>
                </div>
                <div id="view-mine" class="view tab">
                    <div class="navbar" ng-if="!isMaterial"></div>
                    <div class="pages" ng-class="{'navbar-through':!isMaterial,'navbar-fixed':isMaterial}"></div>
                </div>

                <!-- Bottom Tabbar-->

                <div class="toolbar tabbar tabbar-labels">
                    <div class="toolbar-inner">
                        <a href="#view-home" class="tab-link active"> <i class="icon tabbar-demo-icon-1"></i><span class="tabbar-label">首页</span></a>
                        <a href="#view-work" class="tab-link"><i class="icon tabbar-demo-icon-2"></i><span class="tabbar-label">工作</span></a>
                        <a href="#view-chat" class="tab-link"> <i class="icon tabbar-demo-icon-3"><span class="badge bg-red">4</span></i><span class="tabbar-label">消息</span></a>
                        <a href="#view-contact" class="tab-link"> <i class="icon tabbar-demo-icon-4"></i><span class="tabbar-label">通讯录</span></a>
                        <a href="#view-mine" class="tab-link"> <i class="icon tabbar-demo-icon-5"></i><span class="tabbar-label">我</span></a>
                    </div>
                </div>
            </div>                 
        </div>