html,body{width: 100%; height: 100%;}
body{min-width: 1280px;}
body, td, th, label, p {
    font-family: 'Microsoft YaHei',Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.table th, .table td{border-top:1px solid #e5e5e5;}
.dropdown-menu{border-radius: 0;border-color:#ddd;margin:2px 0 0;}
.dropdown-menu > li > a{padding: 5px 20px;}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #fff;
  text-decoration: none;
  background-color: #458fd8;
  background-image: -moz-linear-gradient(top, #458fd8, #458fd8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#458fd8), to(#458fd8));
  background-image: -webkit-linear-gradient(top, #458fd8, #458fd8);
  background-image: -o-linear-gradient(top, #458fd8, #458fd8);
  background-image: linear-gradient(to bottom, #458fd8, #458fd8);
  background-repeat: repeat-x;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto
}

.table-responsive {
    width: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-responsive>.table {
    margin-bottom: 0
}
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>td,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>thead>tr>th {
    white-space: nowrap
}
.table-responsive>.table-bordered {
    border: 0
}
.table-responsive>.table-bordered>tbody>tr>td:first-child,
.table-responsive>.table-bordered>tbody>tr>th:first-child,
.table-responsive>.table-bordered>tfoot>tr>td:first-child,
.table-responsive>.table-bordered>tfoot>tr>th:first-child,
.table-responsive>.table-bordered>thead>tr>td:first-child,
.table-responsive>.table-bordered>thead>tr>th:first-child {
    border-left: 0
}
.table-responsive>.table-bordered>tbody>tr>td:last-child,
.table-responsive>.table-bordered>tbody>tr>th:last-child,
.table-responsive>.table-bordered>tfoot>tr>td:last-child,
.table-responsive>.table-bordered>tfoot>tr>th:last-child,
.table-responsive>.table-bordered>thead>tr>td:last-child,
.table-responsive>.table-bordered>thead>tr>th:last-child {
    border-right: 0
}
.table-responsive>.table-bordered>tbody>tr:last-child>td,
.table-responsive>.table-bordered>tbody>tr:last-child>th,
.table-responsive>.table-bordered>tfoot>tr:last-child>td,
.table-responsive>.table-bordered>tfoot>tr:last-child>th {
    border-bottom: 0
}

.table-bordered {
  border: 1px solid #e5e5e5;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #e5e5e5;
  background-color: #fff;
}
.wrapper {
  padding: 10px;
}
.no-padding{padding: 0 !important;}
.modal{border: none;}
.modal-header{padding: 5px 10px; color: #fff; background-color: #458fd8;}
.modal-header h4{font-weight: 300; font-size: 16px;}
.modal-footer{border-radius: 0;}
/*text*/
.text-white{color: #fff;}
.text-light{color: #F1F0F0;}
.text-success{color: #00a65a;}
.text-info{color: #00c0ef;}
.text-danger{color: #dd4b39;}
.text-warning{color: #f39c12;}
.text-primary{color: #448fd8;}
.fontSize18 {
    font-size: 18px;
}
.fontSize16 {
    font-size: 16px;
}
.fontSize14 {
    font-size: 14px !important;
}
.fontSize12 {
    font-size: 12px;
}
.fontSize11 {
    font-size: 11px;
}
.fontSize10 {
    font-size: 10px;
}
/*bgcolor*/
.bg-primary{background-color: #448fd8;}
.bg-teal{background-color: #4dc6d1;}
.bg-light-primary{background-color: #67a8ce;}
.bg-info{background-color: #00c0ef;}
.bg-danger{background-color: #dd4b39;}
.bg-success{background-color: #00a65a;}
.bg-warning{background-color: #f39c12;}
.bg-gray{background-color: #f4f4f4;}
.bg-dark-gray{background-color: #ddd;}
.bg-dark{background-color: #1B232F;}
.bg-teal-gradient {
  background: #39cccc !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39cccc), color-stop(1, #7adddd)) !important;
  background: -ms-linear-gradient(bottom, #39cccc, #7adddd) !important;
  background: -moz-linear-gradient(center bottom, #39cccc 0%, #7adddd 100%) !important;
  background: -o-linear-gradient(#7adddd, #39cccc) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7adddd', endColorstr='#39cccc', GradientType=0) !important;
  color: #fff;
}
.bg-light-blue-gradient {
  background: #448fd8 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #448fd8), color-stop(1, #67a8ce)) !important;
  background: -ms-linear-gradient(bottom, #448fd8, #67a8ce) !important;
  background: -moz-linear-gradient(center bottom, #448fd8 0%, #67a8ce 100%) !important;
  background: -o-linear-gradient(#67a8ce, #448fd8) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a8ce', endColorstr='#448fd8', GradientType=0) !important;
  color: #fff;
}
.bg-blue-gradient {
  background: #0073b7 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7), color-stop(1, #0089db)) !important;
  background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;
  background: -moz-linear-gradient(center bottom, #0073b7 0%, #0089db 100%) !important;
  background: -o-linear-gradient(#0089db, #0073b7) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db', endColorstr='#0073b7', GradientType=0) !important;
  color: #fff;
}
.bg-aqua-gradient {
  background: #00c0ef !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00c0ef), color-stop(1, #14d1ff)) !important;
  background: -ms-linear-gradient(bottom, #00c0ef, #14d1ff) !important;
  background: -moz-linear-gradient(center bottom, #00c0ef 0%, #14d1ff 100%) !important;
  background: -o-linear-gradient(#14d1ff, #00c0ef) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14d1ff', endColorstr='#00c0ef', GradientType=0) !important;
  color: #fff;
}
.bg-yellow-gradient {
  background: #f39c12 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12), color-stop(1, #f7bc60)) !important;
  background: -ms-linear-gradient(bottom, #f39c12, #f7bc60) !important;
  background: -moz-linear-gradient(center bottom, #f39c12 0%, #f7bc60 100%) !important;
  background: -o-linear-gradient(#f7bc60, #f39c12) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bc60', endColorstr='#f39c12', GradientType=0) !important;
  color: #fff;
}
.bg-purple-gradient {
  background: #605ca8 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #605ca8), color-stop(1, #9491c4)) !important;
  background: -ms-linear-gradient(bottom, #605ca8, #9491c4) !important;
  background: -moz-linear-gradient(center bottom, #605ca8 0%, #9491c4 100%) !important;
  background: -o-linear-gradient(#9491c4, #605ca8) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9491c4', endColorstr='#605ca8', GradientType=0) !important;
  color: #fff;
}
.bg-green-gradient {
  background: #00a65a !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00a65a), color-stop(1, #00ca6d)) !important;
  background: -ms-linear-gradient(bottom, #00a65a, #00ca6d) !important;
  background: -moz-linear-gradient(center bottom, #00a65a 0%, #00ca6d 100%) !important;
  background: -o-linear-gradient(#00ca6d, #00a65a) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca6d', endColorstr='#00a65a', GradientType=0) !important;
  color: #fff;
}
.bg-red-gradient {
  background: #dd4b39 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dd4b39), color-stop(1, #e47365)) !important;
  background: -ms-linear-gradient(bottom, #dd4b39, #e47365) !important;
  background: -moz-linear-gradient(center bottom, #dd4b39 0%, #e47365 100%) !important;
  background: -o-linear-gradient(#e47365, #dd4b39) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e47365', endColorstr='#dd4b39', GradientType=0) !important;
  color: #fff;
}
.bg-black-gradient {
  background: #111111 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111111), color-stop(1, #2b2b2b)) !important;
  background: -ms-linear-gradient(bottom, #111111, #2b2b2b) !important;
  background: -moz-linear-gradient(center bottom, #111111 0%, #2b2b2b 100%) !important;
  background: -o-linear-gradient(#2b2b2b, #111111) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#111111', GradientType=0) !important;
  color: #fff;
}
.bg-maroon-gradient {
  background: #d81b60 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d81b60), color-stop(1, #e73f7c)) !important;
  background: -ms-linear-gradient(bottom, #d81b60, #e73f7c) !important;
  background: -moz-linear-gradient(center bottom, #d81b60 0%, #e73f7c 100%) !important;
  background: -o-linear-gradient(#e73f7c, #d81b60) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e73f7c', endColorstr='#d81b60', GradientType=0) !important;
  color: #fff;
}
/* button */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none
}

.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    background-color: #367fa9;
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none
}
.btn-default {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
  background-image: none;
}
.btn-default:hover,
.btn-default:active,
.btn-default.hover {
  background-color: #e7e7e7;
}
.btn-primary {
  background-color: #448fd8;
  border-color: #367fa9;
  background-image: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  background-color: #367fa9;
  color: #fff;
}
.btn-primary.focus, .btn-primary:focus{color: #fff;}
.btn-success {
  background-color: #00a65a;
  border-color: #008d4c;
  background-image: none;
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
  background-color: #008d4c;
  color: #fff;
}
.btn-success.focus, .btn-success:focus{color: #fff;}
.btn-info {
  background-color: #00c0ef;
  border-color: #00acd6;
  background-image: none;
}
.btn-info:hover,
.btn-info:active,
.btn-info.hover {
  background-color: #00acd6;
  color: #fff;
}
.btn-info.focus, .btn-info:focus{color: #fff;}
.btn-danger {
  background-color: #dd4b39;
  border-color: #d73925;
  background-image: none;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
  background-color: #d73925;
  color: #fff;
}
.btn-danger.focus, .btn-danger:focus{color: #fff;}
.btn-warning {
  background-color: #f39c12;
  border-color: #e08e0b;
  background-image: none;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
  background-color: #e08e0b;
  color: #fff;
}
.btn-warning.focus, .btn-warning:focus{color: #fff;}
.btn-outline {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}
.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.input-append .btn.btn-flat:last-child{
    border-radius: 0;
}
.btn-small{padding: 2px 10px !important; font-size: 11.9px !important;}
/* form */
input.form-control {
    width: 95%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d6de;
    border-radius: 0;
    box-shadow: none
}

.form-control:focus {
    border-color: #448fd8;
    outline: 0;
    box-shadow: none
}

.form-control::-moz-placeholder {
    color: #bbb;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #bbb
}

.form-control::-webkit-input-placeholder {
    color: #bbb
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed
}

textarea.form-control {
    height: auto
}
/**告警管理***/
.alarm-tab-header {
    position: relative;
    top: 27px;
    left: 70px;
    color: #fff;
    width: 600px;
}

.alarm-container {
    margin: 20px 20px 20px 0;
    padding: 30px 20px;
    color: #FFF;
}

.alarm-tab-active {
    float: left;
    background-image: url('../images/alarm/btn_tab_select.png');
    background-repeat: no-repeat;
    width: 130px;
    height: 50px;
    text-align: center;
    padding: 10px 0 0 0;
    margin: 0 15px 0 5px;
    font-weight: bold;
}

.alarm-tab {
    float: left;
    background-image: url('../images/alarm/btn_tab_default.png');
    background-repeat: no-repeat;
    width: 130px;
    height: 50px;
    text-align: center;
    padding: 10px 0 0 0;
    margin: 0 15px 0 5px;
    cursor: pointer;
}

.page-active {
    background-color: #448fd8 !important;
    border-color: #448fd8 !important;
    color: #fff !important;
}

/*login*/
.div-relative {
    /* background: #253143 url(../images/login/pic_map.png) no-repeat center 0px scroll; */
    height: 100%;
}

.div-pic {
    width: 808px;
    height: 100%;
    background: url(../images/login/pic_pic.png) no-repeat 0px 0px scroll;
    position: absolute;
    top: 8%;
    left: 2%;
    overflow: hidden;
}

.div-title {
    background: url(../images/login/pic_line_zi.png) no-repeat 0px 0px scroll;
    width: 681px;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.div-form {
    position: absolute;
    right: 10%;
    top: 20%;
    z-index: 70;
    background-image: url(../images/login/signin.png);
    background-repeat: no-repeat;
    width: 402px;
    height: 464px;
}

.div-login {
    position: absolute;
    right: 80px;
    top: 200px;
    z-index: 80;
    color: white
}

/*configure*/
.div-config {
    position: absolute;
    right: 13%;
    top: 240px;
    z-index: 80;
    background-color: #708090;
    width: 400px;
}

.div-cluster {
    position: absolute;
    left: 15%;
    top: 15%;
    z-index: 10;
    width: 80%;
}

.div-initconfigure {
    padding: 15px;
    background-color: #448fd8;
    max-height: 690px;
}

.div-header {
    height: 48px;
    text-align: center;
    color: white;
}

.div-green {
    color:#000;
}
.div-green:hover {
    cursor:pointer;
    color:#0A9847;
}

/**表格编辑***/
.cluster-table {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #60718d;
}

.cluster-table .thead .tr {
    background-color: #313e53;
}

.cluster-table .th {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #60718d;
    font-weight: bold;
}
.cluster-table .tbody .tr {
    background-color: #3d4d62;
}

.cluster-table .td {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #60718d;
}

.cluster-table .th,
.cluster-table .td {
    display: table-cell;
    margin:0;
    padding: 8px;
    line-height: 20px;
    color: #fff;
    font-size: 13px;
    border-top: 1px solid #dddddd;
    font-family:"Times New Roman",Georgia,Serif;
}
.cluster-table .td input[type="text"] {
    width: 100px;
    height: 10px;
    margin: 5px 0;
    padding: 0 2px;
    height: 20px;
    font-size: 13px;
    color: #ffcb00;
    background-color: #60718d;
    vertical-align: middle;
    -webkit-border-radius: 0;
        -moz-border-radius: 0;
            border-radius: 0;
}
#cellDiv, #selectDiv {
    position:absolute;
    display:none;
    font-size:13px;
    font-family:"Times New Roman",Georgia,Serif;
}
#cellDiv input[type="text"] {
    width: 100px;
    height: 10px;
    margin: 5px 0;
    padding: 0 2px;
    height: 20px;
    font-size: 13px;
    color: #ffcb00;
    background-color: #60718d;
    vertical-align: middle;
    -webkit-border-radius: 0;
        -moz-border-radius: 0;
            border-radius: 0;
}

/*******新双向滚动表格*****************/
.table-cluster {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #60718d;
    max-width: 1000% !important;
    width: 1000px;
    table-layout: fixed;
}

.table-cluster thead tr {
    background-color: #313e53;
}

.table-cluster th {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #60718d;
    font-weight: bold;
    vertical-align: bottom;
}
.table-cluster tbody tr {
    background-color: #3d4d62;
}

.table-cluster td {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #60718d;
}

.table-cluster th,
.table-cluster td {
    display: table-cell;
    margin:0;
    padding: 8px 0;
    line-height: 21px;
    color: #fff;
    font-size: 13px;
    vertical-align: middle;
    border-top: 1px solid #dddddd;
    font-family:"Times New Roman",Georgia,Serif;
    text-align: center;
}
.table-cluster td span {
    display: inline-block;
    max-width: 100px;
}

.dropdown {
    cursor: pointer;
}

.dropdown-input {
    background-color: #3d4d62;
    border: none !important;
    margin-top: -22px !important;
    margin-left: 8px !important;
    min-width: 90px !important;
        padding: 0 !important;
        -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
                border-radius: 0 !important;
}

.dropdown-select {
    background-color: #3d4d62;
    border: none !important;
    margin-top: -22px !important;
    margin-left: 0 !important;
    min-width: 90px !important;
        padding: 0 !important;
        -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
                border-radius: 0 !important;
}

.dropdown-input input[type="text"], .node-input input[type="text"] {
    width: 100px;
    margin: 0;
    padding: 0 2px;
    height: 22px;
    font-size: 13px;
    vertical-align: middle;
    text-align: center;
    -webkit-border-radius: 0;
        -moz-border-radius: 0;
            border-radius: 0;
    border: 1px solid #458fd8;
}

.btn-check {
    color: #fff;
    background-color: #848EA7;
    border: 1px solid #848EA7;
}

.btn-add {
    display: inline-block;
    background: #02AD42;
    cursor: pointer;
    border: 0;
    padding: 0;
    color: white;
    width: 150px;
    line-height: 35px;
    text-align: center;
}

.btn-add:hover {
    background: #02C147;
}

.btn-add:disabled {
    background: #189044;
}
.btn-add-short {
    display: inline-block;
    background: #02AD42;
    cursor: pointer;
    width: 100px;
    border: 0;
    padding: 0;
    color: white;
    line-height: 35px;
    text-align: center;
}

.btn-add-short:hover {
    background: #02C147;
}

.ip-input {
    padding: 10px 0 20px 0;
}

.ip-input input[type="text"] {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin: 0 10px 0 0;
    padding: 0 6px;
    border-radius: 0;
    text-align: center;
    color: #000;
}

/**下拉样式**/
.top-arrow:before {
    position: absolute;
    top: -10px;
    left: 130px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    border-left: 10px solid transparent;
    border-bottom-color: #ddd;
    content: '';
}

.top-arrow:after {
    position: absolute;
    top: -8px;
    left: 130px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    content: '';
}

/***信息提示样式***/
.vs-success {
    min-width:10%;
    position: absolute;
    left:45%;
    top:75px;
    text-align:center;
    padding:5px;
    background-color:#02ad42;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#fff;
    display:none;
    z-index: 99;
}
.vs-failure {
    min-width:10%;
    position: absolute;
    left:45%;
    top:75px;
    text-align:center;
    padding:5px;
    background-color:#f06b00;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#fff;
    display:none;
    z-index: 99;
}

/* 健康 */
.ok {
    background-color: #00a65a;
    border: 1px #00a65a solid;
}

/* 告警 */
.warn {
    background-color: #f39c12;
    border: 1px #f39c12 solid;
}

/* 紧急告警 */
.down {
    background-color: #dd4b39;
    border: 1px #dd4b39 solid;
}

/* 正在恢复 */
.recovery {
    background-color: #00c0ef;
    border: 1px #00c0ef solid;
}

/* 没有使用 */
.unused {
    background-color: #ddd;
    border: 1px #ddd solid;
}

/* 没有插盘 */
.empty {
    background-color: #1b232f;
    border: 1px #1b232f solid;
}

/* 选中 */
.selected {
    background-color: #488FD2;
}

/* 未选中 */
.unselected {
    background-color: #45566C;
}

/* 网卡健卡 */
.nic-ok {
    background: url(../images/node/nic_ok.png) center no-repeat;
}

/* 网卡警告 */
.nic-warn {
    background: url(../images/node/nic_warn.png) center no-repeat;
}

/* 网卡严重警告 */
.nic-down {
    background: url(../images/node/nic_down.png) center no-repeat;
}

/* 网卡恢复中 */
.nic-recovery {
    background: url(../images/node/nic_recovery.png) center no-repeat;
}
.node-block{padding: 10px;}
.node-ok {
    border: 1px #00a65a solid;
    background-color: #fff;
}

.node-warn {
    border: 1px #f39c12 solid;
    background-color: #fff;
}

.node-down {
    border: 1px #dd4b39 solid;
    background-color: #fff;
}

.node-recovery {
    border: 1px #00c0ef solid;
    background-color: #fff;
}

.node-selected {
    border: 2px #448fd8 solid;
    background-color: #fff;
}

.node-hover{border: 1px #448fd8 solid;background-color: #fff;}
.tips{
    cursor: help;
    position: relative;
    /*
    background: #eaeaea;
    display: inline-block;
    text-decoration: none;
    color: #222;
    outline: none;
    */
}

.tips span  {
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 999;
    min-width: 100px;
    margin-left: -10px;
    padding: 5px;
    opacity: .9;
    background-color: #00c0ef;
    background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    text-align: left;
    font-size: 12px;
}

.tips:hover{
    border: 0; /* IE6 fix */
}

.tips:hover span{
    visibility: visible;
}
.diskDetail {
    width: 380px;
    margin-top: 3px;
    margin-bottom:16px;
}
.rediscover {
    margin-top: -42px;
    padding-left: 400px;
    color: #08C;
}
.rediscover:hover{
   color: #0A9847;   
}
.discover {
    margin-top: -32px;
    padding-left: 400px;
    margin-bottom: 10px;
}
/*menu*/
.menu-wrap{position:absolute;top:0;width:250px;background-color:#272d30;color: #F1F0F0; font-size: 14px; min-height: 100%;}
.menu-wrap .menu{margin-top: 50px;}
.menu-item{cursor:pointer;background-color: #272d30; border-bottom:1px solid #32383b;padding:9px; color: #a3a3a3;}
.menu-item.sub{padding: 9px 9px 9px 30px; background-color: #23282e; color: #fff; font-size: 12px;}
.menu-item img{opacity: 0.4;}
.menu-arr{float: right;}
.mainMenuStyle {background-color: #448fd8 !important; color: #fff !important;}
.mainMenuStyle img{opacity: 1;}
/*header*/
.header{position: relative;z-index: 1030;background-color: #fff; height: 50px;}
.header-logo{float: left; width: 250px; height: 50px; line-height: 50px; background-color: #448fd8;}
.header-logo img{margin-left: 20px;}
.header-content{margin-left: 250px; border-bottom: 1px solid #e0e0e0;}
.header-content .info1{font-size:15px;color:#F60510;margin-top:15px;text-align: right;}
.header-content .info2{font-size:15px;color:#FF9B00;margin-top:15px;text-align: right;}
.alarmstyle{position:relative;min-width:30px;height:50px;float:left;margin:0 5px;text-align:center;line-height:50px;cursor:pointer;color: #909090;}
.alarmstyle > .label {
  position: absolute;
  top: 9px;
  right: 0;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9;
}
.quick-link{line-height: 48px;}
.quick-link .setting-item{float:right; margin-right: 20px;}
.quick-link .alarm-wrap{float:right; margin-right: 30px;}
.quick-link .setting-item .item{float:right; margin-right:15px;}
.quick-link .setting-item .item a:hover{text-decoration: none;}
.quick-link .username{color: #333; font-size: 12px; margin-right: 10px;}
.quick-link img{margin:0 5px 0 0;}
.quick-link a{cursor: pointer;}
.quick-link .setting-item .item .fa{margin-right: 5px;}
/*main*/
.app{position: relative;width: 100%;height: auto;min-height: 100%;}
.appbg{background-color: #f2f4f8;}
.main-wrap{margin-left: 250px;}
.content-header{padding: 15px 15px 0;}
.content-header > .breadcrumb {
  background: transparent;
  margin: 0;
  padding: 0;
}
.content-header > .breadcrumb > li:first-child{font-size: 16px;}
.content-header > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}
.content-header > .breadcrumb > li + li:before {
  content: '>\00a0';
}
.breadcrumb > .active{color: #333;}
.content{padding: 15px;}
/*
 * Component: Small Box
 * --------------------
 */
.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 20px;
}
.small-box > .chart,.small-box > .chart2{position:absolute;top:5px;right:5px;}
.small-box > .chart > span,.small-box > .chart2 > span{position:absolute;display:inline-block;width:80px;right:25px; text-align: center;}
.small-box > .chart > .value{top:45px; font-size: 18px;}
.small-box > .chart > .name{top:70px;}
.small-box > .chart2 > .value{top:40px; font-size: 40px;}
.small-box > .chart2 > .name{top:80px; font-size: 16px;}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 14px;
  margin:0 0 5px;
  color: #eee;
}
.small-box h3,
.small-box p {
  z-index: 5px;
}
/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  width: 100%;
  box-shadow: 0 1px 0 #c3c3c7;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .border-right {
  border-right: 1px solid #f4f4f4;
}
.box .border-left {
  border-left: 1px solid #f4f4f4;
}
.box.box-solid {
  border: 1px solid #e5e5e5;
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #e0e0e0;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 16px;
  margin: 0;
  line-height: 1;
  color: #458fd8;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}
/*首页*/
.list-wrap{line-height: 30px;}
.list-wrap .list-t{line-height: 30px; margin-top: 10px;}
.list-wrap .list-b{color:#458fd8;border-bottom:1px solid #e2e2e2;cursor:pointer;}
.list-wrap .list-b:hover{text-decoration: underline;}
/* 列表 */
.title{margin: 30px 0; border-left: 5px solid #458fd8; padding-left: 10px; font-size: 14px; font-weight: 700; line-height: 1;}
.table-top{margin-bottom: 20px;}
.table-top .form-search{margin-bottom: 0;}
.subtdbg{background-color: #f6f6f6;}
.subtdbox p{margin-top: 30px; margin-left: 55px;}
.subtdbox .textlist{font-size: 14px; margin-left: 55px;margin-top: 10px;}
.subtdbox .textlist span{margin-right: 10px;}
.popover {padding: 0;}
.popover-content{background-color: #f39c12; color: #fff; padding: 5px; font-size: 11px;}
.popover.top .arrow {border-top-color: #ccc;}
.popover.top .arrow:after {border-top-color: #f39c12;}
.node-block div,.node-block span{float: left;}
.node-block .item{margin-right: 20px;}
.node-block .piece{width: 12px;height:12px;margin: 5px 5px 0px 0px;}
.box-footer .pagination{margin: 0;}