<div style="background-color:#323F54;margin:0px 20px 20px 0px;color:#fff;" ng-init="init()">
    <div class="row-fluid">
        <div class="span4" style="line-height:30px;padding:10px 20px;">
            <div style="font-size:16px;background: url('images/main/pic_line_text1.png') no-repeat left bottom;">紧急告警</div>
            <div ng-repeat="crit in critical">
                <div style="line-height:25px;margin-top:10px;">
                    <span style="font-size:14px;">{{crit.indexShow}}</span>
                    <span style="font-size:11px;color:#27a555;">&nbsp;&nbsp;{{crit.when | showTime}}</span>
                    <span ng-show="crit.resolved == 0" style="font-size:11px;color:red;">&nbsp;&nbsp;未修复</span>
                    <span ng-show="crit.resolved == 1" style="font-size:11px;color:#27a555;">&nbsp;&nbsp;已修复</span>
                </div>
                <div ui-sref="mainManager.alarm" ng-click="changeBgColor(6);goToAlarm()" style="color:#8d9cac;background: url('images/main/pic_line_text2.png') no-repeat left bottom;cursor:pointer;">{{crit.description | limitChar:'20'}}</div>
            </div>
        </div>
        <div class="span4" style="line-height:30px;padding:10px 20px;">
            <div style="font-size:16px;background: url('images/main/pic_line_text1.png') no-repeat left bottom;">重要告警</div>
            <div ng-repeat="warn in warning">
                <div style="line-height:25px;margin-top:10px;">
                    <span style="font-size:14px;">{{warn.indexShow}}</span>
                    <span style="font-size:11px;color:#27a555;">&nbsp;&nbsp;{{warn.when | showTime}}</span>
                    <span ng-show="warn.resolved == 0" style="font-size:11px;color:red;">&nbsp;&nbsp;未修复</span>
                    <span ng-show="warn.resolved == 1" style="font-size:11px;color:#27a555;">&nbsp;&nbsp;已修复</span>
                </div>
                <div ui-sref="mainManager.alarm" ng-click="changeBgColor(12);goToAlarm()" style="color:#8d9cac;background: url('images/main/pic_line_text2.png') no-repeat left bottom;cursor:pointer;">{{warn.description | limitChar:'20'}}</div>
            </div>
        </div>
        <div class="span4" style="line-height:30px;padding:10px 20px;">
            <div style="font-size:16px;background: url('images/main/pic_line_text1.png') no-repeat left bottom;">事件</div>
            <div ng-repeat="info in infoDa">
                <div style="line-height:25px;margin-top:10px;">
                    <span style="font-size:14px;">{{"对象：" + info.object}}</span>
                    <span style="font-size:11px;color:#27a555;">&nbsp;&nbsp;{{info.when | showTime}}</span>
                </div>
                <div ui-sref="mainManager.event" ng-click="changeBgColor(13);goToEvent()" style="color:#8d9cac;background: url('images/main/pic_line_text2.png') no-repeat left bottom;cursor:pointer;">{{info.operator + ", " + info.event_type + "," + info.status | limitChar:'20'}}</div>
            </div>
        </div>
    </div>
</div>
