<!--<div class="alarm-tab-header" ng-init="initPage()">-->
<!--<span class="alarm-tab-active" ng-click="showPoolTab()"><img src="images/storage/pic_storage-pool.png">存储池 </span>-->
<!--<span class="alarm-tab" ng-click="showLunTab()"><img src="images/storage/pic_lun.png">LUN</span>-->
<!--<span class="alarm-tab" ng-click="showViewTab()" ng-show="false"><img src="images/storage/pic_hostcomputer.png">主机映射视图</span>-->
<!--</div>-->
<div class="content-header">
    <ol class="breadcrumb">
        <li><a href="#" ng-click="showStorageManage(); changeBgColor(2)" ui-sref="mainManager.storageManage">存储管理</a></li>
        <li class="active">存储池管理</li>
    </ol>
    <p class="muted">存储池是在保护域范围内的概念，物理上通常指的是同一种介质的硬盘（跨多台服务器）的集合。保护域范围内不同性能的存储池间可设置关联实现数据分层（Tiering）。</p>
</div>
<div class="content" ng-init="initPage()">
    <div ng-show="showTab=='pool'">
        <!--添加一个ceph文件系统的按钮,back,back,back,back,back-->
        <div class="table-top clearfix">
            <form class="form-search pull-left">
                <input type="text" placeholder="搜索" class="form-control" style="width:150px">
                <button class="btn btn-default btn-flat"><i class="fa fa-search"></i></button>
            </form>
            <button id="cephbtn" class="btn btn-success btn-flat pull-right" type="button" ng-disabled="!showflag" type="button" ng-click="showModal('enableCephFS')" role="button" data-toggle="modal">
                <i class="fa fa-plus"></i> 启动ceph文件系统
            </button>
            <button style="margin-right: 10px" class="btn btn-success btn-flat pull-right" type="button" ng-disabled="!systemMode.isNormal" type="button" ng-click="showModal('addPool')" href="#poolModal" role="button" data-toggle="modal">
                <i class="fa fa-plus"></i> 创建存储池
            </button>
        </div>
        <div class="box">
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>存储池名称</th>
                            <th>存储策略</th>
                            <th>IOPS</th>
                            <th>吞吐量</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pool in poolList" id="poolTr{{$index+1}}" ng-dblclick="dblClick($index+1, pool)">
                            <td>{{pool.poolName}}</td>
                            <!-- <td>{{pool.diskNum}}</td> -->
                            <td>{{pool.replication}}</td>
                            <!-- <td>{{pool.used_bytes | GBorTB}}</td>
                            <td>{{pool.capacity_bytes | GBorTB}}</td>  -->
                            <td>{{pool.iops | unit:'iops'}}</td>
                            <td>{{pool.mbps | unit:'mbps'}}</td>
                            <td ng-show="pool.status.state == 'healthy'">正常</td>
                            <td ng-show="pool.status.state == 'recovering'" style="color:#3885E2;padding-top: 0px;padding-bottom: 0px;">
                                <div style="width:70%;">
                                    <div class="progress" style="margin-top: 13px;height: 8px;width:60%;margin-left: 5px; margin-top: 15px;    margin-bottom: 0px;" title="恢复中">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{pool.status.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pool.status.progress}}%">
                                            <span></span>
                                        </div>
                                    </div>
                                    <span style="margin-top: -14px; float:right;color:#FFFFFF; margin-right: -20px;">{{pool.status.progress}}%</span>
                                </div>
                            </td>
                            <td ng-show="pool.status.state == 'unhealthy'" style="color:#FFB400;">异常</td>
                            <td ng-show="pool.status.state != 'recovering' && pool.status.state != 'healthy' && pool.status.state != 'unhealthy'" style="color:#FFB400;">未知</td>
                            <!-- <td>{{pool.latency | unit:'ms'}}</td>  -->
                            <td>
                                <span ng-class="{true: 'pool-lun-item-green-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal]" ng-click="dblClick($index+1, pool)">详情 <i class="fa fa-angle-double-down"></i></span>
                                <span ng-class="{true: 'pool-lun-item-blue-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal]" ng-click="!systemMode.isNormal || showModal('updatePool', pool)" role="button" data-toggle="modal">重命名</span>
                                <span ng-class="{true: 'pool-lun-item-green-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal]" ng-click="!systemMode.isNormal || showInitiatorsSet(pool,$index+1)" data-toggle="modal" role="button">客户端管理 <i class="fa fa-angle-double-down"></i></span>
                                <span ng-class="{true: 'pool-lun-item-blue-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal]" ng-click="!systemMode.isNormal || showModal('setChap', pool)" role="button" data-toggle="modal">CHAP设置</span>
                                <span ng-class="{true: 'pool-lun-item-orange-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal]" ng-click="!systemMode.isNormal || showModal('deletePool', pool)" role="button" data-toggle="modal">删除</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!-- 
    <div ng-show="showTab=='view'">
        <div class="row">
            <div class="span8">
                <div style="border:1px solid #000;background-color:#253144;line-height:30px;padding:5px;margin:0;">
                    <span style="color:#488fd2;">主机内容</span>
                    <button class="btn btn-success pull-right" ng-click="doView('createHost','创建主机')" role="button" data-toggle="modal">
                        <img src="images/storage/pic_add.png">创建主机
                    </button>
                </div>
                <table class="table table-bordered" id="no-radius-table">
                    <thead>
                        <tr>
                            <th style="text-align:center;">主机名称</th>
                            <th style="text-align:center;">IP 地址</th>
                            <th style="text-align:center;">操作系统</th>
                            <th style="text-align:center;">所属主机组</th>
                            <th style="text-align:center;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lun in lunList">
                            <td>{{pool.poolName}}</td>
                            <td>{{pool.ip}}</td>
                            <td>{{pool.usedBytes | GBorTB}}</td>
                            <td>{{pool.capacityBytes | GBorTB}}</td>
                            <td>
                                <span style="color:blue;" ng-click="doView('updateHost','修改主机')">修改</span>
                                <span style="color:yellow;" ng-click="doView('deleteHost','删除')">删除</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="span4">
                <div style="border:1px solid #000;background-color:#253144;line-height:30px;padding:5px;margin:0;">
                    <span style="color:#488fd2;">主机组内容</span>
                    <button class="btn btn-success pull-right" ng-click="doView('createGroup','创建主机组')" role="button" data-toggle="modal">
                        <img src="images/storage/pic_add.png">创建主机组
                    </button>
                </div>
                <div>
                    <table class="table table-bordered" id="no-radius-table">
                        <thead>
                            <tr>
                                <th style="text-align:center;">主机组名称</th>
                                <th style="text-align:center;">描述</th>
                                <th style="text-align:center;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lun in lunList">
                                <td>{{pool.poolName}}</td>
                                <td>{{pool.replication}}</td>
                                <td>
                                    <span style="color:blue;" ng-click="doView('updateGroup','修改主机组')">修改</span>
                                    <span style="color:yellow;" ng-click="doView('deleteGroup','删除')">删除</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <div style="border:1px solid #000;background-color:#253144;line-height:30px;padding:5px;margin:0;">
                <span>映射视图内容</span>
                <button class="btn btn-success pull-right" ng-click="showView=!showView" role="button">
                    <img src="images/storage/pic_add.png">创建映射视图
                </button>
                <div ng-show="showView" style="border: 1px solid #60718d;margin: 10px 10px 20px 30px;background-color:#303e53">
                    <div style="padding: 60px;">
                        <lable style="color: #97acc1">名称</lable>
                        <p>
                            <input type="text" placeholder="请输入映射视图名称" style="width:300px;color:#5c6d83;background-color: #3d4d62;border: 1px solid #60718d" />
                        </p>
                        <lable style="color: #97acc1">描述</lable>
                        <p>
                            <input type="text" placeholder="请描述..." style="width:300px;color:#5c6d83;background-color: #3d4d62;border: 1px solid #60718d" />
                        </p>
                        <lable style="color: #97acc1">请选择映射视图中包含的对象</lable>
                        <h3 style="background: url('images/configure/pic_line.png') no-repeat left top;height:1px;"></h3>
                        <div class="row" style="padding: 20px 20px 0 20px;">
                            <div class="span7">
                                <div style="margin: 0 2px 5px 0;">
                                    <span>选择LUN</span>
                                    <button class="btn btn-info pull-right" href="#addlun" role="button" data-toggle="modal">
                                        <img src="images/storage/pic_add.png">创建 LUN
                                    </button>
                                </div>
                                <table class="table view-table" style="border: 1px solid #60718d;">
                                    <tr>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>名称</td>
                                        <td>ID</td>
                                        <td>未归属映射视图的LUN</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>对象1</td>
                                        <td>123456</td>
                                        <td>LUN 1</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="span5">
                                <div style="margin: 0 2px 5px 0;">
                                    <span>选择主机组</span>
                                    <button class="btn btn-info pull-right" ng-click="doView('createGroup')" role="button" data-toggle="modal">
                                        <img src="images/storage/pic_add.png">创建主机组
                                    </button>
                                </div>
                                <table class="table view-table" style="border: 1px solid #60718d;">
                                    <tr>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>名称</td>
                                        <td>ID</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>对象1</td>
                                        <td>123456</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div style="float:right">
                            <button type="submit" class="btn btn-success" ng-click="doView('confirm','map')">&nbsp;&nbsp;&nbsp;确 定&nbsp;&nbsp;&nbsp;</button>
                            <button type="button" class="btn" ng-click="dolView('cancel','map')">&nbsp;&nbsp;&nbsp;取 消&nbsp;&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table class="table table-bordered" id="no-radius-table">
                    <thead>
                        <tr>
                            <th style="text-align:center;">映射视图名称</th>
                            <th style="text-align:center;">描述</th>
                            <th style="text-align:center;">主机组名称</th>
                            <th style="text-align:center;">有建立映射关系的LUN名称</th>
                            <th style="text-align:center;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lun in lunList" id="poolTr{{$index+1}}" ng-dblclick="dblClick($index+1, pool)">
                            <td>{{pool.poolName}}</td>
                            <td>{{pool.replication}}</td>
                            <td>{{pool.replication}}</td>
                            <td>{{pool.replication}}</td>
                            <td>
                                <span style="color:green;">详情</span>
                                <span style="color:blue;">修改</span>
                                <span style="color:yellow;">删除</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 -->    
</div>
<div id="snapTableDiv" ng-show='snapshotShow' style="display:none;position:absolute;">
    <div class="wrapper">
        <span class="text-info fontSize16" ng-show="!poolOrLun.lunId">快照详细信息</span>       
        <span class="fontSize16 text-danger" style="margin: 0 0 0 150px;font-style:italic">{{NoSnapErrMsg}}</span>
        <button class="btn btn-success btn-flat btn-small pull-right" type="button" type="button" ng-click="showSnapModal('add')" role="button" data-toggle="modal">
                <i class="fa fa-plus"></i> 创建快照
        </button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>快照ID</th>
                <th>快照名称</th>
                <th>描述</th>
                <th>大小</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="snap in snapshots">
                <td>{{snap.id}}</td>
                <td>{{snap.snapName}}</td>
                <td>{{snap.remark | lessWorld:"32"}}</td>
                <td>{{snap.size | BytesToKMGTB}}</td>
                <td>{{snap.createTime}}</td>
                <td>{{snap.status}}</td>
                <td>
                    <span ng-class="{true: 'pool-lun-item-green-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal && snap.stauts != '正在删除']" role="button" data-toggle="modal" ng-click="snap.stauts == '正在删除' || showSnapModal('update',snap)">修改描述</span>
                    <span ng-class="{true: 'pool-lun-item-blue-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal && !isSnapRollingback && snap.stauts != '正在删除']" role="button" data-toggle="modal" ng-click="isSnapRollingback || snap.stauts == '正在删除' || showSnapModal('rollback',snap)">&nbsp;回滚至此快照</span>
                    <span ng-class="{true: 'pool-lun-item-orange-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal && !isSnapRollingback && snap.stauts != '正在删除']" role="button" data-toggle="modal" ng-click="isSnapRollingback || snap.stauts == '正在删除' || showSnapModal('delete', snap)">&nbsp;删除</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="initiatorTabDiv" ng-show='initiatorShow' style="display:none;position:absolute;">
    <div class="wrapper">
        <span class="text-info fontSize16">iSCSI发起程序详细信息</span>
        <span class="fontSize16 text-danger" style="margin: 0 0 0 150px;font-style:italic">{{initiatorErrMsg}}</span>
        <button class="btn btn-success btn-flat btn-small pull-right" type="button" type="button" ng-click="!initiators.length && showPoolAclSet(pool)" role="button" data-toggle="modal">
                <i class="fa fa-plus"></i> 添加客户端
        </button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>序号</th>
                <th>客户端IP</th>
                <th>iSCSI发起程序名</th>
                <th>是否授权</th>
                <th>是否连接</th>
                <th>授权</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="initiator in initiators">
                <td>{{$index+1}}</td>
                <td>{{initiator.ip}}</td>
                <td>{{initiator.name}}</td>
                <td ng-if="initiator.approved=='yes'">已授权</td>
                <td ng-if="initiator.approved!='yes'">未授权</td>
                <td ng-if="initiator.state=='active'">已连接</td>
                <td ng-if="initiator.state!='active'">未连接</td>
                <td ng-if="initiator.approved!='yes'" class="text-info" style="cursor:pointer;" ng-click="addPoolAcl(initiator.name, pool.poolName)">添加授权</td>
                <td ng-if="initiator.approved=='yes'" class="text-danger" style="cursor:pointer;" ng-click="deletePoolAcl(initiator.name, pool.poolName)">取消授权</td>
                <td><span style="color:#f67c05;cursor:pointer;" ng-click="delPoolInitiator(pool.poolName,initiator.name)">删除</span></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 存储池详情图形DIV -->
<div id="chartDiv" style="display:none;position:absolute;">
    <div class="wrapper">
        <span class="text-info fontSize16" ng-show="!poolOrLun.lunId">存储池详情</span>       
    </div>
    <div class="row-fluid">
        <div class="span5 offset1">
            <div class="row-fluid">
                <div class="span6 wrapper">
                    <div ng-show="poolOrLun.lunId" style="background: url('images/storage/pic_line3.png') no-repeat left bottom;">LUN名称：{{poolOrLun.lunId}}</div>
                    <div ng-show="poolOrLun.lunId" style="background: url('images/storage/pic_line3.png') no-repeat left bottom;">所属资源池：{{poolOrLun.poolName}}</div>
                    <div ng-show="!poolOrLun.lunId" style="background: url('images/storage/pic_line3.png') no-repeat left bottom;">存储池：{{poolOrLun.poolName}}</div>
                    <div ng-show="!poolOrLun.lunId" style="background: url('images/storage/pic_line3.png') no-repeat left bottom;">存储策略：{{poolOrLun.replication}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid" ng-show="!poolOrLun.lunId">
        <div class="span5 offset1 wrapper">
            <div class="row-fluid wrapper">
                <div class="span6">IOPS</div>
                <div class="span6 text-right text-success">{{poolOrLun.iops | unit:'iops'}}</div>
            </div>
            <div id="iops" style="width:100%;height:260px;"></div>
        </div>
        <div class="span5 wrapper">
            <div class="row-fluid wrapper">
                <div class="span6">吞吐量</div>
                <div class="span6 text-right text-info">{{poolOrLun.mbps | unit:'mbps'}}</div>
            </div>
            <div id="mbps" style="width:100%;height:260px;"></div>
        </div>
    </div>
</div>
<!-- 存储池信息展示Modal -->
<div id="poolModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">{{modal.message}}</h4>
    </div>
    <div class="modal-body">
        <form style="margin-bottom: 5px">
            <div ng-show="modal.to=='addPool'">
                <label>名称</label>
                <input type="text" class="form-control" placeholder="请输入存储池名称，由1到16个小写字母组成" ng-model="apool.poolName">
                <br>
                <div class="checkbox" style="cursor:pointer;margin-top:20px;padding-bottom:15px;" ng-click="showRepSelect()">
                    <span style="padding:10px;margin-left:-20px;" ng-style="{'background': checkedOrNot(apoolCheck)}"></span>
                    <span class="text-primary">高级选项</span>
                </div>
                <div ng-show="apoolCheck">
                    <label>存储策略</label>
                    <select ng-model="apool.storagePolicy.selected" id="policySelect">
                        <option value='replicated'>副本策略</option>
                    </select>
                    <div ng-show="apool.storagePolicy.selected == 'replicated'">
                        <label>副本数</label>
                        <select ng-model="apool.storagePolicy.replicated.selected" ng-options="rep for rep in apool.storagePolicy.replicated.options">
                            <option value="apool.storagePolicy.replicated.default">{{apool.storagePolicy.replicated.default}}</option>
                        </select>
                    </div>
                    <div ng-show="apool.storagePolicy.selected == 'erasure'">
                        <label>数据块个数</label>
                        <select ng-model="apool.storagePolicy.erasure.datablock.selected" ng-change="updateErasurePolicy(apool.storagePolicy.erasure.datablock.selected)" ng-options="rep for rep in apool.storagePolicy.erasure.datablock.options">
                            <option value="apool.storagePolicy.erasure.datablock.default">{{apool.storagePolicy.erasure.datablock.default}}</option>
                        </select>
                        <label>校验块个数</label>
                        <select ng-model="apool.storagePolicy.erasure.parityblock.selected" ng-options="rep for rep in apool.storagePolicy.erasure.parityblock.options">
                            <option value="apool.storagePolicy.erasure.parityblock.default">{{apool.storagePolicy.erasure.parityblock.default}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- 修改部分 -->
            <div ng-show="modal.to=='updatePool'">
                <label>原名称</label>
                <input type="text" class="form-control" ng-model="apool.poolName" readOnly>
                <label>新名称</label>
                <input type="text" class="form-control" placeholder="请输入新存储池名称，由1到16个小写字母组成" ng-model="apool.newName">
            </div>
            <!-- 删除提示信息 -->
            <div ng-show="modal.to=='deletePool'">
                <p class="fontSize14">请先确认存储池对应的LUN已被删除，否则将删除失败！</p>
                <p class="alert fontSize14">存储池&nbsp;
                    <span class="text-danger">{{pool4Delete.poolName}}</span>&nbsp;将被永久删除！
                </p>
                <p>
                    <span>请输入大写&nbsp;'YES'&nbsp;以确定删除操作</span>
                    <input type="text" class="form-control" style="width:40px;" ng-model="apool.sure2deletePool" placeholder="NO">
                </p>
            </div>
            <div ng-show="modal.to=='setChap'">
                <label>启用正向验证</label>
                <div>
                    <input type="text" ng-model="poolChap.username" class="inline" placeholder="请输入新增用户名">
                    <input type="password" ng-model="poolChap.password" class="inline" placeholder="请输入新增用户密码">
                </div>
                <div class="input-append">
                    <label style="margin-top:20px">
                        <input type="checkbox" ng-model="poolChap.mutul" name="mutulAuth">启用反向验证
                    </label>
                    <br/>
                </div>
                <div style="margin-top:-20px">
                    <input type="text" ng-model="poolChap.mutulUsername" class="inline" placeholder="请输入反向验证用户名" ng-disabled="!poolChap.mutul">
                    <input type="password" ng-model="poolChap.mutulPassword" class="inline" placeholder="请输入反向验证用户密码" ng-disabled="!poolChap.mutul">
                </div>
                <div>
                    <button style="margin-left:377px;" class="btn btn-flat btn-success btn-small" ng-click="addPoolChap()"><i class="fa fa-plus"></i> 新增</button>
                </div>
                <div style="height:30px;width:100%;line-height:10px;margin-top:10px;">
                    已有用户名
                    <br/>
                    <img src="images/storage/pic_line3.png" style="height:1px;width:100%;">
                </div>
                <div ng-repeat="chap in poolChapList" style="margin:10px 0;border:1px dotted #e14a07;height:25px;line-height:25px;padding:1px 10px;width:95%;color:#e14a07;">
                    <span style="color:#4F97DC" ng-show="chap.level=='level1'">正向验证</span>
                    <span style="color:#4F97DC" ng-show="chap.level=='level2'">反向验证</span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color:green;">{{chap.username}}</span>
                    <span style="float:right;color:#e14a07;cursor:pointer;" ng-click="deletePoolChap(chap)">×</span>
                </div>
            </div>
            <!-- 新增lun -->
            <div ng-show="modal.to=='addLun'">
                <label>LUN ID</label>
                <input type="text" ng-model="alun.lunId" class="form-control" placeholder="请输入1至254数字作为LUN ID，相同存储池内ID不能重复。">
                <label>所属存储池</label>
                <div class="input-append">
                    <select ng-model="alun.poolName" ng-options="pool.poolName as pool.poolName for pool in apoolList">
                        <option value="">-请选择存储池-</option>
                    </select>
                </div>
                <label>容量</label>
                <input type="text" ng-model="alun.capacity_display" class="form-control" placeholder="支持MB、GB或TB，最大支持200TB。示例：50GB">
            </div>
            <!-- 修改lun -->
            <div ng-show="modal.to=='updateLun'">
                <label>ID</label>
                <input type="text" ng-model="alun.lunId" class="form-control" readOnly>
                <label>容量</label>
                <input type="text" ng-model="alun.capacity_display" class="form-control" placeholder="支持MB、GB或TB，最大支持200TB。示例：50GB">
            </div>
            <!-- 删除提示信息 -->
            <div ng-show="modal.to=='deleteLun'">
                <p class="alert">存储池&nbsp;
                    <span class="text-danger">{{lun4Delete.poolName}}</span>&nbsp;的LUN&nbsp;
                    <span class="text-danger">{{lun4Delete.lunId}}</span>&nbsp;数据将被永久删除！
                </p>
                <p>
                    <span>请输入大写&nbsp;'YES'&nbsp;以确定删除操作</span>
                    <input type="text" class="form-control" style="width:40px;" ng-model="alun.sure2deleteLun" placeholder="NO">
                </p>
            </div>
            <div ng-show="sure2deleteLunAgain">
                <p class="fontSize14">
                    <span>该存储池已连接客户端，请确认该LUN已经不再使用</span>
                </p>
                <p>
                    <span>请输入大写&nbsp;'YES'&nbsp;以确定删除操作</span>
                    <input type="text" class="form-control" style="width:40px;" ng-model="alun.sure2deleteLunAgain" placeholder="NO">
                </p>
            </div>
            <!-- 开启Ceph文件系统部分 -->
            <div ng-show="modal.to=='enableCephFS'">
                <label class="fontSize16 text-warning">你确定要开启Ceph文件系统吗？^_^</label>
            </div>
            <div class="fontSize16 text-danger">{{errMsg}}</div>
        </form>
        <!-- 加载中 -->
        <div class="spin"></div>
    </div>
    <div class="modal-footer" ng-show="modal.to!='setChap'">
        <button class="btn btn-flat btn-info" ng-click="modal.sure()" ng-disabled="!systemMode.isNormal || isAdd">确定</button>
        <button class="btn btn-flat btn-default" data-dismiss="modal" aria-hidden="true" ng-disabled="isAdd">取消</button>
    </div>
    <div class="modal-footer" ng-show="modal.to=='setChap'">
        <button class="btn btn-flat btn-default" data-dismiss="modal" aria-hidden="true" ng-disabled="isAdd">关闭</button>
    </div>
</div>
<!-- 存储池ACL管理 add by masi 20150409 -->
<div id="poolAclSet" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabelE" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabelE">iSCSI客户端设置:存储池&nbsp;{{pool.poolName}}</h4>
    </div>
    <div class="modal-body">
        <form>
            <label>iSCSI发起程序名称</label>
            <div class="input-append">
                <input type="text" class="form-control" ng-model="initiator" placeholder="请输入新增iscsi发起程序名" />
                <button class="btn btn-success btn-flat" ng-click="addPoolInitiator(initiator, pool.poolName)"><i class="fa fa-plus"></i> 新增</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!-- <button class="btn btn-flat btn-success">确定</button> -->
        <button class="btn btn-flat btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>
<!--存储池ACL管理 add by masi 20150409 -->
<div id="sure2AddAcl" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabelE" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabelE">授权确认:存储池&nbsp;{{pool.poolName}}</h4>
    </div>
    <div class="modal-body">
        <form>
            <label class="text-warning">警告：授权多个客户端访问，只适用于集群文件、集群卷(cLVM)系统，否则多个客户端同时写同一个LUN会造成数据丢失！</label>
            <span>请输入大写 'YES' 确认继续操作</span>
            <input type="text" class="form-control" style="width:200px" ng-model="sure2AddApproved" placeholder="NO" ng-pristine ng-valid/>
        </form>
        <div class="fontSize16 text-danger">{{aclErrMsg}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-flat btn-info" ng-click="sure2AddApprovedOperate()">确定</button>
        <button class="btn btn-flat btn-default" data-dismiss="modal" aria-hidden="true" ng-click="sure2AddApprovedHide()">关闭</button>
    </div>
</div>
<!-- 主机映射 主机div -->
<div id="hostMapView" class="modal hide fade" style="width:380px;left: 60%;" tabindex="10" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">{{viewTitle}}</h4>
    </div>
    <div class="modal-body">
        <div ng-show="view=='createHost' || view=='updateHost'">
            <lable>名称</lable>
            <p>
                <input type="text" placeholder="请输入主机名称" id="hostIdShow" ng-model="host.hostid" rel="popover" data-toggle="popover" data-placement="bottom" class="form-control">
            </p>
            <lable>操作系统</lable>
            <p>
                <select ng-model="host.osType" class="muted" id="osTypeShow" rel="popover" data-toggle="popover" data-placement="bottom">
                    <option value="">请选择操作系统</option>
                    <option value="IOS系统">IOS系统</option>
                    <option value="android系统">android系统</option>
                </select>
            </p>
            <lable>IP地址</lable>
            <p>
                <input type="text" ng-model="host.hostIp" placeholder="请输入IP地址" id="ipShow" rel="popover" data-toggle="popover" data-placement="bottom" class="form-control">
            </p>
            <span class="text-danger">未使用空间还有 11.6 TB</span>
        </div>
        <div ng-show="view=='createGroup' || view=='updateGroup'">
            <lable>名称</lable>
            <p>
                <input type="text" ng-model="hostGroup.hostGroupName" placeholder="请输入主机组名称" class="form-control">
            </p>
            <lable>描述</lable>
            <p>
                <textarea ng-model="hostGroup.desc" placeholder="请描述..." class="form-control"></textarea>
            </p>
            <lable>可选主机</lable>
            <img src="images/configure/pic_line.png" />
            <p>
                <table class="table table-striped">
                    <tr ng-repeat="host in hostGroup.hosts">
                        <td>
                            <input type="checkbox" ng-checked="host.$checked" />
                        </td>
                        <td>{{host.ip}}</td>
                    </tr>
                </table>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-flat btn-info" ng-click="confirmView(view)">&nbsp;&nbsp;&nbsp;确&nbsp;定&nbsp;&nbsp;&nbsp;</button>
        <button class="btn btn-flat btn-default disabled" data-dismiss="modal" aria-hidden="true" ng-click="cancel('{{view}}')">&nbsp;&nbsp;&nbsp;取&nbsp;消&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>
