<div class="content-header">
    <ol class="breadcrumb">
        <li><a href="#" ng-click="showStorageManage(); changeBgColor(2)" ui-sref="mainManager.storageManage">存储管理</a></li>
        <li class="active">LUN管理</li>
    </ol>
    <p class="muted">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字，说明文字说明文字说明文字说明文字。</p>
</div>
<div class="content" ng-init="initPage()">
    <div class="table-top clearfix">
        <button class="btn btn-success btn-flat pull-right" type="button" ng-disabled="!systemMode.isNormal" type="button" ng-click="showModal('addLun')" href="#poolModal" role="button" data-toggle="modal">
            <i class="fa fa-plus"></i> 创建LUN
        </button>
    </div>
    <div class="box">
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>LUN ID</th>
                        <th>存储池</th>
                        <th>容量</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lun in lunList" id="lunTr{{$index+1}}">
                        <td>{{lun.lunId}}</td>
                        <td>{{lun.poolName}}</td>
                        <td>{{lun.capacity_bytes | BytesToKMGTB}}</td>
                        <td>{{lun.status}}</td>
                        <td>
                            <span ng-class="{true: 'pool-lun-item-green-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal && !lun.disabled]" ng-click="lun.disabled || showSnapshot(lun, $index+1)" role="button">快照管理</span>
                            <span ng-class="{true: 'pool-lun-item-blue-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal && !lun.disabled]" ng-click="lun.disabled || showModal('updateLun', lun)" role="button" data-toggle="modal">&nbsp;调整容量</span>
                            <span ng-class="{true: 'pool-lun-item-orange-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal && !lun.disabled]" ng-click="lun.disabled || showModal('deleteLun', lun)" role="button" data-toggle="modal">&nbsp;删除</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="snapTableDiv" ng-show='snapshotShow' style="display:none;position:absolute;">
    <div class="wrapper">
        <span class="text-info fontSize16">快照详细信息</span>
        <span class="fontSize16 text-danger" style="margin: 0 0 0 150px;font-style:italic">{{NoSnapErrMsg}}</span>
        <button class="btn btn-success btn-flat btn-small pull-right" type="button" href="#snapModal" ng-click="showSnapModal('add')" role="button" data-toggle="modal">
                <i class="fa fa-plus"></i> 创建快照
        </button>
    </div>    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>快照ID</th>
                <th>快照名称</th>
                <th>描述</th>
                <th>大小</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="snap in snapshots">
                <td>{{snap.id}}</td>
                <td>{{snap.snapName}}</td>
                <td>{{snap.remark | lessWorld:"32"}}</td>
                <td>{{snap.size | BytesToKMGTB}}</td>
                <td>{{snap.createTime}}</td>
                <td>{{snap.status}}</td>
                <td>
                    <span ng-class="{true: 'pool-lun-item-green-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal && snap.stauts != '正在删除']" role="button" data-toggle="modal" ng-click="snap.stauts == '正在删除' || showSnapModal('update',snap)">修改描述</span>
                    <span ng-class="{true: 'pool-lun-item-blue-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal && !isSnapRollingback && snap.stauts != '正在删除']" role="button" data-toggle="modal" ng-click="isSnapRollingback || snap.stauts == '正在删除' || showSnapModal('rollback',snap)">&nbsp;回滚至此快照</span>
                    <span ng-class="{true: 'pool-lun-item-orange-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal && !isSnapRollingback && snap.stauts != '正在删除']" role="button" data-toggle="modal" ng-click="isSnapRollingback || snap.stauts == '正在删除' || showSnapModal('delete', snap)">&nbsp;删除</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- 存储池信息展示Modal -->
<div id="poolModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">{{modal.message}}</h4>
    </div>
    <div class="modal-body">
        <form style="margin-bottom: 5px">
            <div ng-show="modal.to=='addPool'">
                <label>名称</label>
                <input type="text" class="form-control" placeholder="请输入存储池名称，由1到16个小写字母组成" ng-model="apool.poolName">
                <br>
                <div class="checkbox" style="cursor:pointer;margin-top:20px;padding-bottom:15px;" ng-click="showRepSelect()">
                    <span style="padding:10px;margin-left:-20px;" ng-style="{'background': checkedOrNot(apoolCheck)}"></span>
                    <span class="text-primary">高级选项</span>
                </div>
                <div ng-show="apoolCheck">
                    <label>存储策略</label>
                    <select ng-model="apool.storagePolicy.selected" id="policySelect">
                        <option value='replicated'>副本策略</option>
                    </select>
                    <div ng-show="apool.storagePolicy.selected == 'replicated'">
                        <label>副本数</label>
                        <select ng-model="apool.storagePolicy.replicated.selected" ng-options="rep for rep in apool.storagePolicy.replicated.options">
                            <option value="apool.storagePolicy.replicated.default">{{apool.storagePolicy.replicated.default}}</option>
                        </select>
                    </div>
                    <div ng-show="apool.storagePolicy.selected == 'erasure'">
                        <label>数据块个数</label>
                        <select ng-model="apool.storagePolicy.erasure.datablock.selected" ng-change="updateErasurePolicy(apool.storagePolicy.erasure.datablock.selected)" ng-options="rep for rep in apool.storagePolicy.erasure.datablock.options">
                            <option value="apool.storagePolicy.erasure.datablock.default">{{apool.storagePolicy.erasure.datablock.default}}</option>
                        </select>
                        <label>校验块个数</label>
                        <select ng-model="apool.storagePolicy.erasure.parityblock.selected" ng-options="rep for rep in apool.storagePolicy.erasure.parityblock.options">
                            <option value="apool.storagePolicy.erasure.parityblock.default">{{apool.storagePolicy.erasure.parityblock.default}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- 修改部分 -->
            <div ng-show="modal.to=='updatePool'">
                <label>原名称</label>
                <input type="text" class="form-control" ng-model="apool.poolName" readOnly>
                <label>新名称</label>
                <input type="text" class="form-control" placeholder="请输入新存储池名称，由1到16个小写字母组成" ng-model="apool.newName">
            </div>
            <!-- 删除提示信息 -->
            <div ng-show="modal.to=='deletePool'">
                <p class="fontSize14">请先确认存储池对应的LUN已被删除，否则将删除失败！</p>
                <p class="alert fontSize14">存储池&nbsp;
                    <span class="text-danger">{{pool4Delete.poolName}}</span>&nbsp;将被永久删除！
                </p>
                <p>
                    <span>请输入大写&nbsp;'YES'&nbsp;以确定删除操作</span>
                    <input type="text" class="form-control" style="width:40px;" ng-model="apool.sure2deletePool" placeholder="NO">
                </p>
            </div>
            <div ng-show="modal.to=='setChap'">
                <label>启用正向验证</label>
                <div>
                    <input type="text" ng-model="poolChap.username" class="inline" placeholder="请输入新增用户名">
                    <input type="password" ng-model="poolChap.password" class="inline" placeholder="请输入新增用户密码">
                </div>
                <div class="input-append">
                    <label style="margin-top:20px">
                        <input type="checkbox" ng-model="poolChap.mutul" name="mutulAuth">启用反向验证
                    </label>
                    <br/>
                </div>
                <div style="margin-top:-20px">
                    <input type="text" ng-model="poolChap.mutulUsername" class="inline" placeholder="请输入反向验证用户名" ng-disabled="!poolChap.mutul">
                    <input type="password" ng-model="poolChap.mutulPassword" class="inline" placeholder="请输入反向验证用户密码" ng-disabled="!poolChap.mutul">
                </div>
                <div>
                    <button style="margin-left:377px;" class="btn btn-flat btn-success btn-small" ng-click="addPoolChap()"><i class="fa fa-plus"></i> 新增</button>
                </div>
                <div style="height:30px;width:100%;line-height:10px;margin-top:10px;">
                    已有用户名
                    <br/>
                    <img src="images/storage/pic_line3.png" style="height:1px;width:100%;">
                </div>
                <div ng-repeat="chap in poolChapList" style="margin:10px 0;border:1px dotted #e14a07;height:25px;line-height:25px;padding:1px 10px;width:95%;color:#e14a07;">
                    <span style="color:#4F97DC" ng-show="chap.level=='level1'">正向验证</span>
                    <span style="color:#4F97DC" ng-show="chap.level=='level2'">反向验证</span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color:green;">{{chap.username}}</span>
                    <span style="float:right;color:#e14a07;cursor:pointer;" ng-click="deletePoolChap(chap)">×</span>
                </div>
            </div>
            <!-- 新增lun -->
            <div ng-show="modal.to=='addLun'">
                <label>LUN ID</label>
                <input type="text" ng-model="alun.lunId" class="form-control" placeholder="请输入1至254数字作为LUN ID，相同存储池内ID不能重复。">
                <label>所属存储池</label>
                <div class="input-append">
                    <select ng-model="alun.poolName" ng-options="pool.poolName as pool.poolName for pool in apoolList">
                        <option value="">-请选择存储池-</option>
                    </select>
                </div>
                <label>容量</label>
                <input type="text" ng-model="alun.capacity_display" class="form-control" placeholder="支持MB、GB或TB，最大支持200TB。示例：50GB">
            </div>
            <!-- 修改lun -->
            <div ng-show="modal.to=='updateLun'">
                <label>ID</label>
                <input type="text" ng-model="alun.lunId" class="form-control" readOnly>
                <label>容量</label>
                <input type="text" ng-model="alun.capacity_display" class="form-control" placeholder="支持MB、GB或TB，最大支持200TB。示例：50GB">
            </div>
            <!-- 删除提示信息 -->
            <div ng-show="modal.to=='deleteLun'">
                <p class="alert">存储池&nbsp;
                    <span class="text-danger">{{lun4Delete.poolName}}</span>&nbsp;的LUN&nbsp;
                    <span class="text-danger">{{lun4Delete.lunId}}</span>&nbsp;数据将被永久删除！
                </p>
                <p>
                    <span>请输入大写&nbsp;'YES'&nbsp;以确定删除操作</span>
                    <input type="text" class="form-control" style="width:40px;" ng-model="alun.sure2deleteLun" placeholder="NO">
                </p>
            </div>
            <div ng-show="sure2deleteLunAgain">
                <p class="fontSize14">
                    <span>该存储池已连接客户端，请确认该LUN已经不再使用</span>
                </p>
                <p>
                    <span>请输入大写&nbsp;'YES'&nbsp;以确定删除操作</span>
                    <input type="text" class="form-control" style="width:40px;" ng-model="alun.sure2deleteLunAgain" placeholder="NO">
                </p>
            </div>
            <!-- 开启Ceph文件系统部分 -->
            <div ng-show="modal.to=='enableCephFS'">
                <label class="fontSize16 text-warning">你确定要开启Ceph文件系统吗？^_^</label>
            </div>
            <div class="fontSize16 text-danger">{{errMsg}}</div>
        </form>
        <!-- 加载中 -->
        <div class="spin"></div>
    </div>
    <div class="modal-footer" ng-show="modal.to!='setChap'">
        <button class="btn btn-flat btn-info" ng-click="modal.sure()" ng-disabled="!systemMode.isNormal || isAdd">确定</button>
        <button class="btn btn-flat btn-default" data-dismiss="modal" aria-hidden="true" ng-disabled="isAdd">取消</button>
    </div>
    <div class="modal-footer" ng-show="modal.to=='setChap'">
        <button class="btn btn-flat btn-default" data-dismiss="modal" aria-hidden="true" ng-disabled="isAdd">关闭</button>
    </div>
</div>
<!-- 快照信息展示Modal -->
<div id="snapModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>{{snapMessage}}</h4>
    </div>
    <div class="modal-body">
        <form style="margin-bottom: 5px">
            <div ng-show="snapModelAdd">
                <label class="text-danger">创建快照时只对已写入LUN的数据保存快照</label>
                <label class="text-danger">强烈建议此时停止对LUN的写IO以保证一致性</label>
                <br>
                <label>名称</label>
                <input type="text" class="form-control" style="width: 460px" placeholder="请输入快照名称，由数字或字母组成，长度为1至8。" ng-model="snapModel.snapName">
                <br>
                <label>描述</label>
                <textarea ng-model="snapModel.remark" placeholder="请输入快照描述，字数在500以内。" class="form-control" style="width: 460px"></textarea>
            </div>
            <!-- 修改部分 -->
            <div ng-show="snapModelUpdate">
                <label>名称</label>
                <input type="text" class="form-control" style="width: 460px" ng-model="snapModel.snapName" readOnly>
                <br>
                <label>描述</label>
                <textarea ng-model="snapModel.remark" class="form-control" style="width: 460px"></textarea>
            </div>
            <!-- 删除提示部分 -->
            <div ng-show="snapModelDelete">
                <p class="alert fontSize14">存储池&nbsp;
                    <span class="text-danger">{{snapLun.poolName}}</span>
                    &nbsp;LUN&nbsp;
                    <span class="text-danger">{{snapLun.lunId}}</span>
                    &nbsp;的快照&nbsp;
                    <span class="text-danger">{{snapModel.snapName}}</span>
                    &nbsp;将被永久删除！
                </p>
                <p>
                    <span>请输入大写&nbsp;'YES'&nbsp;以确定删除操作</span>
                    <input type="text" class="form-control" style="width:40px;" ng-model="snapModel.sure2deleteSnap" placeholder="NO">
                </p>
            </div>
            <div ng-show="snapModelRollback">
                <p class="alert fontSize14">存储池&nbsp;
                    <span class="text-danger">{{snapLun.poolName}}</span>
                    &nbsspanp;的LUN&nbsp;
                    <span class="text-danger">{{snapLun.lunId}}</span>
                    &nbsp;即将回滚到快照&nbsp;
                    <span class="text-danger">{{snapModel.snapName}}</span>
                </p>
                <p>此操作不可逆</p>
                <p>最晚创建的快照的时间点和回滚操作开始的时间点之间，写入LUN的数据将被清除且不可恢复！
                </p>
                <p>
                    <span>请输入大写&nbsp;'YES'&nbsp;以确定回滚操作</span>
                    <input type="text" class="form-control" style="width:40px;" ng-model="snapModel.sure2deleteSnap" placeholder="NO">
                </p>
            </div>
            <!-- 确认有initiator连接情况下继续打快照和快照回滚 -->
            <div ng-show="sure2Snap">
                <p class="alert fontSize14">POOL:&nbsp;{{snapLun.poolName}}&nbsp;该存储池已连接客户端，建议断开连接后操作，继续操作存在数据丢失风险！</p>
                <p>
                    <span>如果要强行继续，请输入大写&nbsp;'YES'&nbsp;以确定继续操作</span>
                    <input type="text" class="form-control" style="width:40px;" ng-model="snapLun.sure2Snap" placeholder="NO">
                </p>
            </div>
            <div class="fontSize16 text-danger">{{snapErrMsg}}</div>
        </form>
        <!-- 加载中 -->
        <div class="spin"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-flat btn-info" ng-click="commitSnap()" ng-disabled="!systemMode.isNormal || isAdd">确定</button>
        <button class="btn btn-flat btn-default" data-dismiss="modal" aria-hidden="true" ng-disabled="isAdd" ng-click="cancelSnap()">取消</button>
    </div>
</div>
