<div class="div-radius" style="height:180px;margin:20px 20px 20px 0px;" ng-init="init()">
    <div class="row-fluid">
        <div class="span4" style="background-color:#323F54;">
            <div class="row-fluid">
                <div class="span5" style="height:180px;">
                    <div style="margin:auto;height:70px;">
                        <p class="fontSize18" style="padding:15px;">存储概况</p>
                    </div>
                    <div style="margin:auto;height:110px;">
                        <div style="height:45px;margin:5px 0px 0px 15px;padding:0px 0px 0px 5px;background-color:#2C384C;">
                            <p class="fontSize10">已用&nbsp;&nbsp;&nbsp;&nbsp;{{capacity.used_bytes/1024 | GBorTB}}</p>
                            <p class="fontSize10">总共&nbsp;&nbsp;&nbsp;&nbsp;{{capacity.capacity_bytes/1024 | GBorTB}}</p>
                        </div>
                    </div>
                </div>
                <div class="span7" style="height:180px;">
                    <div style="margin:auto;width:198px;position:relative;">
                        <div style="position: absolute;width:106px;top:65px;left:46px;">
                            <div class="fontSize14" style="height:30px;line-height:30px;text-align:center;">
                                <font style="font-size:24px;color:#02cd4e">{{capacity.free_bytes/1024 | GBorTB}}</font>
                            </div>
                            <div class="fontSize14" style="font-size:20;height:20px;line-height:20px;text-align:center;">剩余空间</div>
                        </div>
                        <div id="remainSpace" style="position:absolute;width:100%;height:170px;"></div>
                    </div>
                    <div style="width:2px;height:165px;float:right;margin-top:5px;background-color:#1B232F"></div>
                </div>
            </div>
        </div>

        <div class="span8" style="background-color:#323F54;">
            <div style="height:40px;line-height:40px;">
                <div class="fontSize12" style="float:left;padding-left:15px">系统IOPS</div>
                <div class="fontSize12"style="float:right;padding-right:20px;color:#04CA4F">IOPS</div>
            </div>
            <div id="ioPs" style="width:100%;height:140px;float:left;"></div>
        </div>
    </div>  
</div>
<div class="div-radius" style="height:180px;margin:20px 20px 20px 0px;">
    <div class="row-fluid">
        <div class="span4" style="background-color:#323F54;">
            <div class="row-fluid">
                <div class="span5" style="height:180px;">
                    <div style="margin:auto;height:70px;">
                        <p class="fontSize18" style="padding:15px;">存储池和LUN信息</p>
                    </div>
                    <div style="margin:auto;height:110px;">
                        <div style="height:45px;margin:5px 0px 0px 15px;padding:0px 0px 0px 5px;background-color:#2C384C;">
                            <p class="fontSize10">存储池数量&nbsp;&nbsp;&nbsp;&nbsp;{{poolCount}}</p>
                            <p class="fontSize10">&nbsp;&nbsp;&nbsp;LUN数量&nbsp;&nbsp;&nbsp;&nbsp;{{lunCount}}</p>
                        </div>
                    </div>
                </div>
                <div class="span6" style="height:180px;">
                    <div style="margin:auto;width:198px;position:relative;">
                        <!--
                        <div id="storageSpace" style="position:absolute;width:180px;height:170px;display:none"> </div>
                        -->
                        <div style="width:140px;height:120px;text-align:center;position:absolute;left:40px;">
                            <p style="margin-top:70px;font-size:30px;color:green">{{poolCount}}</p>
                            <p class="fontSize18" style="margin-top:10px">存储池数量</p>
                        </div>
                    </div>
                </div>
                <div style="width:2px;height:165px;float:right;margin-top:5px;background-color:#1B232F"></div>
            </div>
        </div>
        <div class="span8" style="background-color:#323F54;">
            <div style="height:40px;top:0px;line-height:40px;">
                <div class="fontSize12" style="float:left;padding-left:10px">系统IO带宽</div>
                <div class="fontSize12"style="float:right;padding-right:20px;color:#00ACFF">{{capacity.bandwidth}}</div>
            </div>
            <div id="ioBroadband" style="width:100%;height:140px;float:left;"></div>
        </div>
    </div>
</div>
<!-- <div style="width:804px;height:120px;margin:25px 0px 0px 20px;background-color:#323F54;" ng-init="init()">
    <div style="width:266px;height:120px;float:left;position:relative;">
        <div style="position:absolute;top:0px;left:0px;width:126px;height:45px;">
            <p class="fontSize12" style="padding:15px;">存储概况</p>
        </div>
        <div style="position:absolute;top:45px;left:0px;width:126px;height:75px;">
            <div style="height:45px;width:80px;margin:5px 0px 0px 15px;padding:0px 0px 0px 5px;background-color:#2C384C;">
                <p class="fontSize10">已用&nbsp;&nbsp;&nbsp;&nbsp;{{capacity.used_bytes}}&nbsp;&nbsp;TB</p>
                <p class="fontSize10">总共&nbsp;&nbsp;&nbsp;&nbsp;{{capacity.capacity_bytes}}&nbsp;&nbsp;TB</p>
            </div>
        </div>
        <div style="width:80px;height:50px;left:145px;top:35px;position:absolute;">
            <div class="fontSize14" style="width:80px;height:30px;line-height:30px;float:left;text-align:center;">
                <font style="font-size:25px;color: green">{{capacity.free_bytes}}</font>TB
            </div>
            <div class="fontSize12" style="width:50px;height:20px;float:left;margin-left:15px;">剩余空间</div>
        </div>
        <div id="remainSpace" style="width:140px;height:120px;position:absolute;top:0px;left:130px;"></div>
    </div>

    <div style="width:2px;height:110px;float:left;margin-top:5px;background-color:#1B232F"></div>

    <div style="width:266px;height:120px;float:left;position:relative;">
        <div style="position:absolute;top:0px;left:0px;width:126px;height:45px;">
            <p class="fontSize12" style="padding:15px;">存储池数量和容量</p>
        </div>
        <div style="position:absolute;top:45px;left:0px;width:126px;height:75px;">
            <div style="height:45px;width:80px;margin:5px 0px 0px 15px;padding:0px 0px 0px 5px;background-color:#2C384C;">
                <p class="fontSize10">总数量&nbsp;&nbsp;&nbsp;&nbsp;4</p>
                <p class="fontSize10">总容量&nbsp;&nbsp;&nbsp;&nbsp;0</p>
            </div>
        </div>
        <div id="storageSpace" style="width:140px;height:120px;text-align:center;position:absolute;top:0px;left:126px;"> </div>
    </div>

    <div style="width:2px;height:110px;float:left;margin-top:5px;background-color:#1B232F"></div>

    <div style="width:268px;height:120px;float:left;position:relative;">
        <div style="position:absolute;top:0px;left:0px;width:140px;height:45px;">
            <p class="fontSize12" style="padding:15px;">应用主机概况</p>
        </div>
        <div style="position:absolute;top:45px;left:0px;width:140px;height:75px;">
            <div style="height:45px;margin:5px 0px 0px 15px;padding:0px 0px 0px 5px;background-color:#2C384C;">
                <p class="fontSize10">正常运行主机数&nbsp;&nbsp;&nbsp;&nbsp;{{chost.running}}</p>
                <p class="fontSize10">未连接主机数&nbsp;&nbsp;&nbsp;&nbsp;{{chost.unrunning}}</p>
            </div>
        </div>
        <div style="width:128px;height:120px;text-align:center;position:absolute;top:0px;left:140px;">
            <p class="fontSize18" style="margin-top:40px;font-size:30px;color: green">{{chost.total}}</p>
            <p class="fontSize18" style="margin-top:10px">主机总数</p>
        </div>
    </div>
</div>
<div style="width:804px;height:180px;margin:25px 0px 0px 20px;background-color:#323F54;position:relative">
    <div style="width:268px;height:40px;line-height:40px;">
        <div class="fontSize12" style="float:left;padding-left:15px">系统IOPS</div>
        <div class="fontSize12"style="float:right;padding-right:20px;color:#04CA4F">IOPS</div>
    </div>
    <div id="ioPs" style="width:268px;height:140px;float:left;"></div>

    <div style="width:268px;height:40px;top:0px;left:268px;line-height:40px;position:absolute;">
        <div class="fontSize12" style="float:left;padding-left:10px">系统IO带宽</div>
        <div class="fontSize12"style="float:right;padding-right:20px;color:#00ACFF">KBps</div>
    </div>
    <div id="ioBroadband" style="width:268px;height:140px;float:left;"></div>
</div> -->