<div class="content-header">
    <ol class="breadcrumb">
        <li class="active">集成CNware</li>
        <li class="active">虚拟磁盘</li>
    </ol>
    <p class="muted">CNware专用虚拟磁盘。</p>
</div>
<div class="content" ng-init="initPage()">
    <div class="box box-solid">
        <div class="box-body no-padding">
            <table class="table">
                <thead>
                    <tr>
                        <th>LUN ID</th>
                        <th>存储池</th>
                        <th>容量</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lun in lunList" id="lunTr{{$index+1}}">
                        <td>{{lun.lunId}}</td>
                        <td>{{lun.poolName}}</td>
                        <td>{{lun.capacity_bytes | BytesToKMGTB}}</td>
                        <td>{{lun.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
