<div class="content-header">
    <ol class="breadcrumb">
        <li class="active">集成CNware</li>
        <li class="active">存储池</li>
    </ol>
    <p class="muted">存储池是在保护域范围内的概念，物理上通常指的是同一种介质的硬盘（跨多台服务器）的集合。保护域范围内不同性能的存储池间可设置关联实现数据分层（Tiering）。</p>
</div>
<div class="content" ng-init="initPage()">
        <div class="box box-solid">
            <div class="box-body no-padding">
                <table class="table">
                    <thead>
                        <tr>
                            <th>存储池名称</th>
                            <th>存储策略</th>
                            <th>IOPS</th>
                            <th>吞吐量</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pool in poolList" id="poolTr{{$index+1}}" ng-dblclick="dblClick($index+1, pool)">
                            <td>{{pool.poolName}}</td>
                            <!-- <td>{{pool.diskNum}}</td> -->
                            <td>{{pool.replication}}</td>
                            <!-- <td>{{pool.used_bytes | GBorTB}}</td>
                            <td>{{pool.capacity_bytes | GBorTB}}</td>  -->
                            <td>{{pool.iops | unit:'iops'}}</td>
                            <td>{{pool.mbps | unit:'mbps'}}</td>
                            <td ng-show="pool.status.state == 'healthy'">正常</td>
                            <td ng-show="pool.status.state == 'recovering'" style="color:#3885E2;padding-top: 0px;padding-bottom: 0px;">
                                <div style="width:70%;">
                                    <div class="progress" style="margin-top: 13px;height: 8px;width:60%;margin-left: 5px; margin-top: 15px;    margin-bottom: 0px;" title="恢复中">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{pool.status.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pool.status.progress}}%">
                                            <span></span>
                                        </div>
                                    </div>
                                    <span style="margin-top: -14px; float:right;color:#FFFFFF; margin-right: -20px;">{{pool.status.progress}}%</span>
                                </div>
                            </td>
                            <td ng-show="pool.status.state == 'unhealthy'" style="color:#FFB400;">异常</td>
                            <td ng-show="pool.status.state != 'recovering' && pool.status.state != 'healthy' && pool.status.state != 'unhealthy'" style="color:#FFB400;">未知</td>
                            <!-- <td>{{pool.latency | unit:'ms'}}</td>  -->
                            <td>
                                <span ng-class="{true: 'pool-lun-item-blue-finger-show', false: 'pool-lun-item-finger-not-show'}[systemMode.isNormal]" ng-click="dblClick($index+1, pool)">详情 <i class="fa fa-caret-down fa-caret"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<!-- 存储池详情图形DIV -->
<div id="chartDiv" style="display:none;position:absolute;" class="subtdbox">
    <p class="text-primary fontSize14" ng-show="!poolOrLun.lunId"><i class="fa fa-circle"></i> 存储池详情</p>
    <p class="textlist">
        <span ng-show="poolOrLun.lunId">LUN名称：{{poolOrLun.lunId}}</span>
        <span ng-show="poolOrLun.lunId">所属资源池：{{poolOrLun.poolName}}</span>
        <span ng-show="!poolOrLun.lunId">存储池：{{poolOrLun.poolName}}</span>
        <span ng-show="!poolOrLun.lunId">存储策略：{{poolOrLun.replication}}</span>
    </p>
    <div class="row-fluid" ng-show="!poolOrLun.lunId" style="margin-top:20px;">
        <div class="span5">
            <h5 style="margin-left:55px">IOPS：{{poolOrLun.iops | unit:'iops'}}</h5>
            <div id="iops" style="width:100%;height:200px;margin-left:30px"></div>
        </div>
        <div class="span5 offset1">
            <h5 style="margin-left:25px">吞吐量：{{poolOrLun.mbps | unit:'mbps'}}</h5>
            <div id="mbps" style="width:100%;height:200px;"></div>
        </div>
    </div>    
</div>
<!-- 存储池信息展示Modal -->
<div id="poolModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">{{modal.message}}</h4>
    </div>
</div>



